<h3 id="leigh-laguisma">Leigh Laguisma, Digital Product Designer</h3>
<blockquote class="inline-float-right">
	<div class="ntsc"></div>
	<p>I stumbled upon user experience design later in my career, realizing it encompassed much of what I was already doing in my previous non-UX design roles.</p>
	<footer>&mdash; Leigh Laguisma, <cite>Designing without users is just art design</cite></footer>
</blockquote>

<p class="suppress">Throughout my career, I have adopted a strategic approach, recognizing that, much like the ever-evolving nature of technology, my role is constantly in flux.</p>

<p>As a <span id="coder" title="C16 Basic, HTML/ASP to HTML5/SASS/JS/jQuery/EmberJS/nodeJS">self-taught coder</span>, I quickly transitioned from graphics to web design, web development, and experience design.</p>

<p class="suppress">I actively pursue roles that challenge me. I articulate client-customer behaviors and leverage insights unique to interacting with their digital products.</p>

<p>Taking a holistic view of a product, the external view of the brand, understanding the operating dynamics, optimizing service design, and embedding foundational support for design is central to business success.</p>

<p>What remains constant for me is the principle that the user should always be at the forefront, guiding the development of solutions. These solutions had to be adaptable, accessible, and scaleable approaches to inclusive revenue streams.</p>

<h3 id="skills">Exploring the Origins of My Skills</h3>
<p>I comfortably navigate between discovery and front-end development, positioned strategically along the spectrum from concept to end-solution.</p>

<p class="suppress">While back-end development, particularly with MySQL or other relational database types, isn't my forte, I recognize the importance of their resource and have found value in incorporating them into design discussions.</p>

<p>Working within enterprise-sized companies, I've prioritized empowering staff with a cohesive <abbr title="User Experience">UX</abbr> and <abbr title="User Interface">UI</abbr> framework serving as a single source of truth.</p>

<p>My research methodologies have varied across roles, including qualitative inquiries, diary notations, observation sessions, interviews, and quantitative business intelligence and data analytics tools.</p>

<h3 id="skills-diorama">Unpacking Skills: A Comprehensive Overview</h3>
<blockquote class="inline-float-right">
	<div class="ntsc"></div>
	<p>The true challenge lies in overcoming inertia and generating momentum by rallying people behind an idea.</p>
	<footer>&mdash; Leigh Laguisma, <cite>Design rationale is valued by people.</cite></footer>
</blockquote>

<p>I employ an approach to design and development that goes beyond traditional <span id="ux-practitioner" title="Seeing as code skills are optional">UX boundaries</span>, rooted in the double-diamond model to reflect my practical experience.</p><br><br>

<figure class="zoom-img">
	<figcaption>fig.1. This triple diamond model represents my design process, detailing tools and methods used in each phase. It's important to note that the launch phase loops back to insights, completing the Continuous Discovery and Improvement (<abbr title="Continual Developmental iteration">CDI</abbr>) cycle. That learning does not stop at launch, and success is not found by verbose ticking every checkbox but by normalizing the visit to the three components of research, iteration, and release.</figcaption>
</figure>

<script>
	(function(){
		if (typeof myTripleDiamond === 'undefined'){
			const myTripleDiamond = (() => {
				if (debug) debugLog('* myTripleDiamond fn triggered *'); // log to confirm script execution

				// check if htmlElement exists
				if (!htmlElement) {
					console.error('htmlElement is not defined.');
					return;
				}

				const imgContainer = document.querySelector('.zoom-img');
				if (!imgContainer) {
					console.error('imgContainer not found.');
					return;
				}

				if (debug) debugLog('imgContainer:', imgContainer); // log to confirm imgContainer exists

				const updateImage = () => {
					// remove any existing 'three-diamond' image
					const existingImg = document.getElementById('three-diamond');
					if (existingImg) {
						existingImg.remove();
					}

					let nightfall = htmlElement.classList.contains('dark-knight');
					if (debug) debugLog('Nightfall status:', nightfall); // log nightfall status

					const tripleDiamond = nightfall
						? '/assets/images/my-triple-diamond-dark.svg<%= versionTimestamp %>'
						: '/assets/images/my-triple-diamond.svg<%= versionTimestamp %>';

					const imgElement = document.createElement('img');
					imgElement.id = 'three-diamond';
					imgElement.src = tripleDiamond;
					imgElement.alt = 'SG triple diamond model for the formation of a product/service design pipeline';
					imgElement.height = 'auto';
					imgElement.width = '1600';

					imgContainer.prepend(imgElement);
				};

				// call updateImage initially to load the correct image
				updateImage();

				// set up a MutationObserver to watch for changes in the class list of htmlElement
				const observer = new MutationObserver(mutations => {
					mutations.forEach(mutation => {
						if (mutation.attributeName === 'class') {
							// class attribute has changed, so update the image
							updateImage();
						}
					});
				});

				// observe the htmlElement for changes to its attributes (specifically class changes)
				observer.observe(htmlElement, { attributes: true });
		})();
		}
	})();
</script>
