<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<p>The below form email's me your details, alternatively you have the option to <a href="" onclick="Calendly.initPopupWidget({url:`https://calendly.com/leigh-laguisma/40mins`});return false;">Calendy me</a></p>
<!-- Calendly link widget end -->
<form class="contact-form" action="https://formsubmit.co/3cbea0cc9108e649bcde678007478705" method="POST" autocomplete="on">
	<input type="hidden" name="_subject" value="#" />
	<input type="hidden" name="_next" value="https://portfolio.supergui.co/index.html?mode=thankyou#booking" />
	<label class="hidden" for="_honey">Honey Pot</label>
	<input type="text" id="_honey" name="_honey" style="display:none">
	<div>
		<label class="header" for="first-name">Please enter your first name <span>*</span>
			<button role="button" aria-label="Enter answer using your voice" aria-pressed="false" class="mic mic-first-name" onclick="startDictation('first-name');">
				<svg aria-label="Form field microphone button" role="img" xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40" viewBox="0 0 512 512">
					<path fill="#222" d="M350.183 264.849c0-16.435 25.284-16.435 25.284 0 0 61.945-45.511 112.513-106.192 118.834v51.832h34.134c16.435 0 16.435 25.284 0 25.284h-93.55c-17.699 0-17.699-25.284 0-25.284h34.133v-51.832c-60.681-6.321-107.457-56.889-107.457-118.834 0-16.435 25.284-16.435 25.284 0 0 51.832 42.982 94.815 94.815 94.815s93.55-42.983 93.55-94.815z"/>
					<path fill="#222" d="M256.632 51.2c29.077 0 53.096 24.020 53.096 53.097v13.906h-34.133c-17.699 0-17.699 25.284 0 25.284h34.134v29.077h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v27.813h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v13.906c0 30.341-24.020 54.361-53.096 54.361-30.34 0-54.361-24.020-54.361-54.361v-160.553c0-29.076 24.020-53.096 54.361-53.096z"/>
				</svg>
			</button>
		</label>
		<input type="text" class="first-name" id="first-name" name="first-name" autocomplete="given-name" placeholder="Riley" title="We use your name to personalize your experience." required="required">
	</div>

	<div>
		<label class="header" for="surname">next, enter your surname <span>*</span>
			<button role="button" aria-label="Enter answer using your voice" aria-pressed="false" class="mic mic-surname" onclick="startDictation('surname');">
				<svg aria-label="Form field microphone button" role="img" xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40" viewBox="0 0 512 512">
					<path fill="#222" d="M350.183 264.849c0-16.435 25.284-16.435 25.284 0 0 61.945-45.511 112.513-106.192 118.834v51.832h34.134c16.435 0 16.435 25.284 0 25.284h-93.55c-17.699 0-17.699-25.284 0-25.284h34.133v-51.832c-60.681-6.321-107.457-56.889-107.457-118.834 0-16.435 25.284-16.435 25.284 0 0 51.832 42.982 94.815 94.815 94.815s93.55-42.983 93.55-94.815z"/>
					<path fill="#222" d="M256.632 51.2c29.077 0 53.096 24.020 53.096 53.097v13.906h-34.133c-17.699 0-17.699 25.284 0 25.284h34.134v29.077h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v27.813h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v13.906c0 30.341-24.020 54.361-53.096 54.361-30.34 0-54.361-24.020-54.361-54.361v-160.553c0-29.076 24.020-53.096 54.361-53.096z"/>
				</svg>
			</button>
		</label>
		<input type="text" class="surname" id="surname" name="surname" autocomplete="family-name" placeholder="Smith" title="Your surname is used for audible recognition and lookup purposes." required="required">
	</div>

	<div>
		<label class="header" for="email">kindly provide us your email <span>*</span></label>
		<input type="email" class="email" id="email" name="email" autocomplete="email" placeholder="your@email.here" title="We use your email to confirm our chat." required="required">
	</div>

	<div>
		<fieldset>
			<legend>Please indicate which of the following applies <span>*</span></legend>
			<ul class="case-type" title="Please select a subject for this booking, so we may expedite your request.">
				<li>
					<input type="radio" id="intro-option" name="case-type" value="Initial introductions">
					<label for="intro-option">Meet &amp; greet</label>
					<div class="check"></div>
				</li>
				<li>
					<input type="radio" id="follow-option" name="case-type" value="Follow up">
					<label for="follow-option">Follow up</label>
					<div class="check"><div class="inside"></div></div>
				</li>
				<li>
					<input type="radio" id="aob-option" name="case-type" value="Any other business or non--suggested topic">
					<label for="aob-option"><abbr title="Any Other Business">AOB</abbr> or none of the above</label>
					<div class="check"><div class="inside"></div></div>
				</li>
			</ul>
		</fieldset>
	</div>

	<div>
		<fieldset>
			<legend>Which kind of visitor best describes you? <span>*</span></legend>
			<ul class="visitor-type">
				<li>
					<input type="radio" id="a-option" name="visitor-status" value="Registered">
					<label for="a-option">I'm revisiting</label>
					<div class="check"></div>
				</li>
				<li>
					<input type="radio" id="b-option" name="visitor-status" value="Non-registered">
					<label for="b-option">This is my first visit</label>
					<div class="check"><div class="inside"></div></div>
				</li>
			</ul>
		</fieldset>
	</div>

	<div>
		<label class="header" for="further-notes">Please describe any further notes you wish us to know for our meetup <span>(optional)</span>
			<button role="button" aria-label="Enter answer using your voice" aria-pressed="false" class="mic mic-further-notes" onclick="startDictation('further-notes');">
				<svg aria-label="Form field microphone button" role="img" xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40" viewBox="0 0 512 512">
					<path fill="#222" d="M350.183 264.849c0-16.435 25.284-16.435 25.284 0 0 61.945-45.511 112.513-106.192 118.834v51.832h34.134c16.435 0 16.435 25.284 0 25.284h-93.55c-17.699 0-17.699-25.284 0-25.284h34.133v-51.832c-60.681-6.321-107.457-56.889-107.457-118.834 0-16.435 25.284-16.435 25.284 0 0 51.832 42.982 94.815 94.815 94.815s93.55-42.983 93.55-94.815z"/>
					<path fill="#222" d="M256.632 51.2c29.077 0 53.096 24.020 53.096 53.097v13.906h-34.133c-17.699 0-17.699 25.284 0 25.284h34.134v29.077h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v27.813h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v13.906c0 30.341-24.020 54.361-53.096 54.361-30.34 0-54.361-24.020-54.361-54.361v-160.553c0-29.076 24.020-53.096 54.361-53.096z"/>
				</svg>
			</button>
		</label>
		<textarea class="further-notes" id="further-notes" name="further-notes" autocomplete="off" placeholder="" title="Briefly summarise any related information you wish to share to provide me a clearer context of how I can meet your needs."></textarea>
	</div>

	<p class="agreement">By using this messaging form, you agree to the use of your provided information so that I can send it to my inbox on your behalf. Your privacy and data are important to me, I have secured the transmission of all your information using <abbr id="ssl" title="Secure Sockets Layer">SSL</abbr> encryption. All data produced via this form is only received in email format, for the sole purpose of notification and subsequent response, your data does not get shared with third parties.</p>

	<input type="submit" value="Ready to send">

</form>
<script>
	(function(){
		const formSubject = document.querySelector('input[name=_subject]');

		formSubject.setAttribute('value', companyNameShort +' booking query');
	})();
</script>