<div class="after-eights">
	<div class="hot-tip bl appoint-operations" data-container="hot-tip-5">
		<div class="floating-div">
			<p data-copy="When approaching a new client I can expect a fragmented solution depending on the design maturity of the business. Listening is my first course of action."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-5">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tr appoint-settings" data-container="hot-tip-6">
		<div class="floating-div">
			<p data-copy="Shareholders want increase in business value, C-suite believe filling gaps will get us to outcome, Managements use of historical reporting paves the way forward and teams see customer pains and want to deliver solutions up."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-6">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tl appoint-caseDropdown" data-container="hot-tip-7">
		<div class="floating-div">
			<p data-copy="On the surface blockers are in IT policy, legal constraints and low resources to achieve change."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-7">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tr appoint-message-me" data-container="hot-tip-8">
		<div class="floating-div">
			<p data-copy="In order to support the business, significant investment in key roles especially in researching customers and development to effect change were required."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-8">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>
</div>