<script>
//esports close button close popup
$('.esports-close-btn').on('click', function(){
	closeButton('esports',true,true,'#case-theworkshop');
});

$(function(){
    $('.esports-content.display--content').prepend('<div class="process-parallax"></div>');

    $('.highlight').wrapInner(function(n){
		return "<span class='highlighter'><span class='highlighted'></span></span>";
	});
});

//create source for header background video
$('#bunnyvid').append('<source class="mp4" type="video/mp4" src="#t=0.1"><!--<track default class="vtt" kind="captions" srclang="en" label="English">--><p>This browser does not support the video element.</p>');

//apply vdo for desktop only
function asideBgVideo(ele, fname) {
    var video = document.getElementById(ele);

    if (!($(window).width() <= 767)) {
        $('#'+ele+' source.mp4').attr('src','/assets/video/'+fname+'.mp4');
        $('#'+ele+' track.vtt').attr('src', '/assets/video/'+fname+'.vtt');
    } else {
        $('#view-tw-esports-platform').addClass('bunny-bg');
    }

    $('#'+ele).attr('poster','/assets/video/'+fname+'.gif');

    video.autoplay = true;
    video.load();
}
asideBgVideo('bunnyvid','tw-summer-party-costume-2015');

//execute resize if in desktop mode or on mobile orientation changes
//check if desktop use video else use gif
$(window).resize(function(){
    if ($('html').hasClass('desktop')){
        asideBgVideo('bunnyvid','tw-summer-party-costume-2015');
    }
});

$(window).on("orientationchange", function(){
    if (debug) debugLog('Aside orientation triggered');

    $('aside .context-viewer article.display--content .descriptor').css('height','100vh');

    if ($('html').hasClass('mobile')){
        asideBgVideo('bunnyvid','tw-summer-party-costume-2015');
    }
});

//Parallax UX pipeline
$('aside .esports-content.display--content .descriptor').scroll(moveBackground);

function moveBackground(){
    if (debug) debugLog("aside scrollTop pos."+ Math.round(($(this).scrollTop())/100*2));

    var containerTop = Math.round(($(".esports-content.display--content .descriptor").scrollTop())/300*2);
    var curElemPos = $(".process-parallax").css('right');
    var rightPosition = -100;

    //set default position and start animation after header is no longer in viewport
    if (!$('#view-tw-esports-platform').isInViewport()){
        (containerTop > 100 || containerTop >= 95) ? containerTop = 100 : null;
        rightPosition = rightPosition + containerTop;
    }

    ($('html').hasClass('iPad landscape')||$('html').hasClass('mobile landscape')) ? $('.process-parallax').css('transform','scale(1.5)') : null;

    ($('html').hasClass('iPad portrait')||$('html').hasClass('mobile portrait')) ? $('.process-parallax').css('transform','scale(2)') : null;

    $(".process-parallax").css('right', rightPosition+'%');

    if (debug) debugLog('cT:'+containerTop+' eP:'+curElemPos+' rP:'+rightPosition+'%');
};
</script>
<noscript>Script applies video and track source depending whether the viewport is larger than 767 pixel width</noscript>
<header id="view-tw-esports-platform">
    <video id="bunnyvid" playsinline autoplay muted loop></video>
    <ul class="separator-list">
        <li class="highlight"><h3>Role:</h3>
    		<ul class="inline-list">
    			<li aria-label="Evaluate workflows"><span class="icon-search">Evaluate workflows</span></li>
    			<li aria-label="Discover pain points/concerns"><span class="icon-ethno">Discover pain points/concerns</span></li>
    			<li aria-label="Inventory customer research"><span class="icon-eye">Inventory Business Intelligence</span></li>
    			<li aria-label="Define user interface standards"><span class="icon-survey">Define&nbsp;<abbr title="" data-original-title="User interface">UI</abbr>&nbsp;Standards</span></li>
    			<li aria-label="Heuristic Evaluation"><span class="icon-search">Heuristic Evaluation</span></li>
    			<li aria-label="Information architecture"><span class="icon-card">Information Architecture</span></li>
    			<li aria-label="Design A/B Test experiments"><span class="icon-pencil">Design E-Sports Scoreboard system</span></li>
    			<li aria-label="User interface support"><span class="icon-code"><abbr title="" data-original-title="User interface">UI</abbr>&nbsp;Support</span></li>
    		</ul></li>
	    <li class="highlight"><h4>Research methods:</h4>
    		<ul class="inline-list">
    			<li aria-label="Ethnographic interview"><span class="icon-ethno">Ethnographic interview</span></li>
    			<li aria-label="Research procurement"><span class="icon-survey">Research procurement</span></li>
    			<li aria-label="Participatory Design"><span class="icon-tools">Participatory Design</span></li>
    			<li aria-label="Remote Usability Testing"><span class="icon-remote">Remote usability testing</span></li>
    		</ul></li>
	    <li class="highlight"><h4>Toolkit:</h4>
    		<ul class="inline-list">
    			<li aria-label="AxureRP 7"><span class="icon-axure notranslate">Axure RP7</span></li>
    			<li aria-label="Balsamiq"><span class="icon-balsamiq notranslate">Balsamiq</span></li>
    			<li aria-label="Sketch"><span class="icon-sketch notranslate">Sketch</span></li>
    			<li aria-label="Adobe Photoshop"><span class="icon-photoshop notranslate">Adobe Photoshop</span></li>
    			<li aria-label="Adobe Illustrator"><span class="icon-illustrator notranslate">Adobe Illustrator</span></li>
    		</ul></li>
    </ul>
    <h3 class="heading"><% if (typeof case3Heading !== 'undefined') { %><%= case3Heading %><% } %></h3>
    <q><% if (typeof case3Summary !== 'undefined') { %><%= case3Summary %><% } %></q>
</header>
<h3>Preface</h3>
<p>Following a sequence of <abbr title="User Interface">UI</abbr> improvements to error handling and alert presentations, this particular project was the first significant contribution to <abbr title="The Workshop">TW</abbr> aspirations to upgrade legacy components from Flash to HTML5.</p>

<p>The incumbent Flash component was provided by a third party in which API data sent came with an optional Scoreboard presentation. However, data displayed via the scoreboard was a partial subset of data available to <abbr title="The Workshop">TW</abbr>&lsquo;s subscription license.</p>

<p>In order to utilise the full reporting features of the data a custom interface had to be defined and designed within the existing Drupal module.</p>

<p class="suppress">It was hoped that bringing more data to the game view would provide customers a more engaged and informed gaming experience. Consequently, it would open more betting spread options.</p>

<h3>Blind challenge</h3>
<p>Due to the distributed nature of product teams whose coverage do not overlap, inconsistent UI presentation was a likely outcome<sup><a href="#ui-outcome">1</a></sup>.</p>
<p>Well into the discovery phase and definition of data content, a design system upgrade was staggered in.</p>

<p class="suppress">It's worth noting the scoreboard coverage for all sports channel games was a significant body of work to cover. Requiring the creation of a pod team that covers multiple specialisms in development, design, project management, trading, IT, business intelligence, data warehouse to name a few.</p>

<p>Since the <abbr title="Design System Upgrade">DSU</abbr> had yet to be determined by a new branding exercise, the design of the scoreboards had to take into account the possible future direction in styling (Skeuomorphic vs Flat Design).</p>

<figure id="tw-dist-ui-coverage">
    <img src="/assets/images/tw-case-studies/ui-coverage-dist-team.png" alt="Infographic shows how the UI coverage was distributed to the teams" />
</figure>

<fn id="ui-outcome"><sup>1&nbsp;</sup> The scoreboard exists within a module positioned in the center column of a Drupal sytem. Naturally, updating this component has no cascade styling effect on the surrounding <abbr title="User Interface">UI</abbr>.</fn>

<h3>User research without end-users</h3>
<p>Yes, that actually happened &ndash; or technically did not happen; not even remotely! Closest to end-users were immediate Product Owners as users of the platform.</p>

<p class="suppress">Networking within the company was one route in which to establish what quantitative data sources existed. It also revealed what challenges other departments faced and where the coverage lines were defined.</p>

<p class="suppress">Operationally, we were serving external clients whose local policies were different to our locale. Working around these imposed restrictions, though challenging, did not fully confine our research plan but rather refined our hypothesis around common interactions pains.</p>

<blockquote>
    <div class="ntsc"></div>
    <p><strong>A welcome source of quantitative data came from Business Intelligence</strong>. Despite being a department serving the Asia side of the product, coverage did cover UK operations.</p>
    <footer>&mdash; Leigh Laguisma - Some exposure to usage data were accessible but many data points were redacted.</footer>
</blockquote>

<p>Business goals, specifically what motivated the creation of projects were indirectly profit features around how users interacted with their accounts.</p>

<p>It took sometime to illicit these beliefs in which led to growth, derived from how the system was built around each user<sup><a href="#ui-customised">2</a></sup> historic interaction on the platform.</p>

<fn id="ui-customised"><sup>2&nbsp;</sup> Proprietory data-points determine unlocking benefits and favourable incentives to motivate playing, details of which are obscured for <abbr title="Non-disclosure Agreement">NDA</abbr> purposes.</fn>

<h3>T-shaped focused product research</h3>
<p>Knowing I had to both incorporate understanding around the scoreboard project and have a bird-eye view of the product; my strategy was to build a virtual team of <abbr title="Subject Matter Experts">SMEs</abbr> so I could be ready for when the inevitable clash would begin at the integration stage<sup><a href="#ui-predict">3</a></sup>.</p>

<fn id="ui-predict"><sup>3&nbsp;</sup> It was inevitable that by the near completion of the project, integration would look to increase the scope and the upgrade of gameview controls under the London teams coverage but was not currently a backlog item. It would be wise to start discussions sooner and get ahead given the high probability that we would have far less time to deliver on them by the time this stream of work becomes the next focus.</fn>

<blockquote>
    <div class="ntsc"></div>
    <p><strong>The reality of UX practice often means you won't always get everything you need</strong>. So adapt your strategy to gain end-user insights from users you can get to; all sources have the potential to grow opportunities.</p>
    <footer>&mdash; Leigh Laguisma - It was like keyhole surgery, being limited from first degree end-users but with that should come adjusted expectations from business.</footer>
</blockquote>

<h3>Meeting users</h3>
<p>One of the first internal user groups were from the trading department; they showed interest in the possibility of new data in addition to the standard features to help them in their risk analyst tasks and were keen on the prospect of seeing a new <abbr title="User Interface">UI</abbr> to supersede a rather dated view.</p>

<figure id="old-gameview-screencapture">
    <img src="/assets/images/tw-case-studies/old-live-betting.jpg" alt="Old Flash version of scoreboard within its gameview context" height="418" width="750" />
    <figcaption>
        <cite href="#old-gameview-screencapture">fig.4</cite>&nbsp;Legacy version of the Flash scoreboard in situ of the gameview page. As you can predict, the update of scoreboard would inevitably mean that the surrounding UI would need to follow.
    </figcaption>
</figure>

<h3>Points shared by Traders</h3>
<ul class="bullet-spacing">
    <li>Familiarity (layout) would help end-users</li>
    <li>No latency given the LIVE nature of sporting events</li>
    <li>Being able to see scores and indicators at a glance</li>
</ul>

<p>Product owner SMEs were interviewed and consulted on a number of occasions during the discovery, design stages and testing.</p>

<figure id="SMEs">
    <img src="/assets/images/tw-case-studies/internal-interviews.jpg" alt="Internal interviews with Product owners" height="418" width="750" />
</figure>

<h3>Points shared by Product Owners</h3>
<p>The perspective of <abbr title="Product Owners">PO</abbr>'s were formally documented during user interviews. Questions were designed around revealing insights into the psyche of typical end-user and what tasks they perform through the product. Their understanding of alternative competitors solutions and what learnings they have prior to engaging the product.</p>

<h3>What did we learn?<sup><a href="#questions-excerpts">4</a></sup></h3>
<ul class="bullet-spacing">
    <li>Findability -  Sportsbook had a large menu structure containing sport types, their divisions and game events. It was a common task to drill through to a destination</li>
    <li>Familiarity was key to understanding what game options are available</li>
    <li>Timing was key for betting opportunities, especially on live events where they are only momentary</li>
    <li>Indications of button states need to be clear as they can confuse on whether they are available to use or in a state of pending</li>
</ul>

<fn id="questions-excerpts"><sup>4&nbsp;</sup> These are sample conclusions from a broader question set distilled from <abbr title="Question and Answers">Q&A</abbr> put to <abbr title="Product Owners">PO</abbr>s and sessions of monitoring usage of the product in usability studies based on the current state of the product.</fn>

<h3>Now a word from a technical development team ...</h3>
<p>Both development and customer services departments share a close proximity to a users actual experience. With the former providing the affordance of design and the latter hearing issues with said design.</p>
<p>Pain points from user grievances on the product being shared on support calls are essential avenues for investigation.</p>
<p>Developer concerns also refine what was plausible from a production stand point. Alas, only the former were accessible but nevertheless proved invaluable in moving the progress needle forward.</p>

<figure id="devs">
    <img src="/assets/images/tw-case-studies/2014-10-30-12-49.jpg" alt="Understanding Development" height="418" width="750" />
</figure>

<p>Development were open to integrating <abbr title="User Experience">UX</abbr> lean processes into their agile format.</p>
<p>They showed flexibility in their own practice to match the appropriate methodology to use between Scrum and Kanban.</p>

<figure id="retro">
    <img src="/assets/images/tw-case-studies/retrospective.jpg" alt="UX and UI contribute to a Retrospective" height="418" width="750" />
    <figcaption>
        <cite href="#retro">fig.5</cite>&nbsp;First week retro was an informal chat about current concerns in the development pipeline, some insight into the gaps that needs answers and an opportunity to see how UX and UI can fit into the mix.
    </figcaption>
</figure>

<p><abbr title="User Experience">UX</abbr> would have two distinct streams in the design pipeline;</p>

<ul class="bullet-spacing">
    <li>UX+UI solutions deployed into agile sprints</li>
    <li>Long-tail research and experiments that fit outside of sprints representing continual learning that feeds proven ideas back into the design pipeline once ready for deployment<sup><a href="#optimising-design-deployment">6</a></sup></li>
</ul>

<fn id="optimising-design-deployment"><sup>6&nbsp;</sup> To produce solid research requires flexibility and more time than sprints allow to meet a release builds. Especially when dealing with ambuiguity in the absence of non-proxy end-users, acquiring existing data and distilling that knowledge to guide design propositions.</fn>

<p>This strategy allowed for <abbr title="User Experience">UX</abbr> discovery to exercise with less fuzzy precision independent of UX deliverables when converting prototypes to production ready code<sup><a href="#production-ready-code">7</a></sup> in a format that fits a given agile methodology.</p>

<fn id="production-ready-code"><sup>7&nbsp;</sup> By creating a <abbr title="General Experience Language">GEL</abbr> prototype within the product build but located external of the application folder; we had the opportunity to include the production environment as part of the design conversion short cutting <abbr title="Quality Assurance">QA</abbr> tests back and forth during regression testing.</fn>

<blockquote>
    <div class="ntsc"></div>
    <p><strong>Reducing risk<sup><a href="#risk-reduction">8</a></sup> by researching out of the box</strong>. Published articles on players living the online gambling life purported that typical sessions could run for many hours in which individuals take turns. They would run multiple sessions on the same provider to maximise betting options, a behaviour outside the target casual player but behaviour not detectable from current system monitors.</p>
    <footer>&mdash; Leigh Laguisma - An interesting insight to this particular type of user with multi-computer rigs, a stark comparison to the envisaged single computer casual user the business aims for; an edge case?</footer>
</blockquote>

<fn id="risk-reduction"><sup>8&nbsp;</sup> By uncovering as much as possible with data you can utilise, can sometimes be a surprising source of creative solutions. Given its hypothesis-driven design, its a positive starting point to evolve. The process is as iterative as the development cycle and its robustness can be reinforced by design and usability principles.</fn>

<h3>Opportunities</h3>
<p>Whether the aforementioned articles represented a significant sized user group and together with findability being top of the list of users interviewed, may indicate there is a pain point with navigation.</p>
<p>First hypothesis is that increased play with multiple games is not necessarily a negative but an opportunity. As it stood, switching games was not as efficient as it could be.</p>
<p>Further analysis uncovered button state indicators were more relevant in live events than content containing more long-term stakes.</p>

<blockquote>
    <div class="ntsc"></div>
    <p><strong>The Sports product channel alone is almost a billion dollar revenue</strong>. The success of the scoreboard project largely dependend on the <abbr title="Third-party">3P</abbr> making available the fullstack APIs. With or without the scoreboards it was projected negligent to growth.</p>
    <footer>&mdash; Leigh Laguisma - As integration approached no eyes were batted over the closing of a multi-million dollar sub channel in order to reduce scope!</footer>
</blockquote>

<h3>Avenues for further development</h3>

<p>What are the knowns, unknowns and other opportunities we currently have to paint a watercolour picture an ambuiguity less blurry?</p>

<ul class="bullet-spacing">
    <li>We have a number of opinions from <abbr title="Subject matter experts">SME</abbr>s we can revisit</li>
    <li>We have some journaled public documentation of behaviours to consider</li>
    <li>We have common tasking journeys to analyse</li>
    <li>Pain points discovered and a journey map to explore</li>
    <li>A list of <abbr title="MoSCoW method">MoSCoW</abbr> conditions</li>
    <li>An unhealthy amount unknowns from <abbr title="Third-party">3P</abbr> API vendor on scheduled data availability but at a comprehensive list of features to design towards</li>
</ul>

<h3>Post design origin story narrated, lets look at the first stages of content creation</h3>

<p>To make efficient the design of the scoreboards, I utilise a common structure to be shared by all scoreboard categories. A series of consistent layout grids housing scores, messaging and secondary information<sup><a href="#draft-core-structure">9</a></sup>.</p>

<figure id="draft-core-structure">
    <img src="/assets/images/tw-case-studies/scoreboard-core-structure.jpg" alt="Defined common layout structure" height="418" width="750" />
    <figcaption>
        <cite href="#retro">fig.9</cite>&nbsp;Defining a common structure reduce the need to custom build each scoreboard.
    </figcaption>
</figure>

<p>The API feature list was comprehensive for the scoreboards, so its no surprise we had contrasting wants from various departments. Prototyping content in Balsamiq became rather numerous as the meetings for approvals. Unfortunately, we had no historical metrics for a non-interactive area to compare performance improvements.</p>
<p>The only designation was that we maintain current operating levels as a goal.</p>

<figure id="wireframe-scoreboard-content">
    <img src="/assets/images/tw-case-studies/tennis-traditional-scoreboard-layout.jpg" alt="Familiarity built-in by mimic real-world expectations" height="418" width="750" />
    <figcaption>
        <cite href="#wireframe-scoreboard-content">fig.10a</cite>&nbsp;By following real-world examples users can get to consuming data quicker.
    </figcaption>
</figure>

<figure id="wireframe-scoreboard-content">
    <img src="/assets/images/tw-case-studies/ae2e4731103049-567d42d20e85b.png" alt="Sample wireframe illustrating subset of features" height="418" width="750" />
    <figcaption>
        <cite href="#wireframe-scoreboard-content">fig.10b</cite>&nbsp;One of the challenges was that there were more features available than physical space to house the content. <abbr title="Product Owner">PO</abbr>'s had to be elective on what data should be exposed.
    </figcaption>
</figure>

<p>The general positioning of content follows traditional layouts expected of the sport category - I wanted to reduce any learning curves that would distract from engaging betting options. Fig.10b illustrates a tennis proposition sample layout with expanded tray containing secondary info.</p>
<p>The icons are purely illustrative and not indicative of a design visual. Worth noting that truncation may become an issue but not a concern at this stage where direction needs to be agreed.</p>
<p>Each component that makes up the scoreboard had different states or properties depending on live events. When designing with an atomic approach each possible state had to be mapped<sup><a href="#mapped-component">11</a></sup> for content and their coded counterpart.</p>

<figure id="mapped-component">
    <img src="/assets/images/tw-case-studies/atom-breakdown.jpg" alt="Mapped states to visualise for development and design to cater a UI" height="418" width="750" />
    <figcaption>
        <cite href="#wireframe-scoreboard-content">fig.11</cite>&nbsp;Rather than incorporate too much detail into wireframes we simply map component properties ready for the next wireframe evolution. Each label is a property describing the data type, default label or <abbr title="Syntactically Awesome Style Sheets">SASS</abbr> animation.
    </figcaption>
</figure>

<h3>Planning documentation<sup><a href="#jbtd">12</a></sup></h3>
<p>The official tool for documentation at the company was Confluence paired with JIRA. As the content approvals goes through its paces, anticipating how the solution aligns to customer needs are documented as decisions develop new directions.</p>
<p>Planning the structure of the documentation helps writing it up and ensures you cover all current knowns. Other forms of documentation can be made through coding human-readable nomenclatures</p>
<p>Following statements are asked of the solution;</p>

<ul class="bullet-spacing">
    <li>Can the customer distinguish that the event is pending</li>
    <li>Is the layout discernable as its given sports category</li>
    <li>Do we have an easily understandable offline mode</li>
    <li>Must items installed</li>
    <li>All text are legible</li>
    <li>Icons are consumable</li>
    <li>Colour meanings are obvious</li>
    <li>Animations qualify its need</li>
    <li>Timings are not latent and are instantaneous</li>
    <li>Scoreboard <abbr title="User interface">UI</abbr>s are consistent</li>
</ul>

<figure id="jbtd">
    <img src="/assets/images/tw-case-studies/jtbd-plan-documentation.jpg" alt="" height="418" width="750" />
    <figcaption>
        <cite href="#jbtd">fig.12</cite>&nbsp;Documentation is also the start of your UI Standard. Opt for rough notation during defining the solution process, its going to change a lot at this stage.
    </figcaption>
</figure>

<h3>Product in Context</h3>
<figure class="noshadow" id="sb-game-card-desktop">
    <img src="/assets/images/tw-case-studies/desktop-mock-sb.png" alt="Mock view of scoreboard game card on desktop" height="333" width="855" />
    <div class="row">
        <figcaption class="col-sm-12 col-md-4 nomarginright"><cite href="#sb-game-card-desktop">fig.9a</cite>&nbsp;Legacy game card view and new Navigation and scoreboard game card view on desktop.
            <ul class="bullet-spacing">
                <li>Opening and Closing bet state indicators</li>
                <li>Suspended and Progressive state interaction guards</li>
                <li>Live price updates</li>
                <li>Live score and stats updates</li>
                <li>Live On-demand gaming experience</li>
            </ul>
        </figcaption>
        <figure class="col-sm-12 col-md-6 noshadow nomargin" id="sb-game-card-tablet-view">
            <img class="ip6p-shadow" src="/assets/images/tw-case-studies/ipad-mockup-sb.gif" alt="Mock view of game card on tablet" height="332" width="450" />
            <figcaption>
                <cite href="#sb-game-card-tablet-view">fig.9b</cite>&nbsp;View of game card on tablet with UI state variations.
            </figcaption>
        </figure>
    </div>
</figure>

<figure class="noshadow fx animated" id="sb-game-card-mobile-view">
    <img src="/assets/images/tw-case-studies/iphone-6-plus-mock-game-card.png" alt="Mock view of homepage on smartphone" height="516" width="855" />
    <figcaption><cite href="#sb-game-card-mobile-view">fig.10</cite>&nbsp;View of game card on smartphone in landscape mode.
        <ul class="bullet-spacing">
            <li>Navigation and Betslip view</li>
            <li>Game card interaction focused</li>
            <li>Persist Sports switch mode with compact indicators</li>
        </ul>
    </figcaption>
</figure>

<h3>Showreel promo of the new UI</h3>
<figure id="yt-tw-ui-showreel" class="youtube-embed-container">
    <div class="tw-ui-showreel">
        <video id="showreelvid" playsinline autoplay muted loop>
            <source class="mp4" type="video/mp4" src="/assets/video/Bodog-sports-sportsbook-review.mp4">
            <!-- <track default="" class="vtt" kind="captions" srclang="en" label="English" src="/assets/video/Bodog-sports-sportsbook-review.vtt"> -->
        </video>
        <!-- <iframe frameborder="0" allowfullscreen title="Bovada New Platform Showreel" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" scrolling="no" class="youtube-embed-iframe" src="https://www.youtube-nocookie.com/embed/xCoutZYhGE4?rel=0"></iframe> -->
    </div>
    <figcaption>
        <cite href="#yt-tw-ui-showreel">fig.x</cite> Released by Canada Sports Betting (CSB) as a Sportsbook review circa May 2017.
    </figcaption>
</figure>

<footer>
    <h3>The Workshop <abbr title="formerly known as">fka.</abbr> Tyche Consulting</h3>
    <ul class="separator-list">
        <li>2014-2016 influence to net worth: &pound;5,332,449 <sup><abbr title="+944.56% Year on year">+944.56% YoY</abbr></sup></li>
    </ul>
</footer>
