						<div id="qanda-list">
							<ul class="list">
								<li>
									<h3 class="question">How do I get in contact with you?</h3>
									<p class="answer">I'm currently based in Katy, Texas USA. You can schedule a call using our <a href="#booking" class='bookme-link'>message form</a>, leave a voice message at <a class="tel-link" href="#"></a> or say <a class="email-link" href="#"></a>. Alternatively, pop us a <a class="new-window" href="https://twitter.com/_SuperGUi" rel="noreferrer noopener">tweet</a>.</p>
								</li>
								<li>
									<h3 class="question" id="relocate">Would you be willing to relocate?</h3>
									<p class="answer">I've recently relocated to Texas, and at this time I'm only looking at remote or a Houston-based office.</p>
								</li>
								<li>
									<h3 class="question">What was your longest tenure at a company?</h3>
									<p class="answer">My longest stay at a company was for LexisNexis just shy of ten years, circa 2001 to 2010. It was an interesting time seeing the medium move from Books to CDs, then onto websites before becoming a subscription service as it remains today.</p>
								</li>
								<li>
									<h3 class="question">From the positions held over the years, collectively what have you learnt about the challenges to practice <abbr title="User Experience">UX</abbr>?</h3>
									<p class="answer">User Experience is nothing without users and is often when neglected, a role likely to be more about bug fixing the <abbr title="User Interface">UI</abbr> &mdash; making wireframes for development to cut their code from.<br><br>Access to customers almost determines the length of time spent on trust building, educating them on the importance of being driven by customer data, and aligning their needs with the goals of a business.<br><br>Having a strategy to include key influencers to be onboard with customers being involved in the design pipeline reduces the risk of them rejecting your solutions since they also determine the outcome.<br><br>A humble approach to listening to the concerns of your peers and taking the time to learn the objectives of others can stand you on reciprocal grounds to enable direction towards mutual goals.</p>
								</li>
								<li>
									<h3 class="question">What key factor, if you were to mention one, helps towards a successful result?</h3>
									<p class="answer">There are many possible candidates to earmark as critical factors that mitigate risk but one that is true for all departments is 'testing'. Test by sharing with staff, presenting to stakeholders, with customers, and with <abbr title="Quality Assurance">QA</abbr>; the frequency of doing so ensures you're on the right path and the opportunity to pivot becomes less effort than if you were to only test at the end.</p>
								</li>
							</ul>
						</div>
						<script>
							(function(){
								const decodeHTMLEntities = (str) => {
									const tempElement = document.createElement('textarea');
									tempElement.innerHTML = str;
									return tempElement.value;
								};
								const decodedEmail = decodeHTMLEntities(businessEmailMailTo);

								const telLink = document.querySelector('.tel-link');
								const emailLink = document.querySelector('.email-link');

								telLink.setAttribute('href',`tel:${businessTelephoneTel}`);
								telLink.innerHTML = `${businessTelephoneObfuscated}`;

								emailLink.setAttribute('href', `mailto:${decodedEmail}`);
								emailLink.innerHTML = `${businessEmailObfuscated}`;
							})();
						</script>
