<header id="feedback">
	<h3 class="heading">#</h3>
</header>
<form action="https://formsubmit.co/3cbea0cc9108e649bcde678007478705" method="POST">
	<input type="hidden" name="_subject" value="#" />
	<input type="hidden" name="_next" value="https://portfolio.supergui.co/index.html?mode=thankyou#feedback" />

	<ol class="container fb-form-layout" type="1">
		<li class="emoji-feedback">
			<fieldset>
				<legend>Please indicate how you felt about your visit today <span>*</span></legend>
				<ul class="inline-list row">
					<li class="col-4 col-sm-12 col-md-4">
						<input type="radio" id="happy-option" name="mood-type" value="Happy">
						<label for="happy-option">🙂 Happy</label>
						<div class="check"></div>
					</li>
					<li class="col-4 col-sm-12 col-md-4">
						<input type="radio" id="angry-option" name="mood-type" value="Disappointed">
						<label for="angry-option">🙁 Disappointed</label>
						<div class="check"></div>
					</li>
					<li class="col-4 col-sm-12 col-md-4">
						<input type="radio" id="sad-option" name="mood-type" value="Sad">
						<label for="sad-option">😞 Sad</label>
						<div class="check"></div>
					</li>
				</ul>
			</fieldset></li>
		<li><label for="customer-notes">#</label>
			<ul class="row">
				<li class="col-12">
					<button role="button" aria-label="Enter answer using your voice" aria-pressed="false" class="mic mic-customer-notes" onclick="startDictation('customer-notes');">
						<svg aria-label="Form field microphone button" role="img" xmlns="http://www.w3.org/2000/svg" version="1.1" width="40" height="40" viewBox="0 0 512 512">
							<path fill="#222" d="M350.183 264.849c0-16.435 25.284-16.435 25.284 0 0 61.945-45.511 112.513-106.192 118.834v51.832h34.134c16.435 0 16.435 25.284 0 25.284h-93.55c-17.699 0-17.699-25.284 0-25.284h34.133v-51.832c-60.681-6.321-107.457-56.889-107.457-118.834 0-16.435 25.284-16.435 25.284 0 0 51.832 42.982 94.815 94.815 94.815s93.55-42.983 93.55-94.815z"/>
							<path fill="#222" d="M256.632 51.2c29.077 0 53.096 24.020 53.096 53.097v13.906h-34.133c-17.699 0-17.699 25.284 0 25.284h34.134v29.077h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v27.813h-34.134c-17.699 0-17.699 25.284 0 25.284h34.134v13.906c0 30.341-24.020 54.361-53.096 54.361-30.34 0-54.361-24.020-54.361-54.361v-160.553c0-29.076 24.020-53.096 54.361-53.096z"/>
						</svg>
					</button>
					<textarea class="customer-notes" id="customer-notes" name="customer-notes" placeholder="" title=""></textarea>
				</li>
				<li class="col-12">
					<p class="agreement">By using this feedback form, you agree to the use of your provided information so that <% if (typeof companyName !== 'undefined') { %><%= companyName %><% } %> are able to improve on their service. Your privacy and data is important to us, we have secured the transmission of your message using <abbr id="ssl-fb" title="Secure Sockets Layer">SSL</abbr> encryption.</p>
					<input type="submit" value="Share your view">
				</li>
			</ul>
		</li>
	</ol>
</form>
<script>
	(function(){
		const feedH3 = document.querySelector('.heading');
		const feedSubject = document.querySelector('input[name=_subject]');
		const feedLabel = document.querySelector('label[for=customer-notes]');
		const feedTitle = document.querySelector('.customer-notes');

		feedH3.textContent = panel9Heading;
		feedSubject.setAttribute('value', companyName +' feedback');
		feedLabel.innerHTML = `Please describe your experience with ${companyName}. <sup>(encouraged)</sup>`;
		feedTitle.setAttribute('title',`Sharing of your experience helps our visitors and the ${companyName} team improve on our services, your help is greatly appreciated.`);

		feedbackLabels();
	})();
</script>
