<link rel="preload" href="/assets/css/gtranslate/gtranslate.min.css<%= versionTimestamp %>" as="style" onload="this.onload=null;this.rel='stylesheet'" fetchpriority="low">
<noscript><link rel="stylesheet" href="/assets/css/gtranslate/css/gtranslate.min.css"></noscript>
<ul>
	<li><a href="#googtrans(en|en)" class="gflag nturl lang-en lang-select" data-lang="en" style="background-position:-0px -0px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="English"></a></li>
	<li><a href="#googtrans(en|fr)" class="gflag nturl lang-fr lang-select" data-lang="fr" style="background-position:-200px -100px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="French"></a></li>
	<li><a href="#googtrans(en|de)" class="gflag nturl lang-de lang-select" data-lang="de" style="background-position:-300px -100px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="German"></a></li>
	<li><a href="#googtrans(en|it)" class="gflag nturl lang-it lang-select" data-lang="it" style="background-position:-600px -100px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="Italian"></a></li>
	<li><a href="#googtrans(en|ja)" class="gflag nturl lang-ja lang-select" data-lang="ja" style="background-position:-700px -100px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="Japanese"></a></li>
	<li><a href="#googtrans(en|es)" class="gflag nturl lang-es lang-select" data-lang="es" style="background-position:-600px -200px;" onclick="gtranslateContent(this.href, this.getAttribute('data-lang'));"><img src="/assets/images/gtranslate/blank.png" height="16" width="16" alt="Spanish"></a></li>
</ul>