<div class="after-eights">
	<div class="hot-tip tl" data-container="hot-tip-1">
		<div class="floating-div">
			<p data-copy="Animations are rooted in nature to be natural to the eye."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-1">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tr appoint-settings" data-container="hot-tip-2">
		<div class="floating-div">
			<p data-copy="You can root content for all or discern by choice the latter is simpler and intentional."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-2">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tl appoint-caseDropdown" data-container="hot-tip-3">
		<div class="floating-div">
			<p data-copy="Sometimes Case Studies can only encapsulate the process allowed remember context is the person."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-3">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>

	<div class="hot-tip tr appoint-message-me" data-container="hot-tip-4">
		<div class="floating-div">
			<p data-copy="You hire between the ears not whether what they done in the past matches your criteria."></p>
		</div>
		<svg class="line-svg" data-container="hot-tip-4">
			<line class="line"></line>
			<circle class="dot-a" r="3" />
			<circle class="dot-b" r="3" />
		</svg>
	</div>
</div>