<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<%- include('partials/gtm-manager') %>
		<%- include('partials/config') %>
		<%- include('partials/head') %>
		<%- include('partials/style') %>
	</head>
	<body>
		<header class="header">
			<a href="#content" class="sr-only sr-only-focusable offscreen">Skip Header</a>
			<!-- include('partials/mode'); -->
			<%- include('../vendor/settings-menu/settings-menu') %>
			<%- include('partials/menu') %>
			<div class="header-title">
				<h1 class="animated bounceInDown" translate="no"><%= companyTitle %><br></h1>
				<p><%- companyPropStatement %></p>
				<button id="message-me" class="bookme-button"><%=ctaPrimaryLabel%></button>
			</div>
		</header>
		<main class="main" id="home">
			<div id="content" class="content">
				<article id="about-us" class="cards about">
					<header role="presentation">
						<h2><%- panel1Heading %></h2>
					</header>
					<div class="article-text">
						<%- panel1Summary %>
						<div class="read">
							<!-- include('partials/about-us'); -->
						</div>
					</div>
					<div aria-label="Read more about Leigh" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (1.26 mins)"></footer>
					</div>
				</article>

				<article id="case-study" class="cards case">
					<header role="presentation">
						<h2><%- panel3Heading %></h2>
					</header>
					<div class="container article-text">
						<p class="case-text"><%- panel3Summary %></p>
						<div class="read">
							<!-- include('partials/case-study'); -->
						</div>
					</div>
					<div aria-label="Read a more in-depth account of case studies" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (2.98 mins)"></footer>
					</div>
				</article>

				<article id="booking" class="cards booking">
					<header role="presentation">
						<h2 class="animated"><%= panel2Heading %></h2>
					</header>
					<div class="article-text">
						<p class='booking-text'><!-- see footer-scripts --></p>
						<div class="read">
							<!-- include('partials/booking-form'); -->
						</div>
					</div>
					<div aria-label="View booking form to meet with Leigh" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (48 secs)"></footer>
					</div>
				</article>

				<article id="projects" class="cards projects">
					<header role="presentation">
						<h2><%= panel4Heading %></h2>
					</header>
					<div class="article-text">
						<p class="projects-text"><%- panel4Summary %></p>
						<div class="read">
							<!-- include('partials/projects'); -->
						</div>
					</div>
					<div aria-label="Read more on side projects" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (1.17 mins)"></footer>
					</div>
				</article>

				<article id="questions" class="cards questions">
					<header role="presentation">
						<h2><%= panel5Heading %></h2>
					</header>
					<div class="article-text">
						<p class="questions-text"><%- panel5Summary %></p>
						<div class="read">
							<!-- include('partials/faqs'); -->
						</div>
					</div>
					<div aria-label="Read more on frequently asked questions" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (1.11 mins)"></footer>
					</div>
				</article>

				<article id="testimonials" class="cards testimonials">
					<header role="presentation">
						<h2><%= panel8Heading %></h2>
						<span>Source: LinkedIn</span>
					</header>
					<div class="article-text">
						<div class="read more">
							<script>
								document.addEventListener("DOMContentLoaded", function(){
									// Handler when the DOM is fully loaded
									importContent('.testimonials .read','testimonials','');
								});
							</script>
							<!-- include('partials/testimonials'); -->
						</div>
					</div>
				</article>

				<article id="toolkit" class="cards toolkit">
					<header role="presentation">
						<h2><%= panel6Heading %></h2>
					</header>
					<div class="article-text">
						<p class="toolkit-text"><%- panel6Summary %></p>
						<div class="read">
							<!-- include('partials/toolkit'); -->
						</div>
					</div>
					<div aria-label="Read more on about toolkits" aria-pressed="false" role="button">
						<footer class="article-footer" data-read-info="read more (53 secs)"></footer>
					</div>
				</article>

				<article id="contact-us" class="cards contact">
					<header role="presentation">
						<h2><%- panel7Heading %></h2>
					</header>
					<div class="article-text">
						<p><%- panel7Summary %></p>

						<div class="container-fluid">
							<%- include('partials/contact-us') %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

			</div>
			<%- include('../vendor/three-d-menu/three-d-menu.html') %>
			<!-- include('hot-tip'); -->
		</main>
		<!-- include('partials/tickertape'); -->
		<div class="mask"></div>
		<aside class="inactive">
			<div class="close-button progress-container">
				<div class="pct">0%</div>
				<svg class="completed" width="57" height="57" viewbox="-3.5 -3.5 59 59" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient id="grad">
							<stop offset="0%" stop-color="<%=colorHot%>"></stop>
							<stop offset="100%" stop-color="<%=colorCold%>"></stop>
						</linearGradient>
					</defs>
					<circle cx="26" cy="26" r="26"></circle>
					<circle class="progress-bar" cx="26" cy="26" r="26"></circle>
				</svg>
			</div>
			<%- include('partials/progress-marker') %>
			<div class="context-viewer">
				<%- include('partials/content-viewer') %>
			</div>
		</aside>
		<div class="container-fluid credits cta-tray animated fadeOutLeft">
			<ul role="menubar">
				<li class="menubutton" role="menuitem"><button class="feedback-form feedback-button" aria-label="feedback form"></button></li>
				<li class="menubutton" role="menuitem"><button class="icon-addressbook bookme-cta-button" aria-label="<%=ctaPrimaryLabel%>"></button></li>
			</ul>
		</div>
		<footer class="footer" id="footer">
			<%- include('partials/footer') %>
		</footer>
		<div aria-hidden="true" id="background-vdo">
			<video id="bgvid" playsinline muted loop></video>
		</div>
		<%- include('partials/footer-scripts') %>
		<div class="scroll-nudge animated fadeIn"><span></span></div>
	</body>
</html>