<script>
//infra close button close popup
$('.infra-close-btn').on('click', function(){
	closeButton('infra',true,true,'#hpprevid');
});

$(function(){
    $('.infra-content.display--content').prepend('<div class="process-parallax"></div>');

    $('.highlight').wrapInner(function(n){
		return "<span class='highlighter'><span class='highlighted'></span></span>";
	});
});

//Parallax UX pipeline
$('aside .infra-content.display--content .descriptor').scroll(moveBackground);

function moveBackground(){
    if (debug) debugLog("aside scrollTop pos."+ Math.round(($(this).scrollTop())/100*2));

    var containerTop = Math.round(($(".infra-content.display--content .descriptor").scrollTop())/300*2);
    var curElemPos = $(".process-parallax").css('right');
    var rightPosition = -100;

    //set default position and start animation after header is no longer in viewport
    if (!$('#view-avantiagroup-infrastructure-solution').isInViewport()){
        (containerTop > 100) ? containerTop = 100 : null;
        rightPosition = rightPosition + containerTop;
    }

    ($('html').hasClass('iPad landscape')||$('html').hasClass('mobile landscape')) ? $('.process-parallax').css('transform','scale(1.5)') : null;

    ($('html').hasClass('iPad portrait')||$('html').hasClass('mobile portrait')) ? $('.process-parallax').css('transform','scale(2)') : null;

    $(".process-parallax").css('right', rightPosition+'%');

    if (debug) debugLog('cT:'+containerTop+' eP:'+curElemPos+' rP:'+rightPosition+'%');
};
</script>
<header id="view-avantiagroup-infrastructure-solution">
    <ul class="separator-list">
        <li class="highlight"><h3>Role:</h3>
    		<ul class="inline-list">
    			<li aria-label="Evaluate workflows"><span class="icon-search">Evaluate workflows</span></li>
    			<li aria-label="Discover pain points/concerns"><span class="icon-ethno">Discover pain points/concerns</span></li>
    			<li aria-label="Inventory customer research"><span class="icon-eye">Inventory research</span></li>
    			<li aria-label="Define user interface standards"><span class="icon-survey">Define&nbsp;<abbr title="User interface">UI</abbr>&nbsp;Standards</span></li>
    			<li aria-label="Heuristic Evaluation"><span class="icon-search">Heuristic Evaluation</span></li>
    			<li aria-label="Information architecture"><span class="icon-card">Information Architecture</span></li>
    			<li aria-label="Design A/B Test experiments"><span class="icon-pencil">Design&nbsp;<abbr title="A-variant versus B-variant testing">A/BT</abbr></span></li>
    		</ul></li>
    	<li class="highlight"><h4>Research methods:</h4>
    		<ul class="inline-list">
    			<li aria-label="Ethnographic interview"><span class="icon-ethno">Ethnographic interview</span></li>
    			<li aria-label="Participatory Design"><span class="icon-tools">Participatory Design</span></li>
    			<li aria-label="Remote Usability Testing"><span class="icon-remote">Remote usability testing</span></li>
    		</ul></li>
    	<li class="highlight"><h4>Toolkit</h4>
    		<ul class="inline-list">
    			<li aria-label="Sketch"><span class="icon-sketch notranslate">Sketch</span></li>
    			<li aria-label="Adobe Photoshop"><span class="icon-photoshop notranslate">Adobe Photoshop</span></li>
    			<li aria-label="Adobe Illustrator"><span class="icon-illustrator notranslate">Adobe Illustrator</span></li>
    		</ul></li>
    </ul>
    <h3 class="heading"><%- case1Heading %></h3>
    <q><%- case1Summary %></q>
</header>
<h3>Preface</h3>
<p>For all intents and purposes this initial project, for me, was a strategic teaser to gain more autonomy of change in the business going forward.</p><p>At the time it was evident from the website's landing page experience, that their was a literal connection between the differing presentations of the <abbr title="User Interface">UI</abbr> and their corresponding departments.</p>

<p class="suppress">A disjointed website is indicative of how well the system behind it is optimised and by system I'm including the organisation of its people.</p><p>How often do you come across a product or service that on appearance works well but when it came to engaging another part of that system did not live up to your expectation based on the standard set by the <span class="example-me" title="eg. The sign-on screen was an unskinned default UI that looked foreign">front-of-house</span>?</p>

<blockquote>
    <div class="ntsc"></div>
    <p>Imagine how much more amplified that must feel when it comes to your money staked as part of this visual transaction of trust.</p>
    <footer>&mdash; Leigh Laguisma, <cite>Change of look, feel and tone without familiar context is jarring and is brand negative.</cite></footer>
</blockquote>

<h3>Product Evaluation<span class="suppress"> &mdash; Where are we at exactly?</span></h3>
<p>Prior to looking at existing research offered and before addressing the list of <abbr title="User Interface">UI</abbr> enhancements, my approach was to appraise the product homepage while I still had the sentiment of 'fresh eyes'.</p><p class="suppress">There were a number of opportunities limited to usability heuristics alone with potential quick wins to explore.</p>

<p>Using their Page Analytics, I can identify how visitors arrive, where they click and where they bounce. Its a great way to establish a base line for any adjustments made to the <abbr title="User Interface">UI</abbr>.</p><p class="suppress">This information was easy to discover just from desktop research (Alexa.com<sup><a href="#hp-wayback">1</a></sup>) and access to their tag manager account.</p><p class="suppress">In addition, there was a number of accessibility tools we can employ to see how much friction an impaired user may encounter in the state the homepage currently stood.</p>

<fn id="hp-wayback"><sup>1&nbsp;</sup>Wayback Machine via Alexa Chrome plugin, provides the <a class="new-window" href="https://web.archive.org/web/20161009060310/https://www.homeprotect.co.uk/" rel="noreferrer noopener">snapshot of the website state</a> in question for improvement.</fn>

<figure class="fg1 zoomIn">
    <img src="/assets/images/ag-case-studies/device-session-averages.png" id="ag-page-analytics" alt="Visual Excel graphs showing homepage session statistics" height="72" width="236" />
    <figcaption>fig.1&nbsp;<abbr title="Avantia Group">AG&nbsp;</abbr>sample page session data report snapshot; illustrating device segments, session duration, unique visitors, bounce rates and conversions.</figcaption>
</figure>

<h3>What did we learn from the analytics?</h3>

<ul class="bullet-spacing">
    <li>Desktop users outweigh mobile by 3.6 times</li>
    <li>Mobile devices led on unique visits</li>
    <li>Mobile had the highest bounce rate</li>
    <li>Average of 9 pages visited through journey</li>
    <li>Average duration of visit 17 minutes</li>
    <li>Improving the mobile experience has the biggest opportunity for new revenue</li>
    <li>Numbers don't show the why and maybe are symptomatic of deeper root causes</li>
</ul>

<blockquote>
    <div class="ntsc"></div>
    <p><abbr title="User Interface">UI</abbr> fixes based on just analytics may only improve the affordance of the design but not address scalability, adaptiveness and longevity of the solution.</p>
    <footer>&mdash; Leigh Laguisma - Qualitative research compliments quantitative for a well rounded but inclusive understanding.</footer>
</blockquote>

<p>A fixed system design, especially a design with varying <abbr title="User Interface">UI</abbr> has a legacy bottleneck for new innovation.</p><p>A continued evolution at different rates only impedes the impact of both new and existing efforts - an array of complex compatibility.</p>

<h3>The UX team of one</h3>
<p>Being the first and only source of <abbr title="User Experience">UX</abbr> in the company, to speed progress up for meaningful answers, I looked to my network for their peer expertise and the extra hands on deck.</p><p class="suppress">This was a strategy I'd employ when trying to reduce the rapport timeline with key influencers.</p><p>You have to imagine that conversation with your CEOs or stakeholders at the beginning does not have the latitude of foresight with proven research data and only so much can be acquired by an individual in that short period of time.</p><p class="suppress">In those cases, there is an element of toeing the line as currency for your wants and needs, especially when you use second-hand research you have no context to navigate from.</p>

<h3>Workshop in Stealth mode</h3>
<p>I'm taking the premise that the company requirements is initially about the <abbr title="User Interface">UI</abbr> and the problems it has listed as valuable changes for user conversion.</p><p> Along those lines we will be discovering what surface issues do we discover, how to order those problems in an impactful way while setting up the question of a research plan to follow this project.</p>

<figure>
    <img src="/assets/images/ag-case-studies/discovery-workshop.jpg" id="ag-whiteboard" alt="Whiteboard of post-its with 3 columns labelled Unknowns, Knowns, Further Info" height="176" width="236" />
    <figcaption><cite href="#ag-whiteboard">fig.2</cite>&nbsp;I held an offsite out of working hours <a href="#convergence">Converge/Diverge<sup>±</sup></a> Workshop activity with a narrow scope over the initial Quote to Buy journey with second part discussing common UI patterns for possible adoption.<br><br><sup>±</sup> Learn more on this design thinking activity <a class="new-window" href="https://www.nngroup.com/articles/diverge-converge/" rel="noreferrer noopener"><dfn id="convergence">Convergence &amp; Divergence</dfn></a></figcaption>
</figure>

<p>The activity validated some of my own hypotheses with what would be priority changes, it was also a fun weekend exercise for the <abbr title="User Experience">UX</abbr> brain with fellow professionals, members of my own <abbr title="SuperGUi">SG</abbr> network.</p>

<p>As we progressed through open and close activities in designing the <abbr title="User Interface">UI</abbr> by deconstruction, it was evident that the more we evaluated the lander the more problems were found.</p><p>The second part of the workshop accommodated form patterns used by competitors, which was to bolster my proposal for familiar and common patterns to be applied to the <abbr title="Avantia Group">AG</abbr> <abbr title="User Interface">UI</abbr>.</p>

<h3>Mitigating factors that should take priority in addition to the <abbr title="User Interface">UI</abbr> fixes</h3>
<ul class="bullet-spacing">
    <li>Too much distracting content on the lander</li>
    <li>Inconsistent meanings for the use of colour often competiting for attention</li>
    <li>Inconsistent UI errodes trust</li>
    <li>No one dominant <abbr title="Call to Actions">CTA</abbr> button to primary goal</li>
    <li>Too many click opportunities for users to be distracted from the <abbr title="Quote and Buy">Q&amp;B</abbr> funnel</li>
    <li>Viewport area provides no hint of more scrollable content</li>
    <li>Information Architecture has many duplicate content</li>
</ul>

<h3>Distilled Conclusions</h3>
<p>Fig.3 shows convergence to conclusion, our collaborative finds distilled into a wireframe proposal.</p>

<figure class="row" id="ag-workshop-conclusions" role="group">
    <figure class="col-sm-6 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/competing-ui.png" id="ag-interstitial-lander" alt="pre-phase UI changes before refactor version" height="532" width="400" />
        <figcaption><cite href="#ag-interstitial-lander">fig.3a</cite>&nbsp;<span class="suppress">Interstitial </span>phased solution before migration.</figcaption>
    </figure>
    <figure class="col-sm-6 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/simplified-journey.png" id="ag-landing-refactor" alt="A decluttered refactor of the landing page content and order" height="532" width="400" />
        <figcaption><cite href="#ag-landing-refactor">fig.3b</cite>&nbsp;<span class="suppress">Simplified </span>refactor and correctly weighted hierarchy<span class="suppress"> of importance</span>.</figcaption>
    </figure>
    <figure class="col-sm-6 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/inconsistent-ui.png" id="ag-qb-lander" alt="Surround UI to be either non-clickable or inline" height="532" width="400" />
        <figcaption><cite href="#ag-qb-lander">fig.3c</cite>&nbsp;Reduce <span class="suppress">surround </span>UI noise and focus on primary objectives.</figcaption>
    </figure>
    <figure class="col-sm-6 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/surfacing-interactions.png" id="ag-qb-funnel" alt="A surface review of Quote to Buy UI interactions" height="532" width="400" />
        <figcaption><cite href="#ag-qb-funnel">fig.3d</cite>&nbsp;<span class="suppress">Journey status, </span>suppressed to single thread interaction, evaluating intuitive context.</figcaption>
    </figure>
</figure>

<h3>Understanding the landing page by peer review</h3>
<p>While its tempting to go ahead with our logical finds, I sought to understand why the <abbr title="User Interface">UI</abbr> was in its current state.</p><p>How did individual departments that have part ownership over the published content, fit in the release pipeline?</p>

<ul class="bullet-spacing">
    <li>Do they coordinate campaigns?</li>
    <li>Do they appreciate the overarching purpose of each page?</li>
    <li>Is brand identity applied consistently?</li>
</ul>

<p>Interestingly, I discovered that all departments that authored content had admin access.</p><p>It occasionally meant that some campaigns scheduled to publish would conflict with experiments launched by <abbr title="Conversion Rate Optimisation">CRO</abbr>.</p><p class="suppress">This also affected Developments code releases, reporting automated <abbr title="Quality Assurance">QA</abbr> fails with the <abbr title="User Interface">UI</abbr> presentation not matching the tests; due to Optimizely running changes post-render!</p><p>Another odd flow was adhering to the Financial Standards Authority after the projects are concluded.</p><p class="suppress">A retro fit of conditional rules, that explicitly vetted the perception of buttons being interacted as 'agreed understanding'.</p>

<h3>Mapping departments to the product pipeline</h3>
<figure>
    <img src="/assets/images/ag-case-studies/scaffolding-service-blueprint.jpg" id="ag-service-blueprint" alt="mapping of departments, people, customer touchpoints, product lifecyle" height="642" width="855"/>
    <figcaption><cite href="#ag-service-blueprint">fig.4</cite>&nbsp;Making the product solution supportable by optimising the underlying infrastructure, designing for team inclusion.</figcaption>
</figure>

<blockquote>
    <div class="ntsc"></div>
    <p>In the absence of access to direct customers (at this stage), we look to interview the closest to them, customers services call center staff.</p>
    <footer>&mdash; Leigh Laguisma - Frontline <abbr title="Customer Services">CS</abbr> hear from customers first hand, often about the their pain points with call logs to distill data.</footer>
</blockquote>

<h3>Onboarding department heads with observation data</h3>
<p>Arranging time with key department heads, I sought to listen to their concerns observe how they typically operate and how their output ends up on the Dev teams backlog or not in some cases.</p>

<p class="suppress">Collectively, they were happy to share and brought to the table initiatives that they had hope one day gets heard or implemented along with a number of grievances with their system tools.</p>
<p>They showed eagerness to help me alleviate the bottlenecks I had discovered, even arranging sitdown times with customer agents.</p>
<p>Not all were ready for change, or convinced that a simplifiction of the homepage was required &mdash; which told me these are the ones I need to bring along the journey.</p>

<h3>Wireframe Proposed</h3>
<figure class="row" id="ag-wireframe" role="group">
    <figcaption class="col-12"><cite href="#ag-wireframe-proposal">fig.5</cite>&nbsp;A simplified wireframe was shared with those interviewed about their content.</figcaption>
    <figure class="col-sm-12 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/wireframe.png" id="ag-wireframe-proposal" alt="IA overhauled into order of importance" height="668" width="400" />
        <figcaption><cite href="#ag-wireframe-proposal">fig.5a</cite>&nbsp;<span class="suppress">Interstitial </span>phased solution before migration.</figcaption>
    </figure>
    <figure class="col-sm-12 col-md-6 animated">
        <img src="/assets/images/ag-case-studies/wireframe-post-hero.png" id="ag-presistent-float-menu" alt="Persistent Primary CTA" height="668" width="400" />
        <figcaption><cite href="#ag-presistent-float-menu">fig.5b</cite>&nbsp;<span class="suppress">Simplified </span>refactor with persistent components.</figcaption>
    </figure>
</figure>

<h3>Detailed Wireframe of IA migration plan</h3>
<p>After approval the changes to the homepage was planned for three stages, phasing back of office changes to meet new criterias.</p>

<figure id="ag-wireframe-detail">
    <img src="/assets/images/ag-case-studies/migrating-ia-to-proposal-ia.png" alt="Diagram showing three phases of IA change for the homepage" height="292" width="855" />
    <figcaption><cite href="#ag-wireframe-detail">fig.6</cite>&nbsp;Three phased approach allowed for departments to migrate so that eventually their immediate dependencies were in sync.</figcaption>
</figure>

<h3>Pre-flight checks with customers</h3>
<p>An agreed portion of the traffic was exposed to the A variant (New design) and arrangements for actual customers to provide feedback was made behind the scenes.</p><p>Their reactions and interactions were recorded remotely using Morae for later review.</p>

<h3>What did we learn from the feedback?</h3>
<ul class="bullet-spacing">
    <li>Compared to variant B experience (Current design), customers found it much easier to understand the product.</li>
    <li>They highlighted that it was more obvious to them what the page was asking them to do</li>
    <li>They could learn about the product and not get lost in the content, having to navigate back home to get to the 'Buy Quote' button</li>
    <li>The overall design made them feel more confident in the product</li>
    <li>They were also enquiring if the design was going to be implemented, as they would look forward to using the new format</li>
    <li>Colour<sup>1</sup> usage was split, but did not effect legibility.</li>
    <li>Executive members showed enthusiasm for customer insights, often surprised by previous held assumptions of them.</li>
</ul>

<fn id="design-feedback"><sup>1&nbsp;</sup>Colours were based on the company logo.</fn>

<blockquote>
    <div class="ntsc"></div>
    <p>Some of the internal feedback on the use of company colours were, while they couldn't complain using the brand-id they preferred a less toyful look and feel.</p>
    <footer>&mdash; Leigh Laguisma - I had originally offered that the logo was strong enough and the content could contrast on a neutral pallete - seems now this is what they want.</footer>
</blockquote>

<h3>Conclusion</h3>
<p>The new design was positively received, not just as a success to increase traffic/conversions but that it made the company departments get motivated to work closely together.</p><p>During the development phase of the design, the interstitial user tests in the discovery phase and first official traffic exposure we came to clash with the Marketing department.</p><p class="suppress">The design's simplified format had marketing content largely culled and with that their <abbr title="Search Engine Optimisation">SEO</abbr> tags, naturally their affiliate traffic was to be low for that time. However, there was a considerable increase of traffic over previous months without their content.</p><p>If time permitted, I would have liked the design influence go beyond the scope of the homepage so that Marketing would have seen that their content priority was served best as a dedicated page or indeed microsite that fed back to the <abbr title="Quote and Buy">Q&B</abbr> funnel.</p>

<p>This, of course, I shared with them. In fact, they were excited to have something they would have more dedicated control over.</p><p>Further, it would have been perfect for them to let me see their customers; get some real insights into their fragility picking a finance product or any frustrations they may have as a customer of HomeProtect.</p><p>Despite the limited access to real users the adoption of Customer Services data help refute any perceived notion that recommended actions were purely assumptive.</p><p class="suppress">I knew it was a trust based relation, so I was happy to work up to more control as a result of this project and in many ways I think I was successful in that part.</p><p>I must point out the company appreciated my efforts with what limited setup I had to go on; even going as far as reimbursing me for my unofficial weekend workshop!</p>

<figure id="ag-homepage-outcome">
    <img src="/assets/images/ag-case-studies/outcome.jpg" alt="Fullscreen captures of variant A and B illustrating comparative content size and refactor of content" height="473" width="855" />
    <figcaption><cite href="#ag-homepage-outcome">fig.7</cite>&nbsp;The homepage experience had halve'd the scroll travel on mobile and provided intuitive content flow for desktop.</figcaption>
</figure>

<blockquote>
    <div class="ntsc"></div>
    <p>Memorable phrases after the success of the project were amusingly: &quot;And that's what he did just with the homepage imagine if we gave him another?&quot; &quot; Now can you UX this?&quot;</p>
    <footer></footer>
</blockquote>

<h3>Product in Context</h3>
<figure class="noshadow" id="ag-homepage-desktop-refactor">
    <img src="/assets/images/ag-case-studies/desktop-mock-hp.png" alt="Mock view of homepage on smartphone" height="333" width="855" />
    <div class="row">
        <figcaption class="col-sm-12 col-md-4 nomarginright"><cite href="#ag-homepage-desktop-refactor">fig.8a</cite>&nbsp;Current and refactored view of homepage on desktop.
            <ul class="bullet-spacing">
                <li>Improved proposition value where none had previously existed</li>
                <li>Distinctive use of competing colors</li>
                <li>Noise reduction from duplicate <abbr="Call-to-Action">CTA</abbr> buttons</li>
                <li>Nudge persuasion to the next relevant scrollable content</li>
                <li>Background image that resonates alignment to product offering and goes further as a looped video.</li>
            </ul>
        </figcaption>
        <figure class="col-sm-12 col-md-6 noshadow nomargin" id="ag-homepage-tablet-refactor">
            <img src="/assets/images/ag-case-studies/ipad-mock-hp.png" alt="Mock view of homepage on tablet" height="305" width="414" />
            <figcaption><cite href="#ag-homepage-tablet-refactor">fig.8b</cite>&nbsp;Refactored view of homepage on tablet.
            </figcaption>
        </figure>
    </div>
</figure>

<figure class="noshadow fx animated" id="ag-homepage-mobile-refactor">
    <img class="dip8p-shadow" src="/assets/images/ag-case-studies/iphone-mock-hp.gif" alt="Mock view of homepage on smartphone" height="468" width="858" />
    <figcaption><cite href="#ag-homepage-mobile-refactor">fig.9</cite>&nbsp;Current and refactored view of homepage on smartphone.
        <ul class="bullet-spacing">
            <li>Proposition text length defined for mobile-first</li>
            <li>Consistent use of color</li>
            <li>UI noise reduction from distracting ticks and arrows</li>
            <li>Subtle hint to scrollable content not suddenly bombarded with adverts</li>
            <li>Background image of video-still unifying desktop active video experience.</li>
        </ul>
    </figcaption>
</figure>
<footer>
    <h3>Avantia Group</h3>
    <ul class="separator-list">
        <li>Design influence on inbound traffic increased at steady rate of 8% and conversion 12% from launch period</li>
        <li>General: 2016-2017 influence to net worth: &pound;1'670,458 <sup><abbr title="+7% Year on year">+7% YoY</abbr></sup></li>
        <li>General: 2017-2018 influence to net worth: &pound;2'211,624 <sup><abbr title="+7% Year on year">+7% YoY</abbr></sup></li>
    </ul>
</footer>
