<script>
	// Initialise hide pseudo img in header on scroll out of view
	hidePseudoImg('#view-ip-story','.ip-content .descriptor');
</script>
<style>
	@import url('/assets/css/embed-medium/embed-medium.min.css<%= versionTimestamp %>');
	@import url('/assets/css/progress-marker/progress-marker.min.css<%= versionTimestamp %>');
</style>

<header id="view-ip-story">
	<h3 class="heading"><%- storyIPHeading %></h3>
	<q><%- storyIPSummary %></q>
</header>

<div class="embed-medium">
	<div class="card mb-3 mx-auto mr-5 ">
		<div class="card-body">
			<figure><img alt="An empty chair is reclined back in a dentist room. A picture of M.C. Escher’s Waterfall drawing adorns the ceiling for the benefit of a patients view." src="https://cdn-images-1.medium.com/max/700/1*bCHKt7ii2a-HeHcXSjRvlw.png" /><figcaption>Aged 14 upon a dentist chair I decided I wanted to be a designer</figcaption></figure>
			<article>
				<section id="situ">
					<h5 class="card-title">Situ</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="task">
					<h5 class="card-title">Task</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="action">
					<h5 class="card-title">Action</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="result">
					<h5 class="card-title">Result</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
			</article>
			<svg viewBox="0 0 1043.63 592.71" class="medium-read-more" style="height: 23px; margin: 16px 0; transform: rotate(180deg);"><g data-name="Layer 2"><g data-name="Layer 1">
				<path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path>
			</svg>
			<a href="#exit-blog-story-4" class="btn btn-success btn-sm ip-close-btn">Exit blog stories</a>
		</div>
	</div>
</div>