<script>
// Platform close button close popup
$('.platform-close-btn').on('click', function(){
	closeButton('platform',true,true,'#q2bvid');
});

$(function(){
	$('.platform-content.display--content').prepend('<div class="process-parallax"></div>');

	$('.highlight').wrapInner(function(n){
		return "<span class='highlighter'><span class='highlighted'></span></span>";
	});
	$('.highlight').each(function(index, value){
		($(this).hasClass('active')) ? $(this).removeClass('active') : $(this).addClass('active');
	});
});

//create source
$('#postitvid').append('<source class="mp4" type="video/mp4" src="#t=0.1"><!--<track default class="vtt" kind="captions" srclang="en" label="English">--><p>This browser does not support the video element.</p>');

//apply vdo for desktop only
function asideBgVideo(ele, fname) {
	var video = document.getElementById(ele);

	if (!($(window).width() <= 767)) {
		$('#'+ele+' source.mp4').attr('src','/assets/video/'+fname+'.mp4');
		$('#'+ele+' track.vtt').attr('src','/assets/video/'+fname+'.vtt');
	} else {
		$('#view-avantiagroup-homeprotect-solution').addClass('affinity-bg');
	}

	$('#'+ele).attr('poster','/assets/video/'+fname+'.jpg');

	video.autoplay = true;
	video.load();
}
asideBgVideo("postitvid","affinity-post-it");

//execute resize if in desktop mode or on mobile orientation changes
//check if desktop use video else use gif
$(window).resize(function(){
	if ($('html').hasClass('desktop')){
		asideBgVideo("postitvid","affinity-post-it");
	}
});

$(window).on("orientationchange", function(){
	if ($('html').hasClass('mobile')){
		asideBgVideo("postitvid","affinity-post-it");
	}
});

//Parallax UX pipeline
$('aside .platform-content.display--content .descriptor').scroll(moveBackground);

function moveBackground(){
	if (debug) debugLog("aside scrollTop pos."+ Math.round(($(this).scrollTop())/100*2));

	var containerTop = Math.round(($(".platform-content.display--content .descriptor").scrollTop())/400*2);
	var curElemPos = $(".process-parallax").css('right');
	var rightPosition = -100;

	//set default position and start animation after header is no longer in viewport
	if (!$('#view-avantiagroup-homeprotect-solution').isInViewport()){
		(containerTop > 100) ? containerTop = 100 : null;
		rightPosition = rightPosition + containerTop;
	}

	($('html').hasClass('iPad landscape')||$('html').hasClass('mobile landscape')) ? $('.process-parallax').css('transform','scale(1.5)') : null;

	($('html').hasClass('iPad portrait')||$('html').hasClass('mobile portrait')) ? $('.process-parallax').css('transform','scale(2)') : null;

	$(".process-parallax").css('right', rightPosition+'%');

	if (debug) debugLog('cT:'+containerTop+' eP:'+curElemPos+' rP:'+rightPosition+'%');
};
</script>
<noscript>Script applies video and track source depending whether the viewport is larger than 767 pixel width</noscript>
<header id="view-avantiagroup-homeprotect-solution">
	<video id="postitvid" playsinline autoplay muted loop></video>
	<ul class="separator-list">
		<li class="highlight"><h3>Role:</h3>
			<ul class="inline-list">
				<li aria-label="Build"><span class="icon-people">Build&nbsp;<abbr title="" data-original-title="User Experience and User Interface">UX+UI</abbr>&nbsp;Team</span></li>
				<li aria-label="Define tooling"><span class="icon-config">Define Tooling</span></li>
				<li aria-label="Define front-end stack"><span class="icon-code">Define&nbsp;<abbr title="" data-original-title="Front-end">FE</abbr>&nbsp;Stack</span></li>
				<li aria-label="Define user interface standards"><span class="icon-survey">Refine&nbsp;<abbr title="" data-original-title="User interface">UI</abbr>&nbsp;Standards</span></li>
				<li aria-label="Workshop facilitation"><span class="icon-tools">Workshop facilitation</span></li>
				<li aria-label="Information architecture"><span class="icon-kanbanize">Information Architecture</span></li>
				<li aria-label="Content strategy"><span class="icon-pencil">Content strategy</span></li>
				<li aria-label="SEO"><span class="icon-pencil"><abbr title="" data-original-title="Search Engine Optimisation">SEO</abbr></span></li>
				<li aria-label="Negotiate changes to core insurance engine"><span class="icon-mgmt">Negotiate change to core insurance engine</span></li>
				<li aria-label="Build user interface"><span class="icon-code">Build&nbsp;<abbr title="" data-original-title="User interface">UI</abbr></span></li>
			</ul></li>
		<li class="highlight"><h4>Research methods:</h4>
			<ul class="inline-list">
				<li aria-label="Quantitative Research"><span class="icon-ethno">Qualitative Research</span></li>
				<li aria-label="Behavioural Personas"><span class="icon-people">Behavioural Personas</span></li>
				<li aria-label="Survey Design"><span class="icon-survey">Survey design</span></li>
				<li aria-label="Card Sorting"><span class="icon-card">Card sorting</span></li>
				<li aria-label="Information architecture"><span class="icon-card">Information Architecture</span></li>
				<li aria-label="Remote Usability Testing"><span class="icon-remote">Remote usability testing</span></li>
			</ul></li>
		<li class="highlight"><h4>Toolkit</h4>
			<ul class="inline-list">
				<li aria-label="Sketch"><span class="icon-sketch notranslate">Sketch</span></li>
				<li aria-label="Adobe Photoshop"><span class="icon-photoshop notranslate">Adobe Photoshop</span></li>
				<li aria-label="Adobe Illustrator"><span class="icon-illustrator notranslate">Adobe Illustrator</span></li>
				<li aria-label="Adobe After Effects"><span class="icon-aftereffects notranslate">Adobe After Effects</span></li>
				<li aria-label="Invision"><span class="icon-invision notranslate">Invision</span></li>
				<li aria-label="Userzoom"><span class="icon-userzoom notranslate">Userzoom</span></li>
			</ul></li>
	</ul>
	<h3 class="heading"><%- case2Heading %></h3>
	<q><%- case2Summary %></q>
</header>
<h3>Preface</h3>
<p>Hot off the press from the homepage refactor success, towards the end of that project I had highlighted that their was a need to work more collaboratively.</p><p>What I hadn't mentioned in the last case, <span class="suppress">other than onboarding Customer Services, Marketing and Stakeholders, </span>was to define a symbiant relation with Development.</p><p class="suppress">A key point in my overall strategy is to balance design and research while being empowered to make good on actions done through technology.</p><p class="suppress">In order for that to happen, you have to understand the mechanics behind what elective code-base you are to launch your ideas on and how development execute that on their release pipeline.</p><p class="suppress">What I'm about to broach upon is that transition from design to code and there are a few points to realise in order to understand mitigating problems now is designing a problem out later.</p>

<figure id="ag-agile">
	<img src="/assets/images/ag-case-studies/agile-meeting.jpg" alt="UX view of the agile meet" height="540" width="720" />
	<figcaption><cite href="#ag-agile">fig.0</cite>&nbsp;Agile meeting discussing course of action from each representative departments.</figcaption>
</figure>

<h3>Building in adaptability</h3>
<p>A business and their many counterparts make continual decisions and often pivot ideas. Simply, an instruction can go forward, back or pause.</p><p class="suppress">This translates for development as a story which may change from being released, on hold or removed.</p><p>For designers an experiment will have a short or permanent lifespan depending on statistical significance and the beneficial impact on users.</p><p>If development operate Kanban there is plenty flexibility, under Agile there is at least a 1-2 week commital followed by a sprint reset<span class="suppress"> and waterfall &mdash; well thats trying to get all your ducks in a row on a revolving log</span>.</p>

<blockquote>
	<div class="ntsc"></div>
	<p>We can further adaptability by abstracting the presentation layer<sup><a href="#mvc">1</a></sup> allowing for styling local or global UI changes without compromising functional logic.</p>
	<footer>&mdash; Leigh Laguisma</footer>
</blockquote>

<fn id="mvc"><sup>1&nbsp;</sup>In <abbr title="Model View Controller">MVC</abbr> application development we look at isolating the 'View'(V) to serve an architecture of CSS possibilities using Class namespace hooks. We can unify common interaction behaviours to class components and begin building a design library of interaction experiences or indeed macro test <abbr title="User Interface">UI</abbr> via <abbr title="A variant B variant testing">ABT</abbr>.</fn>

<h3>What does understanding the tech stack do for adaptability?</h3>

<ul class="bullet-spacing">
	<li>We need to offer development a means to log changes to our design to qualify their rollback and debug needs, in the case of a bug fix to production.</li>
	<li>We need portability in a development environment and in this case one that does not compromise <abbr title="Finance Code of Conduct">FCC</abbr> integrity on the handling of code within a finance business.</li>
</ul>

<blockquote>
	<div class="ntsc"></div>
	<p>What <span title="Referring to UX going forward">we</span> need is the ability to update design experiments on production without the bottleneck<span class="suppress"> of waiting in queue for a release point</span>.</p>
	<footer>&mdash; Leigh Laguisma - lessen the dependencies to gain more operating autonomy over your domain.</footer>
</blockquote>

<p>What this transpires to is that we have a business continuity plan<sup><a href="#business-continuity">2</a></sup><span class="suppress"> in place that allows independent work not be compromised by a crisis like a power outage, server corruption or physical building fire</span>.</p><p class="suppress">A means to continue development, adhering to timelines and the abililty for continual experiments without a dependency on development releases.</p>

<fn id="business-continuity"><sup>2&nbsp;</sup><abbr title="Business Continuity Plan">BCP</abbr> is not necessarily a typical element of business a <abbr title="User Experience">UX</abbr> designer gets involved with but my conditions were that there was no Frontend team, I am simply mitigating a risk for such nuances to happen on a critical project to meet its quarterly projections for its investors.</fn>

<h3>Build the A-team</h3>
<p>With the approval from the <abbr title="Chief Executive Officer">CEO</abbr>, I got the green light for a UX researcher for two weeks, to lighten the load in fleshing out the problems discovered from the previous workshop with actual customers.</p><p>Working with the <abbr title="Chief Technical Officer">CTO</abbr> we sought to find a frontend developer<span class="suppress"> to help me build the technical part of the team between Design and Development</span>.</p><p>Specifically someone who'd share my objective of creating a presentation layer independent of the backend<sup><a href="#presentation-layer">2</a></sup></p><p class="suppress">My other criteria was looking for a modern tech stack that would later attract more developers in future, working with current frameworks and libraries.</p>

<fn id="presentation-layer"><sup>2&nbsp;</sup> Presentation layer points to a decoupled visual layer of the codebase (<abbr title="Cascading Stylesheet/JavaScript">CSS/JS</abbr>) allowing for style changes without disrupting the functional code or indeed the backend as a service.</fn>

<h3>Challenge Revised<sup><a href="#real-pain-with-points">3</a></sup></h3>
<fn id="real-pain-with-points"><sup>3&nbsp;</sup> Joining the table with a <abbr title="User Experience">UX</abbr> approach, <span title="UX Research and UX Design going forward">we</span> sought to drive the project based on customer insights to reveal real transformation worth developing.</fn>
<p>The product is essentially a 200+ questionnaire form funnel that determines a level of insurance risk for which the customer is presented with a quote at the end of their journey.</p><p>According to <abbr title="Customer Services Call center">CSCC</abbr> where customers discover a block in their journey through the questionnaire, completion is taken offline onto a direct phone call &mdash; as the only means to self-service their issues.</p><p>Progress through the questionnaire cannot be saved, only the quotation if you complete the journey in one sitting.</p><p class="suppress">There are some questions that require them to physically find out the answers; eg. Distance in meters between your home and a nearby river.</p>

<h3>Facilitating Customer Interviews</h3>
<p>The company provided Amazon vouchers as an incentive to participate.</p><p>Over the course of interviews, that the UX Researcher conducted and I had observed; discovered that customer participation was more the motivator, simply by being part of the process to further develop a product they use - which was fantastic to hear.</p>

<p>The problems we sought to find out from observational listening and what they had recorded in diary format, were some of the following:</p>
<ul class="bullet-spacing">
	<li>Their thoughts on the product before initial engagement</li>
	<li>What other relating products they had experienced</li>
	<li>What made competitor experiences memorable</li>
	<li>What aspect of the quote journey they particularly liked in comparison to our product</li>
	<li>Particular acute pain points of our journey</li>
	<li>Which elective devices they used to access the <abbr title="Quote and Buy">Q&B</abbr> journey</li>
	<li>What motivated them to choose a product</li>
	<li>What key features or elements do they look for to gain confidence</li>
	<li>Why did they become a customer</li>
	<li>Are they quoting for themselves or on behalf of someone</li>
</ul>

<p>These base questions<sup><a href="#question-set">4</a></sup>, provides a fairly robust means to distill into an Excel spreadsheet format.</p><p>All interviews were recorded via remote webcam and notes were written up from listening to the recordings <sup><a href="#ag-interviews">see fig.1</a></sup>.</p>
<fn id="question-set"><sup>4&nbsp;</sup> This is not a comprehensive list of questions, just a sample of what we were looking for.</fn>

<figure id="ag-interviews">
	<img src="/assets/images/ag-case-studies/interview-recording.png" alt="Webcam recording screen" height="364" width="855" />
	<figcaption><cite href="#ag-interviews">fig.1</cite>&nbsp;Self provided webcam recording software screen</figcaption>
</figure>

<blockquote>
	<div class="ntsc"></div>
	<p>Luckily the interviews were transposed to written format as days after the last interview, video files became corrupted and we lost audio!</p>
	<footer>&mdash; Leigh Laguisma - you can never have enough backups for backups.</footer>
</blockquote>

<h3>The synthesis using Affinity diagramming</h3>
<p>Breaking out the rainforest of post-its, themes were derived and patterns collated on a whiteboard room we aptly named 'The War room', for its strategic significance and the mountain of data that had to distill in a short period of time.</p>

<h3><abbr title="Avantia Group">AG</abbr> UX War room</h3>
<figure id="ag-whiteboard" class="iframe-container">
	<div class="three-sixty">
		<iframe frameborder="0" allowfullscreen allow="xr-spatial-tracking; gyroscope; accelerometer" scrolling="no" class="three-sixty-iframe" src="https://kuula.co/share/7dCkN"></iframe>
	</div>
	<figcaption><cite href="#ag-whiteboard">fig.2</cite>&nbsp;One month to capture user behavioural personas, interactive patterns and mental models through the Q&B pipeline.</figcaption>
</figure>

<h3>Mental models derived</h3>
<p>The behavioural aspect plays key to how we can approach the <abbr title="Quote and Buy">Q&B</abbr> structure.</p><p>By understanding customer mental models we can deduce common characteristics by way of repetitive patterns, familiarity and where actions begin to diverge.</p><p>We look to how they think, feel, do at the pain points they discover along their journey.</p>

<figure id="ag-mental-models">
	<img src="/assets/images/ag-case-studies/mental-models.png" alt="Mental model diagrams tracking pre-arrival experience through comparison brands to Q&B funnel" height="518" width="855" />
	<figcaption><cite href="#ag-mental-models">fig.3</cite>&nbsp;We track the decisions matrixes through mental models prior to arriving <abbr title="Quote and Buy">Q&amp;B</abbr> funnel</figcaption>
</figure>

<p>By articulating groups of motivation we can begin to develop a picture of a persona characteristic, we qualify the categorisation by including quotes distilled from ethnographic data.</p>

<p>Fig.4a shows the Researcher Persona in an empathy map form, ready for <abbr title="User Experience">UX</abbr> consumption to inform design decisions. However, stakeholders required a simpler form in which to digest the findings (see fig.4b).</p>

<figure class="row" id="ag-persona" role="group">
	<figure class="col-xs-12 col-md-8 animated">
		<img src="/assets/images/ag-case-studies/sample-persona-in-development.png" alt="Sample persona in development" height="343" width="542" />
		<figcaption><cite href="#ag-persona">fig.4a</cite>&nbsp;Here is a sample of the persona under development illustrating characteristics, quotes and some general attributions</figcaption>
	</figure>
	<figure class="col-xs-12 col-md-4 animated">
		<img src="/assets/images/ag-case-studies/persona-format-for-stakeholders.png" alt="Persona friendly format for stakeholders" height="358" width="257" />
		<figcaption><cite href="#ag-persona">fig.4b</cite>&nbsp;Here is a sample of the format more intuitive for stakeholders, similar layouts to a business canvas.</figcaption>
	</figure>
	<figure class="col-12 animated">
		<img src="/assets/images/ag-case-studies/persona-experience-map-and-overviews.jpg" alt="Persona Overview" height="575" width="827" />
		<figcaption><cite href="#ag-persona">fig.4c</cite>&nbsp;Persona overview with empathy map with swimlanes for scenarios, stages, steps, needs, pain points, opportunities.</figcaption>
	</figure>
</figure>

<h3>Customer Journey</h3>

<p>I prepared a skeletal journey map, <span class="suppress">embedding the question sets (tier 1-2), </span>where the UX Researcher can attach the corresponding pain point, this would help visualise to stakeholders what participants were going through, where and when.</p>

<figure id="qab-journey">
	<img src="/assets/images/ag-case-studies/ag-journey-pain-point-mapping.png" alt="Sample persona in development" height="467" width="855" />
	<figcaption><cite href="#qab-journey">fig.5</cite>&nbsp;Journey map diagramming indicating user pain points and flows to offline</figcaption>
</figure>

<h3>The <abbr title="Information Architecture">IA</abbr> of people</h3>
<p>From my initial interviews with the company heads, it was apparent that everyone had differring opinions on the same terminology and with that only the understanding of their own priority.</p>

<p class="suppress">Jargon can be really frustrating for a new member of the team, especially if the logic keeps changing from department to the next.</p>

<p>If to be effective in communicating the recommendations of our findings, it helps to know the audience and where possible align them to a single design language.</p>

<p>Fig.6a, 6b and 6c was a series of workshops about how each department resonated with keywords, categories and concepts. The objective, to derive a heirarchy of importance and to inform language &ndash; with labelling and for content strategy.</p>

<figure class="row" id="ag-dept-workshops" role="group">
	<figure class="col-xs-12 col-md-4 animated nomargin">
		<img src="/assets/images/ag-case-studies/marketing-workshop.jpg" alt="3 members of the Marketing team depicted at workshop session" height="145" width="257" />
		<figcaption><cite href="#ag-dept-workshops">fig.6a</cite>&nbsp;Members of the Marketing team depicted at workshop session.</figcaption>
	</figure>
	<figure class="col-xs-12 col-md-4 animated nomargin">
		<img src="/assets/images/ag-case-studies/tech-workshop.jpg" alt="2 members of the tech team depicted at workshop session" height="145" width="257" />
		<figcaption><cite href="#ag-dept-workshops">fig.6b</cite>&nbsp;Members of the tech team depicted at workshop session.</figcaption>
	</figure>
	<figure class="col-xs-12 col-md-4 animated nomargin">
		<img src="/assets/images/ag-case-studies/our-new-frontend-dev-joins-the-team.jpg" alt="Our new frontend dev joins the team at the workshop session" height="145" width="257" />
		<figcaption><cite href="#ag-dept-workshops">fig.6c</cite>&nbsp;Our new frontend dev join the team at the workshop session.</figcaption>
	</figure>
</figure>

<p>We ran department workshops with the objective of understanding how they categorise terms, for us to find commonalities shared company-wide.</p>

<p>You are left with a library of keywords to describe meaningful action for both staff and the relatable words used by customers.</p>

<h3>Behavioural Persona discoveries shared with the <abbr title="Executive">Exec</abbr></h3>

<p>In the compressed time made to architect Personas to provide directives for design decisions, we also had to meet the presentation of the third-party incumbent.</p>
<p>However, I didn't want the quality of our output diluted into the ideal three that would have provided sufficient coverage of the user journey to meet a deadline.</p><p>Complex behaviours take time to identify and distill from ethnographic data but in terms of seeing three distinctive personas we were not far in terms of days.</p>

<figure class="row" id="UX-3P-Execs" role="group">
	<figure class="col-xs-12 col-md-6 animated">
		<img src="/assets/images/ag-case-studies/ia-with-the-exec.jpg" alt="The Exec participation in a card sorting exercise" height="225" width="400" />
		<figcaption><cite href="#UX-3P-Execs">fig.7a</cite>&nbsp;The Exec participation in a card sorting exercise.</figcaption>
	</figure>
	<figure class="col-xs-12 col-md-6 animated">
		<img src="/assets/images/ag-case-studies/3p-slides-with-exec.png" alt="Third-party presents to the Exec UI proposal" height="225" width="400" />
		<figcaption><cite href="#UX-3P-Execs">fig.7b</cite>&nbsp;Third-party presents to the Exec UI proposal.</figcaption>
	</figure>
</figure>

<p>We concentrated on defining concrete characteristics of the primary persona, taking the <abbr title="Executive">Exec</abbr> through a typical journey highlighting aspects relevant to their needs and where we currently fail.</p>

<p>Where the third-party visually made simpler versions of the current product, their approach was effectively a reskin of current content.</p>

<blockquote>
	<div class="ntsc"></div>
	<p>The real opportunity, with highest potential impact on a better experience, was to really address the reduction of physical content lesser than the current 200+ question set.</p>
	<footer>&mdash; Leigh Laguisma - the other half of the solution was focused UI and intuitive form interactions.</footer>
</blockquote>

<p>The <abbr title="Executive">Exec</abbr> granted an extension on the <abbr title="User Experience Researcher">UXR</abbr>, to facilitate the completion of the second and third personas, translating the findings with me as I begin to re-work the <abbr title="Third-Party">3P</abbr> proposal for development.</p>

<h3>The UI journey</h3>
<p>The re-working of the <abbr title="Third-Party">3P</abbr> design slides, was to redirect them to a mobile first approach.</p>
<p class="suppress">Up to this point, the <abbr title="Executive">Exec</abbr> had only been presented the desktop screens and nothing existed for mobile.</p>
<p class="suppress">Herein, a number of challenges surfaced, only exemplifying why content should be reduced.</p><p>To expedite the process, I took lead of creating the mobile experience by strategically developing the <abbr title="User Interface">UI</abbr> in an intentional modular fashion.</p>
<p>Content reduction was being worked on simultaneously to inform interactions, it was necessary to produce work in a fluid manner given content size and structure had not been determined.</p>

<figure class="row" id="AG-Atomic-breakdown" role="group">
	<figure class="col-xs-12 col-md-4 animated">
		<img src="/assets/images/ag-case-studies/understanding-content-states.png" alt="Table of content states" height="360" width="257" />
		<figcaption><cite href="#AG-Atomic-breakdown">fig.8a</cite>&nbsp;Table of content states.</figcaption>
	</figure>
	<figure class="col-xs-12 col-md-8 animated">
		<img src="/assets/images/ag-case-studies/mapping-function-characteristics.png" alt="Breakdown of item functional decision flows" height="329" width="542" />
		<figcaption><cite href="#AG-Atomic-breakdown">fig.8b</cite>&nbsp;Breakdown of item functional decision flows.</figcaption>
	</figure>
</figure>

<p>We begin the <abbr title="User Interface">UI</abbr> development by breaking down content and actions to their primitive forms.</p>

<ul class="bullet-spacing">
	<li>An item has three content states: Default, Edit mode, Completed state<sup>fig.8a</sup></li>
	<li>A typical item will either have a binary decision or a decision with preset conditionals<sup>fig.8b</sup></li>
	<li>I composite the item structures based on the <abbr title="Third-Party">3P</abbr> desktop proposal in mobile format<sup>fig.8c</sup></li>
</ul>

<figure id="sketch-composite" class="col-xs-12 col-md-12 animated">
	<img src="/assets/images/ag-case-studies/initial-composite.png" alt="Image depicting mobile UI screens and components refactored from the desktop solution" height="437" width="827" />
	<figcaption><cite>fig.8c</cite>&nbsp;A composite of the desktop experience in mobile produced in Sketch.</figcaption>
</figure>

<h3>Making the sum of all parts</h3>
<p>Next I evaluate where content is heavy, in particular, where there has been a direct translation of current copy. Here I take the opportunity to involve Legal, Standards and Compliance SMEs, to negotiate a simpler format<span class="suppress"> and language given not only a mobile constraint but to align <abbr title="Information Architecture">IA</abbr> discovery</span>.</p>

<p>It was apparent that historically, regulatory constraints<sup><a href="#regulatory-contraints">5</a></sup> were handed down and not questioned. Or at least there was no expectation there was room for flexibility.</p>

<fn id="regulatory-contraints"><sup>5&nbsp;</sup> In <abbr title="Avantia Group">AG</abbr> case the contraints were text volume, windowed buttons and a concern for ensuring a viewing criteria.</fn>

<blockquote>
	<div class="ntsc"></div>
	<p>Legal paragraphs like <abbr title="Terms and Conditions">T&Cs</abbr>, <abbr title="Terms of Service">ToS</abbr> and the interactions to and exit from them can be conditionally specific.</p>
	<footer>&mdash; Leigh Laguisma - as it turns out making such paragraphs easier to consume is both in the interest of the business and their prospective consumer.</footer>
</blockquote>

<h3>Sample UI problem</h3>
<p>Imagine you have the customer perspective<sup>(A)</sup> looking at the <abbr title="User Interface">UI</abbr> and the business<sup>(B)</sup> looking from the otherside of the UI.</p>
<p>From (A) the research shows that customers arrive with a perceived notion of complexity; for example filling out the form, the clarity of language used.</p>
<p>While (B) wants to reduce liability risk, be over cautious with clarity resulting in bespoke language and layout often in legal form to appease regulatory rulings - while hoping their prospective customers converts.</p>

<h3>Approach A: Easing the users input method <sup>1</sup></h3>
<p>By consolidating the input control to a modal popup (Bootstrap X-Editable) per input field; interaction is simplified, contextual and more focused at the task at hand.</p>
<p>Why? The modal brings into focus your options limited to filling out the elected input field. We can also serve hints and inline validation so that the outcome will either be correct or the task may be cancelled by the user.</p>
<p>Indirectly, this modal prevents the page UI from being cluttered. It also builds in UI familiarity and can allow us to cater for the "Time Merchant" persona by exclusively providing click options giving them the ability speed through the experience utilising consistent interactions.</p>

<fn id="demo-modal-editor"><sup>1&nbsp;</sup> You may preview the modal editor in the demo under the <a class="new-window" href="/assets/downloads/ag-gel-solution/editor.html">Editor</a> menu.</fn>

<div class="row">
	<div class="col-md-8">
		<h3>Approach B: Upholding regulatory requirements <sup>2</sup></h3>
		<h4>I'm unable to provide a captured comparison of what existed before but its best described as:</h4>
		<p>
			<ul class="bullet-spacing">
				<li>Forcing customers to read paragraphs that were limited to three lines</li>
				<li>Paginating content over four plus pages (indicated as 4 stages but can up be up to 25 pages depending on selections)</li>
				<li>A submit button to confirm the task of reading said content</li>
				<li>All displayed within a small popup window where the frame width was shorter than the content revealing horizontal and vertical scrollbars</li>
				<li>Submit button hidden from view given the small frame display</li>
			</ul>
		</p>
		<p class="suppress">This assumed would ensure customers had read the content.<br><br></p>
		<p>To mitigate the afforded poor experience, which purpose is hidden from users, we resolve the problem with transparency and <abbr title="User Interface">UI</abbr> logic.</p>
		<p>I group content into cards which can nest further sub cards. Then apply status themes to indicate whether interactions are mandatory, unread or has an updated state.</p>
		<p>Further, any interactions that changes a state of another card gets rendered in the modal as a warning before they commit to an answer. If they do commit the change the corresponding cards that have their value modified changes to the updated theme state.</p>
		<p class="suppress">This <abbr title="User Interface">UI</abbr> logic satisfies the regulatory condition that customers are made aware of each step of filling out the questionnaire.</p>

		<fn id="demo-card-design"><sup>2&nbsp;</sup> You may preview the content grouping in the demo under the <a class="new-window" href="/assets/downloads/ag-gel-solution/cards.html">Cards</a> menu.</fn>
	</div>
	<div class="col-md-4 padding-top-50">
		<figure id="visual-ui-grouping">
			<img src="/assets/images/ag-case-studies/card-grouping.gif" alt="Image depicting UI accordion animation upon completion of a typical section" height="2806" width="750" />
			<figcaption><cite>fig.9</cite>&nbsp;By creating meaningful animation, customers may visualise completed sections contextually and have their expectations set for continued interaction.</figcaption>
		</figure>
	</div>
</div>

<h3>Testing UI interaction with customers</h3>
<p>Iteratively I test all new <abbr title="User Interface">UI</abbr> nuances with customers that had previously agreed to participate after having interviewed them earlier in the discovery phase.</p>

<figure class="col-xs-12 col-md-12" id="Morae-UI-test">
	<img src="/assets/images/ag-case-studies/remote-testing.jpg" alt="Image depicting remote tester on Morae providing feedback for new UI design interactions" height="458" width="720" />
	<figcaption><cite>fig.10</cite>&nbsp;Using Morae we provided InVision prototypes that contained real offline data but displayed using the new UI design. Group of testers were scripted with unassisted tasks and another were unscripted as exploritory research.</figcaption>
</figure>

<h3>Adaptable Design System as a <abbr title="General Experience Language">GEL</abbr></h3>
<p>One of the most important aspects of a <abbr title="User Experience and User Interface">UX+UI</abbr> solution is for it to be shared. The following demo shows the components that make up <abbr title="Avantia Group">AG</abbr> <abbr title="Quote and Buy">Q&amp;B</abbr> product experience.</p><p class="suppress">The system has been written for anyone in the development team to create any interface without the need to consult on how to present form interactions or at least give them the confidence that the outcome will be a consistent experience.</p>
<p class="flex-center">
	<a class="new-window demo-button" href="/assets/downloads/ag-gel-solution/index.html" title="Explore the AG UI GEL website">Play demo</a>
</p>

<h3>Product in Context</h3>
<figure class="noshadow" id="ag-homepage-desktop-refactor">
	<img src="/assets/images/ag-case-studies/desktop-mock-qb.png" alt="Mock view of homepage on smartphone" height="333" width="855" />
	<div class="row">
		<figcaption class="col-sm-12 col-md-4 nomarginright" id="ag-refactor-features"><cite href="#ag-homepage-desktop-refactor">fig.9a</cite>&nbsp;Current and redesiged view of the <abbr title="Quote and Buy">Q&amp;B</abbr> Journey on desktop.
			<ul class="bullet-spacing">
				<li>Fully scrollable journey vs vague 4 section with hidden interstitial steps</li>
				<li>Simplified content by reducing 200+ question-set</li>
				<li>Noise reduction from competing <abbr="Call-to-Action">CTA</abbr> buttons</li>
				<li>Nudge persuasion to the next relevant scrollable content</li>
				<li>Background image offering a softer screen on the eyes for extended visits</li>
			</ul>
		</figcaption>
		<figure class="col-sm-12 col-md-6 noshadow" id="ag-homepage-tablet-refactor">
			<img src="/assets/images/ag-case-studies/ipad-mock-qb.png" alt="Mock view of homepage on tablet" height="305" width="414" />
			<figcaption>
				<cite href="#ag-homepage-tablet-refactor">fig.9b</cite>&nbsp;View of <abbr title="Quote and Buy">Q&amp;B</abbr> Journey on tablet using built-in theme skin capabilty.
			</figcaption>
		</figure>
	</div>
</figure>

<h3>Behavioural Personas in Play</h3>
<ul class="bullet-spacing">
	<li>Focused click interactions per question for 'Time Merchant' persona to speed through the journey</li>
	<li>A dynamic quote value that changes depending on your question choices for 'The Upfront' persona to gauge true risk</li>
	<li>Contextual informational data per question/section with social proofing for 'The Researcher' persona from having to source same information offsite</li>
	<li>'Save session' button to accomodate all personas to stop, pause, leave and return to the journey without having to re-register or feel the need to keep a session alive</li>
</ul>

<figure class="noshadow fx animated" id="ag-homepage-mobile-refactor">
	<img class="dip8p-shadow" src="/assets/images/ag-case-studies/iphone-mock-qb.gif" alt="Mock view of homepage on smartphone" height="468" width="858" />
	<figcaption><cite href="#ag-homepage-mobile-refactor">fig.10</cite>&nbsp;Current and redesiged view of <abbr title="Quote and Buy">Q&amp;B</abbr> Journey on smartphone.
		<ul class="bullet-spacing">
			<li>Text length defined for mobile-first</li>
			<li>T-shaped journey to keep experience focused on conversion</li>
			<li>Subtle hint to scrollable content not suddenly bombarded with adverts</li>
		</ul>
	</figcaption>
</figure>

<h3>In conclusion</h3>
<p>There were many positive outcomes from this endeavour, namely a better mobile channel that converted users from fearing that they can only accomplish their task on a desktop. An approach that included the ability to adapt to new needs and a robust team structure geared for change.</p>
<p>There were new opportunities to explore post launch such as an on-demand risk analysis - for those edge cases that require more detailed scrutiny; usually resulting in abandoning the online experience for an offline resolution.</p>
<p>The design system is highly configurable allowing for some considerable futureproofing. Stemming from thematic UI, an abstraction of the presentation gives opportunity for flexible but modern tech stack - something I feel helps future recruitment.</p>
<p class="suppress">Sadly, I was unable to see the launch, having to leave the company to move abroad suddenly but appreciative to hear that my handover was praised for its thoroughness and I'd like to think that the numerous awards the company had received that year had in some way been realised from my efforts to improve the business.</p>

<footer>
	<h3>Avantia Group</h3>
	<ul class="separator-list">
		<li>2016-2017 influence to net worth: &pound;738,842 <sup><abbr title="+30% Year on year">+30% YoY</abbr></sup></li>
		<li>2014-2015 influence to net worth: &pound;1'313,648 <sup><abbr title="+50% Year on year">+50% YoY</abbr></sup></li>
	</ul>
</footer>
