<!doctype html>
<html lang="en-gb">
	<head>
		<title>Floating Animation</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="SuperGUi.co - SuperGUi is pseudo Leigh Laguisma, a 20 year design veteran helping businesses on user experience and interface challenges. From concept to frontend, Leigh has been the first-in UX designer team of one integrating design thinking into traditional mindsets.">
		<style>
			body {
				background-color: #333;
				box-sizing: border-box;
				color: #666;
				margin: 0;
				padding: 0;
			}

			.hot-tip[data-container=hot-tip-1]{
				top: 13vh;
				left: 3vw;
			}

			.hot-tip[data-container=hot-tip-2]{
				top: 10.1vh;
				right: 1.7vw;
				height: 840px;
			}

			.hot-tip[data-container=hot-tip-3]{
				top: 2vh;
				left: 42vw;
			}

			.hot-tip[data-container=hot-tip-4]{
				top: 51vh;
				left: 10vw;
			}

			.hot-tip {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 2vw;
				max-width: 33%;
				position: absolute;
				width: 33%;
				height: 180px;
				z-index: 8000;
			}

			.floating-div {
				background-color: transparent;
				border-color: rgba(102, 102, 102, .5);
				border-style: solid;
				border-width: thin;
				border-radius: 5px;
				box-sizing: border-box;
				font-family: Roboto;
				font-size: .8em;
				margin: 2vw;
				max-width: 20vw;
				padding: 8px;
				position: absolute;
				box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.6);
				transform: translatey(0px);
				animation: floatingAnimation 4s ease-in-out infinite;
			}

			.floating-div p {
				margin: 0;
			}

			svg {
				position: absolute;
				top: 0;
				left: 0;
				overflow: visible;
				width: 100%;
				height: 100%;
			}

			line {
				stroke: #666;
				stroke-width: 0.05%;
			}

			circle {
				fill: #666;
			}

			@keyframes floatingAnimation {
				0% {
					box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
					transform: translatey(0px);
				}
				50% {
					box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
					transform: translatey(-20px);
				}
				100% {
					box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
					transform: translatey(0px);
				}
			}

			/* dummy target */
			#target-div {
				background-color: transparent;
				border-color: rgba(102, 102, 102, .5);
				border-style: solid;
				border-width: thin;
				border-radius: 5px;
				box-sizing: border-box;
				font-family: Roboto;
				font-size: .8em;
				margin: 2vw;
				max-width: 20vw;
				padding: 8px;
				position: absolute;
				top: 0%;
				left: 30%;
			}

			#target-div p {
				margin: 0;
			}

			#target-div p:before { 
				content: "target Me";
			}
		</style>
	</head>

	<body>
		<div class="hot-tip bl" data-container="hot-tip-1">
			<div class="floating-div">
				<p>Animations are rooted in nature to be natural to the eye</p>
			</div>
			<svg class="line-svg" data-container="hot-tip-1">
				<line class="line"></line>
				<circle class="dot-a" r="3" />
				<circle class="dot-b" r="3" />
			</svg>
		</div>

		<div class="hot-tip tr" data-container="hot-tip-2">
			<div class="floating-div">
				<p>You can root content for all or discern by choice the latter is simpler and intentional</p>
			</div>
			<svg class="line-svg" data-container="hot-tip-2">
				<line class="line"></line>
				<circle class="dot-a" r="3" />
				<circle class="dot-b" r="3" />
			</svg>
		</div>

		<div class="hot-tip tl appoint-target-div" data-container="hot-tip-3">
			<div class="floating-div">
				<p>Sometimes Case Studies can only encapsulate the process allowed remember context is the person</p>
			</div>
			<svg class="line-svg" data-container="hot-tip-3">
				<line class="line">Provide a short route knowing that the scenic route is likely plan A</line>
				<circle class="dot-a" r="3" />
				<circle class="dot-b" r="3" />
			</svg>
		</div>

		<div class="hot-tip br" data-container="hot-tip-4">
			<div class="floating-div">
				<p>You hire between the ears not whether what they done in the past matches your criteria</p>
			</div>
			<svg class="line-svg" data-container="hot-tip-4">
				<line class="line"></line>
				<circle class="dot-a" r="3" />
				<circle class="dot-b" r="3" />
			</svg>
		</div>

		<div id="target-div"><p></p></div>

		<script>
			// Fetch elements outside the animation loop
			const containers = Array.from(document.querySelectorAll('.hot-tip'));

			const elements = containers.map((container) => {
				const containerId = container.getAttribute('data-container');
				const floatingDiv = container.querySelector('.floating-div');
				const svg = container.querySelector('.line-svg');
				const line = container.querySelector('.line');
				const dotA = container.querySelector('.dot-a');
				const dotB = container.querySelector('.dot-b');

				let lineStartX, lineStartY, lineEndX, lineEndY;

				const containerClass = container.getAttribute('class');
				if (containerClass.includes('tr')) {
					lineStartX = container.offsetWidth;
					lineStartY = 0;
					lineEndX = floatingDiv.getBoundingClientRect().right - container.getBoundingClientRect().left;
					lineEndY = floatingDiv.getBoundingClientRect().top - container.getBoundingClientRect().top;
				} else if (containerClass.includes('bl')) {
					lineStartX = 0;
					lineStartY = container.offsetHeight;
					lineEndX = floatingDiv.getBoundingClientRect().height - container.getBoundingClientRect().left;
					lineEndY = floatingDiv.getBoundingClientRect().height - container.getBoundingClientRect().top;
				} else if (containerClass.includes('br')) {
					lineStartX = container.offsetWidth;
					lineStartY = container.offsetHeight;
					lineEndX = floatingDiv.getBoundingClientRect().right - container.getBoundingClientRect().left;
					lineEndY = floatingDiv.getBoundingClientRect().bottom - container.getBoundingClientRect().top;
				} else {
					// Default class 'tl'
					lineStartX = 0;
					lineStartY = 0;
					lineEndX = floatingDiv.getBoundingClientRect().left - container.getBoundingClientRect().left;
					lineEndY = floatingDiv.getBoundingClientRect().top - container.getBoundingClientRect().top;
				}

				let targetId = null;
				const classList = container.classList;

				classList.forEach((className) => {
					if (className.startsWith('appoint-')) {
						targetId = className.substring(8);
					}
				});

				if (targetId) {
					const targetElement = document.getElementById(targetId);

					if (targetElement) {
						const targetRect = targetElement.getBoundingClientRect();
						lineStartX = targetRect.right - container.getBoundingClientRect().left;
						lineStartY = targetRect.bottom - container.getBoundingClientRect().top;
					}
				}

				line.setAttribute('x1', lineStartX);
				line.setAttribute('y1', lineStartY);
				line.setAttribute('x2', lineEndX);
				line.setAttribute('y2', lineEndY);

				dotA.setAttribute('cx', lineStartX);
				dotA.setAttribute('cy', lineStartY);
				dotB.setAttribute('cx', lineEndX);
				dotB.setAttribute('cy', lineEndY);

				return {
					containerId,
					container,
					floatingDiv,
					svg,
					line,
					dotA,
					dotB,
					targetId,
				};
			});

			// Update line position based on div's animation
			function updateLinePosition(element) {
				const { container, floatingDiv, svg, line, dotA, dotB } = element;
				const containerRect = container.getBoundingClientRect();
				const divRect = floatingDiv.getBoundingClientRect();
				const containerClass = container.getAttribute('class');
				const appointClass = Array.from(container.classList).find((className) => className.startsWith('appoint-'));
				const targetId = appointClass ? appointClass.substring(8) : null;
				let lineStartX, lineStartY, lineEndX, lineEndY;

				if (targetId) {
					const targetElement = document.getElementById(targetId);

					if (targetElement) {
						const targetRect = targetElement.getBoundingClientRect();
						lineStartX = targetRect.right - containerRect.left;
						lineStartY = targetRect.bottom - containerRect.top;
						lineEndX = divRect.left - containerRect.left;
						lineEndY = divRect.top - containerRect.top;
					}
				} else if (containerClass.includes('tl') && !containerClass.includes('appoint-')) {
					lineStartX = 0;
					lineStartY = 0;
					lineEndX = divRect.left - containerRect.left;
					lineEndY = divRect.top - containerRect.top;
				} else if (containerClass.includes('tr') && !containerClass.includes('appoint-')) {
					lineStartX = containerRect.width;
					lineStartY = 0;
					lineEndX = divRect.right - containerRect.left;
					lineEndY = divRect.top - containerRect.top;
				} else if (containerClass.includes('bl') && !containerClass.includes('appoint-')) {
					lineStartX = 0;
					lineStartY = containerRect.height;
					lineEndX = divRect.left - containerRect.left;
					lineEndY = divRect.bottom - containerRect.top;
				} else if (containerClass.includes('br') && !containerClass.includes('appoint-')) {
					lineStartX = containerRect.width;
					lineStartY = containerRect.height;
					lineEndX = divRect.right - containerRect.left;
					lineEndY = divRect.bottom - containerRect.top;
				} else {
					// Default class 'tl'
					lineStartX = 0;
					lineStartY = 0;
					lineEndX = divRect.left - containerRect.left;
					lineEndY = divRect.top - containerRect.top;
				}

				line.setAttribute('x1', lineStartX);
				line.setAttribute('y1', lineStartY);
				line.setAttribute('x2', lineEndX);
				line.setAttribute('y2', lineEndY);

				dotA.setAttribute('cx', lineStartX);
				dotA.setAttribute('cy', lineStartY);
				dotB.setAttribute('cx', lineEndX);
				dotB.setAttribute('cy', lineEndY);
			}



			// Generate animation keyframes for each container with a delay
			function generateAnimationKeyframes(element, delay) {
				const { floatingDiv } = element;
				const animationDuration = 4; // Animation duration in seconds
				const animationDelay = delay * 0.5; // Adjust delay as desired

				const keyframes = `@keyframes floatingAnimation-${element.containerId} {
					0% {
					box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
					transform: translateY(0px);
					}
					50% {
					box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
					transform: translateY(-20px);
					}
					100% {
					box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.5);
					transform: translateY(0px);
					}
					}`;

				const styleSheet = document.styleSheets[0];
				styleSheet.insertRule(keyframes, styleSheet.cssRules.length);

				floatingDiv.style.animation = `floatingAnimation-${element.containerId} ${animationDuration}s ease-in-out infinite`;
				floatingDiv.style.animationDelay = `${animationDelay}s`;
			}

			// Call updateLinePosition initially and on each animation frame for each container
			let lastTimestamp = 0;

			function animate(timestamp) {
				const deltaTime = timestamp - lastTimestamp;
				const frameRate = 1000 / 30; // Update 30 times per second (adjust as desired)

				if (deltaTime >= frameRate) {
					elements.forEach((element, index) => {
						try {
							updateLinePosition(element);
							generateAnimationKeyframes(element, index);
						} catch (error) {
							console.error('An error occurred:', error);
						}
					});

					lastTimestamp = timestamp;
				}

				requestAnimationFrame(animate);
			}

			animate();
		</script>
	</body>
</html>

