<h3>Workflow of the Past</h3><br>
<p>In the past, my workflow involved slicing and dicing in Photoshop, followed by refinement in Dreamweaver, and content management in <a class="new-window" href="https://en.wikipedia.org/wiki/Adobe_Contribute" title="Lookup Adobe Contribute" rel="noreferrer noopener">Contribute</a>. To avoid code bloat, I turned to <a class="new-window" href="https://en.wikipedia.org/wiki/Macromedia_HomeSite" title="Lookup Macrodmedia Homesite">Homesite</a>.</p>

<p>Before that, I experimented with 3D Studio Max, but later transitioned to a lesser-known tool called <a class="new-window" href="https://en.wikipedia.org/wiki/TrueSpace" title="Lookup trueSpace">trueSpace 3D</a>. I found trueSpace 3D to be easier and faster to use, making it my preferred choice.</p>

<h3>Today's workflow</h3>

<ul class="separator-list">
    <li class="highlight">
        <span class="highlighter">
			<span class="highlighted">
                <h4>Tool-stack:</h4>
        		<ul class="inline-list">
                    <li aria-label="Adobe After Effects"><span title="Adobe After Effects" class="icon-aftereffects"></span></li>
                    <li aria-label="Adobe Illustrator"><span title="Adobe Illustrator" class="icon-illustrator"></span></li>
                    <li aria-label="Adobe Photoshop"><span title="Adobe Photoshop" class="icon-photoshop"></span></li>
        			<li aria-label="Miro"><span title="Miro" class="icon-miro"></span></li>
        			<li aria-label="Mural"><span title="Mural" class="icon-mural"></span></li>
                    <li aria-label="AxureRP"><span title="AxureRP" class="icon-axure"></span></li>
                    <li aria-label="Invision"><span title="Invision" class="icon-invision"></span></li>
        			<li aria-label="Userzoom"><span title="Userzoom" class="icon-userzoom"></span></li>
        			<li aria-label="Sketch"><span title="Sketch" class="icon-sketch"></span></li>
                    <li aria-label="Figma"><span title="figma" class="icon-figma"></span></li>
                    <li aria-label="Slack"><span title="Slack" class="icon-slack"></span></li>
                    <li aria-label="Trello"><span title="Trello" class="icon-trello"></span></li>
                    <li aria-label="Atom"><span title="Atom" class="icon-atom"></span></li>
                    <li aria-label="Sublime Text"><span title="Sublime Text" class="icon-sublime"></span></li>
                    <li aria-label="HTML5"><span title="HTML5" class="icon-html5"></span></li>
                    <li aria-label="SASS"><span title="SASS" class="icon-sass"></span></li>
                    <li aria-label="EmberJS"><span title="EmberJS" class="icon-emberjs"></span></li>
                    <li aria-label="JavaScript"><span title="JavaScript" class="icon-javascript"></span></li>
                    <li aria-label="jQuery"><span title="jquery" class="icon-jquery"></span></li>
                    <li aria-label="nodejs"><span title="NodeJS" class="icon-nodejs"></span></li>
                    <li aria-label="npm"><span title="NPM" class="icon-npm"></span></li>
                    <li aria-label="GIT"><span title="GIT" class="icon-git"></span></li>
        		</ul>
            </span>
        </span>
    </li>
</ul>

<p>In today's landscape, there's no shortage of tools to choose from. I primarily work with <a class="new-window" href="https://en.wikipedia.org/wiki/Sketch_(software)" title="Lookup Sketch" rel="noreferrer noopener">Sketch</a>, but I also have a soft spot for Figma as a versatile design and proofing tool.</p>

<p>When it comes to wireframing, I adapt based on the context. I've employed traditional paper and pencil for rapid prototypes, utilized Balsamiq for quick functional maps, and turned to AxureRP for intricate logic wireframes</p>

<p>For high-fidelity wireframes, I prefer to hand over to myself—I transition seamlessly from design to development, using HTML5, SASS, JS, and jQuery, all wrapped in NodeJS. This allows me to maintain control over the <abbr title="UI part of my self described title">UI</abbr> design while ensuring a smooth handover.</p>
