<script>
	// Initialise hide pseudo img in header on scroll out of view
	hidePseudoImg('#view-ux-story','.ux-content .descriptor');
</script>
<style>
	@import url('/assets/css/embed-medium/embed-medium.min.css<%= versionTimestamp %>');
	@import url('/assets/css/progress-marker/progress-marker.min.css<%= versionTimestamp %>');
</style>

<header id="view-ux-story">
	<h3 class="heading"><%- storyUXHeading %></h3>
	<q><%- storyUXSummary %></q>
</header>

<div class="embed-medium">
	<div class="card mb-3 mx-auto mr-5 ">
		<div class="card-body">
			<figure><img alt="An empty chair is reclined back in a dentist room. A picture of M.C. Escher’s Waterfall drawing adorns the ceiling for the benefit of a patients view." src="https://cdn-images-1.medium.com/max/700/1*bCHKt7ii2a-HeHcXSjRvlw.png" /><figcaption>Aged 14 upon a dentist chair I decided I wanted to be a designer</figcaption></figure>
			<article>
				<section id="situ">
					<h5 class="card-title">UX matters</h5>
					<p><abbr title="User Experience">UX</abbr> really empowers designers to make informed decisions while removing ego from the equation when defending design direction.</p>

					<p>Understanding how users tick and what motivates their <abbr title="User Interface">UI</abbr> interactions flattens the learning curve.</p><p class="suppress">However, whatever restriction is applied to you in terms of discovering your users should only mean that your progress to a total user view is obtained over a longer time.</p>

					<p>What is critical is that your research pushes the needle forward no matter how small that progress may be.</p>
					
					<blockquote>
						<p>Often the best experience is the one you don't realise you're already having.</p>
						<footer>&mdash; Leigh Laguisma, <cite>We often remember bad experiences than good ones.</cite></footer>
					</blockquote>

					<p>On the flipside, the experience has to take into account the context the user find themselves in. For instance, designing for a trading platform where output changes frequently, the information has to be formatted in such a way that signals are consumed quickly in order to make real-time decisions.</p>

					<p>Further, interactions could have consequential results, so you may need to consider ranges of ease for binary switches.</p>

					<p>Users also have limitations, especially those who are impaired; their predication must be factored if to appeal to a holistic adoption.</p>

					<figure class="fg1 zoomIn">
						<img src="/assets/images/error-pages/iceberg.jpg" alt="Sample alt text" height="570" width="855" />
						<figcaption>fig.1&nbsp;Sample figcaption statement.</figcaption>
					</figure>

				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="task">
					<h5 class="card-title">Deconstruction</h5>
					<p>When you evaluate the current experience you are concurrently establishing a basis. A basis from which problems can be diagnosed, categorised and measured for value.</p><p>My strategy is to avoid designing in a way that the solution cannot be reused. In much the same mantra as developers should employ <abbr title="Do not Repeat Yourself">DRY</abbr> techniques.</p>

					<p>The first UX task should both answer the case criteria and model the process you plan to build upon for the next.</p>
					
					<p>The engagement process should be repeatable or improved and conclusive findings should be documented at a single source available to the company at large.</p>

					<p>Personally, I'm not a fan of hard documentation, as such artifacts require maintenance, go out of date and can eventually be an overhead that takes away productivity.<p>

					<p>My preference is to curate a design system which is internally live, meaning its environment accounts from current state.</p>
					
					<p>Contributions towards the design system immediately benefits all instaneously.</p>
					
					<p>It also provides a means to test isolated projects with its counterparts, useful for debugging conflicts.</p>

					<h3>Other benefits from a design system:</h3>
					<ul>
						<li>Provides readiness for scalling</li>
						<li>Reduces the time it takes to build, update or apply changes</li>
						<li>Increases coverage of consistency</li>
						<li>Duplicating assets means you have a headstart from a compatibility point</li>
						<li>Reduces Research costs and development</li>
					</ul>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="action">
					<h5 class="card-title">Action</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="result">
					<h5 class="card-title">Result</h5>
					<p>Paragraph</p>
					<blockquote>A quote</blockquote>
				</section>
			</article>
			<svg viewBox="0 0 1043.63 592.71" class="medium-read-more" style="height: 23px; margin: 16px 0; transform: rotate(180deg);"><g data-name="Layer 2"><g data-name="Layer 1">
				<path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path>
			</svg>
			<a href="#exit-blog-story-7" class="btn btn-success btn-sm ux-close-btn">Exit blog stories</a>
		</div>
	</div>
</div>