<script>
	// Initialise hide pseudo img in header on scroll out of view
	hidePseudoImg('#view-uxd-story','.uxd-content .descriptor');

	(function() {
		// Swap image on hover/
		let swapObj = document.querySelectorAll('.swap'); // use querySelectorAll to get a NodeList

		swapObj.forEach(function(element) {  // loop through each element
			let swapTrg = element.querySelector('img');  // use querySelector to find img inside the current element
			let swapSrc = element.getAttribute('data-image-src');
			let swapUrl = element.getAttribute('data-image-overlay');

			if (debug) debugLog('img Src = ' + swapSrc + ', img Url = ' + swapUrl);

			// Add event listeners for hover (mouseenter and mouseleave)
			element.addEventListener('mouseenter', function() {
				swapTrg.setAttribute('src', swapUrl);
			});

			element.addEventListener('mouseleave', function() {
				swapTrg.setAttribute('src', swapSrc);
			});
		});
	})();
</script>
<style>
	@import url('/assets/css/embed-medium/embed-medium.min.css<%= versionTimestamp %>');
	@import url('/assets/css/progress-marker/progress-marker.min.css<%= versionTimestamp %>');
</style>
<header id="view-uxd-story">
	<h3 class="heading"><%- storyUXDHeading %></h3>
	<q><span>@leighlaguisma</span> <%- storyUXDSummary %></q>
	<h4 class="suppress">Roles, methods &amp; tools:</h4>
	<ul class="suppress"><%- storyUXDRoleTags %><%- storyUXDResearchTags %><%- storyUXDToolkitTags %></ul>
</header>

<div class="embed-medium">
	<div class="card mb-3 mx-auto mr-5 ">
		<div class="card-body">
			<article>
				<section id="overview">
					<h2>Overview:</h2>
					<p>Transitioning from a single-page refactor aimed at enhancing conversion rates to a broader focus on aligning with consumer needs, this project marks a shift towards a more consumer-centric approach.</p>
					
					<p>My objective is to introduce a fresh perspective, complement existing customer participation initiatives<span class="suppress">, leverage a richer dataset, and inform the design direction</span>.</p>

					<p>I'm to define a new approach, in addition to current customer participation exercises, to benefit from a richer data set and derive the design direction.</p>

					<p><span class="suppress">Assigned to a project already in progress, dubbed &lsquo;Quote to buy,&rsquo; my task was akin to a salvage mission. </span>The project aimed to streamline and optimize the quote journey &mdash; a critical revenue stream for AG.</p>

					<blockquote>The goal is to evaluate current efforts and imbue the process with user-centric values.</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="why">
					<h2>Why:</h2>
					<p class="suppress">Upon joining, I found a vendor engaged in a project to redefine the Quote and Buy (QB) product through redesign efforts. Their approach relied heavily on focus group data and brainstorming concepts to achieve a '<a href="https://dropbox.design/article/developing-a-north-star-product-experience" class="new_window" target="_blank" rel="noopener nofollow">north star</a>' experience. Desktop wireframes were the primary assets used to visualize the solution.</p>

					<p class="suppress">My exploration revealed that the research segment had predominantly relied on focus groups as the primary data source. However, the findings from these groups mainly consisted of anecdotal references to an ideal finance product, lacking alignment with real-world issues users faced with the current product.</p>

					<p>Existing quantitative data and internal observations indicated a high bounce rate during the quotation process.</p>
					
					<p>Further analysis of participant behavior revealed that users frequently abandoned the journey due to the excessive length of form filling, coupled with the assumption that users had all necessary data readily available.</p>

					<p>Moreover, any friction encountered during the journey often redirected customers to an offline Customer Service call center.</p>
					
					<p>However, the system in place for Customer Service agents to navigate user issues did not align with the user's perspective, hampering efficient problem discovery.</p>

					<p class="suppress">Furthermore, the designs were primarily desktop-first, with minimal consideration for mobile optimization. This approach resulted in a superficial reskin that overlooked the significant potential for conversion on mobile devices.</p>

					<figure class="ntsc lt700">
						<img src="/assets/images/ag-case-studies/vendor-assets.png" class="card-img-top" alt="Vendor page designs laid out on table">
						<figcaption>Build upon what you have, but in this case, from a mobile-first approach.</figcaption>
					</figure>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="users-audience">
					<h2>User &amp; Audience:</h2>
					<p class="suppress">Initial efforts seemed to prioritize a research-first approach, but upon closer examination, I identified opportunities to refine the research methodology for better outcomes.</p>

					<p>The planned qualitative research aimed to encompass various participant segments, including:<br><br>

					* New and tenured customers<br><br>
					* Non-customers<br><br>
					* Speculative browsers<br><br>
					* Business users</p>

					<p>The primary target audience comprises general home insurance customers. AG's unique value proposition lies in its specialization in catering to customers who may not qualify for coverage with larger competitor brands.</p>
					
					<p>A comprehensive set of questions allows AG to factor risks more accurately.</p>

					<figure class="ntsc lt700">
						<img src="/assets/images/ag-case-studies/midjourney-gen-user-test.png" class="card-img-top" alt="MidJourney generated an AI impression of an at-office lab user test, although in reality, we had a humble meeting room shared across the company">
						<figcaption>MidJourney generated AI impression of an at-office lab user test, although, in reality, we had a humble meeting room shared across the company.</figcaption>
					</figure>

					<p>Key points regarding participant selection and engagement include:<br><br>

					* Twenty-eight participants were selected based on survey screeners.<br><br>
					* Interviews were conducted both in-person and remotely, in-office and at-home settings.<br><br>
					* Participants were offered the opportunity to return for further study after the initial test.<br><br>
					* While Amazon vouchers were provided as motivational incentives, it was noted that participants were equally motivated by the chance to contribute improvements to the product.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="roles-responsibilities">
					<h2>Roles &amp; Responsibilities:</h2>
					<p>As the principal experience designer, I wore multiple hats, particularly given the scale of the project, necessitating negotiations for additional resources.</p>

					<p>Firstly, to maintain the quality of the effort and minimize the risk of design and technical debt, I prioritized securing a dedicated User Researcher and Lead Developer to enhance productivity.</p>

					<p>Collaborating with HR and Development, we planned and allocated resources to address both immediate needs for infrastructure ramp-up and alignment with the project's long-term goals.</p>

					<p>This involved taking the lead in hiring for roles such as User Researcher and Front-end Developer, along with the following responsibilities:<br><br>

					* Ensuring design and development direction is driven by the needs discovered by users<br><br>
					* Sharing research findings with stakeholders across the business<br><br>
					* Monitoring key performance indicators (KPIs) and adjusting strategies based on data insights<br><br>
					* Integrating user feedback as a regular part of the production pipeline<br><br>
					* Repurposing vendor assets to create proposition decks for redefining product functionality with stakeholders<br><br>
					* Continuously evaluating the production pipeline across departments with Project Managers and Department Heads, focusing on resource allocation, hand-over fidelity, standards and compliance<br><br>
					* Providing mentorship, direction, and support to team members<br><br>
					* Allocating personal resources as an individual contributor across research planning, prototyping, and strategy development</p>

					<figure class="ntsc lt700">
						<img src="/assets/images/ag-case-studies/individual-contributor-split-with-strategizing.png" class="card-img-top" alt="The UX team forms lists for exploratory investigation">
						<figcaption>The planning effect in exercise, informing the strategy.</figcaption>
					</figure>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="scope-constraints">
					<h2>Scope &amp; Constraints:</h2>
					<p>The scope of the project, while extensive, primarily focused on achieving key objectives, with some emphasizing non-visual aspects of UX.</p>

					<p>Project steering demanded a User-Centric approach to both strategy and implementation. This necessitated defining a design language that could be easily understood and shared across all departments.</p>

					<p>At its core, the scope encompassed the entire &lsquo;Quote and Buy&rsquo; system, aiming for content refinement and alignment across departments.</p>

					<p>Constraints arose from various factors:<br><br>
						* Limitations in personnel resources<br><br>
						* Onboarding process for new team members<br><br>
						* Reliance on qualitative research methods to inform solutions<br><br>
						* Constraints imposed by the existing tech stack while ensuring uninterrupted service for customers.</p>

					<p>Additionally, constraints were experienced due to friction with established practices reluctant to embrace change and a work culture that had not fully embraced adaptability, particularly with the influx of new staff.</p>

					<p>Furthermore, an immovable deadline was set before several changes occurred within the business.</p>

					<blockquote>The challenge of integrating a new department while maintaining UX+UI quality required careful task prioritization based on impact, effort, and current focus.</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="process-what-you-did">
					<h2>Process &amp; What You Did:</h2>
					<h3>Project Outline</h3>
					<ol>
						<li>&mdash; <strong>Define hypotheses to test</strong>: Pre-understanding of users motivated to search for an insurance quote, including journey path to acquisition funnel and the context in which they elect to execute the task to goal.</li>
						<li>&mdash; <strong>Request AG to provide a shortlist of willing customers to participate</strong> in user interviews, ensuring a mixed distribution of membership and non-customers sourced from our Research partners. Survey screeners filtered non-consumer participation to qualify for more meaningful insights.</li>
						<li>&mdash; <strong>Use Optimizely to segment traffic to the product</strong> via a unique link for logging test subjects through their journey and sanitizing meaningful data from actual customer behavior metrics. The controlled test (a) for comparative analysis against the proposed prototype (b).</li>
						<li>&mdash; <strong>Set up the test lab</strong> by dedicating a meeting room with recording equipment, including configuring the test machine for live remote view. For interviews conducted off-site, instruct UR to use the pre-defined unique test link and record findings in a format of their choice ready for synthesis.</li>
						<li>&mdash; <strong>Begin deconstructing the pages</strong> into their essential elements. Without styling, format the content for mobile, revealing the constraints of the content in a small form context as the initial platform for prototype (b). At this point, only a direct translation from the desktop screens.<br><br>
							<ul>
								<li><strong>Titles</strong> &mdash; Types - Font, Size, Limit</li>
								<li><strong>Headings</strong> &mdash; Types - Font, Size, Limit</li>
								<li><strong>Paragraphs</strong> &mdash; Types - Instructional, Informative, Dynamic</li>
								<li><strong>Buttons</strong> &mdash; Types - Labels, primary action, secondary, informative, interactive, navigation</li>
								<li><strong>Sections (groups)</strong> &mdash; Types - Static, Dynamic, Dependencies, single-line, multi-line</li>
							</ul>
						</li>
						<li>&mdash; <strong>Using the un-styled prototype (b), meet with stakeholders</strong> to signal the content's most significant challenges before sharing it with test subjects. This step initiates the team to start thinking about simplifying content from labels to paragraphs and dropdown options.</li>
						<li>&mdash; <strong>Using the teams' agreed refined content</strong> for relabelling and paragraph reduction, apply the content to prototype (b), ready for the test. A default styling used for the HTML wireframe, add prototype (b) to the test environment prepared for use by the UR.</li>
						<li>&mdash; Define areas of interest going into user interviews with the UR.<br><br>
							<ul>
								<li><strong>Record</strong> any other notable opinions and actions.</li>
								<li><strong>Observe</strong> indicated pain points at the entry point, during the form-filling session, and while exiting the product.</li>
								<li><strong>List</strong> company brands understood related to the market.</li>
								<li><strong>Elicit</strong> device usage to a given task and why.</li>
							</ul>
						</li>
						<li>&mdash; <strong>Plan and schedule user participants</strong> to the test lab, including UR resource off-site. Including acquiring the Amazon vouchers from the Resource department and checking with Legal regarding handling private data and provision of an NDA. Then follows UR conducting interviews utilizing think-out-loud or notation with open questions - depending on conversational dynamics.</li>
						<li>&mdash; <strong>The first scope of the data is to refine answers that indicate exclusion from further refinement</strong>. Synthesis establishes common patterns and categorizes data to user behavior traits - see, feel, do, think.<br><br>

						<figure class="swap lt700" data-image-overlay="/assets/images/ag-case-studies/primary-persona.jpg" data-image-src="/assets/images/ag-case-studies/empathy-map.png">
							<img src="/assets/images/ag-case-studies/empathy-map.png" alt="Primary Persona (Richard) containing categorized quotes in meaningful aspects answering what users: see, feel, do, and think">
							<figcaption>Primary Persona Richard: values comparing and would benefit from persistent info.&nbsp;<span class="mobile-only gap-left">Tap to reveal details.</span></figcaption>
						</figure>

						The user model evolves the primary <span title="Behavioral Persona">persona</span> with the aim of a minimum of three distinct types.<br><br>

						After hours of audio/video data review, we format the findings in the following framework for each <span title="Behavioral Persona">persona</span> type once formed.</li>
						<li>&mdash; <strong>Traits to recommendations offered by the needs of each type of user</strong>, compounded with their pain points. Including contextual data shared across personas, we can develop a journey map and direct opportunities surfaced by the UI.<br><br>

						<figure class="zoom-img lt700">
							<img src="/assets/images/ag-case-studies/persona-experience-map-and-overviews.jpg" alt="Persona empathy map with overviews">
							<figcaption>Mapping Personas through Product Experience Journey.&nbsp;<span class="mobile-only gap-left">Tap to zoom experience map.</span></figcaption>
						</figure>

						The research data creates a list of changes and features with reasons why and the value they add to the overall product experience.<br><br>
						
						UI metrics can be tested against revised changes and may provide speed improvement to form completion and conversion rates handing off to CRO.<br><br>

						<figure class="zoom-img lt700">
							<img src="/assets/images/ag-case-studies/ag-journey-pain-point-mapping.svg" alt="Diagram depicting the 200+ question set with landmarks for pain points">
							<figcaption>We map the pain points alongside the question set.&nbsp;<span class="mobile-only gap-left">Tap to zoom journey map.</span></figcaption>
						</figure>

						</li>
						<li>&mdash; <strong>AB test result shared with stakeholders</strong>; design recommends changes to UI and solutions to optimize the product. With the evidential user data, the most significant improvement to the outcome would be reducing the 200+ question set.

						<figure class="zoom-img lt700">
							<img src="/assets/images/ag-case-studies/mapping-function-characteristics.svg" id="mapping-function" alt="Flow diagram of button functionality">
							<figcaption>Steps to break down button components based on all possible states&nbsp;<span class="mobile-only gap-left">Tap to view in detail.</span></figcaption>
						</figure>

						While the question set goes through reduction with stakeholders, we rinse the various buttons, switches, checkboxes, labels, and descriptions through their required lengths, volume, and usage.<br><br>

						We qualify use based on familiarity with users and UI from direct and indirect competitors' interfaces - further refining types that answer to our need for speedy, intentional, and supportive requirements.<br><br>

						<strong>Solutions</strong>;<br><br>

						<ul>
							<li><strong>Binary choices</strong>: labeled switches

								<figure class="swap lt700" data-image-overlay="/assets/images/ag-case-studies/binary-choice-positive.png" data-image-src="/assets/images/ag-case-studies/binary-choice-negative.png">
									<img src="/assets/images/ag-case-studies/binary-choice-negative.png" alt="Labeled toggle switch">
									<figcaption>Condensed switch design yes/no agree/disagree choice</figcaption>
								</figure>

							</li>
							<li><strong>Text input</strong>: modal popup

								<figure class="lt700">
									<img src="/assets/images/ag-case-studies/modal-states.gif" alt="Modal use states; input, valid, accept">
									<figcaption>Modal-interaction; input, and validation and cancel or submit</figcaption>
								</figure>
							</li>
						</ul>

						</li>
						<li>&mdash; <strong>Simplifying the form-filling session</strong>, the user data shows that often questions ask for answers not readily available by the user—for example, measuring the distance between the building and the river.<br><br>

						In this example, the experience surfaced the following;<br>

						<blockquote>I need help to pause the form-filling session without timing out.</blockquote>

						Especially since it means the user physically has to move away from the session for the measuring task or use another app.<br><br>

						<figure class="zoom-img lt700">
							<img src="/assets/images/ag-case-studies/secondary-persona.jpg" alt="Secondary Persona containing categorized quotes in meaningful aspects answering what users: see, feel, do, and think" ,="">
							<figcaption>Secondary Persona Viv values transparency; and benefits from content refinements.&nbsp;<span class="mobile-only gap-left">Tap to view persona.</span></figcaption>
						</figure>

						<strong>Solutions</strong>;<br><br>
						
						<ul>
							<li>Pause or save feature</li>
							<li>Use a third-party service to measure distance automatically and eliminate the need to ask the question, given the user inputs the building address at the beginning of the form.

							<figure class="lt700">
								<img src="/assets/images/ag-case-studies/3p-postcode-api.png" alt="Modal showing postcode lookup API">
								<figcaption>Using a 3rd-party postcode lookup API saves users from form filling.</figcaption>
							</figure>

							</li>
						</ul><br>
							
						We typically used MoSCoW for prioritization but decided against it due to time, effort, and resource constraints. Stakeholders can exclude the question if they perceive the answer as negligible to risk-factoring or keep the solution for phase 2.<br><br>

						A direct <span title="Behavioral Persona">persona</span> trait that immediately impacted the UI was the importance of speed in answering questions.<br><br>This speaks to button interactivity. As a design directive, we elected buttons over sliders and suggested answer options while typing or searching.<br><br>

						<figure class="zoom-img lt700">
							<img src="/assets/images/ag-case-studies/tertiary-persona.jpg" alt="Tertiary Persona (Paul) containing categorized quotes in meaningful aspects answering what users: see, feel, do, and think">
							<figcaption>Tertiary Persona Paul: values speedy conversion; benefits from simplified interactivity.&nbsp;<span class="mobile-only gap-left">Tap to view persona.</span></figcaption>
						</figure>

						To build familiarity and focus on form-filling intent, I designed all interactivity with the form via a pop-up modal. The modal is aligned with the selected form element, providing positional context for questions while reducing input errors by only enabling functionality relevant to the form field.<br><br>

						<figure class="lt700">
							<img src="/assets/images/ag-case-studies/editor-takes-focus.png" alt="Designed editor input with states">
							<figcaption>All text input fields share the same interaction</figcaption>
						</figure>

						The solution satisfied legal and regulatory concerns regarding intentional answering. Since users can accept predefined answers, type answers (intelli-sense), or cancel, we also reduced free-text errors from the risk engine dataset.</li>

						<li>&mdash; <strong>Prototype (b) reaches its next iteration test readiness</strong>, and participants review the journey. Test cycles repeat until the user feedback repeats or moves to a new context.</li>

						<figure class="lt700">
							<img src="/assets/images/ag-case-studies/remote-testing.jpg" alt="Image depicting remote tester on Morae providing feedback for new UI design interactions">
							<figcaption>Using Morae, I provided InVision prototypes with real content. Groups of testers were scripted/unscripted with tasks.</figcaption>
						</figure>

						<blockquote>Notably, one participant was recorded being fascinated by an icon choice, a persuasive design pattern to nudge upsell of add-ons &mdash; there were many clicks!</blockquote>

						<figure class="swap lt700" data-image-overlay="/assets/images/ag-case-studies/user-delight-selected.png" data-image-src="/assets/images/ag-case-studies/user-delight-nudge.gif">
							<img src="/assets/images/ag-case-studies/user-delight-nudge.gif" alt="Cupcake icon for add-on option" stlye="width: 447px">
							<figcaption>An icon that a participant found delightful to click, expressed by giggling.&nbsp;<span class="mobile-only gap-left">Tap to view selected state.</span></figcaption>
						</figure>

						<li>&mdash; <strong>Now, prototype (b) interactions are optimized</strong>, and traits from personas 2 and 3 become more prevalent in feedback. Namely, answering confidence dropped without being able to compare to another source.<br><br>This trait was common with risk-averse users; we can conclude that offering those sources in line will reduce abandonment (social comparison). For example, "68% of applicants chose this option" with cited reference.<br><br>

						Further, users whose answers required more scrutiny for risk assessment reported that they could only complete it if they called Customer Service.<br><br>Going offline could deter them from choosing the product.<br><br>

						<strong>Solutions</strong>;<br><br>
							
							<ul>
								<li>To help user decision-making, use social aggregated data inside the modal. Utilizing data on how others have answered a question may convince users to upsell.</li>
								<li>Questions generally requiring the user to go offline and speak to customer service could be handled online via Live Chat or a UI state indicating a pending decision.<br><br>

								<figure class="lt700">
									<img src="/assets/images/ag-case-studies/inline-chat-solution.png" alt="Modal with info message after 3 characters entered">
									<figcaption>Modal with inline info message.</figcaption>
								</figure>

								<li>Requested development to look into pausing an answer for later review, allowing the user to progress on the form. The UI state is mocked on the prototype (b) to derive understanding via further user tests.</li>
							</ul>
						</li>
						<li>&mdash; <strong>Finally, with the content model defined</strong> and its interactive guides in place, I looked at whether an accordion single-page format container works better or if we use pagination.<br><br>Working alongside Development, there were some performance differences in having to cache and async data upfront or portion each to a page.<br><br>

						The single-page approach surfaced development challenges requiring more time, while pagination would be less time-consuming, although some complexity around data-state would still require resolving.</li>

						<li>&mdash; <strong>Single-page and pagination mocked as prototype (b1) and (b2)</strong>. 

						<blockquote>Users presented with both single-page scroll vs paginated experiences<br> indicated they had no real preference between the two &mdash; neither perceived complexity in navigating.</blockquote> 

						<figure class="row" role="group">
							<figure class="col-sm-6 col-md-4 col-lg animated">
								<img src="/assets/images/ag-case-studies/Scrolling-prototype-1-of-3.png" alt="Scrolling prototype 1 of 3">
							</figure>
							<figure class="col-sm-6 col-md-4 col-lg animated">
								<img src="/assets/images/ag-case-studies/Scrolling-prototype-2-of-3.png" alt="Scrolling prototype 2 of 3">
							</figure>
							<figure class="col-sm-6 col-md-4 col-lg animated">
								<img src="/assets/images/ag-case-studies/Scrolling-prototype-3-of-3.png" alt="Scrolling prototype 3 of 3">
							</figure>
							<figcaption>b1). The scrolling prototype groups content into an accordion on a single page.</figcaption>
						</figure>

						Time-to-complete was of a similar duration count.

						<figure class="row" role="group">
							<figure class="col-sm-6 col-md-4 col-lg animated"><img src="/assets/images/ag-case-studies/Narrative-prototype-1-of-5.gif" alt="Narrative prototype 1 of 5"></figure>
							<figure class="col-sm-6 col-md-4 col-lg animated"><img src="/assets/images/ag-case-studies/Narrative-prototype-2-of-5.png" alt="Narrative prototype 2 of 5"></figure>
							<figure class="col-sm-6 col-md-4 col-lg animated"><img src="/assets/images/ag-case-studies/Narrative-prototype-3-of-5.png" alt="Narrative prototype 3 of 5"></figure>
							<figure class="col-sm-6 col-md-4 col-lg animated"><img src="/assets/images/ag-case-studies/Narrative-prototype-4-of-5.png" alt="Narrative prototype 4 of 5"></figure>
							<figure class="col-sm-6 col-md-4 col-lg animated"><img src="/assets/images/ag-case-studies/Narrative-prototype-5-of-5.png" alt="Narrative prototype 5 of 5"></figure>
							<figcaption>b2). The narrative prototype groups content over 5 pages.</figcaption>
						</figure>

						Pagination gave them a sense of visually perceived completeness when going to the &lsquo;<em>next page,</em>&rsquo; as previous questions got saved as a consequence of clicking the 'next button.' Even though, in actuality, both types had async save if a change occurred.</li>
					</ol>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="outcomes-results">
					<h2>Outcomes &amp; Results:</h2>
					<p>The robust design system allowed for usability and function to maintain a stable quality standard while simultaneously providing a changeable aesthetic to complement brand adaptiveness.</p>

					<p>From the user's perspective, customers gained what they felt was a customizable product that fit their needs and gave them the confidence to understand their options better.</p>
					
					<p>More importantly, a product that was previously only available on desktop now provides the same assurance in a portable format.</p>

					<p>Test participants reported:<br><br> 
						* The new format significantly reduced input errors, avoiding the need to contact Customer Service.<br><br>
						* The simplified language felt more transparent about what their insurance covers and the cost of adding and removing items on their final quote, including the documents rewritten as a consequence of this project.</p>
					
					<p>As part of my evaluation of the product, I negotiated the language used in the terms document to be in an easy-to-read format, which turned out to align with legal aims. The overall positive outcome has benefited the business and stemmed from putting users at the beginning and as an extended part of the team.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="conclusion">
					<h2>Conclusion:</h2>
					<p>Having actual user data to drive your design direction removes your bias as 'just a designer' and accommodates a unifying factor: that 'users' are the center of all departments.</p>

					<p>Having stakeholders on the journey gives you better traction than just presenting findings. It also shows that success requires everyone's involvement and a structured process to work effectively.</p>

					<p>Understanding how the business measures success and using the same metrics to evaluate how design contributes to those goals is crucial.</p>
					
					<p>Whether it's reducing the time spent on customer service calls by solving problems within the product or streamlining development by separating aesthetics from the underlying logic.</p>

					<p>This project positioned AG in a better place to replicate success in less time, building upon the lessons learned. It means they can evolve, ultimately adding to AG's overall value.</p>
				</section>
			</article>
			<svg viewBox="0 0 1043.63 592.71" class="medium-read-more" style="height: 23px; margin: 16px 0; transform: rotate(180deg);"><g data-name="Layer 2"><g data-name="Layer 1">
				<path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path>
			</svg>
			<a href="#next-case-3" class="btn btn-success btn-sm uxd-next-btn" >Case Study 3</a>
		</div>
	</div>
</div>