<script>
	// Initialise hide pseudo img in header on scroll out of view
	hidePseudoImg('#view-uxi-story','.uxi-content .descriptor');
</script>
<style>
	@import url('/assets/css/embed-medium/embed-medium.min.css<%= versionTimestamp %>');
	@import url('/assets/css/progress-marker/progress-marker.min.css<%= versionTimestamp %>');
</style>
<header id="view-uxi-story">
	<h3 class="heading"><%- storyUXIHeading %></h3>
	<q><span>@leighlaguisma</span> <%- storyUXISummary %></q>
	<h4 class="suppress">Roles, methods &amp; tools:</h4>
	<ul class="suppress"><%- storyUXIRoleTags %><%- storyUXIResearchTags %><%- storyUXIToolkitTags %></ul>
</header>

<div class="embed-medium">
	<div class="card mb-3 mx-auto mr-5 ">
		<div class="card-body">
			<article>
				<section id="overview">
					<h2>Overview:</h2>
					<p>TW had been paying for a license that only used a limited scope of the API through its incumbent Flash component.</p>

					<p class="suppress">Full reporting features were only possible via the creation of new game scoreboards.</p>

					<p>The business believed enabling more data points would result in a more engaged and informed user experience while growing opportunities for new betting streams.</p>

					<p class="suppress">It would also retire the last of legacy systems reducing development overhead.</p>

					<blockquote>Scope creep would soon see a Design System coalesce the final solution</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="why">
					<h2>Why:</h2>
					<p>One challenge of the role was seeding UX practice in a Marketing-led feature scope.</p>

					<p>Processes involving consumer interaction for testing and direction were absent - boiling down to <abbr title="User Acceptance Test">UAT</abbr> approved by <abbr title="Quality Assurance">QA</abbr> and <abbr title="Product Owner">PO</abbr>.</p>

					<p>The data logs available were wholly dependent on system tracking monitors and customer services' primary goals were to circumvent gaming the system.</p>

					<blockquote>When budgets are not motivating factors, scope and direction tend to be sporadic.</blockquote>

					<p>Unique to TW, there are no competing brands since the product is a closed system of captured users. Innovation is born entirely of the ideas created within the company.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="users-audience"></section>
					<h2>User &amp; Audience:</h2>
					<p>The vast majority of users engage <abbr title="The Workshop">TW</abbr> products offshore split between the east and west. The London office primarily catered to the revenue generated by the geo-locked western market.</p>

					<p>Marketing campaigns centered around the sporting events calendar, their seasonal rotations, and industry interactive conference events.</p>

					<p>Access to targeted users was zero. In part, due to logistics, company policy, and their strict stance on user privacy.</p>

					<p>A rethink was required on procuring insights that had to ensure not just the perspective of the business but those who are end-users.</p>
					<p>One such approach was partnering with sources closest to the product and proxies for users.</p>

					<p>User group breakdown:<br>
					* Project Owners<br>
					* Trading<br>
					* Marketing<br>
					* Remote users<br>
					* Stakeholders<br>
					* Participants provided by a third-party research agency</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="roles-responsibilities">
					<h2>Roles &amp; Responsibilities:</h2>
					<p>Initially, I was hired to complement the front end and establish a dedicated team to lead design services.</p>

					<p>Actively encouraged to take the lead on design and support UI and content, I established a loose-fit process for UX to integrate with existing development workflows.</p>

					<p>Including experimenting steps within the design sprint cycles and the agile sprint delivery pipeline, while testing design-only members' output and mixed-discipline members' output.</p> 

					<p>* <strong>Symbiotic relations with developers</strong> helped bridge understanding between what made design better UI and the requirements developers have on the reliability and repeatability of source code.<br><br>
					* <strong>Planning priorities against scheduled releases and resources</strong> available to maintain high-standard solutions.<br><br>
					* <strong>Communicating UI proposals to project owners</strong>, keeping leadership abreast of progress.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="scope-constraints">
					<h2>Scope &amp; Constraints:</h2>
					<p>The purpose of the change was to ultimately retire the legacy Flash components of the UI that served as game scoreboards for the sports betting product suite.</p>

					<p>The replacement of HTML5 variants opens up the possibility of utilizing previously unused API data points, enriching the options for play.</p>

					<figure class="lt700">
						<img src="/assets/images/tw-case-studies/ui-coverage-dist-team.png" alt="The infographic shows how the UI coverage was distributed to the teams" style="padding-bottom: 54px;">
						<figcaption>The scoreboard resides within a module positioned in the center column of a Drupal system. Naturally, updating this component does not have a cascading styling effect on the surrounding <abbr title="User Interface">UI</abbr>.</figcaption>
					</figure>

					<p class="suppress">Game scoreboard components reside within a Drupal module, and their control is isolated from the container CMS.</p>
					
					<p>Consistency in this regard required collaboration from external design teams responsible for changing their respective components.</p>

					<p>Access to user feedback would be facilitated by internal SMEs and the senior leadership team.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="process-what-you-did">
					<h2>Process &amp; What You Did:</h2>
					<h3>Plan interviews with appointed internal staff designated for trading, product ownership, and management.</h3>
					<ol>
						<li>&mdash; Set up a testing lab for both in-person access to prototypes and a prototype environment for remote testing.</li>
						<li>&mdash; Procure third-party user testing services, establishing NDAs, SLAs, and pricing ranges.</li>
						<li>&mdash; Establish current measurable indicators to track comparative improvements.</li>
					</ol>

					<h3>Research planning</h3>
					<ol>
						<li>&mdash; <strong>Define the scope for the intended research goals</strong>. Existing quantitative data or the usage of the game page (where the scoreboards are found) did not show any correlated signals to compare improvements definitively. This is largely because Adobe Analytics, Google Tags, Site Catalyst, and Coremetrics did not cover the interactivity of a Flash plugin.</li>
						<li>&mdash; <strong>Breakdown scoreboard components and their respective minimum requirements</strong>. This step is necessary to map out all inputs and data outputs for both story planning and scoping efforts. It would help with integrating into the Agile planning and provide some lead times.</li>
						<li>&mdash; <strong>Attribute signals and test understanding, speed, and coverages</strong> - iconography, color usage. Participant interviews must understand the perceived usage and understanding of the scoreboard UI in all sports. This information is crucial to refine how much the API translates into a betting opportunity.</li>
						<li>&mdash; <strong>Collaborate with the API vendor and the Development team</strong> for a functioning prototype, establishing content parameters for design. At that time, not all API data points were ready for use; some work was required on the Vendor's end and would require alignment between designing for and being able to end-to-end test.</li>
					</ol>

					<blockquote>The scoreboard canvas had limited dimensions. The available API data points, if used in their entirety, would result in a crowded format. It would be difficult to glance at and use, and due to its time sensitivity, be distracting and unusable.</blockquote>

					<h3>Inform design options from Research findings</h3>
					<ol>
						<li>&mdash; <strong>10 SMEs were interviewed and 16 externally via a third-party vendor</strong> with a research team of three assigned to observe the action, asking questions, and a facilitator role. All team members took notes using Livescribe, and the session was screen recorded together with audio recording.</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/internal-interviews.jpg" alt="Image of interview scene with the title reading Interviewing Product SMEs">
							<figcaption>Access to end-users was by proxy of Product SMEs, but getting insights by any means is valuable.</figcaption>
						</figure>
						
						<li>&mdash; <strong>Using the Affinity mapping method; we group and categorize findings</strong> discovered from actions and revealed from contextual inquiry.</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/ui-likes-grouping.jpg" alt="Image of screenshots and user quotes grouped from an Affinity method around the theme of liked UI" width="700">
							<figcaption>Surfacing why certain UI samples are liked reveals tenets of speed to consume, familiarity, and expected content - traits to leverage for the project.</figcaption>
						</figure>

						<li>&mdash; <strong>By understanding individual preferences in UI from non-products and the context of the sporting event</strong> - Expectations from the scoreboard, its equation to betting options, and opportunities not afforded by the test prototype framed users' priorities.</li>
						<li>&mdash; <strong>Refine scope</strong> - considering there were about 12 sporting categories to produce a scoreboard solution, it was fast becoming obvious that we needed to focus on what could be realistically delivered within the timeframe. 
							<ul>
								<li>By minimum replacement of all Flash variants and deliver the same existing API data points.</li>
								<li>Aesthetics would be consistent and familiar.</li>
								<li>Ideally, there would be scope to use more API features to enrich the experience resulting in new betting opportunities.</li>
							</ul>
						</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/tennis-traditional-scoreboard-layout.jpg" alt="Image of traditional Tennis scoreboard at Wimbledon" width="700">
							<figcaption>Tennis scoreboards at different events around the world have similar placement patterns. Recall and recognition help the speed of consumption.</figcaption>
						</figure>

						<li>&mdash; <strong>To aid in estimation, we piloted delivering two scoreboards</strong>. The initial would define our base calculations and would perhaps be the steepest productivity integrating discoveries. At the same time, the second would reveal where things are easily repeatable and isolate the challenging parts of the project.</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/scoreboard-core-structure.jpg" alt="Scoreboard layout pattern">
							<figcaption>Scoreboards between most sports share the same layout, the persistent containers simplify the development of the code as you can repeat the structure or reduce to a few as opposed to custom tailoring each.</figcaption>
						</figure>

						<blockquote>Wireframing the existing components of each scoreboard there was an obvious pattern for placing primary content (current data points) alongside secondary content (new API features).</blockquote>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/ae2e4731103049-567d42d20e85b.png" alt="Tennis scoreboard sampling max-content">
							<figcaption>The Tennis scoreboard wireframe illustrates the limited canvas available for just primary and secondary content.</figcaption>
						</figure>

						<li>&mdash; <strong>With conservative time assessments, business reduces the scope</strong> - it was acknowledged retiring legacy Flash components did not mean that they would stop functioning as a result of delivering the HTML5 variants. Since they still source the same API point. Work by the Vendor was only extending previously unused data points.</li>

						<li>&mdash; <strong>Surfacing user pattern recognition</strong> - it proved continually challenging for stakeholders and staff who were to use the wireframes, to escape the fact that the fidelity was not visual enough for them. Despite that, their current state was really to reveal expected content, and their position reflected user priority.</li>

						<blockquote>I had concerns that providing a stylized visual would distract from the purpose of observing users' preferential order and the importance of the content.</blockquote>

						<li>&mdash; <strong>Getting content approved would dictate the amount of work the third-party vendor would have to deliver</strong>. Having a direct influence on scope and end-to-end testing, all being fluid in this project. Often, stakeholders would be delayed in their response to a decision and would harm working items that may eat into effort better spent in other areas.</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/b8196431103049.567da4f3de3c1.png" alt="Football mini-scoreboard sampling current content only">
							<figcaption>The football scoreboard wireframe with visuals illustrates primary content only.</figcaption>
						</figure>

						<blockquote>While it was generally accepted that the visuals were a better format for decision-makers, it did have the undesirable effect of derailing the focus of the content.</blockquote>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/aaca0231103049.567da118a958b.png" alt="Football scoreboard sampling current content (primary) with secondary content">
							<figcaption>The Football scoreboard wireframe with visuals illustrates primary content and secondary content.</figcaption>
						</figure>

						<blockquote>Now the discussion was about the interpretation of symbols yet untested with users at this stage of the project.</blockquote>

						<li>&mdash; <strong>A change on the horizon</strong>. At this stage of the design phase where several rounds of visuals answer to fun and bright brand direction, the company was on the brink of rebranding. They articulated a refreshed look from the old flash component but neutral enough to nest in a Netflix-esque theme that had yet to be crafted.</li>
					</ol>

					<h3>Continual evaluation of UI</h3>
					<ol>
						<li>&mdash; It was prudent to assume that we would deliver on all items before approval; it's far easier to remove retrospectively than to add features in an ad-hoc way.</li>
						<li>&mdash; After testing indicators, symbols, and more generic content with users throughout the design process, much of the research conclusions could be applied to similar components.</li>
						<li>&mdash; Concluding if the feedback stops repeating, we have resolved that specific UI problem, especially if users' focus moves to other parts of the scoreboard.</li>
						<li>&mdash; The recorded research data to back up that finding can now be tagged to the UI's Agile story with references available in the UX Confluence space. The team reports to both and is often referenced to aid new problems.</li>

						<figure class="lt700">
							<img src="/assets/images/tw-case-studies/jtbd-plan-documentation.jpg" alt="Establishing a workflow process">
							<figcaption>Developing a workflow process supports the inclusion of established standards while providing a means to pivot.</figcaption>
						</figure>
					</ol>

					<h3>Interim directives</h3>
					<ol>
						<li>&mdash; One key strategy was to find support outside of the team, and I had plenty of trust from Development, Trading, and my line Director, whom I relied on to rally consensus.</li>
						<li>&mdash; We packaged an understanding via key meetings around the design process before committing resources.</li>
						<li>&mdash; By revealing non-visual wireframes as instruments to elicit developed content, we enabled stakeholders to focus decisions in context.</li>
						<li>&mdash; With content structure and the relation to each UI item's expected components affirmed, the visual layer of the scoreboard's eventual UI library had comprehensive coverage.</li>
					</ol>

					<figure class="lt700">
						<img src="/assets/images/tw-case-studies/atom-breakdown.jpg" alt="Breakdown of item contents in various states">
						<figcaption>Each item on the scoreboard had various expected states that could not be illustrated on a flat wireframe.</figcaption>
					</figure>

					<blockquote>Now we know what makes up a UI item, we can test designs of indicators/symbol usage and be ready with baked solutions.</blockquote>

					<div class="separator"><span></span><span></span><span></span></div>

					<h3>Ramp up from scoreboard delivery to include scope creep</h3>
					<ol>
						<li>&mdash; Every company has its challenges, and while the scoreboard project was technically sound in progress, I found my resources required to be split with the aforementioned platform upgrade.</li>
						<li>&mdash; The game view page containing the scoreboard required integration design, resulting in two projects becoming one overhead. The scope creep also required the overhaul of the product's navigation.</li>
						<li>&mdash; The only way to progress with a degree of quality was to get sign-off and completion of scoreboards to production.</li>
						<li>&mdash; It also meant we could ill-afford more rounds of design options, to which they defaulted accountability to me - which was nice.</li>
						<li>&mdash; Dropping indicators, symbols, and icons that users did not qualify as usable for betting decisions reduced complexity and the overall delivery timeline.</li>
					</ol>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="outcomes-results">
					<h2>Outcomes &amp; Results:</h2>
					<p>The optimized result ended in a design that leaned heavily on the brand colors but sat well within the context of the game page.</p>

					<figure class="comp-container case-three-results">
						<div class="comparison">
							<img class="darken" src="/assets/images/pixel.png" alt="A previous version of the desktop game page view" width="auto" height="292">
							<figcaption>Game view page in its legacy unstyled form format.</figcaption>
						</div>
						<div class="comparison comp-overlay">
							<img class="darken" src="/assets/images/pixel.png" alt="Revised version of desktop game page view" width="auto" height="292">
							<figcaption>Game view rebranded into a more console experience.</figcaption>
						</div>
					</figure>

					<p>We continued to evaluate with our test users throughout the process even post soft-launch, which provided unbiased confidence to stakeholders.</p>

					<p>However, since the test participants are still proxies to end-users, I did press account handlers to derive any feedback from their clients.</p>

					<blockquote>While target users are ideal, the most you can control is the delivery of an outcome using best practices and logically sensed design patterns.</blockquote>

					<p>For the most part, you are providing a risk-mitigated option and an indication of the effort to implement.</p>

					<p>The viability and value of the solution depend on whether your strategy solves the problem short-term or you have elected to deliver a packaged solution over a longer term of releases.</p>

					<p>The partial fix can be hidden until such time that all the pieces are in place and are officially revealed. This way UX solutions needlessly be confined by an agile release schedule.</p>

					<h3>What worked</h3>
					<ol>
						<li>&mdash; When I approach any project, I believe half the answer is in the deconstruction of the product and the evaluation of whether that component should qualify as valuable to the user.</li>
						<li>&mdash; I did not go in guns blazing, demanding that everything must change. I tried to incorporate a user-centered approach where possible, utilizing adopted tools and understanding the workflow dynamics.<br>
							<br>
							I kept a nano view of details while maintaining a bird's eye picture of the framework limitations and partnered with development.</li>
						<li>&mdash; I removed my design opinion to a place that reflected user feedback and opened key stakeholders to contribute to the direction while being pragmatic with resources.</li>
					</ol>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="conclusion">
					<h2>Conclusion:</h2>
					<p>There were many challenges throughout the project not accounted for in this case study, but they are worth mentioning as they speak to the productivity environment.</p>

					<p>On the surface, the project was aimed at establishing UX autonomy and positioning for future resource investment.</p>

					<p>However, what happened was that the London office competed against other offices for a stake in the project, and this competitive format often had a negative impact.</p>

					<h3>Directing traffic</h3>
					<p>I was tasked with traveling to the Canadian office to support efforts to finalize the platform project, particularly in the sports category where the London office held authority over its development.</p>

					<ol>
						<li>&mdash; <strong>Leading the competing team to integrate with the London team</strong> and coordinating them in pods to address various UI challenges.</li>
						<li>&mdash; <strong>This involved breaking down the journey into manageable components</strong> that constitute the end-to-end sports funnel: Navigation, Gameview, and Betslip.</li>
						<li>&mdash; Despite aggressive deadlines, <strong>I distinguished items for new creation</strong> from those that could simply be re-skinned.</li>
						<li>&mdash; <strong>Cross-examined evaluations of solutions</strong> from individual contributors with team feedback and refined leading options for rigorous user testing.</li>
					</ol>

					<blockquote>With a finite amount of time<sup>1</sup>, the platform project was rescued<sup>2</sup>.</blockquote>

					<fn id="finite-time"><sup>1&nbsp;</sup>14 days, -45°C/-49°F to save the platform project.</fn>
					<fn id="finite-time"><sup>2&nbsp;</sup>Typical UI navigation problem rationalized to the simplest nested <abbr title="Table of content">TOC</abbr>, rapid prototype of two options, sense-tested with <abbr title="Subject matter expert">SME</abbr>, UI developed with Dev, then sent for QA.</fn>

					<p>Since speed was paramount, the scoreboard section had the opportunity for research before being integrated into the platform upgrade.</p>

					<p>While predominantly achieving a reskin, some menu categories did not receive the adequate evaluation necessary to be compatible with the new card design directive.</p>
					
					<p>Consequently, the Horse Racing category was disabled entirely to meet the release date.</p>

					<blockquote>While I don't recommend 14-hour shifts for five days for two weeks, ensuring completion would achieve a position where planning could be inclusive.</blockquote>
				</section>
			</article>
			<svg viewBox="0 0 1043.63 592.71" class="medium-read-more" style="height: 23px; margin: 16px 0; transform: rotate(180deg);"><g data-name="Layer 2"><g data-name="Layer 1">
				<path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path>
			</svg>
			<a href="#exit-case-studies" class="btn btn-success btn-sm uxi-close-btn">Exit case studies</a>
		</div>
	</div>
</div>