<script>
	// Initialise hide pseudo img in header on scroll out of view
	hidePseudoImg('#view-uxp-story','.uxp-content .descriptor');
</script>
<style>
	@import url('/assets/css/embed-medium/embed-medium.min.css<%= versionTimestamp %>');
	@import url('/assets/css/progress-marker/progress-marker.min.css<%= versionTimestamp %>');
</style>
<header id="view-uxp-story">
	<h3 class="heading"><%- storyUXPHeading %></h3>
	<q><span>@leighlaguisma</span> <%- storyUXPSummary %></q>
	<h4 class="suppress">Roles, methods &amp; tools:</h4>
	<ul class="suppress"><%- storyUXPRoleTags %><%- storyUXPResearchTags %><%- storyUXPToolkitTags %></ul>
</header>

<div class="embed-medium">
	<div class="card mb-3 mx-auto mr-5 ">
		<div class="card-body">
			<article>
				<section id="overview">
					<h2><strong>Overview:</strong></h2>
					<p><abbr title="Avantia Group">AG</abbr> operates in the competitive <abbr title="United Kingdom">UK</abbr> <a href="https://en.wikipedia.org/wiki/Financial_technology" class="new_window" target="_blank" rel="noopener nofollow"><em>Fintech</em></a> market, facing off against major players like comparethemarket.com, confused.com, gocompare.com, and moneysupermarket.com.</p>

					<p>AG's flagship product, <em>HomeProtect</em>, offers competitive home insurance rates, with a focus on catering to individuals who may not qualify for coverage from the <a href="https://www.assisted.co.uk/competing-comparison-websites/" class="new_window" target="_blank" rel="noopener nofollow">big four</a> providers.</p>

					<blockquote>As we delve into this case study, the driving force behind my strategy is efficiency—maximizing output in the shortest possible time.</blockquote>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="why">
					<h2>Why:</h2>
					<p>AG recognizes the importance of strategically staffing key roles to support the expansion of the HomeProtect (<abbr title="HomeProtect">HP</abbr>) product.</p>
					
					<p>This investment not only increases the overall value for AG shareholders but also drives growth in their consumer base.</p>

					<p>In Phase 1, our approach involved a soft launch of the UX department, focusing on its integration into existing business processes.</p>
					
					<p class="suppress">This setup positioned UX as a pivotal contributor to AG's net value, leveraging customer insights gained through discovery processes and amplifying their voices within the organization.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="users-audience">
					<h2>Users & Audience:</h2>
					<p>Identifying the first available users (business) involves exploring several key areas of opportunity:<br><br>
						* Understanding AG's current position and the challenges they're addressing (Motives)<br><br>
						* Defining their desired future state and the reasons behind it (Framing)<br><br>
						* Assessing their readiness to scale and the capabilities required (Capability)<br><br>
						* Identifying where users fit into their growth strategy (User-driven)</p>

					<figure class="ntsc lt700"><img src="/assets/images/ag-case-studies/like-a-sculptor-pairing-excess.png" class="card-img-top" alt="Cover image">
						<figcaption>Like a sculptor, you pair back the excess to get to what truly matters</figcaption>
					</figure>

					<p>My approach began with a focus on surfacing pain points as perceived by each department. Rather than generalizing, I aimed to gain a deep understanding of how this specific <span id="operations">business operates</span>.</p>

					<p>To achieve this, I initiated meetings with department heads, introducing myself and actively listening to their needs. These conversations provided valuable insights into the operating dynamics of the organization.</p>

					<p>Through targeted questioning, I delved into various aspects:<br><br>
						* Daily routines and tasks.<br><br>
						* Interaction with internal systems and their significance.<br><br>
						* Collaboration with other departments.<br><br>
						* Information sharing practices within their department.</p>

					<p>While these discussions were structured, Phase 1 primarily focused on internal alignment.</p>

					<figure>
						<img src="https://miro.medium.com/max/1400/1*9skTTEm_wGFML-FPd-kVZg.png" width="700" height="464">
					</figure>

					<blockquote>Consistency in language, labeling, and systems should match consumer understanding rather than internal jargon. Prioritize adapting to users' preferences.</blockquote>

					<p>Throughout the discovery phase, my primary objective was to assess the operating capabilities, strengths, and opportunities within AG.</p>
					
					<p>It was essential to integrate existing workflows with contributions from new hire stakeholders.</p>

					<p>This initiative aimed to strategically position the UX department as a key player at the table, rather than merely an end-service unit. Instead of solely addressing UI fixes, the goal was to recruit vital supporting influencers within the business.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="roles-responsibilities">
					<h2>Roles & Responsibilities:</h2>
					<p>In my capacity as the Senior UX Lead, I assumed the role of a team-of-one, responsible for building UX as a service and fostering user-centric collaboration throughout the organization.</p>

					<figure>
						<img src="https://miro.medium.com/max/1400/1*sBdQoviPHblPArAQ7d4VDA.png" width="700" height="466">
					</figure>

					<p>Additionally, I took on the responsibility of bridging the gap between the UX and development teams.</p>
					
					<p>This involved identifying skills gaps and advocating for the adoption of a modern tech stack aligned with long-term strategic goals while addressing short-term needs.</p>

					<p>Collaborating with the Chief Technology Officer, I championed the case for a modern tech stack, engaging with the development team to ensure consensus and share my vision for an integrated workflow between departments.</p>

					<figure class="portrait lt700">
						<img src="/assets/images/ag-case-studies/fe-infrastructure.png" width="700" height="466" alt="Hand-drawn diagram of workflow between design, frontend, and business">
						<figcaption>Workflow design of designer setup and dependencies into the build pipeline with contingency resources.</figcaption>
					</figure>

					<p>My efforts aimed to address the mutual needs of both development and financial regulatory compliance, while also conducting UX experiments independently of scheduled software releases.</p>

					<h3>To facilitate these responsibilities, I implemented various tools and protocols:</h3>
					<p>* Business continuity (BitBucket/GitHub)<br><br>
						* Rollback protocols (Trello)<br><br>
						* Single-point Repo (GIT)<br><br>
						* Reference Documentation (GEL)<br><br>
						* Knowledge sharing (Confluence)<br><br>
						* Testability (Staging Environments)<br><br>
						* Decentralized UI (Local Nodejs/Emberjs branching)<br><br>
						* View abstraction (Extract inline styling from Knockoutjs/ASP.net)<br><br>
						* AB/MVT Experiments (Optimizely)</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="scope-constraints">
					<h2>Scope & Constraints:</h2>
					<p>In environments with low UX maturity, any proposed changes often encounter resistance.</p>
					
					<p>Therefore, all integrations must be approached collaboratively to avoid opposition and foster cooperation.</p>

					<p>Auditing primarily focused on UI heuristics, with limited access to quantitative data. Progress was made by gradually shifting trust from small-form improvements to a more user-centric approach.</p>

					<blockquote>It was challenging to maintain traction towards the departments' setup while mitigating UI issues, which added to technical debt.<br><br> Additionally, constraints from non-UX reports, often biased, disrupted the gains of cohesive collaboration.</blockquote>

					<p>The scope of this initiative project encompasses the establishment of a new operating UX+UI department, closely partnered between Users (Customers), Management, and Development.</p>

					<figure class="ntsc lt700">
						<img src="/assets/images/ag-case-studies/ux-department-version-one.png" class="seedling" width="700" height="319">
						<figcaption>You seed the interactions you make by a small sample, retreading in familiarity once at scale.</figcaption>
					</figure>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="process-what-you-did">
					<h2>Process & What You Did:</h2>
					<h3>Reduce distance from Senior Management (C-level)</h3>

					<ol>
						<li>&mdash; Match bottom-up initiatives with a top-down approach to drive change.</li>
						<li>&mdash; Engage Senior Management in the journey to garner their support.</li>
						<li>&mdash; Plan regular catch-ups to discuss progress, challenges, and learnings.</li>
					</ol>

					<figure class="ntsc lt700">
						<img src="/assets/images/ag-case-studies/checkpoint-ceo.png" width="700" height="387">
						<figcaption>AG’s CEO made time with me to regularly check the pulse of UX integration, and yes, often in a cafe setting.</figcaption>
					</figure>

					<blockquote>Open and regular conversations with the CEO kept UX honest and less abrasive on each new revelation of findings.</blockquote>

					<h3>Negotiate Resources between Short-term Fixes and Strategic Works.</h3>
					<ol>
						<li>&mdash; <strong>Allocate time for configuring a new department while addressing current issues.</strong> Strike a balance between resolving UI issues through the development of a Design Framework (<abbr title="General Experience Language">GEL</abbr>) and tackling the existing backlog of UI problems that may become redundant.</li>
						<li>&mdash; <strong>Establish a process that is easily understood by peers.</strong> While Team Foundation Server (TFS) may be familiar to the development team, I opted for Trello, formatted in a way that is recognizable and accessible to both development and management teams.<br><br>Mirror developments in Backlog, Work in Progress, and Complete columns for easy progress tracking.</li>
						<li>&mdash; <strong>Limit supported devices</strong> based on actual user preferences to streamline development efforts and reduce complexity.</li>
						<li>&mdash; <strong>Implement a workflow for managing new requests</strong>, current requests, and priorities. Enhance the request form to include comprehensive information for accurate evaluation of urgency, avoiding vague labels that hinder productivity.</li>
					</ol>

					<h3>Address Opportunity to Scale Development in Line with a Proposed Stack</h3>

					<ol>
						<li>&mdash; <strong>Reuse tooling where possible</strong>, tailored to the needs of the UX department. Utilize Confluence for UX resources and adopt Global Information Tracker (GIT) for decentralized backup of design assets, accessible to the company and IT systems.</li>
						<li>&mdash; <strong>Separate the visual layer from functional code</strong> to enable more frequent updates and AB/MVT testing. Implement a thematic UI system to enhance responsiveness to market changes and campaign efficiency.</li>

						<figure class="comp-container case-one-results">
							<div class="comparison ntsc">
								<img src="/assets/images/pixel.png" width="auto" height="244">
								<figcaption>The illustration shows dependent design releases to production blocked from progress.</figcaption>
							</div>
							<div class="comparison comp-overlay">
								<img src="/assets/images/pixel.png" width="auto" height="244">
								<figcaption>Illustration to show independent design releases working in parallel with development.</figcaption>
							</div>
						</figure>

						<li>&mdash; <strong>Elect a modern Front-end stack</strong> to attract a larger pool of developers and leverage competitive capabilities. Propose upgrading from Knockout.js to React.js for better performance, larger support community, and support for Model-View-Controller (MVC) architecture.</li>
						<li>&mdash; <strong>Contribute to the development hiring process</strong> to ensure alignment with the technology stack and strategic direction. Seek candidates who share the vision for adaptability and have strong opinions on the future development direction.</li>
					</ol>

					<h3>Use UX Network for External Workshop</h3>
					<ol>
						<li>&mdash; <strong>Organize a divergence-convergence session</strong> with external assistance to expedite change within a short timeframe. Explore the Design Hypothesis aimed at improving AG's homepage conversion rates.<br><br>Debate UI patterns used by competitors and familiar websites, refining a list of suitable form controls.<br><br>Evaluate the importance of each landing page component relative to the primary task as a group.<br><br>Conclude with layout, interactions, and content recommendations.</li>
						
						<figure class="ntsc portrait">
							<img class="darken" src="/assets/images/ag-case-studies/external-workshop.jpg" width="700" height="485">
						</figure>

						<li>&mdash; <strong>Share research findings</strong> with the team to remove bias from design direction. Present evidential discoveries from the workshop recordings, providing compelling reasons to support the homepage AB design experiment and overall UX strategy.</li>
					</ol>

					<h3>Explain the Direction for the New Homepage Layout</h3>
						<ol>
							<li>&mdash; <strong>Prioritize page components</strong> based on their contextual support for the primary task, ranking content from 'complimentary' to 'distracting' from the call-to-action. Stakeholders can understand the rationale behind the inclusion or removal of parts.</li>
							
							<figure class="ntsc portrait lt700">
								<img src="/assets/images/ag-case-studies/ag-heatmap-distributed-click.jpg" width="700" height="1296">
								<figcaption>The picture depicts the original homepage (Control), with an overlayed heatmap indicating distributed CTA clicks (primary task) and temperature bands for paused scroll positions.</figcaption>
							</figure>

							<li>&mdash; <strong>Enhance text, buttons, images, and links</strong> to align with clear objectives and user actions. Utilize language, verbs, and image composition to improve user engagement.</li>
							
							<figure class="ntsc portrait lt700">
								<img src="/assets/images/ag-case-studies/variation-b-redesign.jpg" width="700" height="1286">
								<figcaption>Homepage (Variation-B) design indicating more focused CTA clicks and heat above the fold.</figcaption>
							</figure>

							<blockquote>100% feedback from users agreed they could explore without feeling lost, knowing the persistent 'Quote' button remained a single click throughout their journey.<br><br></blockquote>

							<li>&mdash; <strong>Forecast phases for the Information Architecture</strong> to iteratively evolve, providing the option for step-change to facilitate user onboarding and allow time for content strategy alignment across departments.</li>
					</ol>

					<figure class="zoom-img">
						<img src="https://miro.medium.com/max/1400/1*6CbiYv15hQbp9Vp5Xf5cQA.png" width="700" height="240">
					</figure>

					<h3>Design Assets for Homepage AB/T</h3>
					<ol>
						<li>&mdash; <strong>Develop components in a modular manner</strong> to establish a design system, following the successful AB test of the homepage. This transition is crucial for moving from tactical UI changes to a permanent scaling fixture.</li>

						<figure class="lt700">
							<img src="/assets/images/ag-case-studies/iconography-token-in-use.png" width="700" height="387">
							<figcaption>Using FortAwesome, button creation required simple labels and icons</figcaption>
						</figure>

						<li>&mdash; <strong>Implement the Atomic Design Approach</strong> to ensure flexibility. The solution allows for easily adjustable values for UI elements such as color, fonts, size, and position, providing adaptability beyond default settings.</li>
					</ol>

					<figure class="lt700">
						<img src="https://miro.medium.com/max/1400/1*-ub2PDLySSumK3mFm_1F3A.png" width="700" height="444">
						<figcaption>Content-type identity based on Logo colors and assigned asset-type styling properties</figcaption>
					</figure>

					<p>Additionally, initiate the development of the Global Experience Language internal site as a live documentation of UI implementation.</p>

					<figure class="lt700" style="overflow: hidden;">
						<img src="https://miro.medium.com/max/1400/1*CknZuZ59bFB7Gf_GeqIQcA.gif" width="700" height="179" style="transform: scale(1.1);">
						<figcaption>The new homepage design focuses on the Quote CTA and persists through the scrolling experience.</figcaption>
					</figure>

					<p>This serves as a prototype for all design assets, including typography, UI forms/button states, interactions, notifications, responsiveness, and compatibility against content data.</p>
					
					<p>This initiative aims to reduce brand inconsistency and provide a self-service tool shareable across the company.</p>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="outcomes-results">
					<h2>Outcomes & Results:</h2>

					<p>Initially, the variation B homepage design proved remarkably successful, prompting efforts to integrate the experiment as a permanent fixture.</p>
					
					<p>Despite an anticipated improvement of 1–3%, the actual increase reached 8% with exposure to just 10% of traffic.</p>

					<p>However, the marketing team showed indifference toward making the AB homepage permanent due to the loss of its SEO-optimized attributes. With the code now in semantic HTML5, the homepage transitioned into redundancy.</p>

					<figure class="ntsc">
						<img src="/assets/images/ag-case-studies/department-alignment.jpg" width="700" height="350">
					</figure>
						
					<p>Unfortunately, the experiment's narrow scope, confined to the homepage alone, hindered broader discussions about aggregating traffic through mini-sites to enhance the acquisition funnel—a critical step for marketing.</p>

					<p>This limitation led to diluted content indexing on the current design, compromising the website's overall effectiveness.</p>

					<blockquote>At this juncture, updating the website in parts exacerbated the disjointed consumer experience, undermining trust—a cornerstone for conversion growth.</blockquote>

					<p>Nevertheless, a shift towards a less tactical and more progressive overhaul began to gain traction.</p>

					<p>While the experiment's solution proved robust for production, it wasn't intended as a permanent feature.</p>
					
					<p>The test should have concluded with valuable learnings, serving as a platform for discussion to facilitate a new approach.</p>

					<h3>Insights from Experiment Deconstruction</h3>
					<ol><li>&mdash; <strong>Iconography:</strong> Analyzed its purpose and application to ensure clarity and effectiveness.</li>
						<li>&mdash; <strong>Imagery:</strong> Evaluated composition to prioritize action over mere decoration.</li>
						<li>&mdash; <strong>Content:</strong> Examined tone, including titles, summaries, instructional information, tense usage, and volume, tailored based on the user device.<br><br>Implemented distinct typographical styling for different types of content, such as instructional, actionable, and third-party content.</li>
						<li>&mdash; <strong>Hierarchy of components:</strong> Ensured alignment with the primary task for improved user navigation.</li>
						<li>&mdash; <strong>Simplifying button interactions:</strong> Enhanced usability by making frequent tasks readily accessible through streamlined button interactions.</li>
					</ol>
				</section>
				<div class="separator"><span></span><span></span><span></span></div>
				<section id="conclusion">
					<h2>Conclusion:</h2>
					<p>In essence, each step served as an Amuse-bouche proposition, seamlessly integrating UX into the business framework.</p>

					<p>Encouragingly, key influencers readily embraced this approach, paving the way for fruitful discussions on expediting a digital service overhaul.</p>

					<p>As the story unfolded, a plot twist emerged, leading to further exploration in my subsequent case study: "UX Research & Design for Avantia Groups’ Quote to Buy Journey".</p>
				</section>
			</article>
			<svg viewBox="0 0 1043.63 592.71" class="medium-read-more" style="height: 23px; margin: 16px 0; transform: rotate(180deg);"><g data-name="Layer 2"><g data-name="Layer 1">
				<path d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36M911.56 296.36c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279M1043.63 296.36c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94"></path>
			</svg>
			<a href="#next-case-2" class="btn btn-success btn-sm uxp-next-btn" >Case Study 2</a>
		</div>
	</div>
</div>