.offscreen {
    border-radius: 4px;
    font-family: var(--font-primary);
    height: 1px;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: -1000px;
    width: 1px;
    z-index: 2000;
}

.scroll-nudge {
    @include add-prefix-value(transform, translateX(-50%));

    align-items: center;
    bottom: 16px;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    width: 50px;
    z-index: 4;

    span, &:before, &:after {
        background-color: var(--color-logo-secondary);
    }

    span {
        align-items: center;
        color: var(--color-white);
        display: flex;
        font-size: 1em;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        left: 10px;
        text-align: center;
        top: 10px;
        z-index: 100;

        &:before {
            content: var(--icon-down);
            font-family: var(--font-icons);
            padding-top: 3px;
        }
    }

    &:before, &:after {
        content: "";
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        animation-fill-mode: both;
        position: absolute;
        opacity: 0;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation: zoomIn 1.8s 0.33333s ease-out infinite;
    }
}
