.about-us:before,
.cards footer:before,
.header-title h1:before,
.home:before {
	font-family: var(--font-icons);
	font-size: var(--size-08em-fontsize);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Shared bookme + bookme float properties */
.bookme-float-button, .bookme-button {
	border-radius: 4px;
	box-shadow: var(--elevation-1p);
	display: block;
	font-family: var(--font-primary);
	font-weight: bold;
	outline: none;
	overflow: hidden;
	position: relative;

	@include glass-reflection();

	&:before {
		border-right: 2px solid var(--color-white);
		content: '';
		display: block;
		height: 69px;
		left: -33%;
		opacity: 0;
		position: absolute;
		top: -13px;
		transform: rotate(30deg);
		width: 32px;

		@include glass-reflection(var(--color-white),-1,'unset','transparent','unset');
	}
}

/* Header bookme button */
.bookme-button{
	font-size: var(--size-09em-fontsize);
	font-weight: bold;
	line-height: 20px;
	padding: 10px 15px 12px;
}