.cards {
	border: none;
	margin: 15px 0 0 0;
	overflow: hidden;
	position: relative;

	header, .article-text {
		position: relative;
		width: 100%;
	}

	header {
		padding-bottom: 0;
		padding-top: 0;

		h2 {
			margin: 0;
			padding-top: var(--heading-top);

			sup { top: -13px; }
		}
	}

	.article-text {
		abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-dark-grey); }

		.read, .more {
			padding-top: 66px;
		}

		.read { height: 0; }

		.more { height: fit-content; }

		p {
			margin: 16px 0;

			&:last-child { margin: 16px 0 0; }

			> a, > a:hover, > a:link {
				cursor: pointer;
				display: inline-block;
				position: relative;
			}
		}

		> p {
			left: 50%;
			position: relative;
			width: 50%;
		}
	}

	&.about {
		.article-text {
			abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-white); }
		}
	}

	&.about {
		@include add-left-to-right (var(--color-white), var(--color-dark-grey), initial);
		& { z-index: 3; }

		abbr:after,
		span[title] {
			color: var(--color-dark-grey);
			border-bottom: 1px dotted var(--color-dark-grey);
		}

		h2 { color: var(--color-dark-grey); }

		.article-text p:first-child {
			margin: 32px 0 16px;
		}
	}
}
