html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: var(--font-primary), Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a { text-decoration:none; }

img { max-width: 100%; }

h2 {
	font-size: 30px;
	color: var(--color-white);
}

sup { 
	font-size: 60%;
	top: -8px;
}

.col { display: table-column; }

.inline-list {
	li {
		display: inline-block;
	}
}

.sr-only {
	background-color: var(--color-black);
	color: var(--color-white);
}
