.dark-knight {
	&.mobile #background-vdo,
	video { @include add-prefix-value (filter, grayscale(1)); }

	//menu
	.dropdown-menu { background-color: var(--color-black-50); }
	.dropdown-item {
		a { color: var(--color-white-80); }
	}

	.nav-link { color: var(--color-white-80); }

	//header
	.header-title h1,
	.header-title h1:before,
	.header-title h1::after {
		color: var(--color-primary) !important;
		text-shadow: none !important;
	}
	.header-title p { color: var(--color-white); }

	//main cta button
	.header-title .bookme-button, .bookme-float-button, input[type=submit], .demo-button {
		border: 1px solid var(--color-white);
		color: var(--color-white);
	}

	//shared props
	.cards {
		.article-text {
			abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-white); }
		}

		&.about {
			header, .article-text { background-color: var(--color-dark-solid-22); }

			header h2 {
				color: var(--color-primary) !important;
				text-shadow: none !important;
			}

			span[title] { border-bottom: 1px dotted var(--color-white); }

			.article-text,
			.article-text .read {
				> p { background-color: var(--color-dark-solid-22); }
				> p, > p sup a, p span, h3, li { color: var(--color-white) !important; }
			}

			.article-footer {
				background-color: var(--color-dark-solid-22);
				&:before, &:after { color: var(--color-white); }
			}

			&:before { border-left-color: var(--color-dark-solid-22); }
			&:after { border-right-color: var(--color-dark-solid-22); }
		}
	}
}
