%import-data-attr {
	background-color: var(--color-dark-solid-22);
	border-radius: 0;
	bottom: 0;
	color: var(--color-white);
	content: attr(data-tooltip);
	display: inline-block;
	font-family: var(--font-primary);
	font-size: 10px !important;
	left: 0;
	line-height: normal !important;
	padding: 2px;
	position: absolute;
	right: 0 !important;
	text-align: center;
	text-transform: uppercase;
	top: 0 !important;
}