$icon-accessible: "\4e";
$icon-agile: "\b1";
$icon-angular: "\5d";
$icon-batman: "\2f";
$icon-bootstrap: "\34";
$icon-calendly: "\79";
$icon-code: "\4c";
$icon-coffeescript: "\5b";
$icon-confluence: "\a7";
$icon-css3: "\a3";
$icon-dot-net: "\7e";
$icon-drupal: "\3d";
$icon-emberjs: "\33";
$icon-git: "\47";
$icon-grunt: "\5f";
$icon-html5: "\48";
$icon-jasmine: "\39";
$icon-javascript: "\6a";
$icon-jenkins: "\37";
$icon-jira: "\4a";
$icon-jquery: "\51";
$icon-kanbanize: "\27";
$icon-knockoutjs: "\5c";
$icon-leanux: "\30";
$icon-linkedin: "\38";
$icon-location: "\6d";
$icon-mail: "\65";
$icon-mgmt: "\76";
$icon-nodejs: "\6e";
$icon-pencil: "\50";
$icon-protractor: "\36";
$icon-reactjs: "\31";
$icon-redux: "\44";
$icon-sass: "\35";
$icon-settings: "\4f";
$icon-skype: "\73";
$icon-slack: "\23";
$icon-star: "\74";
$icon-supergui-logo: "\78";
$icon-tfs: "\3a";
$icon-trello: "\2d";
$icon-twitter: "\54";

.icon-accessible {
	&:before {
		color: var(--color-black);
		content: $icon-accessible;
	}
}

.icon-agile {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-agile;
	}
}

.icon-angular {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-angular;
	}
}

.icon-batman {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-batman;
	}
}

.icon-bootstrap {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-bootstrap;
	}
}

.icon-calendly {
	&:before {
		content: $icon-calendly;
	}
}

.icon-code {
	&:before { content: $icon-code; }
}

.icon-coffeescript {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-coffeescript;
	}
}

.icon-confluence {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-confluence;
	}
}

.icon-css3 {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-css3;
	}
}

.icon-dot-net {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-dot-net;
	}
}

.icon-drupal {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-drupal;
	}
}

.icon-emberjs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-emberjs;
	}
}

.icon-git {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-git;
	}
}

.icon-grunt {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-grunt;
	}
}

.icon-html5 {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-html5;
	}
}

.icon-jasmine {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-jasmine;
	}
}

.icon-javascript {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-javascript;
	}
}

.icon-jenkins {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-jenkins;
	}
}

.icon-jira {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-jira;
	}
}

.icon-jquery {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-jquery;
	}
}

.icon-kanbanize {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-kanbanize;
	}
}

.icon-knockoutjs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-knockoutjs;
	}
}

.icon-leanux {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-leanux;
	}
}

.icon-linkedin {
	&:before { content: $icon-linkedin; }
}

.icon-mail {
	&:before { content: $icon-mail; }
}

.icon-mgmt {
	&:before { content: $icon-mgmt; }
}

.icon-nodejs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-nodejs;
	}
}

.icon-pencil {
	&:before { content: $icon-pencil; }
}

.icon-protractor {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-protractor;
	}
}

.icon-reactjs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-reactjs;
	}
}

.icon-redux {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-redux;
	}
}

.icon-sass {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-sass;
	}
}

.icon-settings {
	&:before { content: $icon-settings; }
}

.icon-skype {
	&:before { content: $icon-skype; }
}

.icon-slack {
	&:before { content: $icon-slack; }
}

.icon-star {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-star;
	}
}

.icon-supergui-logo,
.supergui-signature {
	&:before {
		color: var(--color-logo);
		content: $icon-supergui-logo;
	}
}

.icon-tfs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-tfs;
	}
}

.icon-trello {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-trello;
	}
}

.icon-twitter {
	&:before { content: $icon-twitter; }
}

.booking header:after,
.booking:before,
.case-studies:before,
.contact-us:before,
.faqs:before,
.feedback-form:before,
.icon-accessible:before,
.icon-addressbook:before,
.icon-aftereffects:before,
.icon-agile:before,
.icon-angular:before,
.icon-atom:before,
.icon-axure:before,
.icon-balsamiq:before,
.icon-bootstrap:before,
.icon-calendly:before,
.icon-card:before,
.icon-chartjs:before,
.icon-code:before,
.icon-coffeescript:before,
.icon-config::before,
.icon-confluence:before,
.icon-css3:before,
.icon-d3:before,
.icon-dot-net:before,
.icon-drupal:before,
.icon-emberjs:before,
.icon-ethno:before,
.icon-eye:before,
.icon-figma:before,
.icon-git:before,
.icon-grunt:before,
.icon-html5:before,
.icon-illustrator:before,
.icon-invision:before,
.icon-image:before,
.icon-jasmine:before,
.icon-javascript:before,
.icon-jenkins:before,
.icon-jira:before,
.icon-jquery:before,
.icon-kanban:before,
.icon-kanbanize:before,
.icon-knockoutjs:before,
.icon-leanux:before,
.icon-linkedin:before,
.icon-people:before,
.icon-photoshop:before,
.icon-protractor:before,
.icon-mail:before,
.icon-mgmt:before,
.icon-miro:before,
.icon-mural:before,
.icon-next:before,
.icon-nodejs:before,
.icon-npm:before,
.icon-pencil:before,
.icon-reactjs:before,
.icon-redux:before,
.icon-remote:before,
.icon-sass:before,
.icon-search:before,
.icon-settings:before,
.icon-sketch:before,
.icon-skype:before,
.icon-slack:before,
.icon-star:before,
.icon-sublime:before,
.icon-supergui-logo:before,
.icon-survey:before,
.icon-tfs:before,
.icon-tools:before,
.icon-trello:before,
.icon-twitter:before,
.icon-userzoom:before,
.icon-wacom:before,
.infra:before,
.logo:before,
.newsletter header:after,
.popmodel-button:before,
.projects-help:before,
.send:before,
.social-channels a:before,
.toolkit:before,
.supergui-signature:before {
	font-family: var(--font-icons);
	font-size: var(--size-08em-fontsize);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-channels a:before { 
	font-size: var(--size-3em-fontsize);
	line-height: 1.5;
}

.social-channels .twitter:before {
	color: var(--color-twitter);
	content: $icon-twitter;
}
