.header .navbar-nav > li:nth-child(1) { display: none; }

.header-title {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	position: relative;
	z-index: 4;

	h1 {
		color: var(--color-logo-secondary);
		font-family: var(--font-headings);
		font-size: var(--size-2-5em-fontsize);
		padding: 0;
		text-shadow: var(--elevation-0p);
		text-align: center;
		will-change: transform;

		&:before {
			color: var(--color-logo-secondary);
			content: var(--icon-supergui-logo);
			display: flex;
			font-family: var(--font-icons);
			font-size: var(--size-1-5em-fontsize);
			justify-content: center;
			line-height: 55px;
		}

		&:after {
			display: flex;
			font-family: var(--font-primary);
			font-size: var(--size-03em-fontsize);
			justify-content: center;
			letter-spacing: 10.4px;
			text-indent: 13px;
			text-transform: uppercase;
		}
	}

	> p {
		color: var(--color-dark-grey);
		display: block;
		font-family: var(--font-primary), Arial, Helvetica, sans-serif;
		font-size: var(--size-085em-fontsize);
		letter-spacing: normal;
		padding: 16px 0 33px;
		width: 55.55555%;
		text-align: center;
	}

	.bookme-button { 
		height: auto;
		margin: 0 auto;
	}
}
