.dark-knight.Edge, .Edge {
    .cards.about .article-text .read blockquote,
    .cards.about .article-text blockquote,
    blockquote,
    blockquote.active {
        background-image: none !important;

        &:before {
            top: -6px;
        }

        &:after {
            bottom: -45px;
        }
    }
}

@media screen and (max-width: 508px) {
    .dark-knight.Edge, .Edge aside .context-viewer .feedback-content .fb-form-layout input[type=radio]~label {
        line-height: var(--size-2em-fontsize);
    }
}
