body {
	position: relative;

	> header {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&:before {
		background-image: url('/assets/images/filter.png');
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: var(--color-white-75);
		background-blend-mode: luminosity;
		background-repeat: repeat;
	}
}

html, body {
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100lvh;
	margin: 0;
	width: 100lvw;
}

body { width: 100%; }

a { color: var(--color-dark-grey); }

a[href^="mailto"],
a[href^="tel"],
.email-link {
	direction: rtl;
	text-transform: lowercase;
	unicode-bidi: bidi-override;
}

abbr,
abbr[title],
abbr[data-original-title],
figcaption a {
	border-bottom: 1px dotted var(--color-dark-grey);
	display: inline-block;
	position: relative;
	text-decoration: none !important;
}

button { outline: none !important;}

h2 { font-size: var(--size-3em-fontsize); }

h2, h3, h4, .h4 {
	font-family: var(--font-headings);
	font-style: normal;
	font-weight: 600;
}

p { 
	font-family: var(--font-primary), Arial, Helvetica, sans-serif;
	font-size: var(--size-1-1em-fontsize);
}

strong { font-weight: bold !important; }

.suppress {
	border: none !important;
	text-decoration: none !important;
}