@media screen and (min-width: 3840px) {
	body { padding: 0 var(--spacing-tv); }

	.header-title {
		h1 {
			font-size: var(--size-4em-fontsize);
			height: auto;

			&:before { line-height: 85px; }
		}

		.bookme-button {
			@include add-prefix-value(transform, scale(2));
		}
	}

	.header-title>span { font-size: var(--size-1-5em-fontsize); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop) 0; }
}

@media screen and (min-width: 1920px) and (max-width: 3839px) {
	body { padding: 0 var(--spacing-tv); }

	.header-title h1 { height: auto; }

	.cards .article-text>p {
		left: 40%;
		width: 55%;
	}
}

@media screen and (min-width: 1921px) and (max-width: 3839px) {
	.navbar-nav .menubutton { width: 181px; }

	.nav-link,
	.open>.nav-link,
	.bookme-float-button,
	.bookme-button {
		&, &:active, &:focus, &:hover { font-size: var(--size-1-25em-fontsize); }
	}

	.bookme-button {
		&, &:active, &:focus, &:hover {
			border-radius: 42px;
			padding: 20px 42px 25px;
		}

		&:before {
			height: 138px;
			top: -33px;
		}
	}

	.bookme-float-button {
		&, &:active, &:focus, &:hover { padding: 6px 30px 9px; }
	}
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
	.navbar-nav { width: 616px; }

	.nav-item, .nav-link {
		max-width: 122px;
		white-space: nowrap;
	}

	.translated-ltr {
		.nav-item { height: 51px; }

		.nav-item, .nav-link {
			line-height: 35px;
			max-width: fit-content;
		}
	}
}

/* Responsive TV */
@media screen and (min-width: 1920px) and (max-width: 3840px) {
	body { padding: 0 var(--spacing-tv); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop) 0; }
}

@media screen and (min-width: 1919px) {
	.header-title>span { padding: 0; }
}

@media screen and (max-width: 1919px) {
	.header-title>p { width: 33.33333%; }
}

/* Responsive desktop */
@media screen and (min-width: 1025px) and (max-width: 1919px) {
	body { padding: 0 var(--spacing-desktop); }

	.header-title { min-height: 301px; }

	.header-title h1 { min-height: 118px; }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop) 0; }
}

/* iPad Pro Landscape */
@media screen and (orientation : landscape) and (max-width: 1366px) {
	body { padding: 0 var(--spacing-desktop); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop); }
}

/* iPad Pro Portrait */
@media screen and (orientation : portrait) and (max-width: 1024px) {
	body { padding: 0 var(--spacing-tablet); }

	.header-title h1 { height: auto; }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet) 0; }
}

/* Surface Pro 7 Landscape */
@media screen and (orientation : landscape) and (max-width: 1368px) {
	body { padding: 0 var(--spacing-desktop); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop); }
}

/* Surface Pro 7 Portrait */
@media screen and (orientation : portrait) and (max-width: 912px) {
	body { padding: 0 var(--spacing-tablet); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet) 0; }
}

@media screen and (max-width: 1323px) {
	.header-title>p { width: 60%; }
}

/* iPad Air Landscape */
@media screen and (orientation : landscape) and (max-width: 1180px) {
	body { padding: 0 var(--spacing-desktop); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop); }
}

/* iPad Air Portrait */
@media screen and (orientation : portrait) and (max-width: 820px) {
	body { padding: 0 var(--spacing-tablet); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet) 0; }
}


/* iPad Mini Landscape */
@media screen and (orientation : landscape) and (max-width: 1024px) {
	body { padding: 0 var(--spacing-desktop); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-desktop); }
}

/* iPad Mini Portrait */
@media screen and (orientation : portrait) and (max-width: 768px) {
	body { padding: 0 var(--spacing-tablet); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet) 0; }
}

/* iPhone 14 Pro Max Landscape */
@media screen and (orientation : landscape) and (max-width: 932px) {
	body { padding: 0 var(--spacing-tablet); }

	.header-title>span { 
		font-size: var(--size-08em-fontsize);
		padding: 16px 0;
	}

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet); }
}

/* iPhone 14 Pro Max Portrait */
@media screen and (orientation : portrait) and (max-width: 430px) {
	body { padding: 0 var(--spacing-mobile); }

	.header-title h1 { height: auto; }
	.header-title>span { width: 100%; }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-mobile) 0; }
}

/* Samsung Galaxy S20 Ultra Landscape */
@media screen and (orientation : landscape) and (max-width: 915px) {
	body { padding: 0 var(--spacing-tablet); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet); }
}

/* Samsung Galaxy S20 Ultra Portrait */
@media screen and (orientation : portrait) and (max-width: 412px) {
	body { padding: 0 var(--spacing-mobile); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-mobile) 0; }
}

/* iPhone 12 Pro Landscape */
@media screen and (orientation : landscape) and (max-width: 844px) {
	body { padding: 0 var(--spacing-mobile); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-mobile); }
}

/* iPhone 12 Pro Portrait */
@media screen and (orientation : portrait) and (max-width: 390px) {
	body { padding: 0 var(--spacing-watch); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-watch) 0; }

	.header-title h1:before {
		line-height: 50px;
		margin-bottom: 0; 
	}
}

/* iPhone XR Landscape */
@media screen and (orientation : landscape) and (max-width: 896px) {
	body { padding: 0 var(--spacing-mobile); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-tablet); }
}

/* iPhone XR Portrait */
@media screen and (orientation : portrait) and (max-width: 414px) {
	body { padding: 0 var(--spacing-watch); }

	.cards header,
	.cards .article-text { padding: 16px var(--spacing-watch) 0; }

	.header-title h1:before {
		line-height: 50px;
		margin-bottom: 0; 
	}
}

/* iPhone SE Landscape */
@media screen and (orientation : landscape) and (max-width: 667px) {
	body { padding: 0 var(--spacing-watch); }

	.cards header,
	.cards .article-text { padding: var(--spacing-mobile); }
}

/* iPhone SE Portrait */
@media screen and (orientation : portrait) and (max-width: 375px) {
	body { padding: 0; }

	.cards header,
	.cards .article-text { padding: var(--spacing-mobile); }

	.header-title h1:before {
		line-height: 50px;
		margin-bottom: 0; 
	}
}

/* Galaxy Fold Landscape */
@media screen and (orientation : landscape) and (max-width: 653px) {
	body { padding: 0 var(--spacing-watch); }

	.cards header,
	.cards .article-text { padding: var(--spacing-watch); }
}

/* Galaxy Fold Portrait */
@media screen and (orientation : portrait) and (max-width: 280px) {
	body { padding: 0; }

	.cards header,
	.cards .article-text { padding: var(--spacing-watch); }

	.header-title h1:before {
		line-height: 50px;
		margin-bottom: 0; 
	}
}

/* Samsung Galaxy S8+ Landscape */
@media screen and (orientation : landscape) and (max-width: 750px) {
	body { padding: 0 var(--spacing-tablet); }

	.cards header,
	.cards .article-text { padding: var(--spacing-tablet); }
}

/* Samsung Galaxy S8+ Portrait */
@media screen and (orientation : portrait) and (max-width: 360px) {
	body { padding: 0; }

	.cards header,
	.cards .article-text { padding: var(--spacing-mobile); }

	.header-title h1:before {
		line-height: 50px;
		margin-bottom: 0; 
	}
}

@media screen and (min-width: 769px) {
	.nav-item[aria-labelledby=Msg] {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.header-title>span { font-size: var(--size-08em-fontsize); }
}

@media screen and (max-width: 768px) {
	.cards .article-text>p { 
		left: 33.33333%;
		width: 66.66666%;
	}
}

@media screen and (max-width: 608px) {
	.cards .article-text>p { 
		left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	.header-title>span { width: 88%; }
}

//iPhone 13 Pro Max Media Query for landscape orientation:
@media only screen and (min-width: 428px) and (orientation: landscape) {
	.header-title h1:before { font-size: var(--size-1-4em-fontsize); }
}
