.fixed-top, .navbar-fixed-bottom {
	height: 0;
	left: 0;
	position: fixed;
	right: 0;
	width: auto;
}

.navbar {
	height: 50px;
	padding: 0;
	z-index: 10;
}

.nav-item {
	position: relative;
}

.nav-link {
	align-items: center;
	border: none !important;
	color: var(--color-dark-grey);
	display: flex;
	font-family: var(--font-primary);
	font-size: var(--size-1-1em-fontsize);
	height: 35px;
	justify-content: center;
	margin: 8px 0;
	outline: none;
	padding: 6px 11px 10px;
}

.navbar-inverse,
.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-menu {
	border-radius: 0 0 4px 4px;
	background: var(--color-white-50) url('/assets/images/filter.png') repeat;
	backdrop-filter: blur(2px);
	box-shadow: var(--elevation-5p);
	font-size: var(--base-fontsize);
	margin-top: 0px;
}

.navbar { background: transparent; }

.navbar-nav {
	float: none;
	font-size: .8em;
	margin: 0 auto;
	width: fit-content;

	.menulogo {
		bottom: 0;
		color: var(--color-logo);
		font-size: 1.5em;
		left: 16px;
		position: absolute;
		text-transform: none;
		top: 14px;
		vertical-align: middle;
	}
}

.dropdown-menu { background-clip: unset; }