<%
// METAdata
offlineMessage = "You are viewing SG in offline mode";

companyName = "SuperGUi.co";
companyNameShort = "SuperGUi";
companyTitle = "Leigh Laguisma";
companyURL = "https://portfolio.supergui.co";
companyDescription = "SuperGUi is pseudo Leigh Laguisma, a 20 year design veteran helping businesses on user experience and interface challenges. From concept to frontend, Leigh has been the first-in UX designer team of one, integrating design thinking into traditional mindsets.";
companyLogoAltText = "SuperGUi.Co invites you to explore experience design";
companyShortTagLine = "UX & UI Design";
companyLongTagLine = "User Experience & Interface Design with the strategic design thinking at your helm.";
companyPropStatement = "Designing beautifully tailored interactions that speak to the needs of your customers; <span class='suppress'>serving businesses ranging from small startups to large enterprises with </span>User Experience<span class='suppress'>, User Interface</span> design, and development, since 1999";

metaTwitterCardTitle = "UX & UI Design with design thinking at the helm.";
metaTwitterCardDomain = "portfolio.supergui.co";
metaTwitterCardDescription = "Designing beautifully tailored interactions that speak to the needs of your customers; helping businesses with UX, UI design, and development since 1999"
metaThemeColor = "#c59b4f";

keywordSearch = "User Experience, User Interface Designer, Creative Designer, Frontend Designer, Product Designer, Information Architect, UX, UI, UX Designer, ui ux designer, Senior UX Designer, UX Director, Design Leadership, web design";
businessSchema = "Service";
businessOwner = "Leigh Laguisma";
businessType = "Service";
businessAddress = ["1944","Katy Fort Bend Rd","Katy","Texas","77493","TX"];
businessCountry = "US";
businessLocation = "1944+Katy+Fort+Bend+Rd+Katy+TX+77493+USA";
businessTelephone = "8329740634";
businessTelephoneTel = "8329740634";
businessTelephoneObfuscated = "&#52;&#51;&#54;&#48;&#45;&#52;&#55;&#57;&#32;&#40;&#50;&#51;&#56;&#41;";
businessTelephoneLabel = "(832) 974-0634";
businessFax = " ";
businessEmail = "hello@"+ companyName;

// mailto:+hello+@+companyName+.com
businessEmailMailTo = "&#109;&#97;&#105;&#108;&#116;&#111;&#58;"+"&#104;&#101;&#108;&#108;&#111;"+"&#64;"+ companyName;

// businessEmailObfuscated = "hello(at)"+ companyName
businessEmailObfuscated = "&#111;&#99;&#46;&#105;&#117;&#103;&#114;&#101;&#112;&#117;&#115;"+"&#64;&#111;&#108;&#108;&#101;&#104;";

businessLatitude = "29.8010104";
businessLongitude = "-95.8007111";

googleSiteVerification = "lotY85XUZjSKG6IXYWAF";
googleMapAPIkey = "AIzaSyAjt2X7APrmWc2OlJeXKoDMceys1LbsxKQ";
googleMapEmbedIframeSrc = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3414.528863107814!2d-95.80520455570304!3d29.80094313688997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8641268827ff6251%3A0x77f0af230e0b2846!2s1944%20Katy%20Fort%20Bend%20Rd%2C%20Katy%2C%20TX%2077493!5e0!3m2!1sen!2sus!4v1664910837820!5m2!1sen!2sus";
googleDirections = "https://www.google.com/maps/dir/"+ businessLocation +"/@"+ businessLatitude +","+ businessLongitude+",18.94z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8641268827ff6251:0x77f0af230e0b2846!2m2!1d-95.8006351!2d29.8009841!3e0";
googleMapBackground = "https://maps.googleapis.com/maps/api/staticmap?size=1250x300&zoom=16&scale=2&markers=icon:"+ companyURL +"%2Fportfolio%2Fdist%2Fsupergui-pin.png%3Fv%3D9|scale:2|"+ businessLatitude +","+ businessLongitude +"&key="+ googleMapAPIkey;

colorCold = "#00ffff";
colorHot = "#ff0a59";

linkedinLink = "https://www.linkedin.com/in/leighlaguisma";
skypeLink = "skype:leigh.laguisma?chat";
slackLink = "https://supergui.slack.com";
calendlyLink = "https://calendly.com/leigh-laguisma/40mins";
twitterLink = "https://www.twitter.com/leighlaguisma";
twitterHandle = "_SuperGUi";
twitterCreator = "leighlaguisma";
mediumUsername = "@leighlaguisma";

// VDO Background source names (x4 seasons); the following extensions required .mp4/.webm/.jpg for each season filename
spring = "Breezy";
summer = "Forest-9797";
fall = "japanese-maple";
winter = "Snow-motion";

// Navigation tier 1 menu
// Longname for titles
longTitle1 = "About me";
// Tier 2 (dropdown)
longTitle1a = "Leigh Laguisma";
longTitle1b = "Skill origins";
longTitle1c = "Skill diorama";

longTitle2 = "Contact me";

longTitle3 = "Case Study";
// Tier 2 (dropdown)
longTitle3a = "AG: Constructing <abbr title='Front-end'>FE</abbr> Infrastructure";
longTitle3aAria = "AG: Constructing Front-end Infrastructure";
longTitle3b = "AG: Build New Product Suite";
longTitle3c = "TW: Clean Slate Trading Tools";

longTitle4 = "Private Projects";
longTitle5 = "FAQs";
longTitle6 = "Testimonials";
longTitle7 = "Toolkit";
longTitle8 = "Survey";

// Shortname for titles
shortTitle1 = "About";
shortTitle2 = "Contact";
shortTitle3 = "Cases";
shortTitle4 = "Projects";
shortTitle5 = "FAQs";
shortTitle6 = "Grapevine";
shortTitle7 = "Tools";

// Navigation classes
navLink1 = "about-us";
navLink2 = "contact-us";
navLink3 = "case-options";
navLink4 = "projects-help";
navLink5 = "faqs";
navLink6 = "testimonials";
navLink7 = "toolkit";

// Header content
// Label, Descriptions and Summaries
valuePropText = "Designing beautifully tailored interactions that speak to the needs of your customers; serving businesses ranging from small startups to large enterprises with User Experience, User Interface design, and development, since 1999";
// Primary CTA
ctaPrimaryLabel = "Let's converse";
ctaPrimaryShort = "Msg";

// 3D menu Blogs
// Cube 1
// Design(IP) story
storyIPHeading = "Medium thoughts, and supplementals...";
storyIPSummary = "Thinking outside the process pipeline";

// Management(IM) story
storyIMHeading = "Management Story ...";
storyIMSummary = "Seting up a team for success";

// Code(IC) story
storyICHeading = "Code refactoring ...";
storyICSummary = "Modular discipline and repeatablility";

// Agile(IK) story
storyIKHeading = "Agile adaptability ...";
storyIKSummary = "Processing problems with thorough coverage";

// Cube 2
// UX story
storyUXHeading = "What <abbr title='User Experience'>UX</abbr> answers for me and you";
storyUXSummary = "Designing out the pain and growing <abbr title='Customer Lifetime Value'>CLTV</abbr> of customers";

// UI story
storyUIHeading = "Abstracting the UI view, the key to adaptability";
storyUISummary = "One design system, to evolve numerous experiences";

// IA story
storyIAHeading = "Aligning content in order of human consumption";
storyIASummary = "A mixology of standard tasks and strategy";

// Interaction(IXD) story
storyIXDHeading = "Pre-cognitive bias that feeds the moment";
storyIXDSummary = "Known variables, actual behaviour and intercepting expectational feedback";


// About panel
panel1Heading = "About me";
panel1AriaHeading = "About me";
panel1HeadShort = "About";
panel1Summary = "<p><strong>Hello, I'm Leigh, your friendly <span id='neighbor' title='And by nearby its remotely!'>neighborhood</span></strong></p><div class='departures-board' aria-hidden='true'></div><p>With extensive experience in digital transformation, product strategy, and development, I deliver collaborative solutions that optimize processes and build upon value revenue opportunities for businesses.</p><p>I humanize interfaces using both qualitative and quantitative data, crafting products and services for clients' customers, one problem at a time.</p>";

// Booking panel
panel2Heading = "Let's converse";
panel2AriaHeading = "Let's converse";
panel2HeadShort = "Msg";
panel2Intro = "Welcome to the conversion point. If the about or case study section piqued your interest, how about we transition from reading to speaking? Ready to explore? Go ahead";
panel2Summary = panel2Heading +".";
panel2ConfirmMessage = "Thank you! Your invitation for a meetup has been successfully sent. I will follow up to confirm your date and timeslot. If you would like to send another message, go ahead and click";
panel2CalendlyMessage = "Thank you! Your Calendly meetup has been successfully sent. I will follow up to confirm your date and timeslot. If you would like to send another message, go ahead and click";

// Case panel
panel3Heading = "Case Study<sup>3</sup>";
panel3AriaHeading = "Case Study";
panel3HeadShort = "Cases";
panel3Summary = "Welcome to the Case Study Emporium! Here, you'll dive deeper into Leigh's approach to UX+UI design across a range of work scenarios and unique challenges.";

// Private Projects panel
panel4Heading = "Projects";
panel4AriaHeading = "Private Projects";
panel4HeadShort = "Projects";
panel4Summary = "I've always enjoyed the challenge of helping others get their projects off the ground, and I've made some good friends in the process too.<br><br>These side ventures encompass a range of consultative <abbr title='User Experience'>UX</abbr> work, <abbr title='User Interface'>UI</abbr> design, Strategy, and essentially anything that helps elevate them from good to great.";

// Help panel
panel5Heading = "Questions";
panel5AriaHeading = "FAQs";
panel5HeadShort = "FAQs";
panel5Summary = "Curious? Here are answers to some common questions.";

// Testimonials panel
panel8Heading = "Recommendations";
panel8AriaHeading = "Testimonials";
panel8HeadShort = "Grapevine";
panel8Summary = "";

// Toolkit panel
panel6Heading = "Toolkit";
panel6AriaHeading = "Toolkit";
panel6HeadShort = "Tools";
panel6Summary = "I first dipped my toes into graphics software with Aldus Freehand and QuarkXpress on the Macintosh II by Apple.</p><p>As for coding, my journey began with <a class='basic new-window' href='https://en.wikipedia.org/wiki/BASIC' title='Lookup Basic' rel='noreferrer noopener'>Basic</a> on the old Commodore 16. I vividly remember writing HTML directly in a notepad when access to computers was scarce. Since then, my tool stack has evolved significantly.";

// Contact panel
panel7Heading = "How<sup>2</sup> find moi?";
panel7AriaHeading = "Contact me";
panel7HeadShort = "Where";
panel7Summary = "You can usually find me at my home office desk, where I work remotely. I'm currently based in the Central Daylight Time zone (CDT).";
panel7Label1 = "Monday to Friday";
panel7Summary1 = "3pm - 8pm";
panel7Label2 = "Saturday";
panel7Summary2 = "8am - 6pm";
panel7Label3 = "Sunday";
panel7Summary3 = "by Appointment Only";

// Case Study outline by Sarah Doody
caseStudyOutline = '["overview", "why", "users-audience", "roles-responsibilities", "scope-constraints", "process-what-you-did", "outcomes-results", "conclusion"]';

// Standard outline
starOutline = '["situ", "task", "action", "result"]';

// UXP content
storyUXPHeading = "Case Study 1: <abbr title='Avantia Group'>AG</abbr> User Research for UX Strategy Prop<span class='suppress'>osition</span>. #nonvisualux";
storyUXPSummary = " - 6 min read";
storyUXPRoleTags = "<li>Evaluate workflows</li><li>Discover pain points</li><li>Inventory Research</li><li>Define UI Standards</li><li>Heuristic Evaluation</li><li>I<span class='suppress'>nformation </span>A<span class='suppress'>rchitecture</span></li><li>Design A/BT</li>";
storyUXPResearchTags = "<li>Ethnographic interview</li><li>Participatory Design</li><li>Remote usability testing</li>";
storyUXPToolkitTags = "<li>Sketch</li><li>Adobe Photoshop</li><li>Adobe Illustrator</li>";

// UXD content
storyUXDHeading = "Case Study 2: Avantia Group User Experience Design for User Centric Driven Direction.";
storyUXDSummary = " - 9 min read";
storyUXDRoleTags = "<li>Build UX+UI Team</li><li>Define FE Stack</li><li>Refine UI Standards</li><li>Workshop facilitation</li><li>Research Plan</li><li>Content strategy</li><li>SEO</li><li>Build UI</li>";
storyUXDResearchTags = "<li>Qualitative Research</li><li>Behavioural Personas</li><li>Survey design</li><li>Card sorting</li><li>Information Architecture</li><li>Remote usability testing</li>";
storyUXDToolkitTags = "<li>Sketch</li><li>Photoshop</li><li>Illustrator</li><li>After Effects</li><li>Invision</li><li>Userzoom</li>";

// UXI content
storyUXIHeading = "Case Study 3: The Workshop, User Experience Design for New Interface Overhaul.";
storyUXISummary = " - 8 min read";
storyUXIRoleTags = "<li>Evaluate workflows</li><li>Discover pain points/concerns</li><li>Inventory Business Intelligence</li><li>Define UI Standards</li><li>Heuristic Evaluation</li><li>Information Architecture</li><li>Design E-Sports Scoreboard system</li><li>UI Support</li>";
storyUXIResearchTags = "<li>Ethnographic interview</li><li>Research procurement</li><li>Participatory Design</li><li>Remote usability testing</li>";
storyUXIToolkitTags = "<li>Axure RP7</li><li>Balsamiq</li><li>Sketch</li><li>Adobe Photoshop</li><li>Adobe Illustrator</li>";

// Old deprecated content
// infra content
case1Heading = "<abbr title='Avantia Group'>AG</abbr>: Restructuring a facelift that's more than skin deep<span class='suppress'>&nbsp;&mdash; getting past the code issues</span>";
case1Summary = "Identifying the problem blockers to alleviate workflows for actual change";
// platform content
case2Heading = "<abbr title='Avantia Group'>AG</abbr>: Mobilising an ambitious core product<span class='suppress'>&nbsp;&mdash; lets go!</span>";
case2Summary = "A user centric approach at all business levels";
// esports content
case3Heading = "<abbr title='The Workshop'>TW</abbr>: eScoreboard dash UI with a slice of re-platform</span>";
case3Summary = "14 days, -45&deg;<abbr title='Celsius'>C</abbr>/-49&deg;<abbr title='Fahrenheit'>F</abbr> to save the platform";

// Feedback content
panel9Heading = "We invite you to share your experience with "+ companyName;

// Survey button labels
iconLabel1 = "🙂";
shortLabel1 = iconLabel1+" Happy";
longLabel1 = shortLabel1;
iconLabel2 = "🙁";
shortLabel2 = iconLabel2+" Mad";
longLabel2=  iconLabel2+" Disappointed";
iconLabel3 = "😞";
shortLabel3 = iconLabel3+" Sad";
longLabel3 = shortLabel3;

// Brands worked with
clientPrologue = "Brands <abbr title='"+ companyName +"'>SG</abbr> have been fortunate to work with:";

partnerTitle0 = "Industry: Cryptocurrency Blockchain";
partnerLink0 = "#metisx.io";
partnerLogo0 = "/assets/images/brand-logos/MT-logo.png";
partnerAltText0 = "Metisx";

partnerTitle1 = "Industry: ECom";
partnerLink1 = "#coorative";
partnerLogo1 = "/assets/images/brand-logos/CR-logo.png";
partnerAltText1 = "Coorative";

partnerTitle2 = "Industry: InsurTech";
partnerLink2 = "#avantiagroup";
partnerLogo2 = "/assets/images/brand-logos/AG-logo.png";
partnerAltText2 = "Avantia Group";

partnerTitle3 = "Industry: FairTrade";
partnerLink3 = "#begoodshop";
partnerLogo3 = "/assets/images/brand-logos/BG-logo.png";
partnerAltText3 = "Be Good Shop";

partnerTitle4 = "Industry: Gaming";
partnerLink4 = "#theworkshop";
partnerLogo4 = "/assets/images/brand-logos/CX-logo.png";
partnerAltText4 = "The Workshop";

partnerTitle5 = "Industry: Non-profit Charity";
partnerLink5 = "#angelscharity";
partnerLogo5 = "/assets/images/brand-logos/AC-logo.png";
partnerAltText5 = "Angels Charity";

partnerTitle6 = "Industry: Research";
partnerLink6 = "#kantar";
partnerLogo6 = "/assets/images/brand-logos/LR-logo.png";
partnerAltText6 = "Kantar Group";

partnerTitle7 = "Industry: Marketplace";
partnerLink7 = "#connexity";
partnerLogo7 = "/assets/images/brand-logos/CX-logo.png";
partnerAltText7 = "Connexity Inc";

partnerTitle8 = "Industry: e-Tailor";
partnerLink8 = "#tmlewin";
partnerLogo8 = "/assets/images/brand-logos/TM-logo.png";
partnerAltText8 = "TM Lewin";

partnerTitle9 = "Industry: e-Legal Publishing";
partnerLink9 = "#lexisnexis";
partnerLogo9 = "/assets/images/brand-logos/LN-logo.png";
partnerAltText9 = "LexisNexis";

partnerTitle10 = "Industry: Consulting";
partnerLink10 = "#deloitte";
partnerLogo10 = "/assets/images/brand-logos/DT-logo.png";
partnerAltText10 = "Deloitte & Touche";

partnerTitle11 = "Industry: e-Commerce";
partnerLink11 = "#specsavers";
partnerLogo11 = "/assets/images/brand-logos/SS-logo.png";
partnerAltText11 = "Specsavers";

twitckerLabel = companyName + " twitter feed";

// Tickertape for Twitter
twitckerScriptName = "leighlaguisma";

rawAtfCss = " ";
%>
<script>
	const offlineMessage = '<%= offlineMessage %>';
	const versionTimestamp = '<%= versionTimestamp %>';
	const darkColor = '#222222';
	const springFname = '<%=spring%>';
	const springColor = '#e0143d';
	const summerFname = '<%=summer%>';
	const summerColor = '#E3B663';
	const fallFname = '<%=fall%>';
	const fallColor = '#a62828';
	const winterFname = '<%=winter%>';
	const winterColor = '#083145';
	const caseStudyOutline = `<%-caseStudyOutline%>`;
	const starOutline = `<%-starOutline%>`;
	const businessCountry = '<%= businessCountry %>';
	const businessAddress0 = '<%= businessAddress[0] %>';
	const businessAddress1 = '<%= businessAddress[1] %>';
	const businessAddress2 = '<%= businessAddress[2] %>';
	const businessAddress3 = '<%= businessAddress[3] %>';
	const businessAddress4 = '<%= businessAddress[4] %>';
	const businessEmail = '<%- businessEmail %>';
	const businessEmailMailTo = '<%- businessEmailMailTo %>';
	const businessEmailObfuscated = `<%- businessEmailObfuscated %>`;
	const businessFax = '<%= businessFax %>';
	const businessOwner = '<%= businessOwner %>';
	const businessLatitude = '<%= businessLatitude %>';
	const businessLongitude = '<%= businessLongitude %>';
	const businessLocation = '<%= businessLocation %>';
	const businessTelephoneObfuscated = `<%- businessTelephoneObfuscated %>`;
	const businessTelephoneTel = '<%=businessTelephoneTel %>';
	const businessTelephone = '<%= businessTelephone %>';
	const businessType = '<%= businessType %>';
	const calendlyLink = '<%- calendlyLink %>';
	const companyDescription = '<%=companyDescription%>';
	const companyName = '<%= companyName %>';
	const companyNameShort = '<%= companyNameShort %>';
	const companyURL = '<%= companyURL %>';
	const ctaPrimaryLabel = '<% ctaPrimaryLabel %>';
	const ctaPrimaryShort = '<%= ctaPrimaryShort %>';
	const iconLabel1 = '<%= iconLabel1 %>';
	const iconLabel2 = '<%= iconLabel2 %>';
	const iconLabel3 = '<%= iconLabel3 %>';
	const linkedinLink = '<%- linkedinLink %>';
	const longLabel1 = '<%= longLabel1 %>';
	const longLabel2 = '<%= longLabel2 %>';
	const longLabel3 = '<%= longLabel3 %>';
	const longTitle1 = '<%= longTitle1 %>';
	const longTitle2 = '<%= longTitle2 %>';
	const longTitle3 = '<%= longTitle3 %>';
	const longTitle4 = '<%= longTitle4 %>';
	const longTitle5 = '<%= longTitle5 %>';
	const longTitle6 = '<%= longTitle6 %>';
	const longTitle7 = '<%= longTitle7 %>';
	const navLink1 = '<%= navLink1 %>';
	const navLink2 = '<%= navLink2 %>';
	const navLink3 = '<%= navLink3 %>';
	const navLink4 = '<%= navLink4 %>';
	const navLink5 = '<%= navLink5 %>';
	const navLink6 = '<%= navLink6 %>';
	const navLink7 = '<%= navLink7 %>';
	const panel2CalendlyMessage = '<%=panel2CalendlyMessage %> ';
	const panel2ConfirmMessage = '<%=panel2ConfirmMessage %> ';
	const panel2Intro = '<%=panel2Intro %> ';
	const panel2Summary = `<%- panel2Summary %>`;
	const panel9Heading = '<%= panel9Heading %>';
	const shortLabel1 = '<%= shortLabel1 %>';
	const shortLabel2 = '<%= shortLabel2 %>';
	const shortLabel3 = '<%= shortLabel3 %>';
	const shortTitle1 = '<%= shortTitle1 %>';
	const shortTitle2 = '<%= shortTitle2 %>';
	const shortTitle3 = '<%= shortTitle3 %>';
	const shortTitle4 = '<%= shortTitle4 %>';
	const shortTitle5 = '<%= shortTitle5 %>';
	const shortTitle6 = '<%= shortTitle6 %>';
	const shortTitle7 = '<%= shortTitle7 %>';
	const skypeLink = '<%- skypeLink %>';
	const storyICHeading = '<%= storyICHeading %>';
	const storyICSummary = '<%= storyICSummary %>';
	const storyIKHeading = '<%= storyIKHeading %>';
	const storyIKSummary = '<%= storyIKSummary %>';
	const storyIMHeading = '<%= storyIMHeading %>';
	const storyIMSummary = '<%= storyIMSummary %>';
	const storyIPHeading = '<%= storyIPHeading %>';
	const storyIPSummary = '<%= storyIPSummary %>';
	const storyUXHeading = '<%= storyUXHeading %>';
	const storyUXSummary = '<%= storyUXSummary %>';
	const storyUIHeading = '<%= storyUIHeading %>';
	const storyUISummary = '<%= storyUISummary %>';
	const storyIAHeading = '<%= storyIAHeading %>';
	const storyIASummary = '<%= storyIASummary %>';
	const storyIXDHeading = '<%= storyIXDHeading %>';
	const storyIXDSummary = '<%= storyIXDSummary %>';

	// Global scope position
	const htmlElement = document.documentElement;

	// Query variable extraction function
	const getQueryVariable = (variable) => {
		const query = window.location.search.substring(1);
		const vars = query.split("&");
		for (let i = 0; i < vars.length; i++) {
			const pair = vars[i].split("=");
			if (pair[0] === variable) {
				return pair[1];
			}
		}
		return false;
	}

	const debug = getQueryVariable('debug') === 'true';

	// Render timestamp for logging messages to console
	const getTimestamp = () => {
		const now = new Date();
		const seconds = String(now.getSeconds()).padStart(2, '0');
		const milliseconds = String(now.getMilliseconds()).padStart(3, '0');
		
		return `[Executed: ${seconds}s:${milliseconds}ms]`;
	}

	const debugLog = (message) => {
		if (typeof debug !== 'undefined' && debug) {
			console.log(`[${getTimestamp()}] ${message}`);
		}
	}

	Element.prototype.isInViewport = function() {
		const rect = this.getBoundingClientRect();
		return (
			rect.top < (window.innerHeight || document.documentElement.clientHeight) &&
			rect.bottom > 0 &&
			rect.left < (window.innerWidth || document.documentElement.clientWidth) &&
			rect.right > 0
		);
	};
</script>
