<div class="uxp-content">
	<div class="descriptor"><!-- include('uxp-story'); --></div>
</div>
<div class="uxd-content">
	<div class="descriptor"><!-- include('uxd-story'); --></div>
</div>
<div class="uxi-content">
	<div class="descriptor"><!-- include('uxi-story'); --></div>
</div>
<div class="ik-content">
	<div class="descriptor"><!-- include('ik-agile-story'); --></div>
</div>
<div class="im-content">
	<div class="descriptor"><!-- include('im-management-story'); --></div>
</div>
<div class="ic-content">
	<div class="descriptor"><!-- include('ic-code-story'); --></div>
</div>
<div class="ip-content">
	<div class="descriptor"><!-- include('ip-design-story'); --></div>
</div>
<div class="ux-content">
	<div class="descriptor"><!-- include('ux-user-experience-story'); --></div>
</div>
<div class="ui-content">
	<div class="descriptor"><!-- include('ui-user-interface-story'); --></div>
</div>
<div class="ia-content">
	<div class="descriptor"><!-- include('ia-information-architecture-story'); --></div>
</div>
<div class="ixd-content">
	<div class="descriptor"><!-- include('ixd-interactive-story'); --></div>
</div>
<div class="feedback-content">
	<div class="descriptor"><!-- include('feedback-form'); --></div>
</div>