							<div class="row">
								<div class="col">
									<p><strong>For general enquiries:</strong><br>
									Email me at <a href="<%- businessEmailMailTo %>"><%- businessEmailObfuscated %></a><br>
									or call me on <a href="tel:<%- businessTelephoneTel %>"><%- businessTelephoneObfuscated %></a></p>
								</div>
							</div>
