<div class="container-fluid credits">
	<div class="row">
		<div class="col-6">
			<ul role="menu" class="credit-text-links">
				<li role="menuitem"><a class="menu-link case-ag-button" href="#case-avantiagroup"><%- longTitle3a %></a></li>
				<li role="menuitem"><a class="menu-link case-hp-button" href="#case-homeprotect"><%- longTitle3b %></a></li>
				<li role="menuitem"><a class="menu-link case-tw-button" href="#case-theworkshop"><%- longTitle3c %></a></li>
				<li role="menuitem"><a class="menu-link about-button" href="#about-us"><%= longTitle1 %></a></li>
				<li role="menuitem"><a class="menu-link skills-button" href="#skills"><%= longTitle1b %></a></li>
			</ul>
		</div>
		<div class="col-6">
			<ul role="menu" class="credit-text-links" itemscope itemtype="https://schema.org/<%= businessSchema %>">
				<li role="menuitem"><a class="menu-link questions-button" href="#questions"><%= panel5AriaHeading %></a></li>
				<li role="menuitem"><a class="menu-link projects-button" href="#projects"><%= shortTitle4 %></a></li>
				<li role="menuitem"><a class="menu-link testimonials-button" href="#testimonials"><%= panel8AriaHeading %></a></li>
				<li role="menuitem"><a class="menu-link toolkit-button" href="#toolkit"><%= panel6AriaHeading %></a></li>
				<li role="menuitem"><a class="menu-link feedback feedback-button" href="#feedback"><%= longTitle8 %></a></li>
			</ul>
		</div>
		<div class="col-12">
			<h2><%- clientPrologue %></h2>
			<ul role="menu" class="row inline-list credit-partner-brands">
				<li role="menuitem" aria-label="<%= partnerTitle0 %>" class="col-4 menu-link partner-0-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText0 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle1 %>" class="col-4 menu-link partner-1-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText1 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle2 %>" class="col-4 menu-link partner-2-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText2 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle3 %>" class="col-4 menu-link partner-3-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText3 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle4 %>" class="col-4 menu-link partner-4-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText4 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle5 %>" class="col-4 menu-link partner-5-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText5 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle6 %>" class="col-4 menu-link partner-6-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText6 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle7 %>" class="col-4 menu-link partner-7-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText7 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle8 %>" class="col-4 menu-link partner-8-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText8 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle9 %>" class="col-4 menu-link partner-9-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText9 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle10 %>" class="col-4 menu-link partner-10-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText10 %>" height="40" width="257"></li>
				<li role="menuitem" aria-label="<%= partnerTitle11 %>" class="col-4 menu-link partner-11-button"><img src="/assets/images/pixel-40x257.png" data-src="/assets/images/pixel-40x257.png" alt="<%= partnerAltText11 %>" height="40" width="257"></li>
			</ul>
		</div>
	</div>
</div>
<div class="social-channels">
	<ul class="list-unstyled list-inline social-menu"><li class="menuitem"><a aria-label="Tweet us" href="<%= twitterLink %>" class="twitter new-window" id="tw" title="X in new window" rel="noreferrer"><span>Tweet us</span></a></li></ul>
</div>
<div class="supergui-signature">a supergui development &copy;<%- new Date().getFullYear(); %></div>
