<script src="/assets/js/sensor/sensor.min.js<%= versionTimestamp %>"></script>
<noscript>Sensor handles listeners and conditional logic for theme assets</noscript>

<script defer src="/assets/js/background-vdo/background-vdo.min.js<%= versionTimestamp %>"></script>
<noscript>background-vdo.js handles the HTML5 video selction based on season and only for desktop experience</noscript>

<!-- <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
<script defer src="/assets/js/bootstrap/bootstrap.min.js<%= versionTimestamp %>"></script>
<noscript>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components</noscript>

<script defer src="/assets/js/progress-marker/progress-marker.min.js<%= versionTimestamp %>"></script>
<noscript>Script marks progress position on case study document</noscript>

<script defer src="/assets/js/embed-medium/embed-medium.min.js<%= versionTimestamp %>"></script>
<noscript>Script handles embed-medium functions</noscript>

<script defer src="/assets/js/app.min.js<%= versionTimestamp %>"></script>
<noscript>Core JavaScript managing different states of functionality. Season theme loader that is time-of-year based, auto darkmode based on sunrise and sunset</noscript>

<!-- <script defer src="/assets/js/type-me/js/type-me.min.js<'%= versionTimestamp %>"></script>
<noscript>Apply typing effect to class type-me on element</noscript> -->

<!-- <script defer src="/assets/js/gtranslate/translate_a/element.js<'%= versionTimestamp %>"></script>
<noscript>Apply language translation via settings menu</noscript> -->

<script defer src="/assets/js/voice-recognition/voice-recognition.min.js<%= versionTimestamp %>"></script>
<noscript>Adding voice recognition and enabling users to fill out form fields using their voice</noscript>

<script defer src="/assets/js/settings-menu/settings-menu.min.js<%= versionTimestamp %>"></script>
<noscript>settings-menu.js handles the functional behaviour of the settings menu, button properties and season-mode button render</noscript>

<!-- mutations.js moved to app.js -->

<noscript>Script handles truncated button text labels for different browser sizes. The next script returns longer descriptions to truncated labels when browser size increase to match tablet or desktop viewport size. The next script handles truncation labels for menu nav. The next scripts retriggers previous script functions when the window is resized and the last script suppresses optional content for mobile format</noscript>
<script defer src="/assets/js/pwacompat/pwacompat.min.js"></script>
<noscript>PWACompat is a library that brings the Web App Manifest to non-compliant browsers for better Progressive Web Apps. This mostly means creating splash screens and icons for Mobile Safari, as well as supporting IE/Edge's Pinned Sites feature</noscript>

<script src="/assets/js/sunrise-sunset/sunrise-sunset.min.js"></script>
<noscript>Script calculates sunrise and sunset FX</noscript>

<script src="/assets/js/sunrise-sunset/sunrise-sunset-darkmode.min.js"></script>
<noscript>Script determines sunrise and sunset FX to auto enable dark mode</noscript>

<script>
	// twitcker aria-label
	/* $('#twitcker-bar > a.logo').attr('aria-label','leighlaguisma'); */

	// Update theme via url query
	let darkKnight = document.querySelector('.dark-mode');

	const toggleDarkness = (d) => {
		if (d=='off'){
			htmlElement.classList.remove('dark-knight');
			darkKnight.classList.remove('enabled');
		} else {
			htmlElement.classList.add('dark-knight');
			darkKnight.classList.add('enabled');
		}
	}

	if (darkmode === "off") { toggleDarkness('off'); }
	if (darkmode === "on") { toggleDarkness('on'); }

	// 3D-menu ~ cube 3
	document.querySelector('.icon-calendly').addEventListener('click', () => {
		window.open(calendlyLink, '_blank');
	});

	document.querySelector('.icon-linkedin').addEventListener('click', () => {
		window.open(linkedinLink, '_blank');
	});

	document.querySelector('.icon-skype').addEventListener('click', () => {
		window.open(skypeLink, '_blank');
	});

	document.querySelector('.icon-mail').addEventListener('click', () => {
		window.open(`mailto:${businessEmail}`, '_blank');
	});

	// Load departures-board dependencies once in viewport
	const departuresBoardDependencies = () => {
		if (document.querySelector('.departures-board').isInViewport()) {
			if (document.querySelector('.dBcss') === null) {
				const link = document.createElement('link');
				link.classList.add('dBcss');
				link.rel = 'stylesheet';
				link.href = `/assets/css/departures-board/departures-board.min.css${versionTimestamp}`;
				document.head.appendChild(link);
			}

			// Load the D3.js library first
			if (document.querySelector('.dBd3') === null) {
				const dBlib = document.createElement('script');
				dBlib.classList.add('dBd3');
				dBlib.src = `/assets/js/departures-board/d3.v7.min.js${versionTimestamp}`;
				dBlib.onload = () => {
					// Once D3 is loaded, load departures-board.min.js
					renderDbScript();
				};
				document.body.prepend(dBlib);
			}
		}
	};

	// Function to render departures-board.min.js after D3 has loaded
	const renderDbScript = () => {
		if (document.querySelector('.dBscript') === null) {
			const script = document.createElement('script');
			const noScript = document.createElement('noscript');

			script.classList.add('dBscript');
			script.src = `/assets/js/departures-board/departures-board.min.js${versionTimestamp}`;
			script.onload = () => {
				// Once departures-board.min.js is loaded, call the loadDeparturesBoard function
				loadDeparturesBoard();
			};
			noScript.textContent = 'departures-board.js handles the animation logic using JavaScript, specifically the data embed, class and style overrides. Written by https://github.com/veltman';
			document.body.prepend(noScript);
			document.body.prepend(script);
		}
	};
</script>

<script async src="/assets/js/gtranslate/js/gtranslate.min.js"></script>
<script defer src="/assets/js/gtranslate/translate_a/element.min.js?cb=googleTranslateElementInit2"></script>
<div class="goog-te-combo" aria-label="Language Translate Widget"></div>

<div class="local-dev">
	<link rel="preconnect" href="https://www.google-analytics.com" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
</div>
<!-- <link rel="preconnect" href="https://kuula.co" crossorigin="anonymous"> -->

<script defer src="/assets/js/es6-promise/es6-promise.min.js"></script>
<noscript>The Promise object represents the eventual completion (or failure) of an asynchronous operation and its resulting value</noscript>