<script>
	// Discern if you're not in a local dev environment
	let localDev = (location.hostname !== 'localhost' && location.hostname !== '127.0.0.1');

	// If not in local dev, render Google Tag Manager
	if (localDev) {
		// Google Tag Manager
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-586B6LT');
		// End Google Tag Manager

		// Google Tag (gtag.js)
		/*
		const gTagScript = document.createElement('script');
		gTagScript.setAttribute('async', '');
		gTagScript.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id=G-0F4DFHPEJR');
		document.head.appendChild(gTagScript);
		*/

		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-0F4DFHPEJR');
	}
</script>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-586B6LT" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>