<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= companyName %> - <%= companyDescription %>">
<meta name="keywords" content="<%= companyName %> - <%= keywordSearch %>">
<meta name="theme-color" content="#222222" media="(prefers-color-scheme: light)">
<meta name="msapplication-navbutton-color" content="#222222">
<meta name="apple-mobile-web-app-status-bar-style" content="#222222">
<meta property="og:title" content="<%= companyName %> <%= metaTwitterCardTitle %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= companyURL %>">
<meta property="og:site_name" content="<%= companyName %>">
<meta property="og:description" content="<%- metaTwitterCardDescription %>">
<meta property="og:image" content="https://portfolio.supergui.co/assets/images/Forest-9797-og.jpg?dlekpzp2xs" class="open-graph">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta property="og:image:alt" content="<%= companyLogoAltText %>">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="https://portfolio.supergui.co/assets/images/Forest-9797-tc.jpg?dlekpzp2xs" class="twitter-card">
<meta name="twitter:site" content="@<%= twitterHandle %>">
<meta name="twitter:description" content="<%- metaTwitterCardDescription %>">
<meta name="twitter:image" content="https://portfolio.supergui.co/assets/images/Forest-9797-tc.jpg?dlekpzp2xs" class="twitter-img">
<meta name="twitter:title" content="<%= companyName %> <%= metaTwitterCardTitle %>">
<meta property="twitter:url" content="<%= companyURL %>">
<meta property="twitter:domain" content="<%= metaTwitterCardDomain %>">
<meta name="twitter:creator" content="@<%= twitterCreator %>">
<meta name="twitter:image:alt" content="<%= companyLogoAltText %>">
<meta name="google-site-verification" content="<%= googleSiteVerification %>">
<meta name="robots" content="index">
<meta name="author" content="Leigh Laguisma">
<title translate="no"><%= companyName %></title>
<link href="favicon.ico?v=3" rel="shortcut icon">
<link rel="canonical" hreflang="en-us" href="https://portfolio.supergui.co/">
<link rel="icon" href="icon-512.png" sizes="512x512">
<link rel="icon" href="icon-256.png" sizes="256x256">
<link rel="icon" href="icon-128.png" sizes="128x128">
<link rel="icon" href="icon-64.png" sizes="64x64">
<link rel="icon" href="icon-32.png" sizes="32x32">
<link rel="apple-touch-icon" href="icon-192.png">

<link rel="preload" href="/assets/css/bootstrap/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<link rel="stylesheet" href="/assets/fonts/supergui-icons.woff<%= versionTimestamp %>" type="font/woff">

<link rel="preload" href="/assets/css/global-vars/global-css.min.css<%= versionTimestamp %>" as="style" onload="this.onload=null;this.rel='stylesheet'">

<link rel="preload" href="/assets/css/app.min.css<%= versionTimestamp %>" as="style" fetchpriority="low" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/assets/css/app.min.css<%= versionTimestamp %>"></noscript>

<link rel="preload" href="/assets/fonts/BebasNeuePro-Bold.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/Muli.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="prefetch" href="/assets/fonts/PlayfairDisplay.woff" as="font" type="font/woff" crossorigin="anonymous">

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<noscript>The HTML5 Shiv allows you to support HTML5 document level elements in Internet Explorer IE8 and below</noscript>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<noscript>A fast & lightweight polyfill for min/max-width CSS3 Media Queries for IE 6-8</noscript>
<![endif]-->
<link rel="manifest" href="manifest.json">
<script src="/assets/js/jquery/jquery-3.7.1.min.js"></script>