<nav class="navbar fixed-top navbar-expand-md navbar-inverse">
	<button class="navbar-toggler collapsed hamburger hamburger--arrow" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar">
			<span class="icon-bar">
				<span class="icon-bar"></span>
			</span>
		</span>
	</button>

	<div class="collapse navbar-collapse">
		<ul role="menubar" id="navbarNav" class="nav navbar-nav row">
			<li role="menuitem" aria-label="SuperGUi logo" class="menulogo"></li>
			<li role="menuitem" class="nav-item submenu dropdown">
				<a class="nav-link dropdown-toggle about-us about-button" href="#about-us" id="aboutUsDropdown" title="<%= panel1Heading %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="<%= panel1AriaHeading %>" aria-expanded="false"><%= panel1Heading %></a>
				<ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
					<li class="dropdown-item" role="menuitem"><a class="leigh-button" href="#leigh-laguisma" aria-label="<%= longTitle1a %>"><%= longTitle1a %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="skills-button" href="#skills" aria-label="<%= longTitle1b %>"><%= longTitle1b %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="diorama-button" href="#skills-diorama" aria-label="<%= longTitle1c %>"><%= longTitle1c %></a></li>
				</ul>
			</li>
			<li role="menuitem" class="nav-item"><a class="nav-link contact-us contact-button" href="#contact-us" aria-label="<%= panel7AriaHeading %>"><%= longTitle2 %></a></li>
			<li role="menuitem" class="nav-item" aria-labelledby="<%= ctaPrimaryShort %>"><a class="nav-link booking-form bookme-button" href="#booking" id="<%= ctaPrimaryShort %>" aria-label="<%= ctaPrimaryLabel %>"><%= ctaPrimaryLabel %></a></li>
			<li role="menuitem" class="nav-item submenu dropdown" aria-labelledby="caseDropdown">
				<a class="nav-link dropdown-toggle case-options case-button" href="#case-study" id="caseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="<%= panel3AriaHeading %>" aria-expanded="false"><%= longTitle3 %></a>
				<ul class="dropdown-menu" aria-labelledby="caseDropdown">
					<li class="dropdown-item" role="menuitem"><a class="case-ag-button" href="#case-avantiagroup" aria-label="<%= longTitle3aAria %>"><%- longTitle3a %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="case-hp-button" href="#case-homeprotect" aria-label="<%= longTitle3b %>"><%= longTitle3b %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="case-tw-button" href="#case-theworkshop" aria-label="<%= longTitle3c %>"><%= longTitle3c %></a></li>
				</ul>
			</li>
			<li role="menuitem" class="nav-item"><a class="nav-link projects-help projects-button" href="#projects" aria-label="<%= panel4AriaHeading %>"><%= longTitle4 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link faqs questions-button" href="#questions" aria-label="<%= panel5AriaHeading %>"><%= longTitle5 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link testimonials testimonials-button" href="#testimonials" aria-label="<%= panel8AriaHeading %>"><%= longTitle6 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link toolkit toolkit-button" href="#toolkit" aria-label="<%= panel6AriaHeading %>"><%= longTitle7 %></a></li>
			<li role="menuitem" aria-label="<%=ctaPrimaryLabel%>" class="menubutton animated fadeInUp" style="display:none;"><button class="bookme-float-button" aria-label="<%=ctaPrimaryLabel%>"><%=ctaPrimaryLabel%></button></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
