<!-- style partial exposed to ejs variable injection -->
<style>
	@import url('/assets/css/atf.min.css<%= versionTimestamp %>');
	@import url('/assets/css/settings-menu/settings-menu.min.css<%= versionTimestamp %>');
	@import url('/assets/css/background-vdo/background-vdo.min.css<%= versionTimestamp %>');
	
	.shortname .booking-form:after { content: "<%= ctaPrimaryShort %>"; }

	.header-title h1:after { content: attr(data-custom-title) 'portfolio'; }

	blockquote { background-image: url('/assets/images/pixel.png'); }

	@media screen and (max-width: 767px) {
		.cta-tray .feedback-button:after { content: "<%= longTitle8 %>"; }
		.cta-tray .bookme-cta-button:after { content: "<%= ctaPrimaryShort %>"; }
	}

	@media screen and (min-width: 320px) and (max-width: 768px) {
		#bgvid { display: none; }
	}

	@media screen and (max-width: 768px) {
		.spring #background-vdo { background-image: url('/assets/images/background-vdo/<%=spring%>.jpg');}
		.summer #background-vdo { background-image: url('/assets/images/background-vdo/<%=summer%>.jpg');}
		.fall #background-vdo { background-image: url('/assets/images/background-vdo/<%=fall%>.jpg');}
		.winter #background-vdo { background-image: url('/assets/images/background-vdo/<%=winter%>.jpg');}
	}

	.partner-0-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/MT-logo.png');
	}
	.partner-1-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/CR-logo.png');
	}
	.partner-2-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/AG-logo.png');
	}
	.partner-3-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/BG-logo.png');
	}
	.partner-4-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/TW-logo.png');
	}
	.partner-5-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/AC-logo.png');
	}
	.partner-6-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/LR-logo.png');
	}
	.partner-7-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/CX-logo.png');
	}
	.partner-8-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/TM-logo.png');
	}
	.partner-9-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/LN-logo.png');
	}
	.partner-10-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/DT-logo.png');
	}
	.partner-11-button.lazy-load img {
		background-image: url('/assets/images/brand-logos/SS-logo.png');
	}
</style>
