<style>@import "/assets/css/twitcker/css/twitcker.css";</style>
<link rel="stylesheet" href="/assets/fonts/LEDCounter7.woff" as="font" type="font/woff" crossorigin="anonymous" crossorigin>
<div id="tickertape">
	<script>
	(function(){
		var ticker=document.createElement('script');
		ticker.async=true;ticker.src='https://embed.twitcker.com/ticker/leighlaguisma.js?speed=1&background=000000&tweet=000000&open=true&links=true&hide-logo=true&container=own-container&appearance=typewriter';

		$('#tickertape').append(ticker);})();

	</script>
</div>
