.offscreen {
	&:active,
	&:focus,
	&:hover {
		align-items: center;
		background-color: var(--color-primary);
		border: none;
		border-radius: 4px;
		color: var(--color-black);
		display: flex;
		height: 36px;
		justify-content: center;
		left: 7px;
		margin: 0;
		outline: none;
		overflow: visible;
		padding: 1px 10px 6px;
		position: fixed;
		text-decoration: none;
		top: 8px;
		width: auto;
	}

	&:focus::after { right: -20px; }
}

.accessify {
	blockquote .ntsc { 
		opacity: 0;
		background-color: var(--color-black);
	}

	&.spring .header-title h1,
	&.spring .header-title h1:before,
	&.spring .cards.about header h2,
	&.spring .cards.case .article-text .read .skim-read-case-button,
	&.spring .cards.case .article-text .read blockquote:after, 
	&.spring .cards.case .article-text .read blockquote:before,
	&.spring .cards.booking fieldset legend span, 
	&.spring .cards.booking label.header span {
		color: #550000;
	}

	&.spring .highlight.active>span [class^=icon-],
	&.spring .highlight.active>span [class^=icon-]:before { color: var(--color-white); }

	&.spring .cards.booking textarea,
	&.spring .cards.booking input[type=radio]~label:hover,
	&.spring .nav-link:focus, 
	&.spring .nav-link:hover, 
	&.spring .open>.nav-link, 
	&.spring .open>.nav-link:focus { border-color: #550000; }

	&.spring .cards.booking .mic-further-notes path { fill: #550000; }

	&.spring .cards.case:before {
		border-bottom-color: #550000;
	}

	&.spring .cards.case:after {
		border-top-color: #550000;
	}

	&.spring .cards.case .article-text,
	&.spring .cards.case header,
	&.spring .cards.case>footer,
	&.spring .cards.case div footer.article-footer,
	&.spring .cards.case .article-text .read .row div>p, 
	&.spring .cards.case .article-text .read h4, 
	&.spring .cards.case .article-text .read>p,
	&.spring .cards.about .article-text .read blockquote, 
	&.spring .cards.case .article-text .read blockquote,
	&.spring .cards.booking input#email, 
	&.spring .cards.booking input#first-name, 
	&.spring .cards.booking input#surname,
	&.spring .nav-link:focus, 
	&.spring .nav-link:hover, 
	&.spring .open>.nav-link, 
	&.spring .open>.nav-link:focus,
	&.spring #case-study>div.container.article-text>div>ul:nth-child(7)>li:nth-child(1)::after,
	&.spring #case-study>div.container.article-text>div>ul:nth-child(11)>li:nth-child(1)::after {
		background-color: #550000;
	}

	&.spring .cards.questions { background-image: unset; }

	&.fall .cards.case:before { border-bottom-color: rgb(158,48,46); }
	&.fall .cards.case:after { border-top-color: rgb(158,48,46); }
	&.fall .cards.case .article-text, &.fall .cards.case header, &.fall .cards.case>footer, &.fall .cards.case .article-footer, &.fall .cards.case .article-text .read {
		background-color: rgb(158,48,46);
	}
	&.fall .cards.case .article-text .read blockquote:after, &.fall .cards.case .article-text .read blockquote:before, &.fall .cards.about header h2, &.fall .header-title h1, &.fall .header-title h1:before, &.fall .cards.booking h2 {
		color: rgb(158,48,46);
	}
	&.fall .cards.case .skim-read-case-button, &.fall .cards.case .skim-read-case-button abbr {
		border-color: rgb(158,48,46) !important;
		color: rgb(158,48,46) !important;
	}
	&.fall .cards.case .article-text .read .h4, &.fall .cards.case .article-text .read .separator-list > li, &.fall .cards.case .article-text .read .separator-list > li span, &.fall .cards.case .article-text .read h3, &.fall .cards.case .article-text .read h4 {
		background-color: rgb(158,48,46);
	}
	&.fall .cards.case .article-text .read .separator-list .highlighter .highlighted .inline-list > li span {
		background: var(--color-black);
	}
	&.fall .cards.booking .article-text .read {
		input::-webkit-input-placeholder { color: rgb(158,48,46); }
		input::-moz-placeholder { /* Firefox 19+ */ color: rgb(158,48,46); }
		input:-moz-placeholder { /* Firefox 18- */ color: rgb(158,48,46); }
		input:-ms-input-placeholder { color: rgb(158,48,46); }

		input#first-name,
		input#surname,
		input#email {
			background-color: var(--color-white);
			color: rgb(158,48,46);
		}
	}
	&.fall .mic path { fill: rgb(158,48,46); }

	&.winter aside .context-viewer article.display--content .descriptor blockquote {
		p, span, span[title], footer { color: var(--color-black); }
		span[title] { border-bottom: 1px dotted var(--color-black); }
	}

	body:before, .scroll-past-0:before, .cards.contact:after, .cards.contact .article-footer:before,  .cards.contact .article-footer:after, .highlight span.highlighter:before { content: none; }

	.navbar {
		background-color: var(--color-white);
		color: var(--color-dark-grey);
	}

	.bookme-float-button {
		background-color: var(--color-white);
		color: var(--color-black);

		&:focus, &:hover {
			background-color: var(--color-black);
			color: var(--color-white);
		}
	}

	.highlight span.highlighter:before {
		background-color: var(--color-black) !important;
		color: var(--color-white);
	}

	.cards.about .article-text {

		p, p strong, p strong span {
			background-color: transparent;
			color: var(--color-dark-grey);
		}

		.read {
			.LI-profile-badge {
				background-image: unset;

				ul li {
					background-color: var(--color-white);
					color: var(--color-dark-grey);
				}
			}

			blockquote {
				background-image: unset !important;
				color: var(--color-black);
			}
		}
	}

	.cards.case .article-text .read {

		h3 {
			background-color: inherit;
			color: var(--color-white);
		}

		blockquote { background-image: unset !important; }

		.separator-list {

			li {
				background-color: inherit;
			}

			.highlighter .highlighted {
				h4 {
					background-color: inherit;
					color: var(--color-white);
					margin-bottom: 1px;
				}

				.inline-list {
					background-color: var(--color-black);
					border-radius: 4px;
					color: var(--color-white);
					margin-top: 5px;
					padding-top: 2px;
					padding-bottom: 2px;

					li {
						span, span:before { color: var(--color-white); }
					}
				}
			}
		}
	}

	.cards.projects {
		background-image: unset;

		.article-text .read .separator-list .highlighter .highlighted .inline-list {
			background-color: var(--color-black);
			border-radius: 4px;
			color: var(--color-white);
			padding-top: 6px;
		}
	}

	.cards.toolkit {
		background-image: unset;

		.article-text .read .separator-list .highlighter .highlighted .inline-list {
			background-color: var(--color-black);
			border-radius: 4px;
			color: var(--color-white);
			padding-top: 6px;
		}
	}

	.cards.contact {
		background-image: unset;
		background: linear-gradient(var(--color-dark-solid-22), var(--color-black));

		header h2, .article-text p {
			background-color: var(--color-black);
			color: var(--color-white);
		}
	}

	aside.active {
		header {
			background-image: unset !important;

			.highlight span.highlighter span.highlighted ul.inline-list {
				background-color: var(--color-black);
				border-radius: 4px;
				color: var(--color-white);
			}

			video {
				display: none;
				left: -9999px;
			}

			&:before { content: unset !important; }
		}

		.feedback-content .fb-form-layout label span { text-shadow: none; }

		blockquote { background-image: unset !important; }
	}

	&.dark-knight {
		body:before, .navbar, .nav-link, .dropdown-menu, .bookme-float-button, .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link.booking-form {
			background: var(--color-black);
			background-color: var(--color-black);
			color: var(--color-white);
		}

		.navbar-nav .menulogo { background-color: var(--color-black); }

		.nav-link {
			border-radius: 4px;
			margin-right: 1px;
		}

		.cards {
			&.case,
			&.case header,
			&.case .article-text,
			&.case .article-footer,
			&.projects,
			&.projects:before,
			&.projects:after,
			&.projects header,
			&.projects .article-text,
			&.projects .article-footer,
			&.toolkit,
			&.toolkit:before,
			&.toolkit header,
			&.toolkit .article-text,
			&.toolkit .article-footer { background-color: var(--color-primary) !important; }
		}

		.cards.about {
			header h2 { color: var(--color-white) !important; }

			.article-text {
				p, p strong, p strong span {
					background-color: var(--color-dark-solid-22);
					color: var(--color-white);
				}

				.read {
					blockquote { background-image: unset; }

					.LI-profile-badge {
						background-image: unset;

						ul li {
							background-color: var(--color-dark-solid-22);
							color: var(--color-white);
						}
					}

					#skills-diorama + p sup { display: none; }

					p sup a { color: var(--color-white); }
				}
			}
		}

		.cards.case, .cards.projects, .cards.toolkit, .cards.contact {
			background: unset !important;

			.article-text .read blockquote {
				background-image: unset;
				color: var(--color-black);
			}
		}

		.cards.case, .cards.projects, .cards.toolkit .article-footer {
			&:after, &:before {
				color: var(--color-black);
				text-shadow: none;
			}
		}

		.cards.case {
			&:before { border-bottom-color: var(--color-primary); }
			&:after { border-top-color: var(--color-primary); }
		}

		.cards.case .article-text {
			abbr[data-original-title], abbr[title] { border-bottom-color: var(--color-black); }

			.read {
				blockquote {
					background-image: unset;

					&:before, &:after { color: var(--color-primary); }

					p {
						background-color: var(--color-black);
						color: var(--color-primary);
					}
				}

				h3, h4, .h4, p {
					background-color: var(--color-primary);
					color: var(--color-black);
				}

				.highlighter:before { content: none; }

				&, .h4 { background-color: var(--color-primary); }
			}
		}

		.cards.case div footer.article-footer {
			&:before, &:after { text-shadow: none; }
		}

		.cards.booking {
			h2 { color: var(--color-white); }

			.article-text .read {
				input#first-name,
				input#surname,
				input#email {
					background-color: var(--color-white);
					color: var(--color-black);
				}

				input::-webkit-input-placeholder { color: var(--color-mid-grey); }

				input::-moz-placeholder { /* Firefox 19+ */ color: var(--color-mid-grey); }

				input:-moz-placeholder { /* Firefox 18- */ color: var(--color-mid-grey); }

				input:-ms-input-placeholder { color: var(--color-mid-grey); }
			}
		}

		.cards.projects {
			background-image: unset;

			.article-text {
				p {
					color: var(--color-black);

					abbr { border-bottom-color: var(--color-black); }
				}

				.read {
					h3, h4, span.h4, .separator-list li { color: var(--color-black); }
				}

				.highlight.active span.highlighter { background-color: #105543; }

				.separator-list li.highlight .inline-list {
					background-color: #105543;

					li { background-color: inherit; }
				}

				.separator-list > li { border-bottom-color: #104E41; }
			}
		}

		.cards.projects div footer.article-footer {
			&:before, &:after {
				color: var(--color-black);
				text-shadow: none;
			}
		}

		.cards.questions { background-color: var(--color-dark-solid-22); }

		.cards.contact {
			header h2 { background-color: var(--color-black); }
		}

		aside .context-viewer article.display--content .descriptor blockquote {
			background-color: var(--color-primary-light);
			color: var(--color-black);

			abbr, abbr[data-original-title], abbr[title], figcaption a {
				border-color: var(--color-black);
			}
		}

		.winter aside .context-viewer article.display--content .descriptor blockquote {
			&:before, &:after { color: var(--color-dark-solid-22); }
		}
	}
}

@media screen and (max-width: 767px) {
	.accessify .navbar, .accessify.dark-knight .navbar { background-color: transparent; }
}
