.mask {
	background: var(--color-black-80) url('/assets/images/filter.png') repeat;
	bottom: 0;
	display: none;
	height: 100vh;
	left: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9;
}

.mask.display-mask {
	backdrop-filter: blur(2px);
	display: block;
}

aside {
	& {
		background-color: var(--color-white);
		color: var(--color-white);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	&[class*="-context"] {
		@include add-prefix-value (transition, all .5s ease-out);

		animation: fadeOut .5s ease-out normal;
		bottom: -1070px;
		padding: 0;
	}

	&[class*="--resize"] {
		@include add-prefix-value (transition, all .5s ease-in);

		animation: fadeInUp .5s ease-out normal;
		bottom: 0px;
		display: block;
	}

	[class*="-content"] {
		display: none;

		&.display--content { display: block; }
	}

	.context-viewer {
		padding: 0;

		.display--content .descriptor blockquote {
			background-blend-mode: screen;
			box-shadow: none;
			max-width: 700px;

			&.active { background-image: url('/assets/images/cherry-blossom-light.gif'); }
		}

		.feedback-content {

			@include add-prefix-value (transition, all .5s);
		}
	}

	/*
	.infra-content,
	.platform-content,
	.esports-content {
		&.display--content {
			position: relative;

			.process-parallax {
				bottom: 0;
				background-blend-mode: luminosity;
				background-image: url('/assets/images/pixel.png');
				background-position: left;
				background-repeat: no-repeat;
				background-size: auto;
				position: absolute;
				right: -100%;
				top: 0;
				width: 100%;
				z-index: 99;

				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
			}

			.descriptor {
				position: relative;
				z-index: 100;
			}
		}
	}

	.infra-content .descriptor header#view-avantiagroup-infrastructure-solution {
		background-image: url('/assets/images/divergence-session.jpg');
	}

	.platform-content .descriptor header#view-avantiagroup-homeprotect-solution {
		&:before { z-index: 1; }
		video#postitvid {
			position: absolute;
			z-index: 0;

			@include add-prefix-value (filter, grayscale(1));
		}

		&.affinity-bg { background-image: url('../video/affinity-post-it.jpg'); }
	}

	.esports-content .descriptor header#view-tw-esports-platform {
		&:before { z-index: 1; }
		video#bunnyvid {
			position: absolute;
			z-index: 0;

			@include add-prefix-value (filter, grayscale(1));
		}

		&.bunny-bg { background-image: url('../video/tw-summer-party-costume-2015.gif'); }
	}
	*/

	.uxp-content,
	.uxd-content,
	.uxi-content {
		&.display--content > .descriptor header {
			background-color: var(--color-black-60);
			background-image: url('/assets/images/filter.png');
			background-repeat: repeat;
			height: max-content;
			width: 100vw;

			&:after {
				background: var(--color-black-25) url('/assets/images/ntsc.png');
				background-repeat: repeat;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100vw;
			}

			&:before {
				background-position: center center;
				background-size: cover;
				content: "";
				display: block;
				left: 0;
				margin: 0;
				position: fixed;
				top: 0;
				z-index: -1;
			}

			q { padding-bottom: 22px; }

			h4 {
				font-size: 12px;
				font-weight: 700;
				font-family: var(--font-primary);
				letter-spacing: 0.083em;
				text-transform: uppercase;
			}

			h4, ul {
				position: relative;
				z-index: 1;
			}

			ul {
				list-style: none;
				margin-top: 6px;
				margin-bottom: 16px;

				li {
					border: 1px solid var(--color-white-80);
					border-radius: 3px;
					color: var(--color-white-80);
					display: inline-block;
					font-family: var(--font-primary);
					font-size: var(--icon-10px-fontsize);
					font-weight: bolder;
					line-height: 16px;
					margin: 0 6px 3px 0;
					padding: 3px 8px 4px;
					text-transform: uppercase;
				}
			}
		}
	}
	
	.uxp-content.display--content > .descriptor header:before { background-image: url('/assets/images/ag-case-studies/ux-chip.png'); }

	.uxd-content.display--content > .descriptor header:before {
		background-image: url('/assets/images/ag-case-studies/3p-slides-with-exec.jpg');
		background-position-y: top;
	}

	.uxi-content.display--content > .descriptor header:before { 
		@include add-prefix-value(transform, translateY(-33%));

		background-image: url('../video/tw-summer-party-costume-2015.gif');
		background-size: cover;
		top: -22px;		
	}

	.ip-content .descriptor header {
		background-image: url('/assets/images/pixel.png');
	}

	.ui-content .descriptor header {
		background-image: url('/assets/images/pixel.png');
	}

	.ux-content .descriptor header {
		background-image: url('/assets/images/question-mark-1872665_1920.jpg');
	}

	.context-viewer {

		h2 {
			color: var(--color-white);
			padding-top: 11%;
		}

		.descriptor {
			overflow-x: hidden;
			overflow-y: auto;
			scrollbar-color: var(--color-white) transparent;
			scrollbar-width: thin;

			::-webkit-scrollbar-track,
			::-webkit-scrollbar-track-piece { background: transparent; }

			::-webkit-scrollbar-thumb {
				background: var(--color-white-50);
				border-radius: 4px;

				&:hover { background: var(--color-white); }
			}

			blockquote {
				background-color: var(--color-white);
				box-shadow: var(--elevation-05p);

				&:before { color: var(--color-mid-grey); }
				&:after, footer { color: var(--color-dark-grey); }
			}

			h3, h4, ul, fn, footer,
			header .separator-list,
			header h3.heading,
			header h4,
			header q,
			figure#ag-wireframe,
			figure#ag-persona,
			figure#ag-dept-workshops,
			figure#UX-3P-Execs,
			figure#AG-Atomic-breakdown,
			figure#visual-ui-grouping,
			figure#Morae-UI-test,
			figure#ag-workshop-conclusions { margin: 0 62px; }

			fn { display: inline-block; }

			header abbr,
			header h3 abbr,
			header ul li abbr {
				border-bottom: none;
				text-decoration: underline dotted var(--color-white);
			}

			ul li abbr,
			figcaption abbr { text-decoration: none; }

			span[title] {
				color: var(--color-dark-grey);
				border-bottom: 1px dotted var(--color-dark-grey);
			}

			p sup a {
				color: var(--color-dark-grey);
				border-bottom: 1px dotted var(--color-dark-grey);
			}

			footer abbr { display: inline; }

			figure { margin-bottom: 66px; }

			figure#ag-agile { margin: 32px auto 0; }

			figure#qab-journey { margin: 32px 0; }

			figure#ag-dept-workshops { margin-bottom: 132px; }

			figure#ag-homepage-desktop-refactor { margin-top: 18px; }

			figure#ag-mental-models,
			figure#ag-interviews,
			figure#Morae-UI-test,
			figure#ag-wireframe-detail,
			figure#ag-homepage-outcome,
			figure#old-gameview-screencapture,
			figure#retro,
			figure#draft-core-structure,
			figure#wireframe-scoreboard-content,
			figure#mapped-component,
			figure#tw-dist-ui-coverage,
			figure#SMEs,
			figure#devs,
			figure img#ag-whiteboard,
			figure img#ag-service-blueprint,
			figure.fg1,
			.bullet-spacing { margin-top: 36px; }

			figure#sb-game-card-desktop { margin-top: 19px; }

			figure#jbtd,
			figure#sketch-composite { margin-top: 14px; }

			figure#UX-3P-Execs,
			figure#UX-3P-Execs figure,
			figure#AG-Atomic-breakdown,
			figure#AG-Atomic-breakdown figure{
				margin-bottom: 66px;
			}

			figure#visual-ui-grouping img { margin-bottom: 32px; }

			figure#Morae-UI-test figcaption { margin-top: 32px; }

			figure#sketch-composite,
			figure#ag-homepage-desktop-refactor {
				> img { margin-bottom: 32px; }
			}

			figure#sketch-composite,
			figure#ag-homepage-desktop-refactor { margin-bottom: 0; }

			figure#ag-refactor-features { margin-top: 32px; }

			figure#ag-homepage-mobile-refactor { margin: 0 auto 66px; }

			figure#ag-homepage-tablet-refactor { margin: 32px 0 0; }

			header {
				background-attachment: fixed;
				background-color: var(--color-dark-solid-22);
				background-repeat: no-repeat;
				background-size: cover;
				background-blend-mode: luminosity;
				background-position: center center;
				overflow: hidden;
				position: relative;

				&:before {
					background: var(--color-black-60) url('/assets/images/filter.png');
					background-repeat: repeat;
					content: "";
					display: block;
					height: 104vh;
					padding-right: -62px;
					position: absolute;
					width: 100%;
					z-index: 0;
				}

				&.hideBackgroundPseudoImg:before {
					background-color: var(--color-white);
					background-image: none;
				}

				.separator-list {
					list-style: none;

					ul.inline-list { margin: 0; }

					>li {
						border-bottom: none;
						padding: 0;

						h3 { line-height: 42px; }

						h3, h4 {
							color: var(--color-white);
							font-size: var(--size-2em-fontsize);
							margin: 0;
							position: relative;
						}

						h4 {
							padding-top: 12px;
							z-index: 1;
						}
					}
				}

				.highlight {
					span, .inline-list li span:before { color: var(--color-white); }
					&.active span {
						&:before,
						[class^='icon-'] {
							color: var(--color-white);
						}

						[class^='icon-'] {
							font-size: var(--size-085em-fontsize);
						}
					}

					span.highlighter {
						&:before {
							background-color: transparent;
							border-bottom: 1px dotted var(--color-white-50);
							border-left: 0;
							border-right: 0;
							border-top: 0;
							top: 0;
							z-index: 999;
						}

						span.highlighted ul.inline-list {
							background-color: var(--color-black-80);
							border-radius: 4px;
						}
					}
				}

				h3 {
					bottom: 0;
					color: var(--color-white);
					font-family: var(--font-headings);
					font-weight: normal;
					font-size: $size-3-75em-fontsize;
					letter-spacing: 1px;
					padding: 32px 0 16px;
					position: relative;
					z-index: 1;

					span { color: var(--color-white); }
				}

				q {
					display: block;
					font-size: $size-1-25em-fontsize;
					padding-bottom: 34px;
					position: relative;
					z-index: 1;
				}
			}

			> h3, > p { color: var(--color-dark-grey); }

			h3 {
				padding-top: 66px;
			}

			p {
				font-size: var(--size-1-1em-fontsize);
				margin-top: 16px;

				span.example-me {
					color: var(--color-dark-grey);
					border-bottom: 1px dotted var(--color-dark-grey);
					display: inline-block;
				}
			}

			ul {
				list-style: disc;

				li {
					color: var(--color-white);
					font-size: var(--size-1-1em-fontsize);
				}
			}

			> footer {
				color: var(--color-dark-grey);
				margin-bottom: 66px;
				margin-top: 66px;

				h3, ul li { color: var(--color-dark-grey); }

				.separator-list>li { border-bottom: 1px dotted var(--color-dark-grey); }
			}
		}

		.feedback-content {

			header#feedback { margin: 0 -32px; }

			form { padding: 0 32px; }

			.fb-form-layout {
				counter-reset: counter-index;
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				margin: 0;
				padding: 24px 0 0;
				max-width: 100%;

				> li {
					counter-increment: counter-index;
					position: relative;
					width: 100%;

					&::before {
						color: var(--color-dark-grey);
						content: counter(counter-index) ".";
						display: inline-flex;
						left: 0;
						line-height: 1.2;
						position: absolute;
					}

					> label {
						line-height: 1.2;
						padding-left: 20px;
					}

					ul.row {
						margin: 16px 0 0;

						li button.mic.mic-customer-notes {
							bottom: 7px;
							right: 19px;
							top: unset;
						}
					}
				}

				> li { font-size: var(--base-fontsize); }

				> li::before {
					font-family: var(--font-headings);
					font-size: $size-2-25em-fontsize;
					left: -8px;
				}

				> li.emoji-feedback legend,
				> li > label {
					font-family: var(--font-headings);
					font-size: $size-2-25em-fontsize;
				}

				> li.emoji-feedback {
					legend span {
						color: var(--color-logo-secondary);
					}

					legend {
						color: var(--color-dark-grey);
						margin: 0;
						padding-left: 20px;

						&:before {
							content: "";
							display: inline-block;
						}
					}

					ul.row {
						margin: 8px -15px;

						li {
							align-items: center;
							display: flex;
							float: left;
							height: auto;
							justify-content: center;
						}
					}
				}

				label {
					color: var(--color-dark-grey);
					height: auto;
					margin: 0 0 8px 0;
					text-transform: inherit;

					span {
						color: var(--color-logo-secondary);
						font-weight: normal;
						text-shadow: $left-corner-shadow, $right-corner-shadow;
					}
				}

				ul {
					list-style: none;

					li p.agreement { 
						font-size: var(--size-06em-fontsize);
						margin-bottom: 16px;
						margin-top: 0;
					}
				}

				input[type="radio"] ~ label {
					background-color: transparent;
					border: 6px solid var(--color-mid-grey);
					border-radius: 30px;
					box-shadow: var(--elevation-2p);
					color: var(--color-dark-grey);
					font-size: $size-09em-fontsize;
					letter-spacing: normal;
					line-height: $size-2-1em-fontsize;
					margin: 0 0 33px;
					padding: 3px 0 6px;
					text-align: center;
					width: 100%;

					&:before {
						content: "";
						margin-right: 0;
					}

					&:hover {
						@include add-prefix-value (transition, all .3s ease-out);

						box-shadow: var(--elevation-4p);
					}
				}

				input[type="radio"]:checked ~ label {
					color: var(--color-white);
					background-color: var(--color-black-50);
				}

				input[type="radio"]:checked ~ .check { border: 2px solid var(--color-white); }

				.check { display: none; }

				input#first-name-fb,
				input#surname-fb,
				textarea#customer-notes {
					background-color: var(--color-white-50);
					border: 6px solid var(--color-mid-grey);
					color: var(--color-white);
					font-family: var(--font-primary);
					font-size: var(--font-size-base);
					font-weight: normal;
					height: 40px;
					letter-spacing: 0;
					padding: 16px 20px;
					outline: none;
					text-align: initial;
					width: 100%;

					&:active, &:visited { color: var(--color-white); }
				}

				input#first-name-fb,
				input#surname-fb {
					border-bottom: 1px solid var(--color-white-50);
					border-radius: 24px;
					margin-bottom: 16px;
				}

				textarea#customer-notes {
					border-radius: 12px;
					height: 105px;
					margin-bottom: 8px;
				}

				input[type="submit"] {
					height: 44px;

					@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

					align-items: flex-end;
					display: flex;
					font-size: var(--size-08em-fontsize);
					font-weight: bold;
					justify-content: flex-end;
					letter-spacing: 1px;
					margin: 16px 12px 38px auto;
					outline: none;
					padding: 11px 30px 15px;
				}
			}
		}
	}
}

.cta-tray .display--content { display: block; }