/* .uxd-case-study, .uxi-case-study {
	&:hover {
		&:after { @extend %under-construction-msg; }
	}
}
*/

input[type='submit'] {
	@include glass-reflection(var(--color-white), var(--color-white-50), -1,none,-1);
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

	border-radius: 4px;
	box-shadow: var(--elevation-2p);
	color: var(--color-dark-grey);
	display: inline-block;
	font-size: var(--size-1-3em-fontsize);
	height: 48px;
	line-height: var(--base-fontsize);
	overflow: hidden;
	position: relative;

	&:active, &:hover {
		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none,var(--highlight-4p));
		@include add-prefix-value (transition, 0.5s all);

		color: var(--color-white);
		cursor: pointer;
		border-radius: 45px;

		&:before {
			@include glass-reflection(var(--color-mid-grey),-1,'unset','transparent','unset');

			left: 133%;
			opacity: 1;
		}
	}

	&:focus {
		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none,var(--highlight-4p));

		box-shadow: var(--darklight-4p) !important;
		color: var(--color-primary-light) !important;
	}
}

.skim-read-case-button {
	border-radius: 4px;
	box-shadow: var(--elevation-2p);
	color: var(--color-dark-grey);
	display: inline-block;
	font-size: var(--size-1-3em-fontsize);
	height: 48px;
	line-height: var(--base-fontsize);
	overflow: hidden;
	position: relative;

	@include glass-reflection(var(--color-white), var(--color-white-50), -1,none,-1);
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

	&:before {
		border-right: 2px solid var(--color-white);
		content: '';
		display: block;
		height: 69px;
		left: -33%;
		opacity: 0;
		position: absolute;
		top: -13px;
		transform: rotate(30deg);
		width: 32px;

		@include glass-reflection(var(--color-white),-1,'unset','transparent','unset');
		@include add-prefix-value (transition, all 0.8s cubic-bezier(.25,.8,.25,1));
	}

	&:active, &:hover {
		color: var(--color-white);
		cursor: pointer;
		border-radius: 45px;

		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none,var(--highlight-4p));
		@include add-prefix-value (transition, 0.5s all);

		&:before {
			left: 133%;
			opacity: 1;

			@include glass-reflection(var(--color-mid-grey),-1,'unset','transparent','unset');
		}
	}

	&:focus {
		box-shadow: var(--darklight-4p) !important;
		color: var(--color-primary-light) !important;

		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none,var(--highlight-4p));
	}

	abbr {
		color: var(--color-dark-grey);
		border-bottom: 1px dotted var(--color-dark-grey);
	}

	span.suppress { color: inherit; }
}

.skim-read-case-button {
	&, &:active, &:focus, &:hover { padding: 12px 30px 15px !important; }
	&:focus { border: none !important; }
}

input[type="submit"] {
	&, &:active, &:focus, &:hover { padding: 11px 30px 13px; }
}

.demo-button {
	background-color: unset;
	border-radius: 4px;
	box-shadow: var(--elevation-1p);
	display: block;
	font-family: var(--font-primary);
	font-size: var(--size-07em-fontsize);
	font-weight: bold;
	line-height: 19px;
	outline: none;
	overflow: hidden;
	padding: 9px 15px 11px;
	position: relative;

	@include glass-reflection();
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

	&:before {
		border-right: 2px solid var(--color-white);
		content: '';
		display: block;
		height: 69px;
		left: -46px;
		opacity: 0;
		position: absolute;
		top: -13px;
		transform: rotate(30deg);
		width: 32px;

		@include glass-reflection(var(--color-white),-1,'unset','transparent','unset');
		@include add-prefix-value (transition, all 0.8s cubic-bezier(.25,.8,.25,1));
	}

	&:active, &:hover, &:focus {
		border: 1px solid transparent !important;
		color: var(--color-white);
		cursor: pointer;
		border-radius: 30px;
		margin: 0 auto;
		padding: 10px 30px 12px;

		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,var(--color-white-50),var(--elevation-4p));
		@include add-prefix-value (transition, 0.5s all);

		&:before {
			left: 160px;
			opacity: 1;

			@include glass-reflection(var(--color-mid-grey),-1,'unset','transparent','unset');
		}
	}
}

.mic {
	background-color: unset;
	border: none;
	bottom: -40px;
	height: 40px;
	outline: none;
	padding: 0;
	position: absolute;
	width: 40px;
	right: 0;

	&:focus { outline: none; }

	path {
		fill: var(--color-white);
	}

	&.mic-customer-notes {
		bottom: unset;
		margin: 8px 16px;
		top: 0;
	}

	&:hover { cursor: pointer; }

	& ~ label { position: relative; }
}

aside .progress-container {
	background: linear-gradient(135deg, var(--color-white-20), transparent);
	backdrop-filter: blur(2px);
	border-radius: 100%;
	box-shadow: var(--elevation-05p);
	position: fixed;
	right: 32px;
	top: 32px;
	z-index: 10000;

	.completed:before {
		opacity: 0;

		@include add-prefix-value(transform,translate(-50%,-50%) scale(1));
	}

	&:hover {
		cursor: pointer;
		text-shadow: var(--elevation-4p);

		@include add-prefix-value (transition, all .5s ease-out);
	}

	&:after {
		bottom: -27px;
		color: var(--color-white);
		content: "CLOSE";
		position: absolute;
		right: 0;
		text-shadow: var(--elevation-05p);

		@include add-prefix-value(transform, translateX(-2px));
	}

	svg {
		position: sticky;

		@include add-prefix-value(transform, rotate(-90deg));

		circle {
			box-shadow: var(--elevation-2p);
			fill: transparent;
			stroke: var(--color-white-50);
			stroke-lineup: round;
			stroke-width: 6px;
			transform-origin: top left;

			&.progress-bar {
				filter: drop-shadow(--elevation-2p);
				stroke: url(#grad);
				stroke-width: 7px;
				transition: stroke-dashoffset 0 ease-in-out;
			}
		}
	}

	.pct {
		align-items: center;
		display: flex;
		font-feature-settings: 'tnum';
		font-variant-numeric: tabular-nums;
		font-size: var(--icon-12px-fontsize);
	    justify-content: center;
	    height: 57px;
		position: fixed;
		text-shadow: var(--elevation-05p);
	    width: 57px;

		@include add-prefix-value(transform, translate(0%, -1%));

		&.active {
			visibility: hidden;

			&:before {
				align-items: center;
				color: var(--color-logo-secondary);
				content: var(--icon-down);
				display: flex;
				font-family: var(--font-icons);
				font-size: var(--icon-20px-fontsize);
				font-weight: bold;
				visibility: visible;
				position: absolute;
				text-shadow: var(--elevation-2p);

				@include add-prefix-value(transform, translateY(2px));
			}

			&:before:hover { text-shadow: var(--elevation-4p); }
		}
	}
}

.bookme-button, .bookme-float-button {
	&:active, &:hover, &:focus {
		border: 1px solid transparent !important;
		color: var(--color-white);
		cursor: pointer;
		border-radius: 30px;

		@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,var(--color-white-50),var(--highlight-4p));
		@include add-prefix-value (transition, 0.5s all);

		&:before {
			left: 133%;
			opacity: 1;

			@include glass-reflection(var(--color-mid-grey),-1,'unset','transparent','unset');
		}
	}
}

.bookme-float-button {
	&:active, &:hover, &:focus {
		margin: 8px 6px 6px;
		padding: 6px 30px 9px;
	}
}

.bookme-button {
	&:active, &:hover, &:focus {
		margin: 0 auto;
		padding: 10px 30px 12px;
	}
}

html[lang=fr],
html[lang=de],
html[lang=it],
html[lang=ja],
html[lang=es] {
	.bookme-float-button {
		&, &:hover, &:focus { padding: 6px 9px 9px; }
	}
}

.bookme-float-button {
	background-color: unset;
	font-size: var(--size-1em-fontsize);
	line-height: 19px;
	padding: 6px 15px 8px;
	white-space: nowrap;

	&, &:hover, &:focus {
		margin: 8px 6px;
		padding: 6px 30px 8px;
	}
}

.disable-button {
	background-color: var(--color-dark-grey) !important;
	border-radius: 30px;
	border-color: var(--color-dark-grey) !important;
	box-shadow: var(--elevation-0p);
	color: var(--color-white) !important;
	display: inline-block;
	font-size: var(--size-08em-fontsize);
	margin: 5px 15px 40px 15px;
	padding: 8px 15px;
	position: absolute;

	span.suppress { color: inherit; }
}

.case .skim-read-case-button {
	margin: 33px 0 0!important;
}
