.cards {
	.article-text {

		.read {
			blockquote { 
				background-image: url('/assets/images/cherry-blossom-light.gif');
				margin: 32px auto;
			}

			h3 {
				font-family: var(--font-headings);
				font-size: var(--size-2-5em-fontsize);
				font-weight: bold;
				letter-spacing: var(--icon-01px-fontsize);
				padding-top: var(--heading-top);

				&:before {
					clear: both;
					content: " ";
					display: initial;
				}
			}

			> h4 {
				color: var(--color-white);
				padding-top: 66px;
			}

			label.header,
			legend {
				font-weight: bold;
				letter-spacing: $default-letter-spacing;
				margin: 0;
				padding-left: 0;

				span {
					color: var(--color-logo-secondary);
					font-weight: normal;
				}
			}

			ul.case-type {
				list-style-type: none;
				padding-left: 0;
			}
		}

		p {
			a {
				&:focus {
					border: 2px solid var(--color-primary-light);
					border-radius: 45px;
					outline-width: 0;
					margin: 4px 0 0 0;
					padding: 2px 10px 7px;

					&:after {
						color: var(--color-primary-light);
						content: '*';
						font-size: $size-1-7em-fontsize;
						line-height: 24px;
						position: absolute;
						top: -5px;
						right: -17px;
					}
				}
			}

			&.view-container {
				align-items: center;
				display: flex;
				height: 100px;
				justify-content: center;
				position: relative;
				margin: 0;
			}
		}
	}

	.article-video video { width: 100%; }

	.article-footer {
		& {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: flex-end;
			flex-wrap: wrap;
			height: 112px;
			padding-right: 68px;
			position: relative;
		}

		&:after, &:before { text-shadow: var(--elevation-1p); }

		&:before {
			color: var(--color-white);
			content: var(--icon-eye);
			font-size: var(--icon-24px-fontsize);
			line-height: 24px;
		}

		&:after {
			color: var(--color-white);
			content: attr(data-read-info);
			font-family: var(--font-primary);
			font-size: var(--icon-12px-fontsize);
			text-align: center;
			width: 63px;
		}

		&:hover {
			cursor: pointer;

			&:after, &:before {
				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

				text-shadow: var(--elevation-3p);
				}
		}

		&[class$="--gigante"]{
			&:after, &:before { text-shadow: var(--elevation-3p); }

			&:after { content: "read less"; }
		}
	}

	&.case, &.projects, &.toolkit, &.contact {
		.article-text {
			abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-white); }
		}
	}

	&.about,
	&.case {
		.article-text .read {
			blockquote {
				background-blend-mode: screen;
				box-shadow: none;
				max-width: 700px;
			}
		}
	}

	&.about {
		.article-text .read {
			figure {
				margin: 32px auto 0;

				#three-diamond {
					background-repeat: no-repeat;
					background-size: 100%;
					background-origin: content-box;
					background-position: center center;
					min-height: 286px;
					position: relative;
					width: 100%;
					z-index: 1;
				}

				figcaption {
					font-size: var(--size-08em-fontsize);
					padding: 16px 10px 5px;
				}
			}

			> p { background-color: var(--color-white); }
		}
	}

	&.case {
		@include add-prefix-value (clip-path, polygon(0 0, 100% 66px, 100% 100%, 0 100%));
		@include add-right-to-right (var(--color-mid-grey), var(--color-white), var(--color-white));

		& {
			top: -106px;
			z-index: 4;
		}

		figure.noshadow {

			img, video { box-shadow: var(--elevation-3p); }

			img {
				border-radius: 30px;
				margin: 0!important;
				width: 100%;
			}

			video {
				position: relative;
				z-index: 4;
				border-radius: 29px;
				top: 200px;
				width: auto;
				height: auto;
				min-width: auto;
				min-height: auto;
				max-width: 180px;
				overflow: hidden;
			}

			figcaption {
				color: var(--color-white);
				font-size: var(--font-size-base);
				line-height: 17px;
				margin: 33px auto 0!important;
				width: 180px;

				cite {
					border-right: 1px dotted var(--color-white-80);
					float: left;
					font-family: var(--font-quotes);
					font-weight: bold;
					font-size: 2em;
					line-height: 100%;
					margin-right: 6px;
					padding-right: 4px;
					vertical-align: text-top;
				}
			}
		}

		header,
		.article-text,
		.article-footer {
			background-color: var(--color-dark-grey);
		}

		&:before { border-bottom-color: var(--color-dark-grey); }
		&:after { border-top-color: var(--color-dark-grey); }

		.article-text { max-width: 100%; }

		.article-text p,
		.article-footer:before,
		.article-footer:after { color: var(--color-white); }

		.article-text{
			.read {
				.icon-pencil:hover { color: inherit !important; }

				blockquote {
					background-color: var(--color-white);

					p { color: var(--color-black); }

					&:before, &:after { color: var(--color-dark-grey); }
				}

				div.row {
					h4, figure { padding-top: 66px; }
				}

				h3, h4, p { color: var(--color-white); }

				h3 { margin-top: 195px; }

				h4 { font-size: var(--size-1-5em-fontsize); }

				p.view-container {
					font-size: var(--size-085em-fontsize);
					height: auto;

					a abbr { border: 0; }
				}

				&.more {
					h3 { margin-top: 0; }
					ul.separator-list { 
						> li:not(.highlight) {
							display: flex;
							font-family: var(--font-headings);
							font-size: var(--size-1-5em-fontsize);
							gap: 8px;
							width: 62%;

							.h4 {
								display: flex;
								gap: 8px;
								justify-content: flex-end;
								min-width: 80px;
								width: 80px;

								sup { top: 2px; }
							}
							
							&:nth-child(6) { 
								border: none;
								margin: 0;
								white-space: normal;
							}
						}

						p {
							font-size: var(--size-05em-fontsize);
							line-height: normal;
							margin: 1px 0 5px 0;
						}
					}
				}
		
			}

			abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-white); }
		}
	}

	&.booking {
		@include add-left-to-left (var(--color-white), var(--color-dark-grey), var(--color-dark-grey));

		& {
			background-clip: content-box;
			background-size: cover;
			background-blend-mode: luminosity;
			top: -188px;
			z-index: 1;
		}

		> .article-text {
			& { max-width: 100%; }

			.read {
				label.header .mic.mic-further-notes {
					bottom: -96px;
					right: 19px;
				}

				p { margin: 0 0 66px; }

				p a {
					border-bottom: 1px dotted var(--color-dark-grey);
					color: var(--color-dark-grey);
				}
			}
		}

		.bookme-link, .bookme-link:link {
			& {
				border-bottom: 1px dotted;
				color: var(--color-dark-grey);
				display: inline-block;
				position: relative;
				text-decoration: none;
				text-transform: lowercase;
			}

			&:after {
				content: " ";
				display: inline-block;
				position: absolute;
				bottom: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				border-bottom: 1px dotted rgba(var(--color-dark-grey),.5);
			}

			&:focus::after {
				border-bottom: none;
				left: unset;
				width: auto;
			}

			&:hover {
				cursor: pointer;
			}
		}

		.contact-form { width: 62%; }

		label.hidden { display: none; }

		label.header,
		legend {
			color: var(--color-dark-grey);
			font-family: var(--font-headings);
			font-size: $size-2-25em-fontsize;
			float: none;
			padding: 10px 0;
		}

		label.header { position: relative; }

		input#first-name,
		input#surname,
		input#email,
		textarea { font-family: var(--font-primary); }

		input#first-name,
		input#surname,
		input#email,
		textarea {
			background-clip: unset;
			background-color: var(--color-dark-grey);
			border: none;
			border-bottom: 1px solid var(--color-black-50);
			border-radius: 0;
			color: var(--color-white);
			height: 40px;
			letter-spacing: 0;
			margin-bottom: 16px;
			outline: none;
			padding: 0 15px;
			width: 100%;

			@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

			&:focus {
				box-shadow: var(--elevation-2p);
				padding: 0 12px;
			}
		}

		input#first-name,
		input#surname {
			text-overflow: ellipsis;
		}

		input#first-name,
		input#surname,
		textarea#further-notes {
			padding: 0 38px 0 15px;
		}

		textarea {
			background-color: transparent;
			border: 4px solid var(--color-dark-grey);
			color: var(--color-dark-grey);
		}

		input#first-name { border-radius: 6px 6px 0 0; }

		input[type="radio"] ~ label {
			background-color: transparent;
			border: 2px solid var(--color-black-30);
			border-radius: 30px;
			color: var(--color-dark-grey);
			display: inline-block;
			height: unset;
			margin-left: 12px;
			padding: 6px 16px 10px;
		}

		input[type="radio"]:checked ~ label {
			background-color: var(--color-dark-grey);
			border: 2px solid var(--color-dark-grey);
			border-radius: 30px;
			color: var(--color-white);
			height: 44px;
			line-height: 20px;
			margin-left: 10px;
			padding: 8px 16px;

			&:active,
			&:hover {
				&:after { border: none; }
			}
		}

		input[type="radio"]:checked ~ .check { border: 2px solid var(--color-white); }

		input[type="radio"]:checked ~ .check:before { background: var(--color-white); }

		input::-webkit-input-placeholder { color: $color-booking-form; }

		input::-moz-placeholder { /* Firefox 19+ */ color: $color-booking-form; }

		input:-moz-placeholder { /* Firefox 18- */ color: $color-booking-form; }

		input:-ms-input-placeholder { color: $color-booking-form; }

		.check { display: none; }

		.case-type li,
		.visitor-type li {
			padding-left: 13px;
			position: relative;

			label {
				text-transform: none;
				white-space: nowrap;
			}

			input[type="radio"] {
				position: absolute;
				bottom: 0px;
			}

			.check {
				position: absolute;
				top: 13px;

				&::before {
					height: 9px;
					left: 0px;
					top: 0px;
					width: 9px;
				}
			}
		}

		textarea::-webkit-input-placeholder { color: $color-booking-placeholder; }

		textarea::-moz-placeholder { /* Firefox 19+ */ color: $color-booking-placeholder; }

		textarea:-moz-placeholder { /* Firefox 18- */ color: $color-booking-placeholder; }

		textarea:-ms-input-placeholder { color: $color-booking-placeholder; }

		textarea#further-notes {
			border-radius: 0 0 6px 6px;
			height: 100px;
			padding-top: 10px;
		}

		.agreement { margin: 5px 0; }

		input[type="submit"] {
			bottom: 33px;
			display: flex;
			font-size: var(--size-1em-fontsize);
			font-weight: bold;
			margin: 0 0 0 auto;
			outline: none;
		}

		> .article-footer { height: 112px; }
	}

	&.projects {
		@include add-prefix-value (clip-path, polygon(0 0, 100% 66px, 100% 100%, 0 100%));
		@include add-left-to-right (var(--color-dark-solid-22-9), var(--color-white), var(--color-white));

		& {
			background-color: var(--color-dark-solid-22-9);
			background-repeat: no-repeat;
			background-position: center center;
			background-clip: content-box;
			background-size: cover;
			background-blend-mode: luminosity;
			top: -300px;
			z-index: 1;
		}

		&:before { border-top-color: var(--color-white); }

		header { display: flex; }

		h2 {
			background-color: var(--color-black);
			border-radius: 4px;
			flex-shrink: 0;
			padding: 0 6px;
		}

		h3, p { color: var(--color-white); }

		h4, .h4 {
			font-size: var(--size-1-5em-fontsize);
		}

		.article-text p>a {
			border: 1px solid var(--color-white-50);
			color: var(--color-dark-grey);
			font-size: var(--size-1em-fontsize);

			&:hover { color: var(--color-white); }
		}

		& > div.article-text > div > {
			ul:nth-child(3) > li:nth-child(6) > span > span > ul,
			ul:nth-child(10) > li:nth-child(3) > span > span > ul,
			ul:nth-child(10) > li:nth-child(6) > span > span > ul {
				height: 37px;
			}
		}

		
	}

	&.questions {
		@include add-right-to-right (transparent, var(--color-white), var(--color-white));

		& {
			clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
			top: -382px;
			z-index: 3;
		}

		> .article-text {
			max-width: 100%;

			p { 
				margin-top: 8px;

				a { 
					border-bottom: 1px dotted;
					color: var(--color-white);
				}
			}
		}

		header h2,
		> .article-text > .read h3 { color: var(--color-white); }

		&.questions--resize { clip-path: polygon(0 0, 100% 1%, 100% 99%, 0% 100%); }

		.read {
			li:not(:first-child) h3.question { margin-top: 33px; }

			label.header {
				color: var(--color-white);
				font-size: var(--size-1em-fontsize);
				font-weight: normal;
				line-height: 39px;
				margin: 0 8px 0 0;
				width: unset;
			}

			#qanda-list { margin-top: 66px; }
		}
	}

	&.toolkit {
		@include add-prefix-value (clip-path, polygon(0 66px,100% 0,100% 100%,0 100%));
		@include add-right-to-left (var(--color-dark-solid-22-8), var(--color-white), var(--color-white));

		& {
			background-color: var(--color-dark-solid-22-8);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-blend-mode: luminosity;
			margin-left: 0;
			margin-right: 0;
			top: -1px;
		}

		h2, h3, h4, p {
			background-color: var(--color-black-50);
			border-radius: 4px;
			padding: 6px 6px 8px;
		}

		p a { 
			border-bottom: 1px dotted;
			color: var(--color-white);
		}

		h2 {
			color: var(--color-white);
			flex-shrink: 0;
			padding: 0 6px;
		}

		h3 {
			color: var(--color-white);
			display: inline-block;
		}

		h4 {
			border-radius: 4px 4px 0 0;
			padding: 0 6px 0;
		}

		header {
			display: flex;
			padding-bottom: 6px;
			padding-top: 66px;
		}

		.article-text .more .separator-list>li.highlight.active .highlighter .highlighted {
			h4 { border-radius: 4px 4px 0 0; } 
			.inline-list { border-radius: 0 0 4px 4px; }
		}

		.article-text {
			abbr, abbr[data-original-title], abbr[title] { border-bottom: 1px dotted var(--color-white); }

			.read {
				h2 {
					display: inline-block;
					margin-top: 66px; }

				h3 {
					font-family: var(--font-headings);
					font-size: var(--size-2-5em-fontsize);
					letter-spacing: 0;
					margin: 66px 0 0;
					padding: 0 6px;
				}

				figcaption, fn, fn a, sup, sup a { color: var(--color-white); }

				fn {
					display: block;

					a { border-bottom: 1px dotted var(--color-white); }
				}

				.separator-list li.highlight .highlighter:before { border-radius: 0 4px 4px 4px; }
			}

			> .article-text > .toolkit-text,
			> .article-footer:before,
			> .article-footer:after,
			> .article-text > .more p,
			> .article-text > .read p { color: var(--color-white); }

			footer { height: 106px; }
		}
	}

	&.contact {
		& {
			background-color: var(--color-dark-solid-22-9);
			background-repeat: no-repeat;
			background-position: 0 -30px;
			background-blend-mode: luminosity !important;
			background-size: cover !important;
			margin: 0;
		}

		&:after {
			background: linear-gradient(0deg,var(--color-black),var(--color-black-80));
			bottom: 0;
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			z-index: 0;
		}

		header {
			display: flex;
			padding-top: 66px;

			h2 {
				background-color: var(--color-black-50);
				border-radius: 4px;
				color: var(--color-white);
				flex-shrink: 0;
				max-width: fit-content;
				padding: 0 6px;
				position: relative;
				z-index: 1;
			}
		}

		.article-text {
			& {
				color: var(--color-white);
				z-index: 1;
			}

			.container-fluid {
				border-right: 5px dotted var(--color-white-10);
				padding-left: 0;
			}

			p, td, th {
				background-color: var(--color-black-50);
				border-radius: 4px;
				display: inline-block;
				padding: 6px;

				a { 
					border-bottom: 1px dotted;
					color: var(--color-white);
				}
			}

			td { padding-left: 16px; }

			button {
				background-color: var(--color-white);
				color: var(--color-black);
			}

			.googlemap {
				margin-top: 16px;

				iframe {
					align-items: center;
					border-radius: 4px;
					display: flex;
					justify-content: center;
					width: 100%;
				}
			}

			address.office-address,
			.opening-times {
				display: flow-root;
				margin: 24px 0;
				text-align: left;
			}

			address.office-address strong { white-space: nowrap; }
		}

		.article-footer {
			height: 62px;
			z-index: 2;

			&:before {
				content: "";
				line-height: 1.5;
			}

			&:after { content: "" !important; }
		}

		.contact--gigante:after { content: "hide map" !important; }
	}
}
