$color-secondary: #3399CC;
$color-highlight: #999;
$color-background: #FFFCF2;
$color-booking-form: #FFF;
$color-booking-placeholder: #2583B2;
$color-booking-notes: #000;

$color-black-5: rgba(0,0,0,.05);
$color-black-16: rgba(0,0,0,.16);
$color-black-19: rgba(0,0,0,.19);
$color-black-20: rgba(0,0,0,.2);
$color-black-23: rgba(0,0,0,.23);

$color-dark-16: rgba(var(--color-primary-light),.16);
$color-dark-23: rgba(var(--color-primary-light),.23);
$color-dark-input: rgba(10,78,65,.88);

$color-primary-88: rgba(32,172,135,.88);
$color-primary-9: rgba(32,172,135,.9);
$color-primary-light-88: rgba(0,255,149,.88);

$color-fall-50: rgba(206,73,70,.5);
$color-fall-88: rgba(206,73,70,.88);
$color-winter-88: rgba(8,49,69,.88);
$color-winter-highlight-88: rgba(227,182,99,.88);

$color-white-16: rgba(255,255,255,.16);
$color-white-22: rgba(255,255,255,.22);
$color-white-23: rgba(255,255,255,.23);
$color-white-25: rgba(255,255,255,.25);
$color-white-20: rgba(255,255,255,.2);
$color-white-30: rgba(255,255,255,.3);
$color-white-95: rgba(255,255,255,.95);

$color-aside: #CB2D6F;
$color-aside-swatch-01: #0F292F;
$color-aside-swatch-02: var(--color-primary);
$color-aside-swatch-03: #CB2D6F;
$color-aside-swatch-04: var(--color-dark-grey);

// Footer menu
$color-facebook: #3b5998;
$color-linkedin: #005D94;

// Progress bar
$color-hot: var(--color-hot);
$color-cold: var(--color-cold);
