//common and vendor overides
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button {
	@include add-prefix-value(appearance, none);

	color: inherit;
}

.calendly-overlay { background-color: rgba(31, 31, 31, .9) !important; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bullet-spacing > li { padding-bottom: 16px; }

q { quotes: none; }

label.header {
	text-transform: initial;
	width: 100%;
}

input#name,
input#email
textarea#message,
textarea {
	border: none;
	color: #fff;
	text-align: justify;
	outline: none;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: normal;
	background-color: rgba(255, 247, 247, 0.09);
	margin-bottom: 16px;
}

input#name,
input#email,
textarea {
	height: 40px;
	padding: 0 15px;
	width: 92.2%;
	border-bottom: 1px solid #eee;
}

textarea {
	height: 134px;
	padding: 1em;
}

ul li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

ul li label {
	@include add-prefix-value(transition, all 0.25s linear);

	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 300;
	height: 30px;
	margin:10px auto;
	padding: 10px 0px 0px 50px;
	position: relative;
	text-transform: capitalize;
	z-index: 9;
}

ul li:hover label{ color: var(--color-white); }

ul li .check{
	display: block;
	position: absolute;
	border: 2px solid var(--color-white);
	border-radius: 100%;
	height: 12px;
	width: 12px;
	top: 13px;
	left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ul li:hover .check { border: 2px solid var(--color-white); }

ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 8px;
	width: 8px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

/*-- responsive design --*/
@media (max-width: 320px) {
	ul li label {
		font-size: 14px;
		padding: 10px 0px 0px 40px;
	}

	ul li .check {
		top: 12px;
		left: 13px;
	}

	input[type="submit"] { width: 100%; }
}

p.agreement { 
	color: var(--color-dark-solid-22);
	font-size: $font-agreement-text; 
}

.disable-scroll {
	overflow-y: hidden;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

figure > figure, .fx { opacity: 0; }

.nomargin { margin: 0!important; }
.nomarginright { margin-right: 0!important; }
.noshadow {
	&, >img, >video{ box-shadow: none!important; }
}
.dip8p-shadow, .ip6p-shadow {
	background-repeat: no-repeat;
	width: 858px;
	background-size: contain;
}
.dip8p-shadow { background-image: url('/assets/images/iphone-dual-mockup-backing.png'); }

.ip6p-shadow { background-image: url('/assets/images/ipad-mockup-sb-shadow.png'); }

.inline-float-right {
	float: right;
	margin: 16px auto 32px 16px !important;
	width: 50%;
}

.padding-top-50 { padding-top: 50px; }

label.header { text-align: left; }

.list {
	list-style: none;
	padding-left: 0;

	li h3 { padding: 8px 0 0 !important; }
}

.z-index-9 { z-index: 9 !important; }

.LI-profile-badge {
	background-image: url("../images/linkedin-badge.png");
	background-repeat: no-repeat;
	border-radius: 4px;
	float: left;
	height: 297px;
	margin: 16px 16px 16px 0;
	max-width: 250px;
	position: relative;
	width: 100%;
	z-index: 1;

	ul li {
		color: var(--color-white);
		text-align: center;

		strong {
			display: inline-block;
			font-size: $icon-22px-fontsize;
			padding-top: 143px;
		}

		a {
			background-color: $color-linkedin;
			border: 2px solid $color-linkedin;
			border-radius: 4px;
			color: var(--color-white);
			display: block;
			font-size: var(--size-09em-fontsize);
			height: 30px;
			line-height: 23px;
			margin: 19px auto 0 auto;
			width: 100px;

			&:focus {
				padding: 0;

				&:after {
					font-size: var(--size-1-75em-fontsize);
					right: 58px;
					top: 198px;
				}
			}
		}
	}
}

.goog-te-combo { display: none; }