.dark-knight {
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

	&.accessify .icon-access, .icon-access {
		background-blend-mode: unset;
		background-color: var(--color-primary-light);
	}

	&.offline {
		.header-title h1 span {

			&:before, &:after {
				background-color: var(--color-primary);
				color: var(--color-black);
			}
		}

		.map-offline p,
		.survey-offline,
		.three-sixty-container {
			background-color: var(--color-primary);
		}
	}

	&.accessify .scroll-nudge:before, &.accessify .scroll-nudge:after, &.accessify .scroll-nudge span {
		background-color: var(--color-primary) !important;
	}

	body {
		background-color: var(--color-black);
		&:before { background-color: var(--color-black-75); }
	}

	//common tags
	dfn, dfn:hover {
		color: var(--color-mid-grey);
		text-decoration: underline dotted var(--color-mid-grey);
	}

	//generic figure p+fn
	figure > p, fn {
		color: var(--color-mid-grey);

		a, a:hover, abbr, span[title] {
			color: var(--color-mid-grey);
			border-bottom: 1px dotted var(--color-mid-grey);
		}
	}

	figcaption {
		color: var(--color-black);
	}

	.comparison.ntsc figcaption {
		color: var(--color-white) !important;
	}

	.cta-tray {
		.feedback-button:after,
		.bookme-cta-button:after { color: var(--color-white); }
	}

	.header-title .bookme-button, .bookme-float-button, input[type=submit], .demo-button {
		&:active, &:focus, &:hover {
			border: 1px solid var(--color-primary-light);
			box-shadow: var(--darklight-4p);
			color: var(--color-primary-light);

			@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,var(--color-white-50),var(--darklight-4p));

			&:before {
				@include glass-reflection(var(--color-primary),-1,'unset','transparent','unset');
			}
		}
	}

	.highlight { @include color-highlight-value (var(--color-black), var(--color-primary)); }
	.highlight span.highlighter span.highlighter:before { background-color: var(--color-black) !important; }

	.scroll-nudge {
		span, &:before, &:after {
			background-color: var(--color-primary);
		}
	}

	.navbar-nav .menulogo:before { color: var(--color-primary); }
	.navbar.scroll-past-0:before { background-color: var(--color-dark-gradient-34); }

	.dropdown-item {
		a {
			&:focus, &:hover {
				border-color: var(--color-primary-light) !important;
				color: var(--color-primary-light) !important;

				abbr { 
					border-bottom-color: var(--color-primary-light) !important;
					color: var(--color-primary-light) !important; 
				}
			}
		}

		&:focus, &:hover {
			background: var(--color-white-10);
			color: var(--color-white-80);
		}
	}

	.nav-link {
		&:active, &:focus, &:hover {
			background-color: var(--color-primary-light) !important;
			border-color: var(--color-primary-light) !important;
			color: var(--color-black-80) !important;
		}
	}
	.open > .nav-link {
		background-color: var(--color-primary-light) !important;
		border-color: var(--color-primary-light) !important;
		color: var(--color-black-80) !important;

		&:active, &:focus, &:hover {
			background-color: var(--color-primary-light);
			border-color: var(--color-primary-light);
			color: var(--color-black-80);

			&.dropdown-toggle::after { border-top: 8px solid var(--color-primary-light); }
		}

		&.dropdown-toggle::after { border-top: 8px solid var(--color-primary-light); }
	}

	.echo-signal {
		span, &:before, &:after {
			background-color: var(--color-primary);
		}
	}

	figure.iframe-container figcaption {
		color: var(--color-mid-grey);
	}

	aside {
		& { background: var(--color-dark-solid-22); }

		.close-button {
			background-color: var(--color-black-50);
			border-color: var(--color-primary);

			&:before, &:after { color: var(--color-primary-light); }
		}

		.uxp-content .descriptor header#view-uxp-story:before,
		.uxd-content .descriptor header#view-uxd-story:before { filter: grayscale(1); }

		.context-viewer {
			.display--content .descriptor {

				h3, p, p span.example-me,
				h3 span,
				h3 sup a,
				>footer h3,
				>footer ul li,
				p sup a,
				p sup a:hover,
				ul li,
				ul li sup a { color: var(--color-white); }

				figure:not(img[id]) {
					filter: grayscale(1);
				}

				figure figcaption dfn { text-decoration: none; }

				blockquote {

					&.active {
						background-color: var(--color-primary);

						&:before, &:after {
							color: var(--color-dark-solid-22);
						}

						abbr, abbr[data-original-title], abbr[title], figcaption a { border-color: var(--color-dark-solid-22); }

						p, span, span[title], footer { color: var(--color-dark-solid-22); }

						p span[title] { border-bottom: 1px dotted var(--color-black); }
					}

					p sup a {
						&, &:active, &:focus, &:hover { color: var(--color-dark-grey); }
					}

					footer {
						color: var(--color-dark-grey);
						font-weight: bold;
					}
				}

				header.hideBackgroundPseudoImg:before {
					background-color: var(--color-dark-solid-22);
				}

				span[title] {
					color: var(--color-white);
					border-bottom: 1px dotted var(--color-white);
				}

				fn span[title] {
					border-bottom: 1px dotted var(--color-mid-grey);
					color: var(--color-mid-grey);
				}

				.ag-page-analytics:hover { color: var(--color-primary-light); }
			}

			.popmodel-content header h3,
			.feedback-content {
				.fb-form-layout {
					>li::before, >li.emoji-feedback legend, label, p.agreement { color: var(--color-white); }

					label sup, >li.emoji-feedback legend span { color: var(--color-primary-light); }

					input[type="radio"] ~ label {
						background-color: var(--color-primary);
						border-color: transparent;
						color: var(--color-dark-grey);
					}

					input[type="radio"]:checked ~ label {
						background-color: var(--color-primary-light);
						border-color: transparent;
						color: var(--color-dark-grey);
					}

					.mic-customer-notes path { fill: var(--color-primary); }

					textarea#customer-notes {
						background-color: var(--color-dark-solid-22);
						border-color: var(--color-primary);
						color: var(--color-primary-light);
					}

					input[type=submit] {
						color: var(--color-white);
						height: 44.3px;

						@include glass-reflection(var(--color-white-20), var(--color-black-50), -1,1px solid var(--color-white-50),-1);
						@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

						&:active, &:hover, &:focus {
							border-color: var(--color-black);
							background: var(--color-black) !important;
							box-shadow: var(--darklight-4p);
							color: var(--color-primary-light);
						}
					}
				}
			}
		}

		.progress-container {
			background-color: var(--color-black-50);

			svg {
				defs linearGradient stop {
					&[offset="0%"] { stop-color: var(--color-primary-light); }
					&[offset="100%"] { stop-color: var(--color-primary); }
				}

				circle:not(.progress-bar) {
					stroke: var(--color-black-50);
				}
			}

			.pct, &:after,
			.pct.active:before { color: var(--color-primary-light); }
		}
	}

	.LI-simple-link, .LI-simple-link:focus, .LI-simple-link:hover {
		background-color: var(--color-dark-solid-22);
		color: var(--color-primary);
	}

	.LI-profile-badge:after, .LI-profile-badge:before { border: 1px dotted var(--color-dark-grey); }

	.cards {
		.article-text .read {
			blockquote footer cite { font-weight: bold; }

			figure figcaption, fn {
				abbr[data-original-title], abbr[title] {
					color: var(--color-white);
					border-bottom: 1px dotted var(--color-white);
				}
			}
		}

		&.case .article-text .read .highlight.active {
			.inline-list li span,
			span[class^='icon-']:before {
				&:hover { color: var(--color-primary); }
			}
		}

		&.about .article-text .more figure #three-diamond { padding: 12px; }

		&.about {
			.separator-list>li {
				border-bottom: 1px dotted var(--color-dark-grey);

				span.h4 { color: var(--color-white); }
			}

			sup a { color: var(--color-white); }

			.article-text,
			.article-text .read {
				blockquote {
					background-color: var(--color-primary) !important;

					p, a, footer, footer a:hover {
						background-color: transparent;
						color: var(--color-black) !important; }

					.ntsc { opacity: .1 !important; }

					&:before, &:after { color: var(--color-dark-solid-22) !important; }
				}

				figure figcaption, fn {
					margin: 16px 32px 0;
					
					&, abbr[title], abbr[data-original-title] {
						color: var(--color-mid-grey);
					}

					abbr[title], abbr[data-original-title] {
						border-bottom: 1px dotted var(--color-mid-grey);
					}
				}
			}
		}

		&.case {
			header h2 { color: var(--color-black); }

			header,
			.article-text,
			div footer.article-footer {
				background: var(--color-primary);

				&:before, &:after { color: var(--color-black); }
			}

			.article-text {
				p.case-text,
				.more ul.separator-list li p { color: var(--color-black); }
			}

			&:before { border-bottom-color: var(--color-primary); }
			&:after { border-top-color: var(--color-primary); }

			.article-text {
				p.case-text abbr{ border-color: var(--color-black)!important; }

				.read {
					blockquote {
						background-color: var(--color-black);

						&.active { background-blend-mode: screen!important; }

						.ntsc { 
							opacity: 1;

							&:after { background: var(--color-black-60) url('/assets/images/ntsc.png'); }
						}

						p { text-shadow: var(--dark-text-shadow); }

						p, footer { color: var(--color-primary); }

						&:before, &:after { color: var(--color-primary); }
					}

					figure figcaption, fn {
						abbr[data-original-title], abbr[title] {
							color: var(--color-black);
							border-bottom: 1px dotted var(--color-black);
						}
					}

					figure.noshadow figcaption cite {
						border-color: var(--color-black);
					}

					h3, h4, .h4, .separator-list .highlight .highlighter .highlighted h4, .separator-list > li, & > p, & div div > p, .separator-list > li > span.suppress {
						background-color: var(--color-primary) !important;
						color: var(--color-black) !important;
					}

					h3 abbr, p abbr, .separator-list > li { border-bottom-color: var(--color-black); }

					p abbr { background-color: var(--color-primary); }

					.highlight.active {
						.inline-list li span,
						span[class^='icon-']:before { color: var(--color-primary) !important; }
					}

					.separator-list>li.highlight .highlighter .highlighted .inline-list { background-color: var(--color-black); }

					p.view-container a,
					p.view-container a span {
						border-bottom-color: var(--color-dark-solid-22) !important;
						color: var(--color-dark-solid-22);

						abbr { border-bottom: none; }
					}

					.skim-read-case-button {
						color: var(--color-primary) !important;

						@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none !important,var(--elevation-2p) !important);

						&:active, &:focus, &:hover {
							border: 1px solid var(--color-primary-light);
							box-shadow: var(--darklight-4p) !important;
							color: var(--color-primary-light) !important;

							&:before {
								background: linear-gradient(135deg,var(--color-primary),transparent) !important;
								box-shadow: var(--darklight-4p) !important;
							}

							abbr { color: var(--color-primary-light) !important; }
						}

						abbr {
							color: var(--color-primary) !important;
							border-bottom: 1px dotted var(--color-primary-light) !important;
						}
					}
				}
			}
		}

		&.booking {
			& { background-color: var(--color-dark-solid-22-9); }

			header h2 { color: var(--color-primary); }

			header, .article-text, .article-footer, .article-text p {
				background: var(--color-dark-solid-22);
				color: var(--color-white);
			}

			.article-text {
				a, a:link, a:visited {
					border-bottom: 1px dotted var(--color-white);
					color: var(--color-white);
				}
			}

			.article-text {
				a:hover { color: var(--color-primary-light); }

				.read {
					label.header,
					legend {
						color: var(--color-white)!important;

						span { color: var(--color-primary-light); }
					}

					label.header .mic {
						path { fill: var(--color-dark-solid-22); }
					}
					label.header .mic.mic-further-notes {
						path { fill: var(--color-primary); }
					}

					input::-webkit-input-placeholder { color: var(--color-dark-solid-22-9); }
					input::-moz-placeholder { /* Firefox 19+ */ color: var(--color-dark-solid-22-9); }
					input:-moz-placeholder { /* Firefox 18- */ color: var(--color-dark-solid-22-9); }
					input:-ms-input-placeholder { color: var(--color-dark-solid-22-9); }

					input#first-name,
					input#surname,
					input#email {
						background-color: $color-primary-88;
						border: none;
						color: var(--color-white);
					}

					input[type="radio"] ~ label { color: var(--color-white); }

					input[type="radio"]:checked ~ label {
						background-color: $color-primary-light-88;
						border-color: var(--color-primary-light);
						box-shadow: var(--elevation-2p);
						color: var(--color-dark-solid-22);
					}

					input[type="radio"] ~ label:hover { border-color: var(--color-primary); }

					textarea {
						background-color: var(--color-dark-solid-22);
						border-color: var(--color-primary);
						color: var(--color-white);
					}

					label abbr,
					label abbr[title],
					label abbr[data-original-title] { text-decoration: underline dotted var(--color-white-50); }

					input[type=submit] {
						color: var(--color-white);
						height: 44px;

						@include glass-reflection(var(--color-white-20), var(--color-black-50), -1,1px solid var(--color-white-50),-1);
						@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

						&:hover, &:active {
							border-color: var(--color-black);
							background: var(--color-black) !important;
							box-shadow: var(--darklight-4p);
							color: var(--color-primary-light);
						}
					}
				}
			}

			.article-footer {
				&:before, &:after { color: var(--color-white); }
			}

			&:before { border-right-color: var(--color-dark-solid-22); }
			&:after { border-right: 100vw solid var(--color-dark-solid-22); }

			&.bookme-link {
				color: var(--color-white);

				&:after { border-color: var(--color-white-50); }
			}
		}

		&.projects {
			&:before { 
				border-left-color: var(--color-primary-9);
				border-top-color: var(--color-dark-solid-22);
			}
			&:after {
				border-bottom-color: var(--color-primary-9);
				border-right-color: var(--color-primary-9);
			}

			header h2, .article-footer:before, .article-footer:after { color: var(--color-black); }
			header h2:first-of-type { color: var(--color-primary); }

			.separator-list>li { border-bottom: 1px dotted var(--color-primary); }

			.article-text { 
				p.projects-text {
					color: var(--color-black);
		
					abbr { border-bottom: 1px dotted var(--color-black); }
				}

				.read {
					h3, h4, .separator-list li, .separator-list li span, p {
						color: var(--color-black);

						abbr { border-bottom: 1px dotted var(--color-black); }
					}

					.highlight.active {
						span, span[class^='icon-']:before, &:hover {
							color: var(--color-primary);
						}
						span.highlighter:before {
							background-color: var(--color-black);
						}
					}

					p>a.skim-read-case-button {

						@include glass-reflection(var(--color-black-90), var(--color-black-50), -1,none,-1);
						@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

						&:hover, &:active {
							border-color: var(--color-black);
							color: var(--color-primary-light);

							@include glass-reflection(var(--color-black-90),-1,'unset','transparent',var(--darklight-4p));
						}

						&:focus {
							border: 2px solid var(--color-primary-light);
							color: var(--color-primary-light) !important;
						}
					}

					.skim-read-case-button {
						color: var(--color-primary-light) !important;

						@include glass-reflection(var(--color-black-90),var(--color-black-50),-1,none,var(--elevation-2p));

						&:active, &:focus, &:hover {

							&:before {
								@include glass-reflection(var(--color-primary) !important,-1,'unset',transparent,var(--darklight-4p) !important);
							}

							abbr { color: var(--color-primary-light) !important; }
						}

						abbr {
							color: var(--color-primary) !important;
							border-bottom: 1px dotted var(--color-primary-light) !important;
						}
					}

					.separator-list>li.highlight .highlighter .highlighted .inline-list { background-color: var(--color-black); }
				}
			}
		}

		&.questions { 
			background-color: var(--color-dark-solid-22);
			background-blend-mode: color-burn;

			.article-footer:after,  
			.article-footer:before,  
			.article-text p,  
			.article-text p a,  
			header h2, 
			>.article-text>.read h3 { color: var(--color-white); }
		}

		&.case, &.toolkit {
			.separator-list>li { border-bottom: 1px dotted var(--color-white); }

			.article-text,
			.article-text .read {
				p, p span, h3, li { color: var(--color-white); }
			}

			figure.noshadow figcaption {
				background-color: var(--color-primary);
				color: var(--color-black)!important;
			}

			.article-footer {
				background-color: var(--color-dark-solid-22);
				&:before,&:after { color: var(--color-black); }
			}
			
		}

		&.toolkit {
			h2, h3, h4, p { background-color: var(--color-black); }
			header h2 { color: var(--color-white); }

			&:before {
				border-top-color: var(--color-primary-9);
				border-right-color: var(--color-primary-9);
			}

			.article-text .read {
				.separator-list>li.highlight .highlighter .highlighted .inline-list { background-color: var(--color-black); }

				fn abbr[title], fn abbr[data-original-title], fn a {
					color: var(--color-white) !important;
					border-bottom: 1px dotted var(--color-white) !important;
				}

				p sup a { text-decoration: underline dotted var(--color-white); }
			}
		}

		&.projects,
		&.toolkit,
		&.projects header,
		&.projects .article-text,
		&.projects .article-footer,
		&.toolkit header,
		&.toolkit .article-text,
		&.toolkit .article-footer { background-color: var(--color-primary-9); }
	}

	.footer {
		abbr { border-bottom: 1px dotted var(--color-mid-grey); }

		.social-channels .social-menu .menuitem a:before,
		.supergui-signature,
		.supergui-signature:before { color: var(--color-primary) !important; }
	}

	.cta-tray { background-color: rgba(var(--color-primary),.8); }
	
	.demo-button {
		border: 2px solid var(--color-primary);
		color: var(--color-primary-light);

		&:hover {
			border-color: var(--color-primary-light);
		}
	}

	#twitcker-bar .box {
		a { color: var(--color-primary-light) !important; }
		&:after { border-right: 1px dotted var(--color-primary) !important; }
	}

	.hot-tip .floating-div {
		background-color: var(--color-black-01);
		border-color: var(--color-white-50);

		&:before { 
			background: linear-gradient(111deg, var(--color-primary) 28%, var(--color-primary-light) 74%);

			@include add-prefix-value (background-clip, text);
			@include add-prefix-value (text-fill-color, transparent);
		}

		p { color: var(--color-mid-grey) !important; }
	}

	&.summer .cards.about .article-text .read blockquote { background-blend-mode: screen; }

	@media screen and (max-width: 767px) {
		.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
			color: var(--color-white);

			&:focus,
			&:active,
			&:hover {
				&:before,
				&:after { color: var(--color-black); }
			}
		}
		.navbar.scroll-past-0:before {
			background-color: transparent;
		}
	}
}
