aside .context-viewer .descriptor figure.three-sixty-container {
    align-items: center;
    display: flex;
    height: 56vh;
    justify-content: center;
    margin: 0 auto 66px;
    position: relative;
    width: 90%;

    .three-sixty iframe.three-sixty-iframe {
        border: 0;
        border-radius: 4px;
        box-shadow: var(--elevation-2p);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    figcaption {
        position: absolute;
        bottom: -48px;
    }
}

aside .context-viewer .descriptor figure.youtube-embed-container {
    align-items: center;
    display: flex;
    height: 56vh;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 92%;

    figcaption {
        position: absolute;
        bottom: -48px;
    }
}
