%under-construction-msg {
	background-color: var(--color-dark-solid-22);
	border-radius: 0;
	bottom: 0;
	color: var(--color-white);
	content: '\1F3D7\00A0 JTBD' !important;
	display: flex;
	font-family: monospace;
	font-size: var(--icon-10px-fontsize) !important;
    justify-content: center;
	left: 0;
	line-height: normal !important;
	padding: 0 3px 2px;
	position: absolute;
	right: 0 !important;
	top: unset !important;
    white-space: nowrap;
}

%import-data-attr {
	background-color: var(--color-dark-solid-22);
	border-radius: 0;
	bottom: 0;
	color: var(--color-white);
	content: attr(data-tooltip);
	display: flex;
	font-family: var(--font-primary);
	font-size: xx-small !important;
    justify-content: center;
	left: 0;
	line-height: normal !important;
	padding: 0px 3px 2px;
	position: absolute;
	right: 0 !important;
	text-align: center;
	text-transform: uppercase;
	top: unset !important;
}