//specific font sizes
$font-size-4k: 40px;

$size-002em-fontsize: 0.02em;
$size-02em-fontsize: 0.2em;
$size-045em-fontsize: 0.45em;
$size-0625em-fontsize: 0.625em;
$size-065em-fontsize: 0.65em;
$size-075em-fontsize: 0.75em;
$size-09em-fontsize: 0.9em;
$size-0938em-fontsize: 0.938em;
$size-1-15em-fontsize: 1.15em;
$size-1-19em-fontsize: 1.19em;
$size-1-25em-fontsize: 1.25em;
$size-1-3em-fontsize: 1.3em;
$size-1-35em-fontsize: 1.35em;
$size-1-4em-fontsize: 1.4em;
$size-1-6em-fontsize: 1.6em;
$size-1-7em-fontsize: 1.7em;
$size-1-8em-fontsize: 1.8em;
$size-2em-fontsize: 2em;
$size-2-1em-fontsize: 2.1em;
$size-2-25em-fontsize: 2.25em;
$size-2-45em-fontsize: 2.45em;
$size-3-75em-fontsize: 3.75em;

//fixed px for icons to avoid diferences on IE
$icon-5px-fontsize: 5px;
$icon-6px-fontsize: 6px;
$icon-8px-fontsize: 8px;
$icon-10px-fontsize: 10px;
$icon-12px-fontsize: 12px;
$icon-13px-fontsize: 13px;
$icon-14px-fontsize: 14px;
$icon-15px-fontsize: 15px;
$icon-16px-fontsize: 16px;
$icon-18px-fontsize: 18px;
$icon-22px-fontsize: 22px;
$icon-23px-fontsize: 23px;
$icon-25px-fontsize: 25px;
$icon-27px-fontsize: 27px;
$icon-30px-fontsize: 30px;
$icon-35px-fontsize: 35px;
$icon-37px-fontsize: 37px;
$icon-40px-fontsize: 40px;

//generic font sizes
$font-size-sm: $size-0625em-fontsize;
$font-size-md: $size-0938em-fontsize;
$font-size-lg: $size-1-25em-fontsize;

//IA Content category or grouping
$font-size-informal-h3: $size-1-15em-fontsize;

//3d Menu
//cube size
$cube-size: 76px;
$cube-gap: 35px 0;

//Icons sizes
$icon-0px: 0;
$icon-30px: 30px;
