@font-face {
	font-family: 'BebasNeuePro-Bold';
	src: url('../fonts/BebasNeuePro-Bold.eot') format('embedded-opentype'),
	url('../fonts/BebasNeuePro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BebasNeuePro-Bold.woff') format('woff'),
	url('../fonts/BebasNeuePro-Bold.ttf') format('truetype'),
	url('../fonts/BebasNeuePro-Bold.svg#BebasNeuePro-Bold') format('svg');
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay.eot') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay.woff') format('woff'),
	url('../fonts/PlayfairDisplay.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay.svg#PlayfairDisplay') format('svg');
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli.eot') format('embedded-opentype'),
	url('../fonts/Muli.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Muli.woff') format('woff'),
	url('../fonts/Muli.ttf') format('truetype'),
	url('../fonts/Muli.svg#Muli') format('svg');
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'supergui-icons';
	src: url('../fonts/supergui-icons.eot') format('embedded-opentype'),
	url('../fonts/supergui-icons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/supergui-icons.woff') format('woff'),
	url('../fonts/supergui-icons.ttf') format('truetype'),
	url('../fonts/supergui-icons.svg?#supergui-icons') format('svg');
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$font-agreement-text: var(--size-07em-fontsize);
