//font icons

//3d menu
$icon-kanban: "\4b";
$icon-pic: "\70";
$icon-skype: "\73";

//menu
$icon-shop: "\68";
$icon-people: "\6c";
$icon-contacts: "\6f";
$icon-calendar: "\61";
$icon-medicine: "\69";
$icon-banknote: "\66";
$icon-bulb: "\67";
$icon-box: "\62";
$icon-briefcase: "\42";
$icon-tools: "\32";
$icon-addressbook: "\2a";

//articles
$icon-down: "\56";
$icon-eye: "\63";
$icon-map: "\4d";

//case-studies
$icon-card: "\43";
$icon-ethno: "\45";
$icon-figma: "\49";
$icon-jasmine: "\39";
$icon-javascript: "\6a";
$icon-jenkins: "\37";
$icon-jira: "\4a";
$icon-jquery: "\51";
$icon-miro:"\28";
$icon-mural: "\29";
$icon-remote: "\52";
$icon-search: "\53";
$icon-survey: "\59";

//private
$icon-chartjs: "\57";
$icon-d3: "\64";
$icon-wacom: "\77";

//testimonials
$icon-star: "\74";

//aside
$icon-close: "\58";
$icon-feedback: "\6b";
$icon-seasons: "\2b";
$icon-next: "\5a";

//toolkit
$icon-aftereffects: "\21";
$icon-atom: "\2c";
$icon-axure: "\26";
$icon-balsamiq: "\60";
$icon-illustrator: "\40";
$icon-invision: "\2e";
$icon-photoshop: "\25";
$icon-npm: "\5e";
$icon-sketch: "\24";
$icon-sublime: "\3b";
$icon-userzoom: "\3f";

//unused
$icon-email: "\41";
$icon-facebook: "\46";
$icon-up: "\55";
$icon-right: "\3e";
$icon-left: "\3c";
$icon-office: "\71";
$icon-config: "\72";
$icon-heart: "\75";
$icon-calendly: "\79";

.icon-addressbook {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-addressbook;
	}
}

.icon-aftereffects {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-aftereffects;
	}
}

.icon-atom {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-atom;
	}
}

.icon-axure {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-axure;
	}
}

.icon-balsamiq {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-balsamiq;
	}
}

.icon-calendly {
	&:before {
		content: $icon-calendly;
	}
}

.icon-card {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-card;
	}
}

.icon-chartjs {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-chartjs;
	}
}

.icon-code {
	&:hover { color: var(--icon-code-hover); }
}

.icon-config {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-config;
	}
}

.icon-d3 {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-d3;
	}
}

.icon-down {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-down;
	}
}

.icon-ethno {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-ethno;
	}
}

.icon-eye {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-eye;
	}
}

.icon-figma {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-figma;
	}
}

.icon-illustrator {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-illustrator;
	}
}

.icon-invision {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-invision;
	}
}

.icon-image {
	&:before { content: $icon-pic; }
	&:hover { color: var(--icon-image-hover) !important; }
}

.icon-kanban {
	&:before { content: $icon-kanban; }
	&:hover { color: var(--icon-kanban-hover); }
}

.icon-linkedin {
	&:hover { color: var(--icon-linkedin-hover); }
}

.icon-mail {
	&:hover { color: var(--icon-mail-hover); }
}

.icon-mgmt {
	&:hover { color: var(--icon-mgmt-hover); }
}

.icon-miro {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-miro;
	}
}

.icon-mural {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-mural;
	}
}

.icon-next {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-next;
	}
}

.icon-npm {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-npm;
	}
}

.icon-office {
	&:before { content: $icon-office; }
	&:hover { color: var(--icon-office-hover) !important; }
}

.icon-pencil {
	&:hover { color: var(--icon-pencil-hover); }
}

.icon-people {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-people;
	}
}

.icon-photoshop {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-photoshop;
	}
}

.icon-remote {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-remote;
	}
}

.icon-search {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-search;
	}
}

.icon-sketch {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-sketch;
	}
}

.icon-skype {
	&:hover { color: var(--icon-skype-hover); }
}

.icon-star {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-star;
	}
}

.icon-sublime {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-sublime;
	}
}

.icon-survey {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-survey;
	}
}

.icon-tools {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-tools;
	}
}

.icon-twitter {
	&:hover { color: var(--icon-twitter-hover); }
}

.icon-userzoom {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-userzoom;
	}
}

.icon-wacom {
	&:before {
		color: var(--color-dark-grey);
		content: $icon-wacom;
	}
}

.logo:before {
	content: "\6d";
	margin-right: 8px;
}

.social-channels .facebook:before {
	color: $color-facebook;
	content: $icon-facebook;
}
