#tickertape {
	bottom: 34px;
	position: fixed;
	z-index: 5;

	#twitcker-bar {
		background: var(--color-white-80);
		border: none;
		height: 28px !important;
		position: relative;
		width: 100vw;

		&:before {
			background-image: url('/assets/images/filter.png');
			content: "";
			display: block;
			height: 28px;
			left: 0;
			position: fixed;
			bottom: 34px;
			width: 100%;
			z-index: 0;
		}
	}

	#twitcker-bar div.border-left, #twitcker-bar div.border-right { width: 0; }

	#twitcker-marquee {
		bottom: 4px;
		padding: 0;
		position: absolute;

		.box {
			background: transparent;
			border: none;
			box-shadow: none;

			a {
				color: var(--color-black);
				font-family: monospace;
				text-shadow: none;
			}
		}
	}
}

.tweets {
	header, footer { display: none; }

	.article-text {
		padding: 0;

		iframe {
			border: none !important;
			margin: 0 !important;
			width: 100% !important;

			@include add-prefix-value (transform, scale(1.01));
		}
	}
}

.tweets .article-text {
	height: 100%;

	twitterwidget {
		margin: 0 !important;

		@include add-prefix-value (transform, scale(1.01) !important);
	}
}

.footer {
	& {
		background-color: var(--color-black);
		display: block;
		padding: 0;
		position: relative;
		width: 100%;
		z-index: 4;
	}

	.credits {
		font-family: var(--font-primary);
		font-size: var(--size-07em-fontsize);
		letter-spacing: .5px;
		padding: 0 var(--guttering-desktop);
		position: relative;
		text-transform: uppercase;

		.row {
			margin: 0 0 88px 0;

			.col-4 { padding: 16px 16px 16px 0; }

			h2 {
				color: var(--color-white-60);
				font-size: var(--base-fontsize);
				padding-top: 66px;
			}

			ul.credit-text-links li {
				padding-bottom: 4px;

				a {
					background-color: var(--color-black);
					border-bottom: 1px dotted transparent;
					position: relative;
					white-space: nowrap;

					&.menu-link {
						color: var(--color-white-60);
						display: inline-block;
						margin: 5px 0;

						&:hover {
							border-bottom: 1px dotted var(--color-white-60);
							text-decoration: none;
						}
					}
				}
			}

            ul.credit-partner-brands li {
				align-items: center;
				background-color: var(--color-black);
				border: 2px solid transparent;
				display: flex;
				justify-content: center;
				margin: 5px 0;
				height: auto;
				padding-bottom: 4px;
				position: relative;
				white-space: nowrap;
				width: 100%;

				&:before {
					content: "";
					display: block;
					height: 5px;
				}

				img {
					background-blend-mode: luminosity;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
					max-width: 257px;

					@include add-prefix-value (filter, grayscale(1));
				}
			}
		}
	}

	.social-channels {
		font-family: var(--font-primary);
		font-size: var(--size-08em-fontsize);
		margin-left: 50%;
		position: relative;
		width: 50%;
		z-index: 300;

		.list-inline {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			margin: 0;
			position: relative;
			width: 100%;

			.menuitem {
				align-items: center;
				display: inline-flex;
				height: 100%;
				justify-content: center;
				margin: 0;
				padding: 0;
				position: relative;
				width: 50%;
			}

			.twitter {
				border: 2px solid transparent;
				display: block;
				margin: 5px 0;
				padding: 7px 10px;
				position: relative;
				text-decoration: none;

				span {
					color: var(--color-white);
					display: block;

					&:hover {
						@include add-prefix-value (transition, 0.5s all);

						& { color: var(--color-white); }
					}
                }

				&:before {
					display: block;
					text-align: center;
				}
			}
		}
	}

	.supergui-signature {
		& {
			bottom: 6px;
			color: var(--color-logo);
			font-family: var(--font-primary);
			font-size: var(--icon-12px-fontsize);
			height: fit-content;
			left: var(--guttering-desktop);
			letter-spacing: 2px;
			line-height: initial;
			margin: 0;
			outline: 0;
			padding: 0 0 8px;
			position: absolute;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
			width: fit-content;
		}

		&:before {
			display: inline-block;
			content: var(--icon-supergui-logo);
			font-family: var(--font-icons);
			font-size: var(--size-1-6em-fontsize);
			height: var(--icon-18px-fontsize);
		}

		a { &:active, &:focus, &:hover, &:link, &:visited { position: absolute; } }
	}
}
