/*
.after-eights{
	opacity: 0;

	@include add-prefix-value (transition, opacity 3s ease-out);

	&.active {
		opacity: 1;

		@include add-prefix-value (transition, opacity 3s ease-in);
	}
}

.hot-tip[data-container=hot-tip-1]{
	top: 13vh;
	left: 3vw;
}

.hot-tip[data-container=hot-tip-2]{
	top: 10.1vh;
	right: 1.7vw;
	height: 840px;
}

.hot-tip[data-container=hot-tip-3]{
	top: 2vh;
	left: 47vw;
}

.hot-tip[data-container=hot-tip-4]{
	top: 51vh;
	left: 6vw;
}

.hot-tip[data-container=hot-tip-5]{
	top: 122px;
	left: 60%;
	z-index: 12;
}
.hot-tip {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 50px 0 16px;
	max-width: 33%;
	position: absolute;
	width: 33%;
	height: 180px;
	z-index: 4;

	.floating-div {
		animation: floatingAnimation 4s ease-in-out 3;
		background-color: var(--color-white);
		border-color: var(--color-mid-grey);
		border-style: solid;
		border-width: thin;
		border-radius: 5px;
		box-shadow: var(--elevation-1p);
		box-sizing: border-box;
		column-gap: 8px;
		display: flex;
		font-family: Roboto;
		margin: 2vw 0;
		max-width: 300%;
		padding: 8px;
		position: absolute;
		transform: translatey(0px);
		width: 100%;

		&:before {
			background: linear-gradient(111deg, var(--color-cold) 28%, var(--color-hot) 74%);
			content: '\7a';
			font-family: var(--font-icons);
			font-size: var(--size-2-5em-fontsize);

			@include add-prefix-value (background-clip, text);
			@include add-prefix-value (text-fill-color, transparent);
		}

		p {
			font-size: .8em !important;
			margin: 0 !important;
			position: relative;
		}
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
		overflow: visible;
		width: 100%;
		height: 100%;

		line {
			stroke: var(--color-devil-grey);
			stroke-width: 0.05%;
		}

		circle {
			fill: var(--color-devil-grey);
		}
	}
}

aside .hot-tip { z-index: 11; }

@keyframes floatingAnimation {
	0% {
		box-shadow: var(--elevation-1p);
		transform: translatey(0px);
	}
	50% {
		box-shadow: var(--elevation-3p);
		transform: translatey(-3px);
	}
	100% {
		box-shadow: var(--elevation-1p);
		transform: translatey(0px);
	}
}
*/
