.dark-knight.Edge .cards.projects:before {
    border-top: 66px solid var(--color-dark-solid-22);
}

.dark-knight.Edge, .Edge {
    .three-sixty-container {
        background-image: url('/assets/images/ag-case-studies/ag-ux-war-room.jpg');
        background-size: cover;
        border-radius: 6px;
        box-shadow: var(--elevation-2p);

        .three-sixty { display: none; }
    }

    aside .descriptor header {
        filter: grayscale(100%);
    }
}

.Edge {
    .cards .article-text .more {
        height: auto;
    }
    .cards.projects:before {
        border-top: 66px solid var(--color-white);
    }
}
