.img-magnifier-container {
	margin: 6px;
	position: relative;
}

#three-diamond {
	height: auto;
	margin-bottom: 12px;
	padding: 0px 12px;
	width: 100%;
}

.img-magnifier-glass {
	border-radius: 13px;
	box-shadow: var(--elevation-4p);
	cursor: none;
	/* Set the size of the magnifier glass: */
  	height: 90px;
  	position: absolute;
  	width: 178px;
  	z-index: 1;

  	&:after {
  		background: transparent url("../images/iphone.png") no-repeat center center;
  		background-size: cover;
  		content: "";
  		display: block;
  		height: 92px;
  		left: 0px;
  		position: relative;
  		top: -1px;
  		width: 180px;
  		z-index: 6;
  	}

    &.portrait {
        height: 178px;
        margin-left: 46px;
        width: 89px;

        &:after {
            left: -45px;
            top: 44px;

            @include add-prefix-value (transform, rotate(90deg));
        }
    }
}
