//defaults tag settings
html.offline ~ iframe.three-sixty-iframe { display: none; height: 0; }

a {
	&:focus {
		border: 2px solid var(--color-primary-light) !important;
		border-radius: 4px;
		margin: 5px 0;
		outline-width: 0;
		padding: 7px 10px;

		&:after {
			color: var(--color-primary-light);
			content: '*';
			font-size: $size-2-25em-fontsize;
			position: absolute;
			right: -17px;
			top: -7px;
		}
	}

	&:hover {
		color: var(--color-dark-grey);
		cursor: pointer;
		text-decoration: dotted;
	}
}

address { font-family: var(--font-primary); }

blockquote {
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	font-family: var(--font-primary);
	margin: 32px auto;
	overflow: hidden;
	padding: 0 32px;
	position: relative;

	&:before,
	&:after {
		color: var(--color-dark-grey);
		display: inline;
		font-family: var(--font-quotes) !important;
		font-size: var(--size-4em-fontsize);
		position: absolute;
		z-index: 1;
	}

	&:before {
		content: open-quote;
		top: -6px;
		left: 2px;
	}

	&:after {
		content: close-quote;
		right: 2px;
		bottom: -45px;
	}

	.ntsc {
		background-image: url('/assets/images/ntsc.png');
		height: 100%;
		left: 0;
		position: absolute;
		opacity: .1;
		width: 100%;
		z-index: 0;
	}

	p {
		margin: 0!important;
		padding: 12px 0 0;
		position: relative;
		z-index: 1;
	}

	footer {
		font-style: italic;
		padding: 12px 0;
		position: relative;
		z-index: 1;
	}
}

a dfn:hover,
figcaption a:hover { color: var(--color-dark-grey); }

figure { display: block; }

figcaption, fn {
	color: var(--color-dark-grey);
	margin: 32px 0;
	font-family: var(--font-primary);
	font-size: .8em;
}

figcaption,
figure > p { font-size: var(--size-08em-fontsize); }

h3 { font-size: var(--size-2-5em-fontsize); }

html[lang=fr],
html[lang=de],
html[lang=it],
html[lang=ja],
html[lang=es] {
	abbr,
	p > a:link {
		margin-left: 8px;
		margin-right: 8px;
	}

	.header .navbar-nav>li.menulogo { display: none !important; }

	.cards .article-text .read h3 { font-size: var(--size-2-2em-fontsize); }
}

blockquote {

	&.active {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 32px;

		> footer {
			margin: 0;
			padding: 12px 0;
		}
	}
}

.echo-signal {
	&:before, &:after {
		background-color: var(--color-white-50);
		content: "";
		top: -10px;
		left: -10px;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		animation-fill-mode: both;
		position: absolute;
		opacity: 0;
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation: zoomIn 1.8s 0.33333s ease-out infinite;
	}
}

aside {
	box-shadow: var(--elevation-5p);
	height: 0;
	bottom: 0;
}

aside .context-viewer .descriptor ul {
	&.bullet-spacing,
	&.separator-list { padding-left: 20px; }

	&.bullet-spacing li { color: var(--color-dark-grey); }
}

aside .context-viewer .descriptor header > ul.separator-list {
	padding-left: 0;
}

aside .context-viewer .descriptor figure figure figcaption,
aside .context-viewer .descriptor footer h3 {
	margin: 0;
	padding-left: 0;
}

.separator-list {
	list-style-type: none;
	position: relative;
	overflow: hidden;

	>li {
		border-bottom: 1px dotted var(--color-white-50);

		&,.h4, h4, p, span.suppress,
		.separator-list .active .inline-list li span,
		.highlight.active span[class^=icon-]:before,
		.highlight.active span[class^=icon-] { color: var(--color-white); }

		> sup { top: 2px; }

		.h4 {
			margin: 0;
			padding: 0;
		}

		&.highlight {
			border-bottom: none !important;
			padding: 12px 0 0;
			position: relative;

			abbr:after { bottom: 7px; }

			.highlighter {
				.highlighted {
					h4 {
						display: block;
						font-size: var(--size-1-5em-fontsize);
					}

					.inline-list {
						background-color: var(--color-white);
						display: inline-block;
						height: auto;
						max-height: 111px;
						min-height: 37px;
						overflow: hidden;
						position: relative;
						width: 0%;
						z-index: 1;

						@include add-prefix-value (transition, all 6s ease-out);

						li {
							span[class^="icon-"] {
								display: inline-flex;
								line-height: 33px;
								padding-right: 2px;

								&:before {
									font-size: var(--size-1-5em-fontsize);
									line-height: 37px;
									margin-left: 7px;
									margin-right: 6px;
								}
							}
						}
					}
				}
			}

			&.active {
				border-radius: 4px;

				.highlighter .inline-list {
					@include add-prefix-value (transition, all 6s ease-out);

					border-radius: 2px;
					width: 100%;
				}
			}
		}

		@include color-highlight-value ();
	}
}

figure {

	img {
		align-items: center;
		border-radius: 4px;
		box-shadow: var(--elevation-2p);
		display: flex;
		height: auto;
		justify-content: center;
		margin: 0 auto;
		width: 700px;
	}

	&.zoom-img {
		&:focus, &:hover {
			overflow-x: auto;
			overflow-y: auto;
			height: fit-content;
		}

		img {
			&:focus, &:hover {
				justify-content: flex-start;
				transform-origin: top left;

				@include add-prefix-value (transform, scale(2));
			}
		}

		&.swap {
			height: auto;
		}
	}

	figcaption.col-12 { margin: 0 !important; }
}

figure.iframe-container {
	align-items: center;
	display: flex;
	height: 56vh;
	justify-content: center;
	margin: 0 auto 66px;
	position: relative;
	width: 90%;

	iframe {
		border: 0;
		border-radius: 4px;
		box-shadow: var(--elevation-2p);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	figcaption {
		color: var(--color-white);
		position: relative;
		top: 60%;
	}
}

fn a, fn a:hover {
	color: var(--color-dark-grey);
	border-bottom: 1px dotted var(--color-dark-grey);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

main.content {
	height: 100%;
	margin: 0 auto;
	max-width: 100%;

	&:after {
		clear: both;
		content: '';
		display: block;
	}
}

noscript p { display: none; }

.row.ntsc {
	justify-content: center;
	
	&, figure { 
		margin: 0;

		figure {
			padding: 0;
			margin: 0 15px 0 0;

			&:last-child { margin-right: 0; }
		}
	}
}

.ntsc {
	border-radius: 4px;
	overflow: hidden;

	figcaption {
		background-color: var(--color-white);
		bottom: 0;
		color: var(--color-black);
		padding: 0 8px 2px;
		position: absolute;
		width: fit-content;
		z-index: 2;
	}

	&:after {
		background: var(--color-white-20) url('/assets/images/ntsc.png');
		background-repeat: repeat;
		content: "";
		display: block;
		height: 394px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&.portrait:after {
		height: 100%;
	}

	&.comparison {
		figcaption { 
			bottom: unset;
			z-index: 1;
		}

		&:after { 
			background-color: var(--color-white-10);
			z-index: 0; 
		}

		& ~ .comp-overlay { z-index: 1; }
	}

	&.lt700 {
		align-items: center;
		display: flex;
		justify-content: center;

		img { 
			width: auto; 
		}
	}
}

span [class^="icon-"] abbr { border: none !important; }

sup, sub {
	font-size: 60%;

	a, a:hover {
		color: var(--color-dark-grey);
		border-bottom: 1px dotted var(--color-dark-grey);
	}
}

.skiptranslate { display: none; }

table {
	font-family: var(--font-primary);
	margin: 0;
}

th { text-align: left; }

.hide-cta {
	z-index: 3;
	display: none!important;
}

.darken { background-color: var(--color-dark-solid-22); }

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: var(--color-dark-solid-22);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-group-sm>.btn, .btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

figure#yt-tw-ui-showreel { position: relative; }

.tw-ui-showreel {
	background-image: url('/assets/images/tw-case-studies/desktop-legacy.png');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 7px;
	box-shadow: none;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	zoom: unset;
	
	video#showreelvid {
		@include add-prefix-value (transform, scale(0.92));

		border-radius: 11px;
		box-shadow: none;
		height: auto;
		left: 0;
		max-width: unset;
		min-width: unset;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.col-6 { 
	flex: 0 0 50%;
	max-width: 50%;
}

.col-12 { 
	flex: 0 0 100%;
	width: 100%;
}

@media (min-width: 576px) {
	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 768px) {
	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

@media (min-width: 992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
}