@media screen and (min-width: 1920px) and (max-width: 3839px) {
	.cards .article-footer:after { top: 24px; }

	aside .context-viewer .feedback-content form { padding: 0 256px;}
}

@media screen and (min-width: 1921px) and (max-width: 3839px) {
	.case .article-text .more .separator-list,
	.projects .article-text .more .separator-list { width: 50%; }
}

@media screen and (max-width: 2560px) {
	.tw-ui-showreel { height: 368px; }
}

@media screen and (min-width: 2560px) {
	.img-magnifier-glass { display: none; }

	.cards.case .article-text .read {
		.skim-read-case-button {
			&:before {
				height: 126px;
				top: -17px;
			}

			&:active, &:focus, &:hover {
				&:before { left: 607px; }
			}
		}
	}

	.cards.case,
	.cards.projects,
	.cards.toolkit {
		.article-text .read {
			&.more p.view-container a {

				&:active, &:hover, &:focus {
					border-radius: 42px;
				}

				&.infra-button, &.platform-button, &.esports-button {
					&:active, &:hover, &:focus {
						border-radius: 0;
					}
				}
			}
		}
	}

	.cards.projects .article-text p>a { font-size: var(--size-085em-fontsize); }
}

@media screen and (min-width: 2522px){
	.cards.case figure#yt-tw-ui-showreel .tw-ui-showreel video#showreelvid { @include add-prefix-value(transform, scale(0.9)); }
}

@media screen and (min-width: 2400px){
	.cards.case figure.noshadow img { border-radius: 89px; }
}

@media screen and (min-width: 1922px) and (max-width: 4096px) {
	.bookme-button,
	.bookme-float-button {
		&:active, &:focus, &:hover {
			&:before { left: 284px; }
		}
	}

	aside .context-viewer .feedback-content .fb-form-layout input[type=submit] {
		transform: scale(1.5);
	}
}

@media screen and (min-width: 3840px) {
	body {
		padding: 0 var(--spacing-4k);
	}

	.navbar { zoom: 2.7; }

	.header-title .bookme-button {
		top: 66px;
	}

	.header-title .bookme-button {
		@include add-prefix-value(transform, scale(3));
	}

	main article.cards header h2 { font-size: var(--size-6-5em-fontsize); }

	.scroll-nudge,
	main article .article-text,
	main article .article-footer,
	footer.footer,
	aside .context-viewer .descriptor header > ul li,
	aside .close-button { zoom: 2.8; }
	aside .context-viewer .descriptor figure#AG-Atomic-breakdown,
	aside .context-viewer .descriptor figure#Morae-UI-test,
	aside .context-viewer .descriptor figure#UX-3P-Execs,
	aside .context-viewer .descriptor figure#ag-dept-workshops,
	aside .context-viewer .descriptor figure#ag-persona,
	aside .context-viewer .descriptor figure#ag-wireframe,
	aside .context-viewer .descriptor figure#ag-workshop-conclusions,
	aside .context-viewer .descriptor figure#visual-ui-grouping,
	aside .context-viewer .descriptor fn,
	aside .context-viewer .descriptor footer,
	aside .context-viewer .descriptor h3,
	aside .context-viewer .descriptor h4,
	aside .context-viewer .descriptor header .separator-list,
	aside .context-viewer .descriptor header h3.heading,
	aside .context-viewer .descriptor header h4,
	aside .context-viewer .descriptor header q,
	aside .context-viewer .descriptor p,
	aside .context-viewer .descriptor ul {
		margin: 0 25%;
	}

	aside .context-viewer .descriptor h3.heading { font-size: var(--size-8em-fontsize); }

	aside .context-viewer .descriptor header q { font-size: var(--size-3em-fontsize); }

	aside .context-viewer .descriptor h4 { font-size: var(--size-2em-fontsize) !important; }

	aside .uxp-content.display--content>.descriptor header h4 { line-height: 60px !important; }

	aside .context-viewer .feedback-content .fb-form-layout input[type=submit] { margin: 16px 48px 38px auto; }
}

@media screen and (min-width: 1921px) and (max-width: 3839px) {
	body {
		padding: 0 var(--spacing-1080);
	}

	.offline .header-title h1 span {
		left: 149px;
		top: -56px;
	}

	.header-title h1 {
		font-size: var(--size-2-5em-fontsize);
		padding-top: 156px;
	}

	.header-title h1:before {
		font-size: $size-2em-fontsize;
		line-height: 69px;
	}

	.header-title > span {
		font-size: var(--size-1-25em-fontsize);
		margin: 16px auto 26px;
	}

	.navbar-nav .menulogo {
		font-size: var(--size-1-75em-fontsize);
		top: 20px;
	}

	.dropdown-item a { font-size: var(--size-1-25em-fontsize); }

	.cards.about { margin: 95px 0 0 0; }

	.cards header h2 { font-size: var(--size-4em-fontsize); }

	.cards .article-text {
		p { font-size: var(--size-1-25em-fontsize); }

		blockquote {
			border-radius: 8px;
			padding: 0 var(--spacing-desktop);

			&:before, &:after { font-size: var(--size-5em-fontsize); }
			&:before {
				left: 9px;
				top: -8px;
			}
			&:after {
				bottom: -57px;
				right: 9px;
			}
		}

		.read h3 { font-size: var(--size-3em-fontsize); }
	}

	.cards .article-footer {
		&:before {
			font-size: var(--icon-30px-fontsize);
			line-height: 1;
		}
		&:after {
			font-size: var(--icon-16px-fontsize);
			right: 90px;
			top: 26px;
		}
	}

	.cards.about:after,
	.cards.case-studies:after,
	.cards.projects:after { z-index: 2; }

	.cards.about .article-text .more {
		.LI-profile-badge {
			background-size: cover;
			border-radius: 8px;
			height: 594px;
			margin: 32px 32px 32px 0;
			max-width: 500px;

			ul li {
				strong, a { font-size: var(--icon-30px-fontsize); }
				strong { padding-top: 286px; }

				a {
					border-radius: 8px;
					height: 60px;
					line-height: 50px;
					margin: 38px auto 0 auto;
					width: 200px;
				}
			}
		}

		blockquote.active {
			border-radius: 8px;
			padding: 0 64px;

			p { line-height: 38px; }

			footer {
				font-size: var(--size-1-3em-fontsize);
				font-weight: bold;
				padding: 24px 0;
			}
		}

		figure {
			figcaption { font-size: var(--size-1em-fontsize); }

			#three-diamond { border-radius: 8px; }
		}

		fn { font-size: var(--size-1em-fontsize); }
	}

	.cards.case .article-text .read {
		p.view-container a {
			font-size: var(--size-1em-fontsize);
		}

		p.view-container a.skim-read-case-button {
			font-size: var(--size-1-25em-fontsize);

			&:before {
				height: 88px;
				top: -15px;
			}
		}
	}

	.cards.booking .article-text {
		.read {
			label.header .mic {
				bottom: -44px !important;
				right: 30px;

				&.mic-further-notes {
					bottom: -69px !important;
					right: 33px;
				}
			}
		}

		>.more {
			label.header,
			legend {
				font-size: var(--size-3em-fontsize);
				padding-top: 66px;
			}

			label.header button svg {
				height: 74px;
				width: 74px;
			}

			input[type='text'],
			input[type='email'] { height: 74px !important; }

			input[type='text'],
			input[type='email'],
			input[type='number'],
			textarea {
				padding: 0 64px 0 32px;
			}

			textarea { height: 200px !important; }

			input#first-name { border-radius: 12px 12px 0 0; }

			input[type='text'],
			input[type='email'],
			input[type='number'],
			input[type='radio']~label,
			textarea {
				font-size: var(--size-1-4em-fontsize);
			}

			input[type='radio']~label {
				border-radius: 38px;
				height: unset;
				line-height: normal;
				margin-left: 0;
				padding: 11px 32px 18px;
			}

			p.agreement { font-size: var(--size-1em-fontsize); }

			input[type='submit'] {
				height: auto;
			}
		}
	}

	.cards.questions {
		.read #qanda-list {
			label.header {
				font-size: var(--size-1-6em-fontsize);
				margin-top: 132px;
				text-align: right;
				width: 70%;
			}

			input[type='text'] {
				border-radius: 38px;
				font-size: var(--size-1-6em-fontsize);
				height: 76px;
				padding: 0 33px 7px;
			}
		}
	}

	.cards.case,
	.cards.projects,
	.cards.toolkit {
		figure.noshadow {
			video {
				position: relative;
				z-index: 4;
				border-radius: 29px;
				top: 200px;
				width: 180px;
				height: 369px;
				min-width: auto;
				min-height: auto;
				overflow: hidden;
				display: block;
				margin-bottom: 32px;
			}

			img { border-radius: 45px; }

			figcaption { font-size: var(--size-1em-fontsize); }
		}

		.article-text .read {
			h3 { font-size: var(--size-3em-fontsize); }

			h4 {
				display: block;
				font-size: var(--size-3em-fontsize);
			}

			.highlighted h4 { font-size: var(--size-1-3em-fontsize); }

			.row {
				h4 {
					font-size: var(--size-3em-fontsize);
					position: relative;
					top: 16px;
				}

				blockquote.active {
					border-radius: 8px;
					padding: 0 64px;

					p { line-height: 38px; }

					footer {
						font-size: var(--size-1-3em-fontsize);
						font-weight: bold;
						padding: 24px 0;
					}
				}
			}

			.separator-list li {
				font-size: var(--size-1-1em-fontsize);
			}

			.inline-list li span {
				font-size: var(--size-08em-fontsize);
			}
		}
	}

	.cards.toolkit,
	.cards.contact {
		header { padding-bottom: 19px; }

		header h2, .article-text p {
			border-radius: 8px;
			padding: 12px 24px 16px 24px;
		}
	}

	.cards.contact .article-footer {
		&:before { line-height: 1 !important; }
		&:after { right: 77px !important; }
	}

	.footer .credits .row h2 {
		font-size: var(--size-2em-fontsize);
		padding-top: 132px;
	}

	.footer .credits .row ul.credit-text-links li a.menu-link {
		font-size: var(--size-1-2em-fontsize);
		margin: 10px 0;

		&:focus { padding: 7px 10px 8px; }

		&:after {
			right: -37px;
			top: -43px;
		}
	}

	.footer .credits .row ul.credit-partner-brands li img {
		height: auto;
		max-width: 80%;
		width: 80%;
	}

	.social-channels a:before { font-size: var(--size-2-5em-fontsize); }

	.social-channels a span { font-size: var(--size-1em-fontsize); }

	.footer .supergui-signature { font-size: var(--icon-20px-fontsize); }

	aside {
		.context-viewer {
			.feedback-content .fb-form-layout {
				margin: 0 auto;
				width: 100%;

				input[type="radio"] ~ label {
					border-radius: 57px;
					font-size: var(--size-1-6em-fontsize);
					padding: 3px 0 10px;
				}

				input[type=submit]:focus,
				input[type=submit]:hover { border-radius: 42px; }

				>li ul.row li button.mic.mic-customer-notes {
					bottom: 14px;
				}

				

				>li.emoji-feedback:before {
					left: -19px;
					line-height: 1.15;
				}

				>li:before {
					left: -25px;
				}

				>li ul.row li {
					p.agreement {
						font-size: var(--size-1em-fontsize);
					}
				}

				>li label {
					line-height: 1.17;

					sup { font-size: var(--size-06em-fontsize); }
				}

				textarea#customer-notes {
					border-radius: 16px;
					border-width: 12px;
					font-size: var(--base-fontsize);
					height: 210px;
					padding: 32px 84px 32px 40px;
				}

				>li ul.row li button.mic.mic-customer-notes {
					bottom: 41px;
					right: 49px;

					svg {
						height: 80px;
						width: 80px;
					}

				}
			}

			.descriptor {
				h3, h4, p:not(.agreement), > ul, > footer,
				header .separator-list,
				header h3.heading,
				header h4,
				header q,
				header#view-uxp-story ul,
				header#view-uxd-story ul,
				header#view-uxi-story ul,
				figure#ag-wireframe,
				figure#ag-persona,
				figure#ag-dept-workshops,
				figure#UX-3P-Execs,
				figure#AG-Atomic-breakdown,
				figure#visual-ui-grouping,
				figure#Morae-UI-test,
				figure#ag-workshop-conclusions,
				figure#ag-homepage-desktop-refactor,
				figure figcaption,
				figure#sb-game-card-desktop { margin: 0 var(--spacing-1080); }

				figure>figure figcaption { margin: 0 10%; }

				figure#sb-game-card-desktop {
					margin-bottom: 66px;
					margin-top: 19px;

					div.row figcaption { margin: 0; }
				}

				figure#ag-homepage-desktop-refactor div.row figcaption,
				footer h3 { margin-left: 0; }

				figure#ag-homepage-desktop-refactor div.row figcaption ul.bullet-spacing {
					margin-left: 0;
					margin-right: 0;
				}

				figure#AG-Atomic-breakdown { margin-bottom: 217px; }
				figure#ag-dept-workshops { margin-bottom: 96px; }

				figure#UX-3P-Execs { margin-bottom: 129px; }

				blockquote.active {
					border-radius: 8px;
					padding: 0 64px;

					p { line-height: 38px; }

					footer {
						font-weight: bold;
						margin: 0;
						padding: 24px 0;
					}

					&:before, &:after { font-size: var(--size-5em-fontsize); }
					&:before {
						left: 9px;
						top: -7px;
					}
					&:after {
						bottom: -56px;
						right: 9px;
					}
				}

				figure {

					figcaption, fn { font-size: var(--size-1em-fontsize); }

					img {
						border-radius: 8px;
						box-shadow: var(--elevation-4p);
					}

					&.three-sixty-container figcaption { bottom: -82px; }

					&.youtube-embed-container .tw-ui-showreel iframe.youtube-embed-iframe {
						margin-top: 32px;

						iframe {
							border-radius: 8px !important;
							box-shadow: var(--elevation-4p) !important;
						}
					}

					&#ag-dept-workshops { height: 38vh; }
					&#UX-3P-Execs { height: 45vh; }
					&#AG-Atomic-breakdown { height: 61vh; }

					div.row figcaption > ul.bullet-spacing li,
					figcaption > ul.bullet-spacing li {
						font-size: var(--size-1-2em-fontsize);
					}
				}

				h3 {
					font-size: var(--size-4em-fontsize);
				}

				h4 { font-size: var(--size-3em-fontsize); }

				header {

					.separator-list>li {
						h3, h4 { font-size: var(--size-2em-fontsize); }
					}

					.highlight {
						padding: 66px 0 16px;

						span.highlighter:before {
							border-radius: 0;
							border-bottom: 4px dotted var(--color-white-50);
						}
					}
				}

				p { margin-top: 32px; }

				p a.demo-button {
					border-radius: 8px;
					padding: 20px 50px 29px;

					&:hover, &:focus { border-radius: 50px; }

					&:after{
						right: -28px !important;
						top: -28px !important;
					}
				}

				p, ul.bullet-spacing li,
				footer ul.separator-list li { font-size: var(--size-1-2em-fontsize); }

			}
		}
	}

	video {
		min-height: 100%;
		min-width: 100%;
	}
}

@media screen and (max-width: 1920px){
	.bookme-button {
		height: 45px;
		width: max-content;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1920px){
	.cards.case figure.noshadow img { border-radius: 45px; }
}

@media screen and (min-width: 1470px) {
	#three-diamond { max-width: none; }

	.cards.case figure.noshadow img { border-radius: 35px; }
}

@media screen and (min-width: 1440px) and (max-width: 1675px) {
	.tw-ui-showreel { height: 282px; }
}

@media screen and (max-width: 1439px) {
	.tw-ui-showreel { height: 222px; }
}

@media screen and (min-width: 1300px) {
	.cards.case figure.noshadow img { border-radius: 35px; }
}

@media screen and (min-width: 915px) and (max-width: 1299px) {
	.cards.case figure.noshadow img { border-radius: 54px; }
}

@media screen and (min-width: 1028px) and (max-width: 1920px){
	aside .context-viewer .feedback-content .fb-form-layout {
		margin: 0 auto;
		width: 88%;
	}
}

@media screen and (max-width: 1080px){
	.cards.booking .contact-form { width: 100%; }
}

/* iPad device only - landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1024px) {
	html.iPad .cards.case figure.noshadow img { border-radius: 23px; }
	html.iPad .cards.case figure.noshadow { padding-right: 22px; }
	html.iPad .cards.case .article-text p { margin: 16px 8px 16px; }
}

@media screen and (max-width: 780px) {
	.embed-medium .card { width: 100% !important; };
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	body { padding: 0 var(--spacing-mobile); }
}

/* desktop - portrait */
@media screen and (max-width: 414px) {
	.header-title span { width: 80%; };
}

/* iPhone device only - landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 3) {
	html.iPhone .cards.case figure.noshadow img { border-radius: 73px; }
}

/* iPhone device only - portrait */
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 375px) and (max-device-width : 414px) {
	html.iPhone .cards.case figure.noshadow img { border-radius: 41px; }
}

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2.5) and (min-device-width : 540px) and (max-device-width : 720px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 62px; }
}

@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2.5) and (min-device-width : 540px) and (max-device-width : 720px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 71px; }
}

/* iPhone 6/7/8 Plus device only - portrait */
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 414px) and (max-device-width : 736px) {
	html.iPhone .cards.case figure.noshadow img { border-radius: 40px; }
}

/* Pixel2 device only - portrait */
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2.6) and (min-device-width : 411px) and (max-device-width : 731px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 40px; }
}

/* Pixel2 device only - landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2.6) and (min-device-width : 411px) and (max-device-width : 731px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 75px; }
}

/* iPhoneX device only - portrait */
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 375px) and (max-device-width : 812px) {
	html.iPhone .cards.case figure.noshadow img { border-radius: 33px; }
}

/* iPhoneX device only - landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 375px) and (max-device-width : 812px) {
	html.iPhone .cards.case figure.noshadow img { border-radius: 25px; }
}

/* Galaxy S5 device only - portrait */
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 360px) and (max-device-width : 640px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 41px; }
}

/* Galaxy S5 device only - landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 3) and (min-device-width : 360px) and (max-device-width : 640px) {
	html.mobile .cards.case figure.noshadow img { border-radius: 75px; }
}

@media screen and (max-width: 1007px) {
	.navbar-nav .menulogo:after { display: none; }
}

@media screen and (max-width: 991px) {
	.cards header:after { bottom: -2px; }
}

//mobile only
 @media only screen and (min-width: 320px) and (max-width: 915px) {
	.suppress { display: none !important; }
 }

 @media screen and (max-width: 926px) and (orientation: landscape){

	aside .context-viewer .descriptor {
		q { font-size: var(--size-1-1em-fontsize) !important; }
	}

	aside .context-viewer .descriptor header h3 { font-size: var(--size-2-5em-fontsize); }

	html[lang=fr],
	html[lang=de],
	html[lang=it],
	html[lang=ja],
	html[lang=es] {
		aside .context-viewer .descriptor header h3 { font-size: var(--size-1-6em-fontsize); }
	}
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape){
	.caret { display: none; }
}

@media screen and (max-width: 812px) {
	body { background-color: transparent; }
	.navbar-nav .menulogo:before { display: none; }
}

/* Gutter settings tablet (Landscape) */
@media screen and (min-width: 415px) and (max-width: 812px) {
	.cards {
		header,
		.article-text { padding: 16px $guttering-tablet; }

		header {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

@media screen and (min-width: 799px) {
	.cards.booking>.article-text>.more { padding: 16px var(--spacing-tablet) 1px; }
}

@media screen and (max-width: 797px) {
	.navbar-nav { margin-left: 16px; }
}

@media screen and (max-width: 781px) {
	.navbar-nav { margin-left: 8px; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { .tw-ui-showreel { min-height: 210px; } }

@media screen and (min-width: 768px) {
	.mobile-only { display: none; }
	.cta-tray { display: none !important; }
	.cards .article-footer[class$='--gigante']:after { right: 73px; }
}

@media screen and (max-width: 768px) {
	html[lang=fr],
	html[lang=de],
	html[lang=it],
	html[lang=ja],
	html[lang=es] {
		h2 { font-size: var(--size-2-2em-fontsize); }
	}

	.offline .header-title h1 span {
		left: -5px;
		position: fixed;
		top: 41px;
	}

	.suppress,
	.after-eights { display: none !important; }

	.mobile-only { display: inline-block; }

	span.gap-left {
		display: block;
		text-align: right;
		font-style: italic;
		line-height: var(--icon-40px-fontsize);

		&:before {
			font-family: var(--font-icons);
			font-size: large;
			content: $icon-eye;
			margin: 0 8px;
		}
	}

	figure.zoom-img img {
		&:focus, &:hover {
				@include add-prefix-value (transform, scale(3));
			}
	}

	figure.zoom-img {
		&:focus, 
		&:hover { 
			figcaption { display: none; }
		}
	}

	.cards.case figure.noshadow img { border-radius: 84px; }

	.cards.case .article-text .read.more ul.separator-list>li:not(.highlight) { width: 100%; }

	.menulogo { display: none; }

	.navbar {
		bottom: 0;
		right: 0;
		top: unset;
	}

	.navbar-expand-md .navbar-toggler { display: inline-block; }

	.navbar.scroll-past-0 { box-shadow: none; }

	.navbar.scroll-past-0:before {
		@include add-prefix-value (backdrop-filter, blur(2px));

		background: url('/assets/images/filter.png') repeat;
		border-radius: 4px;
		content: "";
		height: 44px;
		position: absolute;
		right: 20px;
		top: -13px;
		width: 44px;
		z-index: -1;
	}

	.navbar-toggler {
		@include glass-reflection();

		bottom: 19px;
		float: right;
		height: 44px;
		margin: 0 16px 0 0;
		padding: 0 10px;
		position: fixed;
		right: 4px;
		width: 45px;
		z-index: 2;

		&:focus, &.hamburger-focus {
			border-color: var(--color-primary-light);
			outline-width: 0;

			&:before {
				color: var(--color-primary-light);
				content: "*";
				font-size: $size-1-4em-fontsize;
				font-weight: normal;
				line-height: 24px;
				position: absolute;
				right: -17px;
				text-indent: 65px;
				top: -4px;
			}

			&.collapsed .icon-bar,
			&.collapsed .icon-bar .icon-bar,
			&.collapsed .icon-bar .icon-bar .icon-bar { background-color: var(--color-primary-light); }
		}

		&.collapsed {
			padding-top: 16px;

			~ .collapse.navbar-collapse {
				@include add-prefix-value(transform, translateY(90px));

				.nav { display: none; }
			}

			.icon-bar {
				@include add-prefix-value(transform, translateY(-8px));
				@include add-prefix-value (transition, all .5s);

				background-color: white;
				box-shadow: var(--neumorphism-shadow-menu);
				display: block;
				height: 2px;
				width: 21px;

				.icon-bar {
					background-color: white;

					.icon-bar {
						@include add-prefix-value(transform, translateY(16px));
						@include add-prefix-value (transition, all .5s);

						background-color: white;
					}
				}
			}
		}

		&:not(.collapsed) {
			padding: 0 9px;

			&:before { content: ""; }

			&:focus {
				background-color: var(--color-black);
				border-color: $hamburger-icon;

				&:hover, &:active {
					background-color: $hamburger-hover;
					border-color: $hamburger-icon;
				}
			}
			.icon-bar {
				@include add-prefix-value (transform, rotate(45deg));
				@include add-prefix-value (transition, all .5s);

				background-color: white;
				display: block;
				height: 2px;
				width: 23px;

				.icon-bar {
					background-color: transparent;

					.icon-bar {
						@include add-prefix-value (transform, rotate(45deg));
						@include add-prefix-value (transition, all .5s);

						background-color: white;
					}
				}
			}

			~ .collapse.navbar-collapse {
				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

				bottom: 8px;
				height: 100lvh;
				position: absolute;
				width: 100lvw;
				
				.nav { display: block; }

				.navbar-nav {
					align-content: center;
					box-sizing: border-box;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					height: 100%;
					margin: 0;
					padding: 0 16%;
					width: 100%;
					zoom: 1.5;

					&:after {
						backdrop-filter: blur(2px);
						background-color: var(--color-black-80);
						content: "";
						height: 100lvh;
						left: 0;
						position: fixed;
						top: 0;
						width: 100lvw;
						z-index: 1;
					}

					.menulogo:before,
					li:nth-child(10) { display: none !important; }

					.nav-item {

						&.col-2 {
							align-items: center;
							display: flex;
							flex: 1 1 calc(33.33%);
							justify-content: center;
							margin: 0;
							padding: 0;
							width: 75px;
						}

						.dropdown-menu {
							display: none;
							position: absolute;
							left: -9999px;
						}

						.nav-link {
							background: transparent;
							border: none;
							box-shadow: none;
							color: var(--color-white);
							flex-direction: column;
							font-weight: normal;
							height: 75px;
							line-height: normal;
							margin: 0;
							padding: 0px;
							width: 75px;
							z-index: 2;

							&:before {
								background: unset;
								border: unset;
								border-right: unset;
								color: var(--color-white);
								display: flex;
								font-family: var(--font-icons);
								font-size: $size-2-25em-fontsize;
								height: 30px;
								justify-content: center;
								line-height: 29px;
								opacity: unset;
								position: relative;
								transform: unset;
								transition: unset;
								max-width: 29px;
							}

							&:focus {

								&:after {
									font-size: var(--size-1em-fontsize);
									position: relative;
									right: unset;
									top: unset;
								}
							}

							&.about-us:before {
								content: $icon-people;
								font-size: var(--size-2-5em-fontsize);
								left: 0px;
								top: 4px;
							}

							&.contact-us:before {
								content: $icon-contacts;
								font-size: var(--size-2-5em-fontsize);
								left: -2px;
								top: 2px;
							}

							&.booking-form {
								border-radius: 4px;
								box-shadow: none;
								display: flex;
								font-size: unset;

								&:before {
									content: $icon-feedback;
									font-size: var(--size-3em-fontsize);
									left: 0;
									top: 10px;
								}

								&:hover {
									box-shadow: var(--elevation-4p);
									color: var(--color-dark-grey);
								}
							}

							&.case-options:before { 
								content: $icon-briefcase;
							}

							&.projects-help:before {
								content: $icon-box;
								left: 0;
								top: 1px;
							}

							&.faqs:before { 
								content: $icon-bulb;
							}

							&.toolkit:before { 
								content: $icon-tools;
							}

							&.testimonials:before { 
								content: $icon-heart;
							}
						}
					}
				}
			}
		}
	}

	.cards .article-footer:before { right: 30px; }
	.cards .article-footer:after { right: 15px; }

	.cards.about .article-text .read figure.zoom-img:hover { height: 379px; }
	.cards.about .article-text .read figure #three-diamond { min-height: unset; }

	.cards.contact .article-text .container {
		margin: 0;
		max-width: 100%;
	}

	.cards.contact .article-footer {
		height: 145px;

		&:before { right: 31px; }
		&:after { right: 16px; }
	}

	.cta-tray {
		@include glass-reflection();
		@include add-prefix-value (backdrop-filter, blur(2px));

		bottom: 39px;
		border-radius: 30px;
		height: 135px;
		left: 21px;
		padding: 0;
		position: fixed;
		width: 45px;
		z-index: 8;

		ul[role="menubar"] {
			align-items: center;
			border-left: 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-evenly;
			padding: 0;

			.menubutton {
				display: flex;
				justify-content: center;
				padding: 0;

				.feedback-button,
				.bookme-cta-button {
					align-items: center;
					background: transparent;
					border: none;
					color: var(--color-white);
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					height: 100%;
					padding: 0;
					position: relative;
					text-shadow: var(--neumorphism-shadow-menu);

					&:focus {
						&:before,
						&:after {
							color: var(--color-primary-light);
						}
					}

					&:before {
						color: var(--color-white);
						text-shadow: var(--neumorphism-shadow);
					}

					&:after {
						font-family: var(--font-primary);
						font-size: var(--icon-10px-fontsize);
						text-transform: uppercase;
					}
				}

				.feedback-button:before {
					content: $icon-survey;
					font-size: var(--size-1-3em-fontsize);
					height: 20px;
					line-height: normal;
				}

				.bookme-cta-button:before {
					content: $icon-feedback;
					font-size: var(--size-1-8em-fontsize);
					height: 20px;
					line-height: normal;
				}
			}
		}

		&.rotate {
			@include add-prefix-value (transition, all .5s);

			height: 47px;
			padding: 0 22px;
			width: auto;

			ul[role="menubar"] {
				flex-direction: row;
				
				.menubutton button {
					&:before, &:after { padding: 0 4px; }
				}

				/*
				.feedback-button {
					&:before {
						line-height: normal;
					}

					&:after {
						display: block;
						margin-top: 2px;
					}
				}

				.bookme-cta-button {
					&:before { margin: 5px 0 0 15px; }

					&:after { margin-left: 16px; }
				}
				*/
			}
		}
	}

	aside .context-viewer .descriptor header h3 { font-size: var(--size-2-75em-fontsize); }

	html[lang=fr],
	html[lang=de],
	html[lang=it],
	html[lang=ja],
	html[lang=es] {
		aside .descriptor header .heading { font-size: var(--size-2em-fontsize); }
	}

	aside .context-viewer .descriptor header {
		h3 { 
			padding-top: 12px;
		}

		q { font-size: var(--size-1-1em-fontsize) !important; }
	}

	.footer {
		z-index: 3;

		.supergui-signature { left: 16px; }
		.credits { display: none; }
	}

	.social-menu {
		padding-right: 82px;

		span { text-align: center; }
	}

	#twitcker-bar { display: none !important; }

	.spring	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		&:focus, 
		&:hover {
			background: linear-gradient(0deg,var(--color-spring-highlight),var(--color-spring-highlight));
			border: 1px solid var(--color-spring-highlight);
		}
	}

	.accessify.spring .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		&:focus, 
		&:hover {
			background: linear-gradient(0deg,#550000,#550000);
			border: 1px solid #550000;
		}
	}

	.summer	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		&:focus, 
		&:hover {
			background: linear-gradient(0deg,var(--color-summer-highlight),var(--color-summer-highlight-text));
			border: 1px solid var(--color-summer-highlight-text);
		}
	}

	.fall .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		&:focus, 
		&:hover {
			background: linear-gradient(0deg,var(--color-fall),var(--color-fall));
			border: 1px solid var(--color-fall);
		}
	}


	.winter .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		&:focus, 
		&:hover { 
			background: linear-gradient(0deg,var(--color-winter-highlight),var(--color-winter-highlight));
			border: 1px solid var(--color-winter-highlight);

			&:before, &:after {
				color: var(--color-winter); 
			}
		}
	}

	.dark-knight .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		color: var(--color-white-80);

		&:active, &:focus, &:hover {
			background: var(--color-primary-light) !important;
			border-color: var(--color-primary-light) !important;
			color: var(--color-black-80) !important;
		}

		&.bookme-button {
			&:focus, &:hover {
				background: linear-gradient(0deg, var(--color-primary-light), var(--color-primary-light)) !important;
				border: 1px solid var(--color-primary-light) !important;
			}
		}
	}
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
	.cards.case figure.noshadow img { border-radius: 23px; }
	.cards .article-text > p {
		left: auto;
		width: unset;
	}
}

@media screen and (max-width: 767px) {
	aside .context-viewer .descriptor figure figure figcaption,
	aside .context-viewer .descriptor footer h3 {
		margin: 0 10%;
	}
	.tw-ui-showreel { 
		height: 507px;
		max-height: 507px;
	}
}

@media screen and (max-width: 760px) {
	.bookme-float-button {
		margin: 0;
	}
}

/* iPhone 8 Plus (portrait and landscape) */
 @media only screen and (min-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {
	.cards.about .article-text blockquote:before { top: -26px; }
	.cards.about .article-text blockquote:after { bottom: -43px; }
	.cards.booking label.header, .cards.booking legend { font-size: $size-1-4em-fontsize; }

	aside .context-viewer .feedback-content .fb-form-layout input[type=radio]~label { line-height: $size-1-7em-fontsize; }
}

@media screen and (max-width: 736px) {
	.mic { bottom: -44px; }
	.cards.booking>.article-text .read label.header .mic.mic-further-notes {
		bottom: -100px;
		right: 10px;
	}

	.img-magnifier-glass { display: none; }

	.cards.booking label.header,
	.cards.booking legend {
		font-size: $size-1-7em-fontsize;
	}
	.cards.booking .article-text .more label.header {
		white-space: normal;
	}

	aside .context-viewer .feedback-content .fb-form-layout>li ul.row { margin: 0 0 32px 0; }

	aside .context-viewer .feedback-content .fb-form-layout input[type=submit] {
		display: flex;
		float: unset;
		left: 0;
		position: relative;
		right: 0;
	}
}

@media screen and (max-width: 733px) {
	.cards.booking>.article-text>.more { padding: 0 $guttering-mobile; }
	.LI-profile-badge { width: 100%; }
}

@media screen and (max-width: 715px) {
	.navbar { padding: 0 16px; }
	.cards .article-text, .cards header { padding: $guttering-mobile var(--guttering-desktop); }
	.cards.booking>.article-text>.more { padding: 0 $guttering-tablet; }
}

@media screen and (max-width: 702px) {
	aside .context-viewer .descriptor figure.three-sixty-container figcaption {
		bottom: -88px;
	}
}

@media screen and (max-width: 653px) {
	.LI-profile-badge { 
		float: none;
		margin: 0 auto;
	}
	
	h3#leigh-laguisma { clear: both; }
}

@media screen and (max-width: 628px) {
	.tw-ui-showreel { height: 382px; }
}

@media screen and (max-width: 610px) {
	.cards.case figure.noshadow img { border-radius: 73px; }
	.cards.booking>.article-text>.more { padding: 0; }
}

@media screen and (max-width: 581px) {
	.cards.case .article-text .read.more ul.separator-list>li:not(.highlight) {
		max-width: 464px;
		min-width: 318px;
	}
	
	#case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after {
		content: "...";
		display: block;
		padding-left: 2px;
		position: absolute;
		right: 0;
		width: 15px;
	}

	.spring #case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after { background-color: var(--color-spring); }
	.summer #case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after { background-color: var(--color-summer-highlight-text); }
	.fall #case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after { background-color: var(--color-fall); }
	.winter #case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after { background-color: var(--color-winter); }
	.dark-knight #case-study > div.container.article-text > div > ul:nth-child(7) > li:nth-child(1)::after { background-color: var(--color-primary); }
}

@media screen and (max-width: 575px) {
	.cards.case figure.noshadow img { border-radius: 71px; }
	.row.ntsc {
		&, figure { margin: 0; }
	}
}

@media screen and (max-width: 568px) {
	.nav { text-align: center; }

	.cta-tray { bottom: 53px; }

	.footer .social-channels {
		margin: 0 auto;
		width: 100%;

		a:before { line-height: 1.03; }

		.social-menu {
			padding: 0;

			.menuitem { width: 100%; }
		}
	}

	.footer .supergui-signature { position: relative; }
}

@media screen and (max-width: 540px) {
	.emoji-feedback ul {
		margin: 0;

		li { padding: 0 8px; }
	}
}

@media screen and (max-width: 523px) {
	#case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after {
		content: "...";
		display: block;
		padding-left: 2px;
		position: absolute;
		right: 0;
		width: 15px;
	}

	.spring #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-spring); }
	.summer #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-summer-highlight-text); }
	.fall #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-fall); }
	.winter #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-winter); }
	.dark-knight #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-primary); }
}

@media screen and (max-width: 508px) {
	aside .context-viewer .feedback-content .fb-form-layout input[type=radio]~label {
		font-size: var(--size-2em-fontsize);
		height: 60px;
		line-height: 1em;
		padding: 0;
	}
}

@media screen and (max-width: 414px) {
	.tw-ui-showreel { height: 292px; }
}

@media screen and (max-width: 495px) {
	#case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after {
		content: "...";
		display: block;
		padding-left: 2px;
		position: absolute;
		right: 0;
		width: 15px;
	}

	.spring #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-spring); }
	.summer #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-summer-highlight-text); }
	.fall #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-fall); }
	.winter #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-winter); }
	.dark-knight #case-study > div.container.article-text > div > ul:nth-child(11) > li:nth-child(1)::after { background-color: var(--color-primary); }
}

@media screen and (max-width: 479px) {
	.navbar { padding: 0; }
	.cards .article-text, .cards header { padding: 16px var(--guttering-desktop); }
}

@media screen and (max-width: 470px) {
	aside .context-viewer .descriptor figure.youtube-embed-container figcaption {
		bottom: -88px;
	}
}

@media screen and (max-width: 465px) {
	.cards .article-text .more label.header { white-space: normal; }
	blockquote { margin: 32px 0; }
}

@media screen and (max-width: 455px) {
	.cards.booking label.header,
	.cards.booking legend { font-size: $size-1-4em-fontsize; }
	.cards .article-footer:before { right: 30px; }
	.cards .article-footer:after { right: 15px; }
	.cards.contact .article-footer {
		float: right;
		z-index: 301;
	}

	.z-index-4 {
		display: block;
		z-index: 399!important;
	}
	.navbar, .navbar-toggler { z-index: 400; }
}

//UI Adjustment for iPhone 6/7/8 Plus
@media screen and (min-width: 414px) and (max-width: 736px) {
	.cards.contact {
		background-position: -150px 22px;
		background-size: 83%;
	}

	aside .descriptor header .heading { font-size: var(--size-2-75em-fontsize); }

	html[lang=fr],
	html[lang=de],
	html[lang=it],
	html[lang=ja],
	html[lang=es] {
		aside .descriptor header .heading { font-size: var(--size-2em-fontsize); }
	}
}

@media screen and (min-width: 513px) and (max-width: 550px) {
	.cards.case figure.noshadow img { border-radius: 65px; }
}

@media screen and (min-width: 473px) and (max-width: 512px) {
	.cards.case figure.noshadow img { border-radius: 54px; }
}

@media screen and (max-width: 428px) {
	aside .context-viewer .descriptor p { margin: 0 0; }
}

@media screen and (min-width: 321px) and (max-width: 472px) {
	.cards.case figure.noshadow img { border-radius: 36px; }
}

/* iPhone 14 Pro Max Portrait */
@media screen and (orientation : portrait) and (max-width: 430px) {
	.cards .article-footer { padding-right: 18px ;}

	.LI-profile-badge { 
		float: none;
		margin: 0 auto;
	}

	h3#leigh-laguisma { clear: both; }
}

@media screen and (max-width: 393px) and (orientation: landscape) {
	.header-title h1 { padding-top: 140px; }
	.header-title>span {
		margin: 8px auto 16px;
	}
}

@media screen and (max-width: 375px) {
	aside .context-viewer .descriptor figure#AG-Atomic-breakdown, 
	aside .context-viewer .descriptor figure#Morae-UI-test, 
	aside .context-viewer .descriptor figure#UX-3P-Execs, 
	aside .context-viewer .descriptor figure#ag-dept-workshops, 
	aside .context-viewer .descriptor figure#ag-persona, 
	aside .context-viewer .descriptor figure#ag-wireframe, 
	aside .context-viewer .descriptor figure#ag-workshop-conclusions, 
	aside .context-viewer .descriptor figure#visual-ui-grouping, 
	aside .context-viewer .descriptor fn, 
	aside .context-viewer .descriptor footer, 
	aside .context-viewer .descriptor h3, 
	aside .context-viewer .descriptor h4, 
	aside .context-viewer .descriptor header .separator-list, 
	aside .context-viewer .descriptor header h3.heading, 
	aside .context-viewer .descriptor header h4, 
	aside .context-viewer .descriptor header q, 
	aside .context-viewer .descriptor p, 
	aside .context-viewer .descriptor ul { margin: 0 32px; }
	.cards .article-footer { padding-right: 12px; }
}

@media screen and (max-width: 370px) {
	.cards .article-text, .cards header { padding: $guttering-mobile $guttering-tablet; }
}

@media screen and (max-width: 344px) {
	.cards.booking input[type=radio]~label { margin-left: 0; }
	input[type="submit"] { @include add-prefix-value(transform, scale(.8)); }
}

@media screen and (max-width: 335px) {
	.cta-tray { bottom: 60px; }

	.footer .supergui-signature {
		white-space: normal;
		width: 70%;
	}
}

@media screen and (max-width: 320px) {
	.header-title span { width: 55%; }

	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav { zoom: 1; }

	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item {
		height: 75px;
		max-height: 75px;
	}

	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
		height: 75px;
		width: 75px;
	}

	.shortname .navbar-nav li a.nav-link.testimonials:after { content: "Vine"!important; }

	a:focus > img { zoom: 98%; }

	.cards.case figure.noshadow img { border-radius: 37px; }

	.cards.booking .case-type li, .cards.booking .visitor-type li { padding-left: 0; }

	aside .context-viewer .feedback-content .fb-form-layout>li ul.row { margin-bottom: 66px; }

	aside .context-viewer .feedback-content .fb-form-layout input[type=submit] { position: absolute; }
}

@media screen and (max-width: 300px) {
	#case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after {
		content: "...";
		display: block;
		padding-left: 2px;
		position: absolute;
		right: 0;
		width: 15px;
	}

	.spring #case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after { background-color: var(--color-spring); }
	.summer #case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after { background-color: var(--color-summer-highlight-text); }
	.fall #case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after { background-color: var(--color-fall); }
	.winter #case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after { background-color: var(--color-winter); }
	.dark-knight #case-study > div.container.article-text > div > ul:nth-child(3) > li:nth-child(1)::after { background-color: var(--color-primary); }
}