.nav-link {
	&:hover, &:focus {
		border: none !important;
		border-radius: 4px;
		background-color: var(--color-logo-secondary);
		box-shadow: var(--elevation-4p);
		color: var(--color-dark-grey);
		margin: 8px 0;
		padding: 6px 11px 10px;
		outline: none;
	}

	&::after { display: none; }
}

.open {
	@include add-prefix-value (transition, all .5s);

	> .nav-link,
	> .nav-link:focus {
		border: none;
		border-radius: 4px;
		background-color: var(--color-logo-secondary);
		margin: 8px 0;
		outline: 0;
	}

    .dropdown-menu {
    	display: block;
    	overflow: hidden;
    }

    .dropdown-toggle::after {
		bottom: 0;
		border-top: 8px solid var(--color-logo-secondary);
		border-right: 9px solid transparent;
		border-left: 9px solid transparent;
		content: '';
		display: block;
		margin: 0;
		position: absolute;
		right: unset;
		top: unset;
	}
}

.dropdown-item:focus,
.dropdown-item:hover {
	background: var(--color-white-80);
	color: var(--color-dark-grey);
}

.dropdown-item {
	a {
		font-family: var(--font-primary);
		font-size: var(--size-1em-fontsize);

		&:hover { border-bottom: 1px dotted var(--color-dark-grey); }
	}
}

.navbar {
    &.scroll-past-0 {
		box-shadow: var(--elevation-2p);

        > .nav-link { color: var(--color-dark-grey); }

		&:before {
			@include add-prefix-value (backdrop-filter, blur(2px));

			background: var(--color-white-50) url('/assets/images/filter.png') repeat;
			content: "";
			height: 50px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}
    }
}

.navbar-nav {
	.menulogo {
	    &:before {
			@include add-prefix-value (transform, translateY(-7px));

	        content: var(--icon-supergui-logo);
	        display: inline-block;
	        font-family: var(--font-icons);
			text-transform: none;
	    }

	    &:hover { cursor: pointer; }
	}

	.menubutton {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 161px;
	}
}

.shortname .navbar-nav li a.nav-link { 
	position: relative;

	&:before { z-index: 21; }

	&:after {
		border: none;
		color: var(--color-white);
		display: block;
	}
}