@mixin glass-reflection ($foreground-color: -1, $background-color: -1, $backdrop-filter: -1, $border: -1, $box-shadow: -1) {

    @if $foreground-color == -1 {
        $foreground-color: 'var(--color-white-20)';
    }
    @else {
        $foreground-color: $foreground-color;
    }

    @if $background-color == -1 {
        background: linear-gradient(135deg, #{$foreground-color}, transparent);
    }
    @else {
        background: linear-gradient(135deg, #{$foreground-color}, $background-color);
    }

    @if $backdrop-filter == -1 {
        backdrop-filter: blur(2px);
    }
    @else {
        backdrop-filter: $backdrop-filter;
    }

    @if $border == -1 {
        border: 2px solid var(--color-white-50);
    }
    @else {
        border: $border;
    }

    @if $box-shadow == -1 {
        box-shadow: var(--neumorphism-shadow-menu);
    }
    @else {
        box-shadow: $box-shadow;
    }
}

@mixin color-highlight-value ($bg-color: -1, $color: -1, $speed: -1) {

    @if $color == -1 {
        span { color: var(--color-dark-grey); }
    }
    @else {
        &.active > span [class^="icon-"] {
            color: $color;
            &:before { color: $color; }
        }
    }

    @if $bg-color == -1 {
        span.highlighter:before { background-color: yellow; }
    }
    @else {
        span.highlighter:before { background-color: $bg-color; }
    }

    @if $speed == -1 {
        span.highlighter:before,
    	&.active span.select-text:before {
    		@include add-prefix-value (transition, all 6s ease-out);
    	}
    }
    @else {
        span.highlighter:before,
    	&.active span.select-text:before {
    		@include add-prefix-value (transition, all $speed ease-out);
    	}
    }
}

@mixin add-prefix-value ($animation, $animation-name, $time: -1) {

	@if $time == -1 {
		-webkit-#{$animation}: $animation-name;
		-moz-#{$animation}: $animation-name;
		-ms-#{$animation}: $animation-name;
		-o-#{$animation}: $animation-name;
		#{$animation}: $animation-name;
	}

	@else {
		-webkit-#{$animation}: $animation-name, $time;
		-moz-#{$animation}: $animation-name, $time;
		-ms-#{$animation}: $animation-name, $time;
		-o-#{$animation}: $animation-name, $time;
		#{$animation}: $animation-name, $time;
	}
}

@mixin add-suffix-value ($attr, $effect-value) {

	#{$attr}: -webkit-#{$effect-value};
	#{$attr}: -moz-#{$effect-value};
	#{$attr}: -o-#{$effect-value};
	#{$attr}: -ms-#{$effect-value};
	#{$attr}: #{$effect-value};

}

//As used by About panels
@mixin add-left-to-right ($bkgrnd-color, $text-color, $h2-color) {

	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid transparent;
		border-left: 100vw solid #{$bkgrnd-color};
		display: block;
		position: relative;
	}

	header,
	.article-text,
	.footer-text,
	.article-footer { background: #{$bkgrnd-color}; }

	header h2 { color: #{$h2-color}; }

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		content: " ";
		border-bottom: 66px solid transparent;
		border-right: 100vw solid #{$bkgrnd-color};
		display: block;
		position: relative;
	}
}

@mixin add-right-to-left ($bkgrnd-color, $text-color, $h2-color) {

	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid #{$bkgrnd-color};
		position: relative;
		display: block;
		bottom: 0;
		right: 0;
	}

	header,
	.article-text,
	.footer-text,
	.article-footer { background: #{$bkgrnd-color}; }

	header {
		padding-top: 0;
		padding-bottom: 0;

		h2 { color: #{$h2-color}; }
	}

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }
}

@mixin add-right-to-right ($bkgrnd-color, $text-color, $h2-color) {

	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-bottom: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid transparent;
		position: relative;
		display: block;
	}

	header,
	.article-text,
	.footer-text,
	.article-footer { background: #{$bkgrnd-color}; }

	header h2 { color: #{$h2-color}; }

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		content: " ";
		border-top: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid transparent;
		position: relative;
		display: block;
	}
}

@mixin add-left-to-left ($bkgrnd-color, $text-color, $h2-color) {

	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid transparent;
		border-right: 100vw solid #{$bkgrnd-color};
		display: block;
		position: relative;
		bottom: 0;
		left: 0;
	}

	header,
	.article-text,
	.footer-text,
	.article-footer {
		background: #{$bkgrnd-color};
		color: #{$text-color};
	}

	header h2 { color: #{$h2-color}; }

	.article-text,
	.footer-text,
	.article-footer,
	.article-footer:before,
	.article-footer:after {
		color: #{$text-color};
	}

	.article-footer { margin-bottom: 0; }

	&:after {
		content: " ";
		border-bottom: 66px solid transparent;
		border-right: 100vw solid #{$bkgrnd-color};
		display: block;
		position: relative;
		top: 0;
		left: 0;
	}
}
