.offline {
	.bookme-button, .bookme-float-button, .bookme-cta-button, #booking, .navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item.col-2:nth-child(4) { display: none; }
	#projects { top: -250px; }

	.cards.questions,
	.cards.projects { z-index: 4; }

	span.offline-note,
	.three-sixty-container,
	.survey-offline {
		border-radius: 4px;
		height: auto;
		width: 100%;

		&:before,
		&:after {
			background-color: var(--color-white);
			box-shadow: var(--elevation-2p);
			border: none;
			color: var(--color-black);
			display: block;
			left: 14px;
			height: 18px;
			position: absolute;
			text-shadow: none;
			top: -26px;
			z-index: 1;
		}

		&:before {
			border-radius: 11px 0 0 11px;
			content: "i";
			font-family: serif;
			font-size: 16px;
			font-style: italic;
			font-weight: bold;
			padding: 0px 9px 0px;
			text-transform: lowercase;
			width: 22.5px;
		}

		&:after {
			border-radius: 0;
			font-size: $icon-10px-fontsize;
			margin-left: 23px;
			padding: 4px 8px 1px;
			text-transform: uppercase;
			white-space: nowrap;
			width: 110px;
		}
	}

	.three-sixty-container:after { content: "VR frame offline"; }
	aside .context-viewer .descriptor figure.three-sixty-container { height: 0; }

	.offline-message {
		height: 18px;
		top: 131px;
		position: fixed;
		right: 14px;
		width: 113px;

		span.offline-note {
			position: absolute;
			right: 0;
			top: 0;

			&:before,
			&:after {
				padding: 1px 10px 1px;
				top: 0;
			}

			&:before {
				width: fit-content;
			}

			&:after { 
				content: "OFFLINE MODE";
				width: 90px;
			}
		}
	}

	#feedback { background-image: url('/assets/images/tropical-5074304_1280.jpg'); }

	.survey-offline {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 32px 0;
		position: relative;

		&:after { content: "Survey offline"; }

		p { margin: 16px 0; }
	}

	.googlemap {
		background-image: url('/assets/images/offline-map.png');
		background-position: center;
		background-size: cover;
		height: 300px;
		width: 100%;

		.map-offline { margin-left: 16px; }
	}

	a.gflag {
		@include add-prefix-value (filter, grayscale(1));

		background-image: url('/assets/images/gtranslate/flags/16.png');
		display: block;
		height: 16px;
		width: 16px;

		&:hover { background-image: url('/assets/images/gtranslate/flags/16a.png'); }

		img { display: none;}
	}

	.social-menu li.menuitem a.new-window {
		@include add-prefix-value (filter, grayscale(1));

		opacity: .3;

		&:focus, &:focus-visible {
			border: 2px solid var(--color-black) !important;
			outline: none;

			&:after { content: ''; }
		}
	}
}
