//common fx + layout variables

//Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;
$screen-xxl-min: 1700px;

//Card defaults
$card-text: var(--color-white);
$aside-swatch: 135deg, $color-aside-swatch-01 0%, $color-aside-swatch-02 25%, $color-aside-swatch-03 60%, $color-aside-swatch-04 100%;

//Hamburger defaults
$hamburger-hover: var(--color-primary);
$hamburger-icon: var(--color-white);
$hamburger-shadow: var(--color-black-50);

//Global spacing
$guttering-mobile: 16px;
$guttering-tablet: 32px;
$heading-top: 66px;
$navbar-top: 51px;
$default-letter-spacing: $size-002em-fontsize;

//Shadow defaults
$left-corner-shadow: 1px 1px 1px var(--color-dark-grey);
$right-corner-shadow: -1px -0px 2.5px var(--color-logo-secondary);
$tooltip-shadow: 3px 3px 3px 0px var(--color-light-grey);

//Highlight defaults
$highlight-2p: 0 3px 6px var(--color-white)-16, 0 3px 6px var(--color-white)-23;
$highlight-4p: 0 7px 17px var(--color-white-80), 0 7px 10px var(--color-white-60);

//Highlight dark-mode
$darklight-2p: 0 3px 6px $color-dark-16, 0 3px 6px $color-dark-23;
