.spring {
	.scroll-nudge {
		span, &:before, &:after {
			background-color: var(--color-spring);
		}
	}

	.open>.nav-link,
	.open>.nav-link:focus,
	.nav-link:focus,
	.nav-link:hover {
		background-color: var(--color-spring-highlight);
		border: 1px solid var(--color-spring-highlight);
		color: var(--color-white);
	}

	.open .dropdown-toggle::after { border-top-color: var(--color-spring-highlight); }

	.dropdown-item a:hover,
	.dropdown-item a:hover abbr {
		border-bottom-color: var(--color-spring);
		color: var(--color-spring);
	}

	.header-title h1,
	.header-title h1:before {
		color: var(--color-spring);
		text-shadow: var(--highlight-0p);
	}

	.highlight { @include color-highlight-value (var(--color-black-50),var(--color-spring)); }

	aside {
		.context-viewer {
			div.display--content .descriptor blockquote {
				background-color: var(--color-spring-highlight);

				p, p span, a, footer, footer a:hover, &:before, &:after { color: var(--color-white); }

				p span[title], p sup a, p abbr, p abbr[title] { border-bottom: 1px dotted var(--color-white); }
			}

			.feedback-content {
				.fb-form-layout {
					label sup,
					>li.emoji-feedback legend span {
						color: var(--color-spring);
					}

					label sup {
						font-weight: bold;
						text-shadow: none;
					}

					input[type="radio"] ~ label {
						background-color: var(--color-spring);
						border-color: transparent;
						color: var(--color-white);
					}

					input[type="radio"]:checked ~ label {
						background-color: var(--color-white);
						color: var(--color-spring);
					}

					.mic-customer-notes path { fill: var(--color-spring); }

					textarea#customer-notes {
						background-color: var(--color-white);
						border-color: var(--color-spring);
						color: var(--color-dark-grey);
					}
				}
			}
		}

		.close-button:before,
		.progress-container .pct.active:before { color: var(--color-spring); }

		.progress-container svg defs linearGradient stop {
			&[offset="0%"] { stop-color: var(--color-canvas); }
			&[offset="100%"] { stop-color: var(--color-spring); }
		}
	}

	.cards {
		&.about, &.case {
			.article-text .read {
				blockquote {
					background-color: var(--color-spring-highlight);

					.ntsc {
						opacity: 1;
						&:after { background-color: var(--color-black-60); }
					}
				}

				p, a, footer, footer a:hover, &:before, &:after { color: var(--color-white); }
			}
		}

		&.about {
			.article-text .read {
				blockquote {
					p {
						background-color: transparent;
						color: var(--color-white);
					}

					&:before, &:after { color: var(--color-white); }
				}


				p, p sup a {
					color: var(--color-dark-grey);
				}
			}

			header h2 {
				color: var(--color-spring);
				text-shadow: none;
			}
		}
	
		&.case {
			header, .article-text, > footer { background-color: var(--color-spring); }

			.article-text {
				.read {
					.skim-read-case-button {
						&:active, &:focus, &:hover {
							@include glass-reflection(var(--color-black-90),-1,'unset',1px solid var(--color-white-50),var(--highlight-4p));

							&, abbr { color: var(--color-white); }

							abbr { border-bottom: 1px dotted var(--color-white); }

							&:before {
								@include glass-reflection(var(--color-spring-highlight),-1,'unset','transparent','unset');
							}
						}
					}

					blockquote {
						&:before, &:after { color: var(--color-spring); }
					}

					h3 { color: var(--color-white); }

					.skim-read-case-button {
						color: var(--color-spring);

						abbr {
							color: var(--color-spring);
							border-bottom: 1px dotted var(--color-spring);
						}
					}

					h4,> p,.row div > p { background-color: var(--color-spring); }
				}
			}

			div footer.article-footer { background-color: var(--color-spring); }

			&:before { border-bottom-color: var(--color-spring); }
			&:after { border-top-color: var(--color-spring); }
		}

		&.booking {
			input#first-name,
			input#surname,
			input#email { background-color: var(--color-spring); }

			input[type="radio"] ~ label:hover { border-color: var(--color-spring); }

			input[type="radio"]:checked ~ label {
				background-color: var(--color-spring-88);
				border-color: var(--color-spring);
				box-shadow: var(--elevation-2p);
				color: var(--color-white);
			}

			.mic-further-notes path { fill: var(--color-spring); }

			textarea { border-color: var(--color-spring); }

			label.header span,
			fieldset legend span { color: var(--color-spring); }

			label abbr,
			label abbr[title],
			label abbr[data-original-title] { border-bottom: 1px dotted var(--color-white); }
		}

		&.questions {
			background-color: var(--color-spring-contrast);
			background-image: url('/assets/images/seigaiha.png');
			background-repeat: repeat;
			background-size: auto;
			background-attachment: fixed;
			background-blend-mode: color-burn;
		}

		&.testimonials {
			header h2 { color: var(--color-spring-highlight); }

			.article-text .read blockquote {
				background-image: url('/assets/images/seigaiha.png') !important;
				background-color: var(--color-spring-highlight);
				background-attachment: fixed;
				background-blend-mode: multiply;
				background-size: auto;
				background-repeat: repeat;

				.commentSection p, p.profile, .readMore, .readMore:active, .readMore:focus {
					color: var(--color-white);
				}

				p.profile svg path {
					fill: var(--color-white);
					stroke: var(--color-white);
				}
				
				&:before, &:after { color: var(--color-spring-quote); }
			}
		}
	}
}

.summer {
	.open>.nav-link,
	.open>.nav-link:focus,
	.nav-link:focus,
	.nav-link:hover {
		background-color: var(--color-summer-highlight-text);
		border: 1px solid var(--color-summer-highlight-text);
		color: var(--color-white);
	}
	.open .dropdown-toggle::after { border-top-color: var(--color-summer-highlight-text); }
	.dropdown-item a:hover,
	.dropdown-item a:hover abbr {
		border-bottom-color: var(--color-summer-highlight-text);
		color: var(--color-summer-highlight-text);
	}

	.scroll-nudge {
		span, &:before, &:after {
			background-color: var(--color-summer-highlight-text);
		}
	}

	aside {
		.context-viewer {
			div.display--content .descriptor blockquote {
				background-color: var(--color-summer-highlight);
				color: var(--color-summer-highlight-text);

				p, a, footer, footer a:hover { color: var(--color-dark-solid-22); }

				&:before, &:after { color: var(--color-white); }
			}

			article.descriptor {
				fn span[title],
				p span[title] {
					color: var(--color-white) !important;
					border-bottom: 1px dotted var(--color-summer-highlight-text);
				}

				blockquote.active p span.suppress { color: var(--color-summer-highlight-text); }
			}

			.feedback-content {
				.fb-form-layout {
					label sup,
					>li.emoji-feedback legend span { color: var(--color-summer-highlight); }

					label sup {
						font-weight: bold;
						text-shadow: none;
					}

					input[type="radio"] ~ label {
						background-color: var(--color-summer-highlight);
						border-color: transparent;
						color: var(--color-white);
					}

					input[type="radio"]:checked ~ label {
						background-color: var(--color-white);
						color: var(--color-summer-highlight-text);
					}

					.mic-customer-notes path { fill: var(--color-summer-highlight-text); }

					textarea#customer-notes {
						background-color: var(--color-white);
						border-color: var(--color-summer-highlight-text);
						color: var(--color-dark-grey);
					}
				}
			}
		}
	}

	.cards {
		&.about {
			.article-text .read {
				blockquote {
					background-blend-mode: soft-light;
					background-color: var(--color-summer-highlight-text);

					&:before, &:after, p, footer { color: var(--color-white); }
				}
			}
		}

		&.case {
			.article-text .read {
				.highlight.active span[class^=icon-]:before,
				.separator-list .active .inline-list li span { color: var(--color-summer-highlight-text); }

				.skim-read-case-button {
					&:active, &:focus, &:hover {
						@include glass-reflection(var(--color-black-90),-1,'unset',1px solid var(--color-white-50),var(--highlight-4p));

						&, abbr { color: var(--color-white); }

						abbr { border-bottom: 1px dotted var(--color-white); }

						&:before {
							@include glass-reflection(#4c136a,-1,'unset',transparent,'unset');
						}
					}
				}
			}
		}

		&.booking {
			input#first-name,
			input#surname,
			input#email { background-color: var(--color-summer-highlight-text); }

			.mic-further-notes path { fill: var(--color-summer-highlight-text); }

			textarea { border-color: var(--color-summer-highlight-text); }

			input[type="radio"] ~ label:hover { border-color: var(--color-summer-highlight-text); }

			input[type="radio"]:checked ~ label {
				background-color: var(--color-summer-highlight-text-88);
				border-color: var(--color-summer-highlight-text);
				box-shadow: var(--elevation-2p);
				color: var(--color-white);
			}

			label abbr,
			label abbr[title],
			label abbr[data-original-title] { border-bottom: 1px dotted var(--color-white); }
		}
	}
}

.fall {
	.open .dropdown-toggle::after { border-top-color: var(--color-fall); }
	.dropdown-item a:hover { border-bottom-color: var(--color-fall); }
	.dropdown-item a:hover { color: var(--color-fall); }

	.scroll-nudge {
		span, &:before, &:after {
			background-color: var(--color-fall-highlight);
		}
	}

	aside {
		.context-viewer {
			.display--content .descriptor blockquote.active {
				background-color: var(--color-fall-watermark);

				p, a, footer, footer a:hover { color: var(--color-dark-grey); }

				&:before, &:after { color: var(--color-white); }
			}

			article.descriptor {
				fn span[title],
				p span[title] {
					color: var(--color-dark-grey);
					border-bottom: 1px dotted var(--color-dark-grey);
				}
			}

			.feedback-content {
				.fb-form-layout {
					label sup,
					>li.emoji-feedback legend span { color: var(--color-fall); }

					label sup {
						font-weight: bold;
						text-shadow: none;
					}

					input[type="radio"] ~ label {
						background-color: var(--color-fall);
						border-color: transparent;
						color: var(--color-white);
					}

					input[type="radio"]:checked ~ label {
						background-color: var(--color-fall-highlight);
					}

					.mic-customer-notes path { fill: var(--color-fall); }

					textarea#customer-notes {
						background-color: var(--color-white);
						border-color: var(--color-fall-watermark);
						color: var(--color-dark-grey);
					}
				}
			}
		}
	}

	.cards {
		&.case {
		 	.article-text .read{
				.highlight.active span[class^=icon-]:before,
				.separator-list .active .inline-list li span { color: var(--color-fall); }

				.skim-read-case-button {
					&:active, &:focus, &:hover {
						@include glass-reflection(var(--color-black-90),-1,'unset',1px solid var(--color-white-50),var(--highlight-4p));

						&, abbr { color: var(--color-white); }

						abbr { border-bottom: 1px dotted var(--color-white); }

						&:before {
							@include glass-reflection(var(--color-fall),-1,'unset','transparent','unset');
						}
					}
				}
			}
		}

		&.booking {
			.article-text .read {
				input::-webkit-input-placeholder { color: var(--color-fall); }
				input::-moz-placeholder { /* Firefox 19+ */ color: var(--color-fall); }
				input:-moz-placeholder { /* Firefox 18- */ color: var(--color-fall); }
				input:-ms-input-placeholder { color: var(--color-fall); }

				input#first-name,
				input#surname,
				input#email {
					background-color: var(--color-fall-watermark-88);
					border-color: var(--color-fall-50);
					border-bottom-style: dotted;
					color: var(--color-dark-grey);
				}

				.mic-further-notes path { fill: var(--color-fall-highlight); }

				textarea { border-color: var(--color-fall-watermark); }

				label.header span,
				legend span { color: var(--color-fall); }

				label.header,
				legend { color: var(--color-fall-highlight); }

				input[type="radio"] ~ label:hover { border-color: var(--color-fall); }

				input[type="radio"]:checked ~ label {
					background-color: $color-fall-88;
					border-color: var(--color-fall);
					box-shadow: var(--elevation-2p);
					color: var(--color-white);
				}

				label abbr,
				label abbr[title],
				label abbr[data-original-title] { border-bottom: 1px dotted var(--color-white); }
			}
		}

		&.projects {
			.article-text .read .separator-list > li { border-bottom: 1px dotted var(--color-white-50); }
		}
	}
}

.winter {
	.open>.nav-link,
	.open>.nav-link:focus,
	.nav-link:focus,
	.nav-link:hover {
		background-color: var(--color-winter-highlight);
		border: 1px solid var(--color-winter-highlight);
		color: var(--color-winter);
	}
	.open .dropdown-toggle::after { border-top-color: var(--color-winter-highlight); }
	.dropdown-item a:hover,
	.dropdown-item a:hover abbr {
		border-bottom-color: var(--color-winter);
		color: var(--color-winter);
	}

	.scroll-nudge {
		span, &:before, &:after {
			background-color: var(--color-winter-highlight);
		}
	}

	aside {
		.context-viewer {
			.display--content .descriptor blockquote {
				background-color: var(--color-winter-highlight);

				p, a, 
				footer, 
				footer a:hover,
				fn span[title],
				p span[title],
				p sup a,
				&:before,
				&:after { color: var(--color-white); }

				fn span[title],
				p span[title],
				p sup a {
					border-bottom: 1px dotted var(--color-white);
				}
			}

			.feedback-content {
				.fb-form-layout {
					label sup,
					>li.emoji-feedback legend span { color: var(--color-winter-highlight); }

					label sup {
						font-weight: bold;
						text-shadow: none;
					}

					input[type="radio"] ~ label {
						background-color: var(--color-winter);
						border-color: transparent;
						color: var(--color-winter-highlight);
					}

					input[type="radio"]:checked ~ label {
						background-color: var(--color-winter-highlight);
						color: var(--color-winter);
					}

					.mic-customer-notes path { fill: var(--color-winter); }

					textarea#customer-notes {
						background-color: var(--color-white);
						border-color: var(--color-winter);
						color: var(--color-dark-grey);
					}
				}
			}
		}
	}

	.cards {
		&.case {
			.article-text .read {
				.highlight.active span[class^=icon-]:before,
				.separator-list .active .inline-list li span { color: var(--color-winter); }

				.skim-read-case-button {
					&:active, &:focus, &:hover {
						@include glass-reflection(var(--color-black-90),-1,'unset',transparent,-1);

						&, abbr { color: var(--color-white); }

						abbr { border-bottom: 1px dotted var(--color-white); }

						&:before {
							@include glass-reflection(var(--color-winter),transparent,'unset',transparent,-1);
						}
					}
				}
			}
		}

		&.booking {
			input#first-name,
			input#surname,
			input#email { background-color: var(--color-winter); }

			input[type="radio"] ~ label:hover { border-color: var(--color-winter); }

			input[type="radio"]:checked ~ label {
				background-color: $color-winter-88;
				border-color: var(--color-winter);
				box-shadow: var(--elevation-2p);
				color: var(--color-white);
			}

			.mic-further-notes path { fill: var(--color-winter); }

			textarea { border-color: var(--color-winter); }

			label abbr,
			label abbr[title],
			label abbr[data-original-title] { border-bottom: 1px dotted var(--color-white); }
		}
	}
}

.summer {
	.header-title h1 {
		color: #AE650C;
		text-shadow: none;

		&:before {
			color: var(--color-logo-secondary);
			text-shadow: var(--elevation-0p);
		}
	}

	aside {
		.close-button:before,
		.progress-container .pct.active:before { color: var(--color-summer-highlight-text); }

		.progress-container svg defs linearGradient stop {
			&[offset="0%"] { stop-color: var(--color-logo); }
			&[offset="100%"] { stop-color: var(--color-summer-highlight-text); }
		}
	}

	.cards {
		&.about, &.case, &.testimonials {
			.article-text .read {
				blockquote {
					background-color: var(--color-summer-highlight);
					color: var(--color-summer-highlight-text);

					p, a, footer, footer a:hover { color: var(--color-summer-highlight-text); }

					&:before, &:after { color: var(--color-white); }
				}
			}
		}

		&.case {
			header, .article-text, > footer { background-color: var(--color-summer-highlight-text); }
			&:before { border-bottom-color: var(--color-summer-highlight-text); }
			&:after { border-top-color: var(--color-summer-highlight-text); }

			.article-text {
				p.view-container {
					> a.infra, > a.platform, > a.esports {
						&:link { border-bottom-color: var(--color-white); }
					}
				}

				.read {
					h3, h4, .h4, p, .separator-list > li, .separator-list > li span { color: var(--color-white); }

					blockquote {
						&:before, &:after, p, footer { color: var(--color-summer-highlight-text); }
					}

					.skim-read-case-button {
						color: var(--color-summer-highlight-text);

						abbr {
							color: var(--color-summer-highlight-text);
							border-bottom: 1px dotted var(--color-summer-highlight-text);
						}
					}

					h4,> p,.row div > p { background-color: var(--color-summer-highlight-text); }
				}
			}

			div footer.article-footer { background-color: var(--color-summer-highlight-text); }
		}

		&.questions { background-color: var(--color-summer-canvas); }

		&.testimonials {
			 header h2 { color: var(--color-black); }

			.article-text .read blockquote {
				background-color: var(--color-summer-highlight);

				.commentSection p, p.profile, .readMore, .readMore:active, .readMore:focus {
					color: var(--color-black);
				}
			}
		}
	}

	.highlight { @include color-highlight-value (var(--color-summer-highlight),var(--color-summer-highlight-text)); }
	.highlight span.highlighter span.highlighter:before { background-color: var(--color-summer-highlight); }
}

.fall {
	.nav-link:focus, .nav-link:hover,
	.navbar-inverse .navbar-nav>.open>a:focus,
	.open>.nav-link, .open>.nav-link:focus {
		color: var(--color-white);
		border-color: var(--color-fall);
		background-color: var(--color-fall);
	}

	.header-title h1,
	.header-title h1:before,
	.cards.about header h2 {
		color: var(--color-fall);
		text-shadow: var(--highlight-0p);
	}

	aside {
		.close-button:before,
		.progress-container .pct.active:before { color: var(--color-fall); }

		.progress-container svg defs linearGradient stop {
			&[offset="0%"] { stop-color: var(--color-fall-highlight); }
			&[offset="100%"] { stop-color: var(--color-fall); }
		}
	}

	.cards {
		&.about, &.case, &.testimonials {
			.article-text .read blockquote {
				background-color: var(--color-fall-watermark);

				p, a, footer, footer a:hover { color: var(--color-dark-grey); }

				&:before, &:after { color: var(--color-white); }
			}
		}

		&.case {
			header, .article-text, >footer { background-color: var(--color-fall); }

			figure.noshadow figcaption {
				color: var(--color-white);

				abbr { border-color: var(--color-white); }
			}

			.article-text {
				p {
					abbr[title] { border-bottom-color: var(--color-white); }

					a {
						border-bottom-color: var(--color-white);
						color: var(--color-fall);
					}

					&.case-text {
						color: var(--color-white);

						abbr[title] { border-color: var(--color-white); }
					}
				}

				.read{
					blockquote {
						&:before, &:after { color: var(--color-fall); }

						&.active { background-blend-mode: overlay; }
					}

					h3, h4, .h4, p,
					.separator-list li { color: var(--color-white); }

					.separator-list li { border-bottom-color: var(--color-white-50); }

					h4,> p,.row div > p { background-color: var(--color-fall); }
				}
			}

			div footer.article-footer {
				background-color: var(--color-fall);

				&:before, &:after { color: var(--color-white); }
			}

			.skim-read-case-button {
				color: var(--color-fall);

				abbr {
					color: var(--color-fall) !important;
					border-bottom: 1px dotted var(--color-fall) !important;
				}
			}

			&:before { border-bottom-color: var(--color-fall); }
			&:after { border-top-color: var(--color-fall); }
		}

		&.booking {
			h2 { color: var(--color-fall); }
		}

		&.projects {
			background-color: var(--color-dark-solid-22-9);

			header, .article-text, > footer { background-color: var(--color-dark-solid-22-9); }

			&:before { border-left-color: var(--color-dark-solid-22-9); }
			&:after { border-right-color: var(--color-dark-solid-22-9); }
		}

		&.questions { 
			background-color: var(--color-fall-contrast);
			background-repeat: repeat;
			background-size: auto;
			background-attachment: fixed;
			background-blend-mode: multiply;

			&.lazy-load { background-image: url('/assets/images/seigaiha.png'); }

			header h2, 
			>.article-text>.read h3,
			.article-footer:after, 
			.article-footer:before, 
			.article-text p,
			.article-text p a { color: var(--color-dark-solid-22); }
		}

		&.testimonials {
			header h2 { color: var(--color-fall-highlight); }

			&.lazy-load .article-text .read blockquote { background-image: url('/assets/images/seigaiha.png') !important; }

			.article-text .read blockquote {
				background-repeat: repeat;
				background-size: auto;
				background-attachment: fixed;
				background-blend-mode: multiply;

				&:before, &:after { color: var(--color-fall-highlight); }

				p.profile, .commentSection p { color: var(--color-fall-highlight); }
				.readMore { color: var(--color-fall-highlight); }
			}
		}
	}

	.highlight { @include color-highlight-value (var(--color-white), var(--color-fall)); }
}

.winter {
	.header-title h1,
	.header-title h1:before,
	.cards.about header h2 {
		color: var(--color-winter);
		text-shadow: var(--highlight-0p)
	}

	.header-title {
		.bookme-button, .bookme-float-button, input[type=submit]{
			&:active, &:hover, &:focus {
				@include glass-reflection(var(--color-winter),var(--color-winter-50),-1,var(--color-white-50),var(--highlight-4p));

				color: var(--color-winter-highlight);
			}
		}
	}

	aside {
		.close-button:before,
		.progress-container .pct.active:before { color: var(--color-winter); }

		.progress-container svg defs linearGradient stop {
			&[offset="0%"] { stop-color: var(--color-winter-highlight); }
			&[offset="100%"] { stop-color: var(--color-winter); }
		}
	}

	.cards {
		&.about, &.case, &.testimonials {
			.article-text .read {
				blockquote {
					background-color: var(--color-winter-highlight);

					p, a, footer, footer a:hover { color: var(--color-black); }

					&:before, &:after { color: var(--color-white); }
				}
			}
		}

		&.case {
			header, .article-text, >footer { background-color: var(--color-winter); }

			.article-text {
				.read {
					.separator-list > li { border-bottom: 1px dotted var(--color-black-50); }

					blockquote {
						p, footer { color: var(--color-winter); }

						&:before, &:after { color: var(--color-winter); }
					}

					h3, h4, .h4, p, .separator-list > li, .separator-list > li span { color: var(--color-white); }

					p.view-container {
						a.infra,
						a.platform,
						a.esports { border-bottom-color: var(--color-white); }
					}

					h4,> p,.row div > p { background-color: var(--color-winter); }
				}
			}

			div footer.article-footer { background-color: var(--color-winter); }

			.skim-read-case-button {
				color: var(--color-winter);

				abbr {
					color: var(--color-winter);
					border-bottom: 1px dotted var(--color-winter);
				}
			}

			&:before { border-bottom-color: var(--color-winter); }
			&:after { border-top-color: var(--color-winter); }
		}

		&.questions {
			background-color: var(--color-winter-highlight);

			header h2, 
			>.article-text>.read h3,
			.article-footer:after, 
			.article-footer:before, 
			.article-text p,
			.article-text p a { color: var(--color-winter); }
		}

		&.testimonials {
			header h2 { color: var(--color-winter); }

			.article-text .read blockquote {
				background-color: var(--color-winter);

				.commentSection p, p.profile, .readMore, .readMore:active, .readMore:focus {
					color: var(--color-winter-highlight);
				}

				p.profile svg path {
					fill: var(--color-white);
					stroke: var(--color-white);
				}

				&:before,
				&:after { color: var(--color-white); }
			}
		}
	}
	
	.highlight { @include color-highlight-value (var(--color-winter-highlight),var(--color-winter),6s); }
	.highlight span.highlighter span.highlighter:before { background-color: var(--color-winter-highlight); }
}

#background-vdo {
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	left: 0;
	height: 100lvh;
	width: 100lvw;
	position: fixed;
	top: 0;
	z-index: -100;
}