.stopfade { opacity: .5; }

@media screen and (max-width: 600px) {
	.spring,
	.summer,
	.fall,
	.winter {
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}

track { display: none; }

::cue {
	font-family: var(--font-primary);
	font-size: 50%;
}
